
.pagecursortxt{color:#666;}

.pagecursor{font-size:12px;font-size:1.2rem;line-height:2;padding-top:10px;}

.pagecursor a{text-decoration: none;}

.pagecursoritem b{border-radius:3px;background-color:#00629b;color:#fff;padding:3px 5px 4px 5px;}

.pagecursorbtn{border:1px solid #ccc;border-radius:3px;background-color:transparent;color:#00629b;cursor:pointer;margin:0;padding:2px 5px;white-space:nowrap;}

.pagecursorbtn:hover{background-color:#f5f5f5;}

.top{vertical-align:top;}
