.pt_account,
.pt_order,
.page-content {
    #primary,
    #secondary {
        float: right;
        width: 75%;
        padding-left: 30px;
        font-family: $sk-main-medium;
        font-size: $font-12;
        font-weight: normal;
        line-height: $font-14;
        letter-spacing: $font-05;
        color: $sk-dark-pebble;
        text-transform: uppercase;
        box-sizing: border-box;
        #PasswordResetForm {
			.form-row {
				margin-top: 20px;
			}
			button {
				float: left;
				padding: 0 20px;
			}
		}
        #NewPasswordForm {
        	.form-row {
        		label {
        			width: 100%;
        		}
        		.form-caption {
	            	margin-left: 0;
	            }
        	}
        	button {
	            padding: 0 20px;
	        }
        }
        @media #{$iphone} {
            width: 100%;
            padding: 0px;
        }
    }
    #primary {
        h1 {
            float: left;
            width: 100%;
            color: $sk-charcoal;
            font-size: $font-14;
            margin: 10px 0px 0px;
            padding: 0px 0px 10px;
            border-bottom: 1px solid $sk-complement-pebble-1;
            &.new-password {
            	margin-bottom:25px;
            }
            &.order-history {
            	margin-bottom:25px;
            }
        }
        .reset-pass {
        	width: 100%;
        	float: left;
        	clear: both;
        	margin-top: 20px;
        }
    }
    #secondary {
        float: left;
        width: 25%;
        padding-left: 0px;
        padding-bottom: 30px;
        @media #{$iphone} {
            margin: 50px 0px 30px;
        }
        a {
            color: $sk-dark-pebble;
        }
        nav {
            float: left;
            width: 100%;
            padding: 0px;
            box-sizing: border-box;
            @media #{$iphone} {
                background: transparent;
            }
            .toggle {
                font-size: $font-14;
                font-weight: normal;
                margin: 0px 0px 10px;
                color: $sk-charcoal;
            }
            ul {
                float: left;
                width: 100%;
                box-sizing: border-box;
                li {
                    float: left;
                    width: 100%;
                    margin: 10px;
                    a {
                        float: left;
                        color: $sk-dark-pebble;
                    }
                    &:last-child {
                        padding-bottom: 20px;
                    }
                }
            }
        }
        .account-nav-asset {
            float: left;
            width: 100%;
            padding: 0px;
            margin: 0px;
            border-top: 1px solid $sk-complement-pebble-1;
            background: transparent;
            box-sizing: border-box;
            h2 {
                margin: 30px 0px 15px;
                font-style: normal;
                color: $sk-charcoal;
            }
        }
    }
}
.pt_account,
.page-content {
    .primary-content {
        #RegistrationForm {
            .form-row  {
                input[type="text"]	{
                    text-transform: none;
                }
                @media #{$tablet} {
                	label {
                		width: 35%;
                	}
                	.field-wrapper {
                		width: 55%;
                		&.checkbox-wrapper {
                			width: auto;
                		}
                	}
                	&.label-inline {
                		padding-left: 35%;
                	}
                }
                @media #{$tablet} {
		            &.form-row-button {
		            	button {
		            		margin-left: 38%;
		            	}
		            }
	        	}
            }
            @media #{$tablet} {
                .form-caption {
                    margin-left: 38%;
                    .form-row & {
                        margin-left: 28%;
                    }
                }
            }
        }
        @media #{$tablet} {
	        .form-horizontal {
	        	.form-row  {
	        		label {
                		width: 35%;
                	}
                	.field-wrapper {
                		width: 55%;
                	}
                	.form-caption {
                    	margin-left: 38%;
                    }
	        	}
	        }	
        }
    }
    #primary {
        .col-1,
        .col-2 {
            float: left;
            width: 50%;
            margin: 30px 0px 0px;
            padding: 0px;
            box-sizing: border-box;
            @media #{$iphone} {
                width: 100%;
            }
            .login-box {
                float: left;
                width: 100%;
                box-sizing: border-box;
                h2 {
                    float: left;
                    width: 100%;
                    padding: 0px 0px 10px;
                    font-family: $sk-main-demi;
                    font-size: $font-12;
                    font-weight: normal;
                    box-sizing: border-box;
                    > span {
                        display: block;
                        float: left;
                        width: 72%;
                        box-sizing: border-box;
                        @media #{$tablet} { 
                        	width: 65%;
                        }
                    }
                }
                .dialog-required {
                    float: left;
                    width: 28%;
                    padding: 0px 0px 10px;
                    text-align: right;
                    box-sizing: border-box;
                    @media #{$tablet} { 
                    	width: 35%; 
                    }
                    em {
                        font-size: $font-12 - 1px;
                        color: $sk-dark-pebble;
                        text-transform: uppercase;
                    }
                }
                .login-box-content {
                    float: left;
                    width: 100%;
                    p {
                        float: left;
                        width: 100%;
                        margin: 0px 0px 30px;
                    }
                    button {
                        margin-left: 0px;
                    }
                    .form-row {
                        .field-wrapper {
                            width: 100%;
                            &.checkbox-wrapper {
                                width: auto;
                            }
                        }
                    }
                    .form-row-button {
                    	width: auto;
                    	.spc-login-btn {
                    		padding: 0 30px;
                    		@media #{$tablet} {
                    			padding: 0 20px;
                    		}
                    		@media #{$iphone} {
                    			padding: 0 15px;
                    		}
                    	}
                    	button {
                    		padding: 0 15px;
                    		width: auto;
                    		margin-right: 15px;
                    	}
                    	.login-rememberme {
                    		margin-left: 0px;
                    		width: auto;
                    	}
                    }
                }
            }
            form {
                float: left;
                width: 100%;
                box-sizing: border-box;
                fieldset {
                	float: left;
                	width: 100%;
                }
            }
        }
        .col-1 {
            padding-right: 15px;
            @media #{$iphone} {
                padding: 0px;
            }
            .login-box {
            	.form-row {
            		&.error {
            			.error-message {
            				margin-left: 0px;
            			}
            		}
            		label {
            			width: 30%;
            			@media #{$iphone} {
            				width: 100%;
            			}
            			@media #{$tablet} {
            				width: 100%;
            			}
            		}
            	}
            }
            .login-account {
                float: left;
                width: 100%;
                margin: 0px 0px 50px;
                padding: 0px;
                .login-box-content {
                    .login-rememberme {
                        float: left;
                        width: 100%;
                        margin-left: 0px;
                        margin-top: 5px;
                        padding: 8px 0px;
                        label {
                        	width: auto;                        	
                        }
                        .checkbox-wrapper {
                            .custom-checkbox {
                                width: 16px;
                                height: 16px;
                                border: 1px solid transparent;
    							background-color: $sk-complement-pebble-5;
                            }
                        }
                        @media #{$iphone} {
                            margin-left: 0px;
                        }
                    }
                    .password-reset-row {
                        float: left;
                        width: 100%;
                        a {
                            font-size: $font-12 - 1px;
                            color: $sk-dark-pebble;
                            text-decoration: underline;
                        }
                        .password-reset-link {
                        	float: left;
                        }
                        .password-reset-link {
                        	float: left;
                        }
                    }
                    .login-oauth {
                        float: left;
                        width: 100%;
                        box-sizing: border-box;
                        > p {
                            float: left;
                            width: 100%;
                            padding: 20px 0px;
                            margin: 0px;
                            font-size: $font-12;
                            font-weight: normal;
                            color: $sk-charcoal;
                            text-align: left;
                            box-sizing: border-box;
                            @media #{$tablet} {
                            	text-align: center; 
                            } 
                        }
                        button {
                            float: left;
                            width: auto;
                            padding: 0px;
                            background-color: transparent;
                            border: none;
                            span {
                                font-family: $sk-main-demi;
                                font-size: $font-12 - 1px;
                                font-weight: normal;
                                letter-spacing: $font-05;
                                color: $sk-dark-pebble;
                                text-transform: uppercase;
                                i {
                                    float: left;
                                    display: inline-block;
                                    width: 14px;
                                    height: 14px;
                                    padding-left: 8px;
                                    background: url(../../images/sk-icons-sprite.png) no-repeat -131px -149px;
                                }
                            }
                        }
                    }
                }
            }
            .login-order-track {
                float: left;
                width: 100%;
                margin: 0px 0px 30px;
                padding: 0px;
                .login-box-content {
                	.form-row {
                		label {
                			width: 100%;
                		}
                	}
                }
            }
        }
        .col-2 {
            padding-left: 15px;
            @media #{$iphone} {
                padding: 0px;
                .form-row {
                    button {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            .sub-head, ul li {
                font-family: $sk-main-book;
                line-height: $font-14;
                color: $sk-dark-pebble;
            }
            .sub-head {
                font-family: $sk-main-demi;
                padding: 30px 0px 20px;
                & + ul {
                    margin: 0px;
                    li {
                        list-style-type: disc;
                        padding-bottom: 10px;
                    }
                }
            }
        }
        .form-row {
            box-sizing: border-box;
            button {
                float: left;
                width: auto;
                margin: 0px;
                margin-left: 27%;
                padding: 9px 30px;
                color: $white;
                font-size: $font-12;
                font-weight: normal;
                letter-spacing: $font-05;
                text-transform: uppercase;
                background-color: $dim-gray;
                border: none;
                &:hover,
                &:active {
                    color: $white;
                }
                @media #{$tablet} {
                    margin-left: 38%;
                }
                @media #{$iphone} {
                    width: 100%;
                    margin-left: 0px;
                }
                .spc-login-btn {
                    @media #{$iphone} {
                        width: auto; 
                    }
                }
            }
        }
        #RegistrationForm {
            float: left;
            width: 100%;
            margin: 30px 0px 0px;
            padding: 0px;
            box-sizing: border-box;
            .checkbox-wrapper {
                float: left;
                & + label {
                    float: left;
                    width: 92%;
                    margin: 0px;
                    padding: 3px 0px 0px 10px;
                    box-sizing: border-box;
                }
            }
            .form-caption {
                a {
                    color: $sk-dark-pebble;
                }
                & + .form-row-button {
                    margin-top: 30px;
                }
            }
            @media #{$iphone} {
                .form-row {
                    &.label-inline {
                        margin: 0px;
                    }
                }
            }
        }
        .content-asset {
            .account-options {
                float: left;
                width: 100%;
                margin: 30px 0px 10px;
                box-sizing: border-box;
                li {
                    margin: 10px 20px 10px 0px;
                    width: 40%;
                    background-color: $sk-light-pebble;
                    border: 1px solid $sk-complement-pebble-1;
                    border-radius: 0;
                    box-sizing: border-box;
                    a {
                        font-family: $sk-main-medium;
                        font-size: 12px;
                        font-weight: normal;
                        line-height: $font-16;
                        color: $white;
                        letter-spacing: $font-05;
                        text-transform: uppercase;
                        h2 {
                            font-family: $sk-main-demi;
                            font-size: $font-12;
                            font-weight: normal;
                            padding-top: 5px;
                        }
                    }
                    &:hover {
                        background-color: $sk-light-pebble;
                    }
                    &:nth-child(even) {
                        margin-right: 0px;
                    }
                }
            }
        }
        #ChangePassowrdForm {
            float: left;
            width: 100%;
            margin: 30px 0px;
        }
        
        //Common code for required dialog
        #RegistrationForm,
        #ChangePassowrdForm {
            legend {
                float: left;
                width: 75%;
                margin: 0px 0px 30px;
                padding: 0px;
                font-family: $sk-main-demi;
                font-size: $font-12;
                box-sizing: border-box;
                @media #{$iphone} {
                	width: 100%;
                }
                .dialog-required {
                    em {
                        font-family: $sk-main-medium;
                        font-size: $font-12 - 1px;
                        color: $sk-dark-pebble;
                        text-transform: uppercase;
                    }
                    @media #{$iphone} {
                    	float: right;
                    }
                }
            }
        }
        .paymentslist {
            float: left;
            width: 100%;
            box-sizing: border-box;
            .add-card {
                float: left;
                width: auto;
                margin: 30px 0px 0px;
                padding: 9px 30px;
                font-family: $sk-main-medium;
                font-size: $font-12;
                font-weight: normal;
                line-height: $font-12;
                letter-spacing: $font-05;
                color: $white;
                text-transform: uppercase;
                border: none;
                box-sizing: border-box;
                @media #{$iphone} {
                    width: 100%;
                }
            }
            .payment-list {
                float: left;
                width: 100%;
                margin: 0px;
                padding: 0px;
                box-sizing: border-box;
                > li {
                    float: left;
                    width: 45%;
                    min-height: 205px;
                    margin: 30px 30px 0px 0px;
                    padding: 30px;
                    background: $sk-complement-pebble-5;
                    border: 1px solid $sk-complement-pebble-1;
                    box-sizing: border-box;
                    @media #{$tablet} {
                    	margin: 30px 25px 0px 0px;
                    }
                    > div {
                        margin: 0px 0px 10px;
                        &.cc-owner {
                            font-family: $sk-main-demi;
                            font-weight: normal;
                        }
                    }
                    button {
                        float: right;
                        width: auto;
                        margin: 15px 0px 0px;
                        padding: 9px 30px;
                        font-family: $sk-main-medium;
                        font-size: $font-12;
                        font-weight: normal;
                        line-height: $font-12;
                        letter-spacing: $font-05;
                        color: $white;
                        text-transform: uppercase;
                        background: $dim-gray;
                        border: none;
                        box-sizing: border-box;
                        @media #{$tablet} { 
                        	height: auto;
                        }
                    }
                    @media #{$iphone} {
                        width: 100%;
                        margin: 30px 0px 0px;
                        button {
                            width: 100%;
                        }
                    }
                }
                
            }
        }
        #addresses {
            .address-create {
                float: left;
                width: auto;
                margin: 30px 0px 0px;
                padding: 9px 30px;
                font-family: $sk-main-medium;
                font-size: $font-12;
                font-weight: normal;
                line-height: $font-12;
                letter-spacing: $font-05;
                color: $white;
                text-transform: uppercase;
                border: none;
                box-sizing: border-box;
                @media #{$iphone} {
                    width: 100%;
                }
            }
            .address-list {
                float: left;
                width: 100%;
                margin: 0px;
                .address-tile {
                    float: left;
                    width: 33.3%;
                    padding: 10px;
                    word-wrap: break-word;
                    border-radius: 0px;
                    box-sizing: border-box;
                    @media #{$iphone} {
                    	width: 100%;
                    }
                    &.default {
                        width: 100%;
                        background: $sk-complement-pebble-5;
                    }
                    h3 {
                        font-weight: normal;
                        color: $sk-charcoal;
                        margin-bottom: 20px;
                    }
                    .mini-address-name {
                    	margin-bottom: 0;
                    }
                    > div {
                        float: left;
                        width: 100%;
                        &.mini-address-title {
                            font-style: normal;
                            line-height: $font-12;
                            margin: 10px 0 4px 0;
                        }
                        &.mini-address-location {
                            address {
                                color: $sk-dark-pebble;
                            }
                        }
                        
                    }
                    > a {
                        float: left;
                        width: auto;
                        margin: 10px 10px 0px 0px;
                        padding: 0;
                        font-family: $sk-main-medium;
                        font-size: $font-12;
                        font-weight: normal;
                        line-height: 13px;
                        letter-spacing: $font-05;
                        color: $sk-dark-pebble;
                        text-transform: uppercase;
                        text-align: center;
                        border: none;
                        box-sizing: border-box;
                        text-decoration: underline;
                    }
                }
            }
        }
        
        .store-locator-details {
            > img {
                float: left;
            }
            > h1,
            > p {
                float: left;
                width: 100%;
                margin: 25px 0px;
                padding: 0px 0px 10px;
                box-sizing: border-box;
            }
            > p {
                margin: 5px 0px;
                padding: 0px;
            }
        }
    }
}
.pt_order {
    #primary {
        .search-result-options {
            padding: 30px 0px;
            .pagination {
                padding: 0px;
            }
            @media #{$iphone} {
                display: none;
            }
        }
        .search-result-items {
            float: left;
            width: 100%;
            margin: 0px;
            padding: 30px 0px 0px;
            border-top: 1px solid $sk-complement-pebble-1;
            box-sizing: border-box;
            @media #{$iphone} {
                border-top: none;
            }
            > li {
                float: left;
                width: 100%;
                margin: 30px 0px 0px;
                padding: 0px 0px 30px;
                border-bottom: 1px solid $sk-complement-pebble-1;
                box-sizing: border-box;
                &:first-child {
                    margin-top: 0px;
                }
                @media #{$iphone} {
                    &:last-child {
                        margin-bottom: 30px;
                    }
                }
                .order-history-header {
                    float: left;
                    width: 100%;
                    margin: 0px;
                    padding: 0px;
                    background: transparent;
                    box-sizing: border-box;
                    .order-processing-details,
                    .order-details-btn-cont {
                        float: left;
                        width: 60%;
                        margin: 0px;
                        padding: 0px;
                        box-sizing: border-box;
                    }
                    .order-processing-details {
                        .order-date,
                        .order-status,
                        .order-number {
                            float: left;
                            width: 100%;
                            margin: 0px 0px 10px;
                            padding: 0px;
                            .label {
                                font-family: $sk-main-demi;
                                font-weight: normal;
                            }
                        }
                    }
                    .order-details-btn-cont {
                        width: 40%;
                        button {
                            float: right;
                            width: auto;
                            padding: 9px 30px;
                            font-size: $font-12;
                            font-weight: normal;
                            line-height: $font-12;
                            letter-spacing: $font-05;
                            color: $white;
                            text-transform: uppercase;
                            background: $dim-gray;
                            border: none;
                            @media #{$small-phone} {
                                padding: 9px 13px;
                                height: auto;
                            }
                            @media #{$tablet} {
                            	height: auto; 
                            }
                        }
                    }
                }
                .order-history-items {
                    float: left;
                    width: 100%;
                    margin: 30px 0px 0px;
                    padding: 0px;
                    box-sizing: border-box;
                    .order-history-table {
                        tr {
                            th, td {
                                padding: 10px 10px 10px 0px;
                                font-family: $sk-main-demi;
                                font-weight: normal;
                                color: $sk-charcoal;
                                box-sizing: border-box;
                            }
                            td {
                                color: $sk-dark-pebble;
                                font-family: $sk-main-medium;
                                ul {
                                    list-style-type: none;
                                    li {
                                        padding: 0px 0px 10px;
                                        list-style: none;
                                        &:last-child {
                                            padding-bottom: 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .orderdetails,
        .order-shipments {
            padding: 0px;
            border: none;
        }
        .orderdetails {
            .order-payment-summary {
                > .label {
                    span {
                        float: left;
                        width: 85%;
                    }
                }
            }
        }
        .actions {
            float: left;
            width: 100%;
            margin: 10px 0px 0px;
            padding: 0px;
            box-sizing: border-box;
            a {
                float: left;
                width: auto;
                margin: 0px 30px 20px 0px;
                padding: 9px 30px;
                font-family: $sk-main-medium;
                font-size: $font-12;
                font-weight: normal;
                letter-spacing: $font-05;
                color: $white;
                text-transform: uppercase;
                text-align: center;
                background: $dim-gray;
                border: none;
                box-sizing: border-box;
                &.return-item {
                	text-align: right;
				    float: right;
				    margin-right: 0;
                }
            }
            @media #{$tablet} { 
            	margin: 30px 0px 30px;
            }
            @media #{$iphone} {
                margin: 0px;
                a {
                    width: 100%;
                    margin: 0px 0px 20px;
                }
            }
        }
    }
}
.page-content {
    .dialog-required {
        em {
            color: $sk-dark-pebble;
        }
    }
}
.pt_content {
	.primary-content {
		&#primary {
			ul {
				padding: 0px 0px 5px;
			}
			p {
				a {
					display: unset;
					@media #{$iphone} {
						display: initial; 
					}
				}
				br {
					+ a {
						display: block;
					}
				}
			}
		}
	}
	#primary {
		padding-bottom: 20px;
		ul {
			li {
				list-style-type: none;
			}
		}
	}
}
.pt_content,
.pt_customer-service,
.pt_content-search-result {
    font-family: $sk-main-medium;
    font-size: $font-12;
    line-height: $font-14;
    font-weight: normal;
    letter-spacing: $font-05;
    color: $sk-dark-pebble;
    text-transform: uppercase;
    font-style: normal;
    .primary-content {
    	.confirmation-message {
	    	p {
	    		padding-bottom: 10px;
	    	}
    	}
    	.continue-purchase {
    		width: auto;
    		display: inline-block;
    		background-color: $sk-light-pebble;
    		color: $white;
    		padding: 10px 20px;
    		margin-top: 10px;
    	}
        .content-asset {
            padding-bottom: 20px;
        }
        .dialog-required {
        	float: right;
        }
        .content-header, h1 {
            padding: 0px 0px 10px;
            font-size: $font-14;
            font-style: normal;
            color: $sk-charcoal;
            border-bottom: 1px solid $sk-complement-pebble-1;
        }
        h2, h3 {
            float: left;
            width: 100%;
            font-family: $sk-main-demi;
            font-size: $font-16;
            font-weight: normal;
            font-style: normal;
            color: $sk-dark-pebble;
            padding-bottom: 10px;
            border-bottom: 1px solid $sk-complement-pebble-1;
        }
        ul {
            float: left;
            width: 100%;
            margin: 0px;
            padding: 0px 0px 20px;
            line-height: $font-24;
            li {
                float: left;
                width: 100%;
                box-sizing: border-box;
                list-style-type: none;
                a {
                    color: $sk-dark-pebble;
                }
            }
        }
        h2 {
            padding: 10px 0px 10px;
            font-size: $font-12;
            border: none;
            & + ul {
                padding-bottom: 0px;
            }
            a {
                color: $sk-dark-pebble;
            }
        }
        h3 {
            font-size: $font-12;
            color: $sk-charcoal;
            padding: 10px 0px 8px;
            border: none;
        }
        p {
            font-size: $font-12;
            margin: 0px;
            padding: 0px;
            a {
                display: block;
                padding: 8px 0px 0px;
                color: $sk-dark-pebble;
            }
        }
        ol {
            float: left;
            width: 100%;
            box-sizing: border-box;
            > li {
                float: left;
                width: 100%;
                padding: 0px 0px 15px;
                box-sizing: border-box;
            }
        }
        hr {
            opacity: 0;
            margin-bottom: 25px;
        }
        .form-row {
            .field-wrapper {
                textarea {
                	width: 96%;
                    @media #{$iphone} {
                        width: 93%;
                    }
                    @media #{$tablet} {
                    	width: 93%;
                    }
                }
            }
        }
    }
}
.pt_content-search-result {
    .page-content {
        .folder-slot {
            float: left;
            width: 100%;
            padding: 25px;
            border: 1px solid $sk-complement-pebble-1;
            box-sizing: border-box;
            > h2 {
                margin: 0px;
                padding: 0px 0px 15px;
                font-family: $sk-main-demi;
                font-size: $font-12;
                font-weight: normal;
                letter-spacing: $font-05;
                color: $sk-dark-pebble; 
            }
        }
        .pagination {
            float: left;
            width: 100%;
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            .results-hits {
                float: right;
                margin: 30px 0px;
            }
        }
        ul {
            &.folder-content-list {
                float: left;
                width: 100%;
                margin: 0px;
                padding: 0px;
                box-sizing: border-box;
                li {
                    float: left;
                    width: 45%;
                    width: calc(50% - 25px);
                    margin: 0px 25px 25px 0px;
                    padding: 25px;
                    color: $sk-dark-pebble;
                    background-color: $sk-complement-pebble-5;
                    border: 1px solid $sk-complement-pebble-1;
                    word-wrap: break-word;
                    list-style-type: none; 
                    box-sizing: border-box;
                    &:nth-child(even) {
                        margin-right: 0px;
                    }
                    > a {
                        float: left;
                        width: 100%;
                        margin: 0px 0px 15px;
                        padding: 0px;
                        line-height: $font-18;
                        color: $sk-charcoal;
                    }
                    p {
                        float: left;
                        width: 100%;
                        box-sizing: border-box;
                        > a {
                            float: left;
                            width: 100%;
                            margin: 15px 0px 0px;
                            padding: 0px;
                            font-style: normal;
                            color: $sk-dark-pebble;
                            box-sizing: border-box;
                        }
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                    @media #{$iphone} {
                        width: 100%;
                        margin: 0px 0px 20px;
                    }
                }
            }
        }
        .back {
            float: left;
            width: 100%;
            margin: 0px 0px 25px;
            padding: 0px;
            box-sizing: border-box;
            > a {
                color: $sk-dark-pebble;
            }
        }
    }
}
.pt_store-locator {
    font-family: $sk-main-medium;
    font-size: $font-12;
    font-weight: normal;
    letter-spacing: $font-05;
    color: $sk-dark-pebble;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    background: transparent;
	.custom-select {
		.country {
			+ .selected-option {
				&:before {
					display: block;
				}
			}
		}
	}
    #primary {
        float: none;
        clear: both;
        width: 100%;
        padding: 0 0 20px 0;
        > h1,
        > p,
        > a {
            float: left;
            width: 100%;
            margin: 0px;
            padding: 0px 0px 10px;
            box-sizing: border-box;
        }
        > a {
            padding: 0px;
            margin: 15px 0px 30px;
            color: $sk-dark-pebble;
        }
        > p {
            padding: 20px 0px 0px;
        }
        .col-1,
        .col-2 {
            .login-box {
            	.login-box-content {
            		.form-row {
            			.form-caption {
            				&.error-message {
            					margin-left: 0;
            				}
            			}
            		}
            	}
                > h2.section-header {
                    float: left;
                    width: 100%;
                    padding: 0px 0px 15px;
                    box-sizing: border-box;
                    > div {
                        float: left;
                        width: 76%;
                        &.dialog-required {
                            width: 24%;
                            padding: 0px;
                            margin: 0px;
                        }
                    }
                }
            }
        }
        .store-locator-header {
            float: left;
            width: 100%;
            margin: 0px 0px 20px;
            padding: 0px;
            font-family: $sk-main-demi;
            font-size: $font-14;
            font-weight: normal;
            font-style: normal;
            letter-spacing: $font-05;
            background: transparent;
            box-sizing: border-box;
        }
        #store-location-results {
            thead {
                tr {
                    border-bottom: 1px solid $sk-complement-pebble-1;
                }
            }
            tr {
                th, td {
                    margin: 0px;
                    padding: 10px;
                    font-size: $font-12;
                    font-weight: normal;
                    line-height: $font-16;
                    box-sizing: border-box;
                    > a {
                        color: $sk-dark-pebble;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                td {
                    &.store-information {
                        background-color: $white;
                        border-bottom: 1px solid #e0e0e0; 
                        .store-name {
                            font-weight: normal;
                            font-family: $sk-main-demi;
                            color: $sk-charcoal;
                            > a {
                                color: $sk-dark-pebble;
                            }
                        }
                    }
                }
            }
        }
    }
}
.ui-dialog {
	&.ui-front {
		.ui-dialog-content {
			overflow: auto;
            padding: 30px !important;
		}
		&.editaddress, &.add-credit-card {
			.ui-dialog-content {
				overflow: visible;
			}
		}	
	}
	overflow: visible;
	.ui-dialog-content {
		overflow: visible;
		.same-address-error {
			text-align: center;
	    	font-size: $font-16;
	    	color: $sk-dark-pebble;
		}
	}
}
.no-close {
	.ui-dialog-content {
		h1 {
	     text-transform: none;
	 	}
 	 }
 }
.ui-dialog-content {
    h1 {
        float: left;
        width: 100%;
        margin-bottom: 10px;
        font-family: $sk-main-demi;
        font-size: $font-14;
        font-weight: normal;
        line-height: $font-14;
        letter-spacing: $font-05;
        color: $sk-charcoal;
        text-transform: uppercase; 
    }
    p {
        float: left;
        width: 100%;
    }
    #PasswordResetForm {
    	.form-row {
    		.field-wrapper {
    			width: 100%;
    		}
    	}
        button {
            float: right;
            width: auto;
            padding: 9px 30px;
            font-family: $sk-main-medium;
            font-size: $font-12;
            font-weight: normal;
            letter-spacing: $font-05;
            color: $white;
            text-transform: uppercase;
            background: $sk-light-pebble;
            border: none;
        } 
    } 
    .form-horizontal {
        width: 80%;
        @media #{$iphone} { 
        	width: 100%;
        }
        margin: 0 auto;
        box-sizing: border-box;
        .form-row {
        	&.error {
        		.field-wrapper {
        			input {
        				border: 1px solid $sk-red;
        			}
        		}
        	}
        	.custom-select.current_item {
                .selected-option {
                	&:before {
                		top: 16px;
                	}
                }
            }
            label {
                width: 25%;
                @media #{$iphone} { 
                	width: 100%;
                }
                box-sizing: border-box;
            }
            .field-wrapper {
                width: 50%;
                @media #{$iphone} {  
                	width: 100%;
                }
                box-sizing: border-box;
                &.checkbox-wrapper {
                    width: auto;
                }
            }
            .form-caption {
                margin-left: 27.5%;
                @media #{$iphone} {  
                	margin: 0;
                }
            }
            &.month,
            &.year {
                float: left;
                width: 30%;
                margin-bottom: 0px;
                box-sizing: border-box;
                @media #{$iphone} {
                	width: 45%;
                	margin-right: 15px;
                }
                label {
                    display: none;
                }
                .field-wrapper {
                    width: 100%;
                    box-sizing: border-box;
                }
                .error-message {
                	margin-left: 15px;
                	width: 100%;
                	@media #{$iphone} {
                		margin-left: 0;
                	}
                }
                &.error {
                	.custom-select {
                		.selected-option {
                			border: 1px solid $sk-red;
                		}
                	}
                }
            }
            &.year {
                width: 20%;
                 @media #{$iphone} {
                 	width: 40%;
                 }
                .field-wrapper {
                	margin-left: 0px;
                	@media #{$tablet} {
                		margin-left: 0;
                	}
                }
            } 
            &.label-inline {
                margin-bottom: 10px;
                padding-left: 25.25%;
                box-sizing: border-box;
                .checkbox-wrapper ~ label {
                    margin-top: 0px;
                    line-height: 16px;
                }
            }
        }
        .form-label-text {
            float: left;
            padding: 0px;
            margin-top: 10px;
            text-align: left;
            font-size: $font-12;
            font-weight: normal;
        }
        .form-row-button {
            margin: 20px 0px;
            @media #{$tablet} {
            	padding-left: 28%;
            	//box-sizing: border-box; 
            }
            button {
                float: left;
                width: auto;
                margin: 0px 30px 0px 0px;
                padding: 9px 30px;
                font-size: $font-12;
                line-height: $font-12;
                font-weight: normal;
                letter-spacing: $font-05;
                color: $white;
                text-transform: uppercase;
                background: $dim-gray;
                border: none;
                box-sizing: border-box;
                @media #{$tablet} { 
                	margin: 0px 30px 20px 0px;
                }
                @media #{$iphone} { 
                	width: 100%;
                	margin: 0 0 15px 0;
                }
                &:first-child {
                    margin-left: 27.5%;
                    @media #{$iphone} { 
                    	margin: 0 0 15px 0;
                    }
                    @media #{$tablet} {
                        margin-left: 0%;
                    } 
                }
                &:last-child {
                	@media #{$iphone} {
                		margin: 0;
                	}
                }
            }
        }
    }
    .dialog-required {
        float: left;
        width: 100%;
        margin: 0px 0px 30px;
        padding: 0px;
        em {
            font-family: $sk-main-medium;
            font-size: $font-12 - 1px;
            color: $sk-dark-pebble;
            text-transform: uppercase;
        }
    }
}
#wrapper {
	&.pt_error {
		#main.page-content {
			width: 100%;
			float: left;
			padding: 30px 5%;
			#primary {
				h1 {
					padding: 0px 0px 10px 0;
					margin: 0;
					border-bottom: none;
				}
				.error-page-message {
					clear: both;
					p {
						font-size: $font-12;
						font-family: $sk-main-medium;
						font-weight: normal;
					}
				}
				.error-page-search {
					position: relative;
					.form-row {
						&.label-above {
							label {
								width: 100%;
								float: left;
								margin-bottom: 15px;
							}
							input[type=text] {
								    max-width: 175px;
								    height: 20px;
								    padding: 2px 10px 0px 20px;
								    font-family: "FunctionPro-Medium", sans-serif;
								    font-size: 11px;
								    color: #b2aaa0;
								    letter-spacing: 0.5px;
								    border: none;
								    border-radius: 0;
								    border-bottom: 1px solid #b1a99f;
								    background: transparent;
								@media #{$iphone} {
									width: 75%;
								}
							}
							button {
								width: 15px;
							    background-color: transparent;
							    bottom: 22px;
							    float: none;
							    position: absolute;
							    left: 0;
								margin: 0;
								padding: 0;
								transition: unset;
								&:hover {
									background-color: transparent;
									background: url("../../images/sk-icons-sprite.png") no-repeat -23px -24px ;
								}
								@media #{$iphone} {
									padding: 0;
									text-align: center;
								}
							}
						}
					}
				}
				.error-page-footer {
					p {
						font-weight: normal;
					}
				}
			}
		}
	}
}
#wrapper {
	&.pt_customer-service {
		.form-row-button {
			margin-left: 15px;
			@media #{$tablet} {
				margin-left: 0px;
			}
			@media #{$iphone} {
				margin-left: 0px;
			}
			button {
				margin-left: 25%;
				@media #{$iphone} {
					margin-left: 0px;
				}
			}
		}
	}
}
.pt_account {
	.primary-content {
		.account-wishlist {
			@media #{$iphone} {
				display: none;
			}
		}
		#RegistrationForm {
			&.form-horizontal {
				width: 100%;
				.email-subscription-click {
				    float: left;
	    			width: 100%;
					.gender-wrap {
					    margin: 20px 0;
						.form-row {
						    margin-left: 15px;
						    width: 37.823%;
						    float: left;
						    padding-left: 25%;
						    @media #{$tablet} {
						      padding-left: 35%;
						      width: 50%;
					       }
						     @media #{$iphone} {
					        	margin-left: 0;
							    padding-left: 0;
					        }
					        label {
						    	@media #{$tablet} {
							      width: 100%;
						       }
						    }
						    &:nth-child(3) {
								padding: 0;
								@media #{$tablet} {
							      width: 40%;
						       }
							}
						}
					}
					.birthaday_wrap {
						float: left;
						width: 100%;
						.form-label-text {
						    margin-bottom: 0px;
						    width: 25%;
						    text-align: left;
						    font-family: $sk-main-medium;
						    font-size: $font-12;
						    font-weight: 200;
						    @media #{$tablet} {
						      width: 35%;
					       }
						    @media #{$iphone} {
					    	    width: 100%;
								text-align: left;
						    }
					    }
					    .form-row  {
					    	width: 18%; 
					    	float: left;
					    	@media #{$tablet} {
						      width: 19%;
					       }
					    	 @media #{$iphone} {
					    	 	width: 29%; 
					    	    margin: 0 15px 0 0;
					    	    &:last-child {
					    	    	margin: 0;
					    	    }
				    	    }
					    	.field-wrapper {
					    		width: 100%;
					    	}
					    }
					}
				}
			}
		}
	}	
}


#wrapper {
	&.pt_wish-list {
		#main {
			.breadcrumb {
				width: 72%;
				@media #{$tablet} {
					width: 70%;
				}
			}
			#primary {
				padding-left: 37px;
				padding-bottom: 40px;
				.no-item-wishlist {
					font-family: $sk-main-book;
					font-size: $font-14;
					color: $sk-nav-grey;
					line-height: 17px;
					letter-spacing: 1px;
					margin-bottom: 23px;
					font-weight: normal;
				}
				.add-item-wishlist {
					font-family: $sk-main-demi;
					font-size: $font-14;
					letter-spacing: 1px;
					width: auto;
					min-width: 259px;
					display: inline-block;
				    text-align: center;
				    color: $sk-dark-pebble;
				    text-transform: uppercase;
				    text-decoration: underline;
				}
				.wishlist-para {
					font-family: $sk-main-book;
					font-size: $font-16;
					line-height: 19px;
					letter-spacing: 1px;
					margin-bottom: 30px;
					text-transform: none;
					color: $sk-nav-grey;
				}
				.main-column {
					width: 80%;
					float: left;
					margin-bottom: 30px;
					@media #{$tablet-maxlandscape} {
						width: 85%;
					}
					@media #{$tablet} {
						width: 100%;
					}
					.col-1 {
						width: 48%;
						margin: 0;
						padding-right: 50px;
						box-sizing: border-box;
						.login-heading {
							font-family: $sk-main-medium;
							font-size: $font-14;
							line-height: 17px;
							color: $sk-nav-grey;
							letter-spacing: 1px;
							padding: 0;
							margin-bottom: 30px;
							border-bottom: 0;	
						}
						.login-account {
							margin-bottom: 25px;
							.login-box-head {
								display: none;
							}
							.returning-customers {
								.form-row {
									&.username, &.password {
										margin: 0 0 24px 0;
										font-family: $sk-main-book;
										letter-spacing: 1px;
										label {
											width: 100%;
											color: $sk-nav-grey;
										}
									}
								}
								.form-row-button-signin {
									width: 100%;
									margin-bottom: 10px;
									.spc-login-btn {
										width: 100%;
										font-family: $sk-main-demi;
										font-size: $font-14;
										text-transform: uppercase;
										letter-spacing: 1px;
										padding: 10px;
										margin: 0;
									}
								}
								.password-reset-row {
									width: 100%;
									float: left;
									.password-reset-link {
										width: auto;
										float: left;
										font-family: $sk-main-book;
										font-size: $font-12;
										letter-spacing: 1px;
										border-bottom: 1px solid $sk-nav-grey;
										color: $sk-nav-grey;
										text-decoration: none;
    									text-transform: capitalize;
										&:hover {
											text-decoration: none;
										}
									}
								}
								.login-rememberme {
									width: auto;
									float: right;
									cursor: pointer;
									margin: 0;
									padding: 0;
									@media #{$tablet} {
										float: left;
										margin-top: 12px;
									}
									label {
										margin: 0 0 0 8px;
									}
									span {
										color: $sk-nav-grey;
										font-size: $font-12;
									    line-height: 16px;
									    letter-spacing: 1px;
									    text-transform: capitalize;
									}
								}
							}
						}
						.login-oauth {
							#Facebook {
								width: 100%;
								font-size: $font-14;
								font-family: $sk-main-demi;
								letter-spacing: 1px;
								background-color: $mariner;
								text-transform: uppercase;
								line-height: 18px;
								padding: 10px;
								box-sizing: border-box;
								@media #{$tablet} {
									height: auto;
								}
							}
						}
					}
					.col-2 {
						margin: 0;
						float: left;
						width: 52%;
						padding: 0;
						.main-vertical-line {
							width: 4%;
							float: left;
						}
						.vertical-line {
							height: 160px;
						    width: 1px;
						    background-color: $sk-cloud;
						    @media #{$tablet} {
						    	height: 180px;
						    }
						}
						.vertical-txt {
							font-size: $font-12;
							letter-spacing: 0.5px;
							text-transform: uppercase;
    						margin: 5px 0 5px -9px;
						}
						.login-create-account {
							width: 95%;
							padding-left: 50px;
							box-sizing: border-box;
							.wish-create-head {
								font-family: $sk-main-medium;
								font-size: $font-14;
								color: $sk-nav-grey;
								line-height: 17px;
								letter-spacing: 1px;
								margin-bottom: 20px;
								padding: 0;
								font-weight: normal;
							}
							.wish-create-para {
								width: 100%;
								float: left;
								text-transform: none;
								font-family: $sk-main-book;
								font-size: $font-14;
								color: $sk-nav-grey;
								line-height: 17px;
								letter-spacing: 1px;
								margin: 0 0 19px 0;
							}
							.login-box-content {
								.create-btn {
									min-width: 275px;
									font-family: $sk-main-demi;
									font-size: $font-14;
									letter-spacing: 1px;
									text-transform: uppercase;
									margin:0;
									@media #{$tablet-maxlandscape} {
										min-width: 250px;
									}
									@media #{$tablet} {
										min-width: 100%;
									}
								}
							}
						}
					}
				}
				.wishlist-reg-name {
					font-family: $sk-main-medium;
					font-size: $font-14;
					line-height: 17px;
					letter-spacing: 2px;
					margin-bottom: 25px;
					text-transform: uppercase;
					color: $sk-nav-grey;
				}
				.item-list {
					margin: 0;
					.headings {
						display: table-row;
						border-top: 1px solid $sk-cloud;
    					border-bottom: 1px solid $sk-cloud;
						th {
							font-size: $font-12;
							font-family: $sk-main-medium;
							letter-spacing: 1px;
							padding: 25px 0 20px;
							box-sizing: border-box;
							font-weight: normal;
							text-transform: uppercase;
							color: $black;
							&.item {
								padding-left: 15px;
							}
							&.item-availablity {
								padding-left: 15px;
							}
							&.item-price {
								padding-left: 15px;
							}
						}
					}
					.table-content {
						width: 100%;
						td {
							padding-top: 25px;
							padding-bottom: 25px;
							border-bottom: 1px solid $sk-cloud;
							&.item-image {
								width: 10%;
							}
							&.item-details {
								width: 33%;
								.product-list-item  {
									margin-bottom: 15px;
									.name {
										margin-bottom: 10px;
										.short-desc {
											font-family: $sk-main-medium;
											font-size: $font-12;
											letter-spacing: 1px;
											color: $black;
										}
										.long-desc {
											font-family: $sk-main-book;
											font-size: $font-12;
											letter-spacing: 1px;
											margin-bottom: 15px;
											color: $sk-dark-pebble;
										}
									}
									.attribute {
										font-family: $sk-main-book;
										font-size: $font-12;
										letter-spacing: 0.5px;
										color: $black;
									}
								}
								.edit-wishlist-item {
									font-family: $sk-main-book;
									font-size: $font-12;
									letter-spacing: 0.5px;
									text-decoration: underline;
								}
							}
							&.item-availability {
								width: 19%;
								padding-left: 14px;
								.is-in-stock, .not-available-msg {
									font-family: $sk-main-book;
									font-size: $font-12;
									letter-spacing: 0.5px;
									text-transform: uppercase;
									color: $black;
								}
								.delete-item {
									text-decoration: underline;
									font-family: $sk-main-book;
									font-size: $font-12;
									letter-spacing: 0.5px;
									margin-top: 23px;
									color: $black;
									text-transform: uppercase;
									&:hover {
										text-decoration: underline;
									}
								}
							}
							&.price {
								width: 12%;
								padding-left: 14px;
								.price {
									font-family: $sk-main-book;
									font-size: $font-12;
									line-height: 11px;
									letter-spacing: 0.5px;
									color: $black;
								}
							}
							&.item-dashboard {
								width: 25%;
								@media #{$tablet} {
									width: 20%;
								}
								.option-date-added {
									label {
										width: auto;
										float: left;
										margin: 0;
										font-family: $sk-main-book;
										font-size: $font-12;
										line-height: 11px;
										color: $black;
									}
									.field-wrapper {
										float: left;
										.value {
											float: left;
											margin: 0;
											font-family: $sk-main-book;
											font-size: $font-12;
											line-height: 11px;
											color: $black;
											text-transform: capitalize;
											margin-left: 5px;
											@media #{$tablet} {
												margin-left: 0;
											}
										}
									}
								}
								.option-add-to-cart {
									margin-top: 65px;
									.add-to-cart, .wishlist-notify-me {
										width: 170px;
										font-family: $sk-main-demi;
										font-size: $font-14;
										letter-spacing: 1px;
										padding: 9px 0;
										height: auto;
										@media #{$tablet-maxlandscape} {
											width: 160px;
										}
										@media #{$tablet} {
											width: 120px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
