// Defining the maximum width and after that keeping the content center
body {
    background-color: $white;
    @media #{$iphone} {
    	background-color: $sk-complement-pebble-5;
    }
    div#wrapper {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        @media #{$iphone} {
        	display: inline-block;
        }
        #main {
	        padding: 0 5%;
	    	float: initial;
	   		width: 100%;
	   		margin: 0 auto;
	    	box-sizing: border-box;
	    	clear: both;
    	}
    	&.pt_product-search-result {
		  #main {
		    .content-slot {
		      padding-top: 20px;
		    }
		  }
		}
        &.homepage-main {
        	max-width: 100%;
        	#main { 
        		max-width: 100%;
        		width: 100%;
        		padding: 0;
                overflow: hidden;
        	}
        }
    }
    button, input, select, textarea {
        outline: none;
        &:focus {
            outline: none;
        }
    }
}

//Headings
.heading-style-1 {
    font-family: $sk-main-medium;
    font-size: $font-14;
    color: $sk-charcoal;
    text-transform: uppercase;
    letter-spacing: $font-05;
}
.heading-style-2 {
    font-family: $sk-main-demi;
    font-size: $font-12;
    color: $white;
    text-transform: uppercase;
    letter-spacing: $font-05;
}
.heading-style-3 {
    font-family: $sk-main-book;
    font-size: $font-18;
    color: $sk-dark-pebble;
    text-transform: uppercase;
    letter-spacing: $font-1;
}
.heading-style-4 {
    font-family: $sk-main-book;
    font-size: $font-16;
    color: $sk-dark-pebble;
    text-transform: uppercase;
    letter-spacing: $font-1;
}
.heading-style-5 {
    font-family: $sk-main-demi;
    font-size: $font-12;
    color: $sk-dark-pebble;
    text-transform: uppercase;
    letter-spacing: $font-05;
}

//Paragraph
.para-style {
    font-family: $sk-main-medium;
    font-size: $font-12;
    color: $sk-dark-pebble;
    text-transform: uppercase;
    letter-spacing: $font-05;
    line-height: $font-20;
}
.para-style-1 {
    font-size: $font-14;
    line-height: $font-22;
}
.para-style-2 {
    font-family: $sk-main-book;
}
//.para-style-3 {
//    It's default so no need to use
//}
.para-style-4 {
    font-family: $sk-main-book;
    font-size: $font-14;
    text-transform: none;
}
.para-style-5 {
    font-size: $font-14;
    color: $sk-charcoal;
}
.para-style-6 {
    color: $sk-charcoal;
}
.para-style-7 {
    color: $sk-red;
}
.para-style-8 {
    font-size: $font-12 - 1px;
    color: $sk-red;
}

//Span
.span-style {
    font-family: $sk-main-book;
    font-size: $font-14;
    color: $sk-red;
    text-transform: none;
    letter-spacing: $font-05;
    line-height: $font-20;
}

//Links
.link-style {
    font-family: $sk-main-medium;
    font-size: $font-12;
    color: $sk-light-pebble;
    text-transform: uppercase;
    letter-spacing: $font-05;
    text-decoration: none;
}
.link-style-1 {
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    font-family: $sk-main-demi;
    &:hover {
        text-decoration: none;
        border-bottom: 1px solid $sk-light-pebble;
    }
}
.link-style-2 {
    &:hover {
        color: $sk-charcoal;
    }
}
.link-style-3 {
    font-family: $sk-main-book;
    color: $white;
}
.link-style-4 {
    font-size: $font-14;
    color: $sk-dark-pebble;
}
.link-style-5 {
    color: $sk-charcoal;
}
.link-style-6 {
    font-size: $font-12 - 1px;
    color: $sk-dark-pebble;
    &:hover {
        color: $sk-charcoal;
    }
}
.link-style-7 {
    color: $sk-text-color;
}

//Buttons
.btn-style,
button, 
.button, 
.buttonstyle, 
input[type="button"] {
    height: 32px;
    padding: 0px 15px;
    font-family: $sk-main-medium;
    font-size: $font-12;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: $font-05;
    background-color: $sk-nav-grey;
    border: none;
    border-radius: 0;
    &:hover {
        color: $white;
    }
    &[disabled],
	&.disabled {
		background-color: $sk-btn-disabled !important;
		opacity: 1 !important;
		cursor: auto !important;
		color: $white !important;
	    text-decoration: none !important;
	}
	&:hover {
		background-color: $sk-nav-grey;
		border-color: $sk-nav-grey;
		color: $white;
	}
}
//.btn-style-1 {
//  Default no need to use this style
//}
.btn-style-2 {
    font-family: $sk-main-demi;
    font-size: $font-10;
    padding: 0 10px;
    &:hover {
        background-color: $sk-charcoal;
    }
}
.btn-style-3 {
    color: $sk-dark-pebble;
    background-color: $sk-complement-pebble-5;
    border: 1px solid $sk-light-pebble;
}
.mb-btn-style-1 {
    width: 100%;
    height: 45px;
    font-size: $font-14;
}

.mb-btn-style-2 {
    width: 100%;
    height: 45px;
    font-family: $sk-main-demi;
    font-size: $font-14;
}

//Form Elements
.form-label {
    font-family: $sk-main-medium;
    font-size: $font-12;
    color: $sk-dark-pebble;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    @extend .form-label;
    color: $sk-charcoal;
    &:focus {
        border: 1px solid $sk-complement-pebble-3;
    }
}

.error {
    border: 1px solid $sk-dark-red;
}

.final-sale {
	color: $sk-red;
	display: inline-block;
	font-family: $sk-main-demi;
	font-size: $font-12;
}

// Global Classes
.full-width {
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.sk-site {
	display: none;
}
legend{
	background: none;
	font-size: $font-14;
	padding: 0px;
	margin: 0px;
	width: 100%;
	font-weight: normal;
}
.not-available-msg {
	padding: 0px 0px 20px;
    font-family: $sk-main-book;
    font-size: $font-12;
    list-style: none;
    font-weight: normal;
    letter-spacing: $font-05;
    color: $sk-dark-red;
}