.ui-tooltip {
    //position: relative;
    &.ui-widget-content {
        max-width: 325px;
        padding: 20px;
        font-family: $sk-main-medium;
        font-size: $font-12;
        font-weight: normal;
        letter-spacing: $font-05;
        color: $sk-dark-pebble;
        border: 1px solid $sk-complement-pebble-2;
        border-radius: 0px;
        background-color: $sk-tool-col;
        box-shadow: none;
        box-sizing: border-box;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: -5px;
            transform: translateY(-50%);
            width: 6px;
            height: 11px;
            z-index: 999;
            background: url("../../images/sk-icons-sprite.png") no-repeat -368px -25px;
        }
        .product-name {
            margin: 0px 0px 5px;
            color: $sk-charcoal;
            text-transform: uppercase;
        }
        .product-price {
            margin: 0px;
            padding: 0px;
            font-family: $sk-main-demi;
            font-size: $font-12;
            color: $sk-dark-pebble;
            letter-spacing: $font-05;
            .price-standard {
                margin: 0px;
                padding: 0px 10px 0px 0px;
                border-right: 2px solid $sk-complement-pebble-1;
                & + .discountedprice-sales {
                    padding: 0px 0px 0px 7px;
                    color: $sk-red;
                }
                .price-sales {
                	color: $sk-dark-pebble;
                }
            }
        }
        .recommendation-tooltip-description {
            padding: 20px 0px 0px;
        }
    }
}