.bonus-product-list {
    float: left;
    width: 100%;
    > .bonus-product-heading {
        display: none;
    }
    .button-fancy-medium {
    	margin: 10px 0;
    }
    .promotion-cont {
        float: left;
        width: 100%;
        padding: 10px 0px;
        border-top: 1px solid $sk-complement-pebble-1;
        border-bottom: 1px solid $sk-complement-pebble-1;
        .promotion {
            position: relative;
            padding: 25px;
            color: $sk-charcoal;
            background-color: $sk-complement-pebble-5;
            box-sizing: border-box;
            .tooltip {
                margin-left: 15px;
                font-size: $font-12 - 1px;
                color: $sk-light-pebble;
                text-decoration: underline;
            }
        }
    }
    .bonus-product-item {
        float: left;
        width: 100%;
        margin: 30px 0px 0px;
        border-bottom: 1px solid $sk-complement-pebble-1;
        .product-col-1 {
            float: left;
            width: 30%;
            padding: 0px;
            box-sizing: border-box;
        }
        .product-col-2 {
            &.product-detail {
                float: left;
                width: 70%;
                box-sizing: border-box;
                .product-name {
                    margin-bottom: 30px;
                }
                .product-number,
                > .label {
                    display: none;
                }
                .product-add-to-cart {
                    fieldset {
                        .inventory,
                        .select-bonus-item {
                            float: left;
                        }
                        > label {
                            padding: 9px;
                            float: left;
                            @media #{$iphone} {
                            	padding-left: 0px;
                            }
                        }
                        .inventory {
                        	.quantity-error {
                        		font-size: $font-12;
                        		white-space: initial;
                        		width: 100%;
                        		float: left;
                        		clear: both;
                        		color: $sk-red;
                        		text-align: left;
                        		padding-top: 6px;
                        	}
                        }
                        .select-bonus-item {
                            margin: 0px;
                            padding: 9px 30px;
                            background-color: $sk-light-pebble;
                            border: none;
                            span {
                                font-family: $sk-main-medium;
                                font-size: $font-12;
                                font-weight: normal;
                                line-height: $font-12;
                                letter-spacing: $font-05;
                                text-transform: uppercase;
                                color: $white;
                            }
                            &:not(:disabled) {
                                &:hover {
                                    background-color: $sk-dark-pebble;
                                }
                            }
                            @media #{$tablet-maxlandscape} {
                                &:hover {
                                    background-color: $sk-light-pebble;
                                }
                            }
                        }
                    }
                }
            }
        }
        & + .promotion-cont {
            border-top: none;
        }
    }
    .bonus-product-list-footer {
        .bonus-product-summary {
            font-family: $sk-main-medium;
            font-size: $font-12;
            font-weight: normal;
            line-height: $font-14;
            letter-spacing: $font-05;
            color: $sk-dark-pebble;
            text-transform: uppercase;
            h2 {
                font-family: $sk-main-demi;
                font-size: $font-12;
                font-weight: normal;
                color: $sk-charcoal;
            }
            .selected-bonus-items {
                .selected-bonus-item {
                    margin: 10px 0px;
                }
                .item-name {
                    float: left;
                    width: 95%;
                    padding-left: 10px;
                    font-weight: normal;
                    color: $sk-charcoal;
                    box-sizing: border-box; 
                }
                .item-attributes {
                    float: left;
                    width: 100%;
                    @media #{$iphone} {
                    	text-align: left;
                    	margin-bottom: 15px;
                    }
                    li {
                        margin-top: 10px;
                    }
                }
                .remove-link {
                    float: left;
                    position: static;
                    font-style: normal;
                    color: $sk-red;
                }
            }
        }
        .add-to-cart-bonus {
            position: absolute;
            bottom: 18px;
            left: 50%;
            padding: 10px 25px;
            font-family: $sk-main-medium;
            font-family: $font-12;
            font-weight: normal;
            line-height: $font-12;
            letter-spacing: $font-05;
            text-transform: uppercase;
            color: $white;
            background-color: $sk-light-pebble;
            border: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.ui-dialog {
    .ui-dialog-content {
        overflow: hidden;
    }
}