.breadcrumb {   
    width: 74.44%;
    float: right;
    text-align: left;
    padding: 26px 0 22px;
    display: inline-table;
    text-transform: uppercase;
    .pt_product-search-result &{
    	width: 80%;
    	padding-bottom: 0;
    	@media #{$tablet-maxlandscape} {
    		 width: 70%;
    	}
    	@media #{$tablet} {
    		 width: 74.44%;
    	}
    	@media #{$iphone} {
    		width: 100%;
    	}
    }
    a {
    	color: $black;
		font-family: $sk-main-demi;
    }
    .breadcrum-listitem {
    	display: inline;
    	margin-left: -2px;
    }
    .breadcrumb-refined-by {
    	color: $sk-dark-pebble;
    	font-family: $sk-main-medium;
    	font-size: $font-12+1;
    	margin-right: 4px;
	}
	.icons-sprite {
		background-position: -321px -65px;
		height: 8px;
		width: 6px;
		margin: 0 8px 0 9px;
		margin-top: 3px;
		display: inline-block;
   	}
	.breadcrumb-refinement {
		color: $sk-charcoal;
    	font-family: $sk-main-medium;
    	font-size: $font-12+1;
    	&:after {
    		content: '';
    	}
    	.icons-sprite {
			margin: 0 6px 0 6px;
		}
    	.breadcrumb-refinement-name {
	    	color: $sk-dark-pebble;
	    	font-size: $font-12+1;
    	}
   		.breadcrumb-refinement-value {
			background: none;
		    margin: 0 3px 0 0;
		    padding: 0;
		    font-size: $font-12+1;
			text-transform: uppercase;
			color: $sk-charcoal;
			&.last {
            	margin-right: 0px;
            }
		}
		&:last-child {
			i.icons-sprite {
				display: none;
			}
		}
	}
    .breadcrumb-element {
    	color: $sk-nav-grey;
    	font-family: $sk-main-medium;
    	font-size: $font-12+1;
    	&:after {
		    content: '';
	    }
	    &:hover {
	    	text-decoration: underline;
	    }
	    &.bread-crumb-last {
	    	color: $sk-charcoal;
	    	font-family: $sk-main-medium;
			i.icons-sprite {
				display: none;
			}
			&.bread-crumb-last:hover {
				text-decoration: none;
			}
		}
		&.breadcrumb-result-text {
			&:hover {
				text-decoration: none;
			}
		}
    }
    .breadcrumb-relax {
    	color: $sk-dark-red;
    	padding: 0 0 0 0;
    	font-size: $font-12 + 1px;
    }
    .breadcrumb-result-text {
        color: $sk-dark-pebble;
        font-family: $sk-main-medium;
        font-size: $font-12 + 1px;
        &.text-value {
        	margin-right: 5px;
        }
        a {
            color: $sk-charcoal;
            font-family: $sk-main-medium;
            &:hover {
    	    	text-decoration: underline;
    		}
        }
        i.quote-style {
            font-style: normal;
            color: $black;
        }
    }
}
.pt_product-details {
	.breadcrumb {
		width: 100%;
		float: left;
		.breadcrumb-element {
		&.pdp-product-name {
			font-family: $sk-main-medium;
			font-size: $font-12 + 1px;
			color: $sk-nav-grey;
			text-decoration: none;
		}
		}
	}
}
.pt_order,.pt_account {
	.breadcrumb {
		padding-left: 22px;
		box-sizing: border-box;
		@media #{$tablet} {
			padding-left: 26px;
		}
		@media #{$iphone} {
			padding-left: 0;
		}
	}
}
.pt_customer-service,.pt_content,.pt_store-locator {
	.breadcrumb {
		width: 100%;
		float: left;
		padding-left: 0;
	}
}