.pt_cart {
	&.site-sk {
		#main {
			padding: 44px 12.99% !important;
			@media #{$iphone} {
				padding: 20px !important;
			}
		}	
		.cart-actions-top {
			padding: 0 0 39px;
			.shipping-heading {
				width: 69.144%;
    			float: left;
    			@media #{$tablet} {
    				width: 45.223%;
    			}
    			@media #{$iphone} {
					width: 100%;
				}
				.shipping-headline {
					font-size: $font-14;
				    line-height: $font-16;
				    letter-spacing: $font-1 + 1;
				    color: $sk-dark-pebble;
				    font-family: $sk-main-demi;
				    text-transform: uppercase;
				    margin-bottom: 6px;
				    @media #{$iphone} {
						text-align: left;
					}
				}
				.mini-cart-bottom {
		    		&.cart-banner {
		    			ul {
						    min-height: 155px;
						    padding: 42px 28px 0px;
						    display: inline-block;
		    				width: 100%;
		    				@media #{$tablet} {
		    					padding: 17px 16px 17px 16px;
		    				}
		    				@media #{$iphone} {
		    					padding: 17px 16px 17px 16px;
		    				}
		    				.left-content {
							    padding-right: 17%;
							    box-sizing: border-box;
							    .free-ship {
							   	    font-size: 12px;
								    line-height: 16px;
								    letter-spacing: 0.5px;
								    padding-bottom: 36px;
								    @media #{$tablet} {
								    	padding-bottom: 14px;
								    }
							    }
							    .ship-status {
							    	padding-bottom: 29px;
							    	line-height: 16px;
							    	@media #{$tablet} {
								    	padding-bottom: 14px;
								    	p {
							    			margin-left: 32px;
							    		}
								    }
							    }
		    				}
		    				.right-content,.left-content {
		    					width: 50%;
							    float: left;
							    @media #{$tablet} {
							    	width: 100%;
							    }
							    @media #{$iphone} {
							    	width: 100%;
							    }
		    				}
		    				.right-content {
		    					.help-order {
		    						padding-bottom: 36px;
		    						@media #{$tablet} {
								    	padding-bottom: 14px;
								    }
		    					}
		    				}
		    			}
		    		}
		    	}
			}
			.cart-action-checkout {
				margin: 0;
    			width: 24%;
    			@media #{$tablet} {
    				width: 45.393%;
    			}
    			@media #{$iphone} {
    				width: 100%;
    			}
    			.proceed-checkout {
    				display: inline-block;
    				text-align: center;
    			}
			}
		}
		.cart-actions {
			.cart-action-checkout {
				button.dw-apple-pay-button,
				.button-fancy-large {
				    font-size: $font-14;
				    line-height: $font-18;
				    padding: 8px 10px;
				    outline: none;
				    font-family: $sk-main-demi;
				    color: $white;
				    border: none;
				    width: 100%;
				    margin-bottom: 10px;
				    height: auto;
				    box-sizing: border-box;
				}
				button.dw-apple-pay-button {
					background-color: $black;
					background-image: url(../../images/ApplePay-BuyWith.png);
					background-size: contain;	
				}
				.lock-icon {
				    background: url(../../images/lock-white2.png) no-repeat;
				    width: 12px;
				    height: 14px;
				    display: inline-block;
				    background-size: contain;
				    margin-left: 5px;
				    padding-right: 5px;
				}
				@media #{$desktop} {
					.cart-action-btn {
						font-size: 1.12vw;
					}
				}
				.sk-paypal-button {
				    float: left;
				    display: inline-block;
				    padding: 7px 0 6px;
				    background: $sk-checkout-paypal;
				    width: 100%;
				    text-align: center;
				    .paypal-button-cont {
				    	padding: 0 15px;
					    box-sizing: border-box;
					    display: inline-block;
					    text-align: center;
				    	.paypal-btn {
						    display: block;
						    float: left;
						    width: 54px;
						    height: 14px;
						    margin: 4px 5px 0px;
						    background: url(../../images/PAYPAL-LOGO-WHT.png) no-repeat;
						    background-size: contain;
						}
						.paypal-btn-txt {
						    font-family: $sk-main-demi;
						    font-weight: normal;
						    float: left;
						    text-transform: uppercase;
						    font-size: $font-14;
						    line-height: $font-14;
						    color: $white;
						    letter-spacing: $font-1;
						    margin: 3px 0 0;
						}
				    }
				}
			}
		}
		.cart-coupon-code {
			width: 100%;
    		border-bottom: 1px solid $sk-cloud;
    		.promo-code-heading {
    			font-size: $font-12;
			    line-height: $font-14;
			    letter-spacing: $font-1;
			    text-transform: uppercase;
			    margin-bottom: 18px;
			    width: auto;
			    float: left;
			    font-family: $sk-main-medium;
    		}
    		.coupon-cont,.hide-mobile,.coupon-error-container {
			    float: left;
			    width: 100%;
    		}
    		@media #{$iphone} {
    			.coupon-cont {
    				border: none;
    				padding: 0;
    			}
    		}
    		.coupon-error-container {
				margin-bottom: 37px;		
			}
    		input[type="text"] {
    			width: 20.077%;
			    font-size: $font-12;
			    line-height: $font-14;
			    color: $sk-nav-grey;
			    height: 30px;
			    font-family: $sk-main-book;
			    @media #{$iphone} {
			    	width: 100%;
			    	margin: 0;
			    }
    		}
    		#add-coupon {
    			background: $white;
			    color: $sk-dark-pebble;
			    border-color: $sk-dark-pebble;
			    border: 1px solid;
			    padding: 5px 29px;
			    height: 30px;
			    font-family: $sk-main-demi;
			    font-size: $font-14;
			    @media #{$iphone} {
			    	width: 100%;
    				margin: 10px 0 0;
			    }
    		}
    		.drop-down-arrow {
    			width: 18px;
			    float: right;
			    height: 18px;
			    cursor: pointer;
			    background: url("../../images/sk-icons-sprite.png") no-repeat -236px -360px;
			    margin-top: -5px;
    			margin-right: 10px;
    			&.active {
    				background-position: -315px -360px;
    			}
    		}
		}
		.cart-order-totals {
			margin-top: 38px;
		}
		.cart-actions-bottom {
			.cart-action-checkout {
				width: 24%;
				@media #{$tablet} {
    				width: 45.393%;
    			}
    			@media #{$iphone} {
    				width: 100%;
    			}
    			.proceed-checkout {
    				display: inline-block;
    				text-align: center;
    			}
			}
		}
	}
	.error-form {
        margin: 0px;
        margin-top: 35px; 
        padding: 28px;
        font-family: $sk-main-medium;
        font-size: $font-12; 
        line-height: $font-16;
        font-weight: normal;
        letter-spacing: $font-05;
        color: $sk-dark-red;
        text-transform: uppercase;
        border-radius: 0px;
        text-align: center;
        border: 1px solid $sk-dark-red;
        background-color: $sk-complement-pebble-5;
        box-sizing: border-box;
        i {
            display: none;
        }
    }
    #cart-items-form {
    	#cart-table {
    		tbody {
    			border-bottom: 1px solid $sk-complement-pebble-1;
    		}
    	}
    }
    #cart-table {
    	.cart-row {
    		@media #{$tablet-maxlandscape} {
	    		.item-quantity {
	    			width: 8%;
	    		}
	    	}
    		@media #{$tablet} {
	    		.item-quantity {
	    			width: 10%;
	    		}
	    	}
	    	.item-quantity-details {
	    		padding-left: 20px;
	    		box-sizing: border-box;
	    		@media #{$iphone} {
	    			padding-left: 0;
	    		}
	    	}
    	}
    }
}
.cart-empty {
    margin-top: 100px;
    min-height: 370px;
    .cart-empty-header {
        float: left;
        width: 100%;
        padding: 10px 0px;
        background: $white;
        border: none;
        border-top: 1px solid $sk-light-pebble;
        border-bottom: 1px solid $sk-light-pebble;
        > h1 {
            padding: 47px 0px;
            font-family: $sk-main-book;
            font-size: $font-18;
            line-height: $font-18;
            font-weight: normal;
            letter-spacing: $font-05;
            color: $sk-dark-pebble;
            text-transform: uppercase;
            text-align: center;
            background-color: $sk-complement-pebble-5;
        }
    }
    .cart-action-continue-shopping {
        float: left;
        width: 100%;
        text-align: center;
        background: $white;
    }
    .button-text {
        height: 36px;
        margin: 50px 0px 10px;
        padding: 10px 30px;
        font-family: $sk-main-medium;
        font-size: $font-18;
        line-height: $font-18;
        font-weight: normal;
        letter-spacing: $font-05;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        background-color: $sk-light-pebble;
        &:hover {
            text-decoration: none;
        }
        @media #{$iphone} {
            width: 100%;
        }
    }
    .product-slot {
        &.product-listing {
            float: left;
            width: 100%;
            box-sizing: border-box;
        }
    }
    @media #{$iphone} {
        margin-top: 70px;
    }
}
.cart-actions-top,
.cart-actions-bottom {
    float: right;
    width: 100%;
    padding: 30px 0px;    
    .sk-paypal-button,
    .paypal-or,
    button.dw-apple-pay-button,    
    .button-fancy-large {
        display: block;
        float: left;
        padding: 9px 20px;
        font-family: $sk-main-demi;
        font-size: $font-14;
        line-height: $font-14;
        font-weight: normal;
        letter-spacing: $font-05;
        text-transform: uppercase;
        color: $sk-light-pebble;
        border: none;
    }
    .sk-paypal-button {
        float: left;
        display: block;
        padding: 9px 30px 5px;
        font-size: $font-12;
        color: $sk-dark-pebble;
        background-color: $sk-complement-pebble-3;
        &:hover {
            text-decoration: underline;
        }
        .paypal-button-cont {
            width: 100%;
            max-width: 175px;
            margin: 0 auto;
            span {
                float: left;
                display: block;
            }
            .paypal-btn {
                display: block;
                float: left;
                width: 60px;
                height: 18px;
                margin-left: 10px;
                background: url("../../images/sk-icons-sprite.png") no-repeat -26px -186px;
                vertical-align: middle;
            }
        }
    }
    .button-fancy-large {
        padding: 9px 30px;
        color: $white;
        font-family: $sk-main-medium;
        font-size: $font-12;
    } 
}
.cart-actions-bottom {
    padding: 0px 0px 50px; 
}
#cart-items-form {
    float: left;
    width: 100%;
    box-sizing: border-box;
    #cart-table {
        margin-bottom: 0px;
        margin-bottom: 0px;
    	.section-header {
    		&.header-total-price {
    			width: 22.5%;
            	text-align: left;
    		}
    	}
        tbody {
            tr:last-child {
                border-bottom: none;
            }
        }
    }
}
.error-form-cont {
    float: left;
    width: 100%;
    padding: 10px 0px;
    border-top: 1px solid $sk-complement-pebble-1;
    .error-form {
        margin: 0px;
        padding: 28px;
        font-family: $sk-main-medium;
        font-size: $font-12;
        line-height: $font-16;
        font-weight: normal;
        letter-spacing: $font-05;
        color: $sk-dark-red;
        text-transform: uppercase;
        border-radius: 0px;
        border: 1px solid $sk-dark-red;
        background-color: $sk-complement-pebble-5;
        box-sizing: border-box;
        i {
            display: none;
        }
    }
}
#cart-table {
    font-family: $sk-main-medium;
    font-size: $font-12;
    font-weight: normal;
    line-height: $font-14;
    letter-spacing: $font-1;
    color: $black;
    text-transform: uppercase;
    text-align: left;
    tr {
        border-bottom: 1px solid $sk-complement-pebble-1;
    }
    thead {
        tr {
            border-top: 1px solid $sk-cloud;
            border-bottom: 1px solid $sk-cloud;
        }
    }
    tbody {
        tr {
            td {
                padding: 30px 5px;
                box-sizing: border-box;
            }
        }
    }
    .section-header {
        padding: 19px 5px 20px;
        margin: 0px;
        font-size: $font-12;
        font-weight: normal;
        line-height: $font-14;
        color: $black;
        text-align: left;
        border: none;
        box-sizing: border-box;
        &:first-child {
            padding-left: 20px; 
        }
        &.product-name {
            width: 35%;
        }
        &.product-quantity {
            width: 5%;
        }
        &.product-stock {
            width: 15%;
        }
        &.product-price {
        	width: 22.5%;
        }
        &.header-total-price {
            width: 22.5%;
            padding-right: 80px;
            text-align: right;
            @media #{$tablet} {
            	padding-right: 0;
            }
        }
    }
    .item-image { 
        float: left;
        width: 100%;
        padding-left: 20px;
    }
    .item-details {
    	@media screen and (min-width: 768px) {
			float: none;
			width: 29%;
		}
        .product-list-item {
            .promo {
                font-size: $font-12;
                color: $sk-red;
                font-weight: normal;
                letter-spacing: $font-05;
            }
            .name {
                margin-bottom: 8px;
                font-size: $font-12;
                line-height: $font-14;
                color: $black;
                font-style: normal;
                font-family: $sk-main-book;
                .cart-product-name {
                    color: $sk-nav-grey;
                    text-transform: none;
                }
            }
            .attribute {
                padding-top: 0px;
                font-size: $font-12;
                font-family: $sk-main-book;
                .value {
                    font-weight: normal;
                }
            }
        }
        .item-edit-details,
        .bonusproducts {
            padding-top: 15px;
            font-size: $font-12;
            line-height: $font-14;
            font-family: $sk-main-book;
            a {
                color: $black;
                text-decoration: underline;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .bonus-product {
    	.item-quantity {
    		span {
    			background-color: $sk-complement-pebble-5;
			    width: 50%;
			    display: block;
			    padding: 8px;
			    color: $black;
			    font-size: $font-12;
                text-align: center;
                margin: 0 auto;
                @media #{$iphone} {
                	padding: 8px 0px;
                }
                
    		}
    	}
    	.item-quantity-details {
    		.item-user-actions {
    			.product-availability-list {
    				padding-top: 10px;
    				@media #{$iphone} {
    					padding-top: 0px;
    				}
    			}
    		}
    	}
    }
    .item-quantity {
        input[type="number"] {
            width: 50px;
            height: 30px;
            padding: 5px;
            background-color: $sk-complement-pebble-5;
            border: none;
            text-align: center;
        }
        input[type="number"]::-webkit-inner-spin-button {
            opacity: 1;
        }
    }
    .item-quantity-details {
    	@media #{$iphone} {
    		padding-left: 0px;
    		box-sizing: border-box;
    		text-align: left;
    	}
        > div {
            float: left;
            width: 100%;
            margin: 0px;
            padding: 0px;
            span, button {
                font-family: $sk-main-book;
                font-size: $font-12;
                font-weight: normal;
                line-height: $font-14;
                letter-spacing: $font-05;
                color: $black;
                text-transform: uppercase;
            }
        }
        .item-user-actions {
            button {
                height: auto;
                @media #{$iphone} {
                	padding: 0px 0 0 0;
                	text-align: left;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .product-availability-list {
            padding: 0px 0px 10px 0px;
            .error {
                float: left;
                width: 100%;
                margin: 5px 0px 15px;
                color: $sk-dark-red;
            }
            .not-available {
                color: $sk-dark-red;
                display: block;
                margin-top: 8px;
            }
        }
    }
    .item-price {
        color: $sk-charcoal;
        font-size: $font-12;
        @media #{$iphone} {
        	text-align: right;
        	font-size: $font-12;
        }
        .price-promotion {
            span {
                font-size: $font-12;
                line-height: $font-14;
                @media #{$iphone} {
        			font-size: $font-12 - 1;
        		}
            }
            .price-standard {
                margin-right: 5px;
                & + .price-sales {
                    color: $sk-red;
                    display: inline-block;
                }
            }
        }
    }
    .item-total {
        font-size: $font-12;
        text-align: left;
        color: $black;
        .price-total {
        	padding-right: 5px;
        }
        .price-unadjusted {
            color: $sk-charcoal;
        }
        .promo-adjustment {
            width: 100%;
            color: $sk-red;
            line-height: $font-16;
        }
        .price-adjusted-total {
            float: left;
            padding: 10px 0px 0px;
            color: $sk-charcoal;
            span {
                color: $sk-red;
                display: inline-block;
            }
        }
    }
    .cart-promo {
        padding: 0px;
        margin: 0px;
        background: transparent;
        border: none;
        td {
            padding: 0px;
            margin: 0px;
        }
        .bonus-item-header {
            float: left;
            width: 100%;
            padding: 18px 30px;
            margin-top: 10px;
            background-color: $sk-complement-pebble-5;
            box-sizing: border-box;
            .bonus-item-details,
            .bonus-item-actions {
                float: left;
                font-family: $sk-main-medium;
                font-size: $font-12;
                line-height: $font-12;
                font-weight: normal;
                letter-spacing: $font-05;
                color: $sk-charcoal;
                text-transform: uppercase;
                font-style: normal;
                .tooltip {
                    margin-left: 15px;
                }
                > a {
                    font-size: $font-12 - 1px;
                    line-height: $font-12;
                    color: $sk-dark-pebble;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .bonus-item-details {
                width: 65%;
                .tooltip {
                	text-decoration: underline;
                }
            }
            .bonus-item-actions {
                width: 35%;
            }
        }
    }
    .rowcoupons {
        font-family: $sk-main-medium;
        font-size: $font-12;
        line-height: $font-14;
        font-weight: normal;
        letter-spacing: $font-05;
        color: $sk-dark-pebble;
        text-transform: uppercase;
        > td {
            padding: 30px 5px 40px;
        }
        .item-details {
            .name {
                float: left;
                width: 100%;
                padding-bottom: 20px;
                color: $sk-charcoal;
            }
            .discount {
                position: static;
                width: 78%;
                margin-top: 10px;
                word-break: break-all;
                > .value {
                	color: $sk-red;
                }
            }
        }
        .item-total {
            font-size: $font-14;
            color: $sk-charcoal;
        }
        .item-quantity-details {
            button {
                padding: 10px 30px;
                color: $white;
                background-color: $sk-light-pebble;
                border: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    tfoot {
        .cart-promo {
            > div {
                float: left;
                width: 100%;
                margin: 10px 0px;
                padding: 28px 30px;
                font-family: $sk-main-medium;
                font-size: $font-12;
                line-height: $font-14;
                font-weight: normal;
                letter-spacing: $font-05;
                color: $sk-charcoal;
                font-style: normal;
                text-transform: uppercase;
                background-color: $sk-complement-pebble-5;
                box-sizing: border-box;
                @media #{$iphone} {
                	padding-left: 0;
                	padding-right: 0;
                	text-align: center;
                }
            }
        }
    }
}
.cart-footer {
    margin: 0px 0px 36px;
    padding: 24px 0px 0px;
    box-sizing: border-box;
    border: solid $sk-cloud;
    border-width: 0 0 1px;
    .cart-coupon-code {
        input[type="text"],
        #add-coupon,
        #update-cart {
            height: 32px;
            float: left;
            width: 32%;
            margin: 0px;
            font-family: $sk-main-medium;
            font-size: $font-12;
            font-weight: normal;
            line-height: $font-12;
            letter-spacing: $font-05;
            color: $sk-charcoal;
            text-transform: uppercase;
            border: 1px solid $sk-border-lightgrey;
            background-color: $sk-background-light-grey;
            outline: none;
            @media #{$tablet} {
            	width:37%; 
            }
        }
        input[type="text"] {
        	text-transform: none;
        }
        #add-coupon {
            width: auto;
            margin: 0px 48px 0px 10px;
            padding: 10px 30px;
            color: $white;
            border: none;
            background-color: $sk-light-pebble;
            @media #{$tablet} { 
            	margin: 0px 30px 20px 10px;
            }
        }
        #update-cart {
            width: auto;
            margin: 0;
            padding: 9px 30px;
            color: $sk-dark-pebble;
            border: 1px solid $sk-dark-pebble; 
            background-color: $white;
            box-sizing: border-box;
            @media #{$tablet-maxlandscape} {
            	padding: 9px 20px;
            }
            @media #{$tablet} {
            	margin: 0; 
            }
        }
        .error {
            float: left;
            width: 100%;
            clear: both;
            margin: 0px;
            padding: 10px 0px;
            font-family: $sk-main-book;
            font-size: $font-10;
            line-height: $font-14;
            letter-spacing: $font-05;
            text-transform: uppercase;
            border: none;
            @media #{$tablet} {
            	width: 100%;
            }
            @media #{$iphone} {
            	padding: 10px 0 10px 0;
    			width: 90%;
    			margin: 0 15px; 
            }
        }
    }
    .order-totals-table {
        font-family: $sk-main-book;
        font-size: $font-12;
        font-weight: normal;
        line-height: $font-14;
        letter-spacing: $font-1;
        color: $sk-charcoal;
        text-transform: uppercase;
        tr {
            td {
                padding: 0px 0px 20px;
                .tooltip  {
                	&.tax-tooltip {
                		position: relative;
					    top: 2px;
					    width: 14px;
					    height: 14px;
					    display: inline-block;
					    background: url("../../images/info-icon-sktax.png") no-repeat;
                	}
                }
            }
        }
        .order-discount {
            color: $sk-red;
        }
    }
}
.primary-focus {
	#secondary {
		.checkout-secondary {
			.order-totals-table {
				tr.order-sales-tax {
					td {
						&:first-child {
							position: relative;
						}
						.tooltip {
							position: absolute;
							top: 7px;
							margin-left: 5px;
						}
					}
				}
			}
		}
	}
}
.cart-footer {
	.order-totals-table {
		tr.order-sales-tax {
			td {
				&:first-child {
					position: relative;
				}
				.tooltip {
					position: absolute;
					top: 0px;
					margin-left: 5px;
				}
			}
		}
	}
}