.primary-focus {
    #primary,
    #secondary {
        float: left;
        width: 70%;
        box-sizing: border-box;
        &.summary {
	    	@media #{$iphone} {
				display: none !important;
			}
			&.order-review {
				@media #{$iphone} {
					display: block !important;
					.checkout-secondary {
						display:none;
					}
				}
			}
	    }
    }
    #primary {
        margin: 40px 0px 0px;
        padding-right: 30px;
        .checkoutheaderlink {
        	position: absolute;
        	top: -90px;
        	left: -100px;
        	font-family: $sk-main-book;
        	font-size: $font-12;
        	color: $sk-dark-pebble;
      		text-decoration: underline;
      		letter-spacing: 1px;
      		cursor: pointer;
      		@media #{$tablet}{
      			left: 0;
      		}
      		.shippingtocart {
      			color: $sk-dark-pebble;
      			font-size: $font-12;
      		}
      		&.guest-user {
      			top: -85px;
      		}
        }
        .spc-summary {
            .cart-row {
                .item-quantity-details {
                    .item-stock {
                        .is-in-stock {
                            font-size: $font-12 - 1px;
                            color: $sk-dark-pebble;
                        }
                    }
                }
                .item-quantity {
                    span {
                        display: inline-block;
                        padding: 8px 15px;
                        color: $sk-charcoal;
                        background-color: $sk-complement-pebble-5;
                    }
                }
                .item-total {
                    color: $sk-charcoal;
                    padding-right: 50px;
                    text-align: right;
                    > div:first-child {
                        display: inline-block;
                        padding-right: 5px;
                    }
                    @media #{$iphone} {
                    	padding-right: 0;
                    }
                    @media #{$tablet} {
            			padding-right: 0;
            		}
                }
            }
            .order-summary-footer {
                padding: 30px 0px 0px;
                @media #{$iphone} {
                	border-top: 0;
                }
            	.place-order-totals {
                    float: left;
                    width: 100%;
            		padding-right: 50px;
                    box-sizing: border-box;
            		@media #{$iphone} {
                    	padding-right: 0;
                    }
                    @media #{$tablet} {
            			padding-right: 0;
            		}
            	}
            	.submit-order {
            		.form-row {
            			width: auto;
            			float: right;
            			padding-right: 50px;
            			@media #{$iphone} {
            				width: 100%;
                    		padding-right: 0;
                    	}
                    	@media #{$tablet} {
            				padding-right: 0;
            			}
            		}
            	}
                .order-totals-table,
                .button-fancy-large {
                    font-family: $sk-main-medium;
                    font-size: $font-12;
                    font-weight: normal;
                    line-height: $font-14;
                    letter-spacing: $font-05;
                    color: $sk-charcoal;
                    text-transform: uppercase;
                }
                .order-totals-table {
                    td {
                        padding: 10px 0px 10px 10px;  
                    }
                    .order-discount {
                        color: $sk-red;
                    }
                    .order-total {
                        font-size: $font-14;
                    }
                }
                .button-fancy-large {
                    padding: 8px 30px;
                    color: $white;
                    border: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    #secondary {
        width: 30%;
        margin-bottom: 40px;
        > content-asset {
            > h3 {
                float: left;
                width: 100%;
                margin: 32px 0px 0px;
                padding: 0px;
                text-align: right;
            }
        }
        .checkout-secondary,
        .order-component-block {
            float: left;
            width: 100%;
            margin: 40px 0px 0px;
            border: 1px solid $sk-complement-pebble-1;
            .checkout-order-totals {
            	.order-shipping-discount {
            		color: $sk-charcoal;
            	}
            }
            .section-header,
            .section-header-note,
            .checkout-order-totals,
            .details,
            .mini-cart-product-details-cont {
                font-family: $sk-main-medium;
                font-size: $font-12;
                font-weight: normal;
                line-height: $font-12;
                letter-spacing: $font-05;
                color: $sk-dark-pebble;
                text-transform: uppercase;
                word-wrap: break-word;
            }
            .section-header {
                float: left;
                width: 100%;
                font-family: $sk-main-demi;
    			font-size: $font-14;
                padding: 15px 30px;
                color: $white;
                background-color: $sk-dark-pebble;
                box-sizing: border-box;
                .section-header-note {
                    float: right;
                    font-family: $sk-main-demi;
    				font-size: $font-14;
                    color: $white;
                    overflow: visible;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .order-totals-table {
                color: $sk-charcoal;
                border-top: 1px solid $sk-complement-pebble-1;
			    margin-top: 30px;
			    padding-top: 30px !important;
			    tr {
			    	&.order-subtotal td {
		    			padding: 25px 0px 10px;
			    	}
			    	td {
			    		text-transform: capitalize;
			    		text-align: left;
			    		color: $black;
    					font-family: $sk-main-book;
			    		&:last-child {
			    			text-align: right;
			    		}
			    		.tax-tooltip {
    						position: relative;
    						top: 4px;
    						width: 14px;
						    height: 14px;
						    display: inline-block;
						    background: url("../../images/info-icon-sktax.png") no-repeat;
    					}
			    	}
			    	&.order-total {
			    		td {
			    			font-size: $font-12;
			    			text-transform: uppercase;
			    		}
			    	}
			    }
                td {
                    padding: 10px 0; 
                    @media #{$tablet} {
			    		padding-left: 0;
			    	} 
                }
                .order-discount {
                    color: $sk-red;
                }
                .order-total {
                    font-size: $font-14;
                    @media #{$tablet} {
			    		font-size: $font-14 - 1;
			    	}
                }
                tr {
			    	td {
					    @media #{$tablet} {
				    		&:first-child {
				    			padding-left: 0;
		    				}
		    				&:last-child {
		    					padding-right: 0;
		    					padding-left: 0;
		    				}
			    		} 
		    		}
	    		}
            }
            .checkout-mini-cart {
            	margin-top: 30px;
            }
            .checkout-mini-cart,
            .checkout-order-totals,
            .details {
                float: left;
                width: 100%;
                padding: 0px 30px;
                box-sizing: border-box;
                @media #{$tablet} {
                	padding: 0px 25px;
                }
            }
            .details {
                line-height: $font-20;
                .minishipments-method {
                    margin-top: 30px;
                }
            }
            .checkout-mini-cart {
                border-bottom: none;
            }
            .checkout-order-totals {
                padding-top: 0px;
                border-top: none;
                padding-bottom: 30px;
            }
            .mini-cart-product {
                padding: 0px 0px 35px;
                border-bottom: none;
                &.last {
                    padding-bottom: 0;
                }
                .mini-cart-image {
                    float: left;
                    width: 30%;
                    box-sizing: border-box;
                }
                .mini-cart-product-details-cont {
                    float: left;
                    width: 70%;
                    box-sizing: border-box;
                    padding-left: 5px;
                    .mini-cart-name {
                        padding-bottom: 15px;
                        color: $sk-charcoal;
                    }
                    .mini-cart-pricing {
                        .mini-cart-price {
                            color: $sk-charcoal;
                            padding-right: 10px;
                            @media #{$tablet} {
                            	padding-right: 0;
                            }
                        }
                        .minicart-item-bonus {
                        	padding-right: 10px;
                        }
                    }
                    .attribute {
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
}
.checkout-tabs {
    float: left;
    width: 100%;
    border: 1px solid $sk-complement-pebble-1;
	.checkout-tab {
		float: left;
		width: 100%;
        font-family: $sk-main-medium;
		font-size: $font-12;
        font-weight: normal;
        letter-spacing: $font-05;
        text-transform: uppercase;
        box-sizing: border-box;
        &:first-child .checkout-tab-head {
            border-top: none;
        }
		.checkout-tab-head {
			float: left;
			width: 100%;
			background: transparent;
			border: 0 none;
			border-top: 1px solid $sk-complement-pebble-1;
			padding: 19px 0px 16px;
			position: relative;
			box-sizing: border-box;
            text-transform: uppercase;
            background-color: $sk-complement-pebble-5;
			h2 {
                font-family: $sk-main-medium;
				font-size: $font-14;
				color: $sk-dark-pebble;
				font-weight: normal;
				line-height: $font-14;
				padding-left: 35px;
			}
			&:before {
                content: "";
                float: left;
                display: block;
				position: absolute;
				top: 20px;
				left: 10px;
				height: 11px;
				width: 11px;
				border: none;
                color: $sk-dark-pebble;
                background: transparent;
                font-size: $font-20;
                background: url("../../images/sk-icons-sprite.png") no-repeat -176px -155px;
			}
            &.open {
                border-top: 1px solid transparent;
                background-color: $sk-light-pebble;
                h2 {
                    color: $white;
                }
                &:before {
                    content: "";
                    top: 25px;
                    left: 12px;
                    color: $white;
                    font-size: $font-20;
                    background: url("../../images/sk-icons-sprite.png") no-repeat -210px -159px;
                }
            }
			&.open ~ .checkout-tab-content {
				display: block;
				.checkout-shipping {
                    fieldset {
                        float: left;
                        width: 100%;
                    }
					.form-row {
						margin: 0 0 10px 0;
						&.useasbilling-row {
							margin-top: 20px;
							margin-left: 15px;
							box-sizing: border-box;
							@media #{$iphone} {
								margin-left: 0;
							}
						}
						&.addtoaddress-row  {
							margin-top: 20px;
							box-sizing: border-box;
							margin-left: 15px;
							@media #{$iphone} {
								margin-left: 0;
							}
						}
						@media #{$iphone} {
							margin: 0 0 20px 0 !important;
						}
						.saveShipping {
						    float: left;
                            width: auto;
                            margin-left: 0px;
                            padding: 9px 30px;
                            color: $white;
                            opacity: 1;
                            font-family: $sk-main-medium;
                            font-size: $font-12;
                            font-weight: normal;
                            letter-spacing: $font-05;
                            text-transform: uppercase;
                            border: none;
                            background-color: $sk-complement-pebble-2;
                            &:hover {
                                background-color: $sk-complement-pebble-2;
                            }
                            &:not(:disabled) {
                                background-color: $sk-light-pebble;
                                .saveShipping:hover {
                                    background-color: $sk-light-pebble;
                                }
                            }
                            @media #{$iphone} {
                                width: 100%;
                                margin: 15px 0 0 0;
                            }
    					}
					}
				}
			}
		}
	}
	.checkout-tab-content {
		float: left;
		width: 100%;
		padding: 30px;
		display: none;
        box-sizing: border-box;
        @media #{$iphone} {
        	padding: 20px;
        }
        #cart-table {
            font-size: $font-12;
            margin-bottom: 0;
            thead {
                th {
                    &.section-header {
                        &.header-total-price {
                            padding-right: 50px;
                            @media #{$tablet} {
                                padding-right: 0px;
                            }
                        }
                    }
                }
            }
            tbody {
                tr {
                    .item-details {
                        width: 50%;
                    }
                }
            }
            tfoot {
                .item-details {
                    .name {
                        float: left;
                        width: 100%;
                        padding-bottom: 20px;
                        color: $sk-charcoal;
                    }
                    .discount {
                        position: inherit;
                        width: 60%;
                        margin-top: 10px;
                        word-break: break-all;
                        @media #{$tablet} {
                        	width: 100%;
                        }
                        @media #{$iphone} {
                            position: static;
                            width: 100%;
                        }
                        > .value {
                            color: $sk-red;
                            display: inline-block;
                        }
                    }
                }
                tr {
                    &:last-child {
                        border: none;
                        td {
                            padding: 30px 5px 40px;
                        }
                    }
                    td {
                    	padding: 30px 5px;
                    }
                }
                .item-quantity-details {
                    .item-edit-details {
                        position: absolute;
                        width: 50%;
                        box-sizing: border-box;
                        word-wrap: break-word;
                    }
                }
            }
        }
	}
}
.spc-login {
	.loggeduser {
		.spc-guest-btn {
			width: auto;
            padding: 8px 30px;
		    text-transform: uppercase;
		    font-family: $sk-main-medium;
    		font-size: $font-12;
		    border: none;
		    float: right;
            box-sizing: border-box;
		    &:hover {
		    	color: $white;
		    }
			@media #{$iphone} {
				width: 100%;
				margin-bottom: 20px;
			}
		}
		> a {
			float: left;
			margin-right: 20px;
            padding: 9px 30px;
			color: $white;
            background: $sk-light-pebble;
			@media #{$iphone} {
				margin: 0px 0px 20px 0px;
				width: 100%;
				box-sizing: border-box;
			}
		}
		@media #{$iphone} {
			text-align: center;
		}
	}
	
	.checkoutlogin {
		float: left;
		width: 100%;
		margin: 0;
		padding: 3px 0 20px;
		box-sizing: border-box;
		@media #{$medium-tab} {
			padding-left: 0px;
			padding-right: 0px;
		}
        @media #{$iphone} {
            padding: 20px 0px 0px;
        }
		.col-1 {
			width: 50%;
			box-sizing: border-box;
			padding-left: 15px;
			margin: 54px 0 0;
			float: left;
            border: none;
            @media #{$iphone} {
                width: 100%;
                padding: 0px;
                margin-top: 10px;
			}
			.main-vertical-line {
				float: left;
    			width: 4%;
    			 @media #{$iphone} {
	             	display: none;
				}
			}
			.vertical-line {
				height: 84px;
			    width: 1px;
			    background: $sk-cloud;
			}
			.vertical-txt {
				font-size: $font-12;
			    line-height: $font-16;
			    letter-spacing: $font-05;
			    text-transform: uppercase;
			    margin: 5px 0 5px -9px;
			    color: $sk-dark-pebble;
			}
			.login-box {
				float: left;
			    width: 85%;
			    padding-left: 60px;
			    box-sizing: border-box;
			    @media #{$tablet-maxlandscape} {
			    	width: 95%;
			    	padding-left: 18px;
			    }
			    @media #{$tablet} {
			    	width: 95%;
					padding-left: 18px;
			    }
			    @media #{$iphone} {
			    	width: 100%;
			    	padding: 0;
			    }
			}
		}
		.col-2 {
			width: 50%;
			padding-left: 0px;
			box-sizing: border-box;
			margin: 0;
			float: left;
            border: none;
			@media #{$medium-tab} {
				padding-left: 10px;
			}
            @media #{$iphone} {
				float: left;
                width: 100%;
                padding-left: 0px;
			}
		}
		.form-row label {
			text-transform: uppercase;
		}
		.login-box {
            position: relative;
			h2 {
                font-family: $sk-main-demi;
				color: $sk-dark-pebble;
				font-size: $font-14;
				font-weight: normal;
			}
			p {
				margin: 0px;
				line-height: 20px;
                color: $sk-dark-pebble;
                font-family: $sk-main-medium;
			}
			button {
				margin: 20px 0px 0px;
                float: left;
                font-size: $font-12 + 2;
                letter-spacing: $font-05;
				text-transform: uppercase;
                background: transparent;
                border: 1px solid $sk-light-pebble;
                color: $sk-dark-pebble;
                padding: 5px 30px;
                box-sizing: border-box;
                height: 30px;
                font-family: $sk-main-medium;
                width: 100%;
                &:hover {
                    color: $sk-dark-pebble;
                }
				@media #{$iphone} {
					width: auto;
					padding: 4px 20px;
				}
				&.oAuthIcon {
					height: auto;
    				padding: 5px 5px 6px;
    				border-color: $mariner;
				    background: $mariner;
				    color: $white;
				    @media #{$iphone} {
				    	width: 100%;
				    }
				}
			}
            .dialog-required {
                float: right;
                line-height: 18px;
                em {
                    font-size: $font-12 - 1px;
                    color: $sk-dark-pebble;
                    text-transform: uppercase;
                    vertical-align: middle;
                }
                @media #{$small-phone} {
					position: static;
                    width: 100%;
                    text-align: left;
                    padding: 5px 0px 0px;
				}
            }
			.login-box-content {
				float: left;
				width: 100%;
                .form-row {
                	margin-bottom: 15px;
                    label {
                        width: auto;
                        min-width: 50%;
                        font-family: $sk-main-book;
                        color: $sk-nav-grey;
                        > span {
                            display: block;
                            float: left;
                            letter-spacing: 1px;
                        }
                    }
                    .field-wrapper {
                        width: 78%;
                        @media #{$iphone}{
                        	width: 100%;
                        }
                        input[type="text"] {
                       		height: 30px;
                       		font-family: $sk-main-book;
                        }
                        &.checkbox-wrapper {
                            width: auto;
                        }
                    }
                }
                .form-button-row {
                    button {
                        width: 100%;
                        font-weight: normal;
                    }
                }
				.create-account-benefits {
                    .content-asset {
                        .sub-head, ul li {
                            font-family: $sk-main-book;
                            line-height: $font-14;
                            color: $sk-dark-pebble;
                        }
                        .sub-head {
                            font-family: $sk-main-demi;
                            padding-bottom: 20px;
                        }
                        ul {
                            li {
                                list-style-type: disc;
                                padding-bottom: 10px;
                            }
                        }
                    }
				}
				.guest-login-row {
					margin: 55px 0px 0px;
					@media #{$iphone} {
						display: none;
					}
					button {
						width: 100%;
					    margin: 0px;
					    background-color: $sk-quick-grey;
					    color: $white;
					    font-family: $sk-main-demi;
					    padding: 5px 5px 6px;
					    height: auto;
					    display: none;
                        @media #{$tablet} {
                            width: 95%;
                            padding: 8px;
                        }
					}
				}
				.create-account-row {
					margin: 50px 0px;
					@media #{$iphone} {
						margin: 35px 0px;
					}
                    button {
                        @media #{$tablet} {
                            width: 95%;
                            padding: 8px;
                            height: auto;
                        }
                    }
				}
				&.returning-customers {
					form {
						margin-top: 37px;
						button {
							float: left;
							margin-right: 20px;
						}
						.form-row-button {
							margin: 6px 0px 0px;
							width: 100%;
                            button {
                            	width: 78%;
                                margin: 0px;
                                background-color: $sk-nav-grey;
                                color: $white;
                                height: 30px;
                                font-family: $sk-main-demi;
                                @media #{$tablet} {
                                	margin: 0 10px 0 0;
                                	padding: 0px 20px;
                                }
                                @media #{$iphone} {
                                	margin: 0;
                                	width: 100%;
                                	padding: 0 15px;
                                }
                            }
						}
						.password-reset-row {
							float: left;
    						width: 78%;
    						@media #{$iphone} {
    							width: 100%;
    						}
    						.password-reset-link {
    							float: left;
							    width: auto;
							    margin-top: 20px;
							    @media #{$tablet-maxlandscape} {
									width: 100%;
									float:  left;
								}
								@media #{$tablet}{
									width: 100%;
									float:  left;
								}
    						}
						}
						.login-rememberme {
							    width: auto;
							    margin: 20px 0 0 ;
							    text-align: right;
							    float: right;
							    span {
							    	text-transform: capitalize;
							    }
							    @media #{$tablet-maxlandscape} {
									width: 100%;
									float:  left;
								}
								@media #{$tablet}{
									width: 100%;
									float:  left;
								}
								@media #{$iphone} {
									width: auto;
									float: right;
								}
						}
					}
					
					#password-reset {
				        font-size: $font-12;
                        color: $sk-dark-pebble;
						font-family: $sk-main-book;
					    letter-spacing: 1px;
					    border-bottom: 1px solid $sk-dark-pebble;
					    &:hover {
					    	text-decoration: none;
					    }
						@media #{$iphone} {
							float: left;
							width: auto;
						}
					}
					
					.login-oauth {
						text-align: center;
						padding-top: 30px;
						p {
							display: none;
						}
						form {
							margin: 0px;
						}
						button.oAuthIcon {
							background: transparent;
							border: none;
                            font-family: $sk-main-demi;
							font-size: $font-12 - 1px;
							letter-spacing: $font-05;
							color: $sk-dark-pebble;
                            padding: 1px 0px 0px;
							margin: 0px;
							float: left;
                            span {
                                float: left;
                                line-height: 16px;
                                i {
                                    float: left;
                                    display: inline-block;
                                    width: 14px;
                                    height: 14px;
                                    padding-left: 8px;
                                    background: url('../../images/sk-icons-sprite.png') no-repeat -131px -149px;
                                }
                            }
							@media #{$tablet} {
								width: auto;
							}
						}
					}
				}
			}
		}
	}
}
.checkout-tab:not(.spc-login) {
	legend {
		margin-bottom: 25px;
		background: none;
	    width: 79%;
        span {
            font-family: $sk-main-medium;
            font-size: $font-14;
            letter-spacing: $font-05;
            text-transform: uppercase;
            line-height: 14px;
            color: $sk-charcoal;
            font-weight: normal;
            padding: 0px;
        }
        @media #{$tablet} {
	    	width: 84%;
	    }
	    @media #{$iphone} {
	    	width: 100%;
	    }
	    .dialog-required {
	    	text-align: right;
    		float: right;
    		.required-indicator, em {
    			font-size: $font-12 - 1px;
    			color: $sk-dark-pebble;
                text-transform: uppercase;
    		}
	    }
	}
	.custom-select {
		.country {
			+ .selected-option {
				&:before {
					display: none;
				}
			}
		}
		.selected-option {
			min-height: 35px;
			line-height: 23px;
			font-size: $font-12;
			text-transform: uppercase;
            letter-spacing: $font-05;
            font-weight: normal;
            color: $sk-charcoal;
            text-overflow: ellipsis;
    		white-space: nowrap;
			&:before {
                content: "";
                position: absolute;
                top: 45%;
                display: block;
				width: 9px;
				height: 5px;
				border: none;
                background: url("../../images/sk-icons-sprite.png") no-repeat -398px -29px;
			}
		}
	}
	.checkbox-wrapper {
		.custom-checkbox {
			width: 16px;
			height: 16px;
            border: 1px solid transparent;
            background-color: $sk-complement-pebble-5;
		}
		input[type="checkbox"]:checked ~ .custom-checkbox {
			background-position: -142px -62px;
            background-color: $white;
            border: 1px solid $sk-complement-pebble-1;
		}
		& ~ label {
			margin-top: 2px;
		} 
	}
	.checkout-shipping {
		.addtoaddress-row {
			margin-bottom: 14px;
		}
		.useasbilling-row {
			margin-bottom: 0;
		}
		
		#shipping-method-list {
			margin: 40px 0 0;
			border-top: 1px solid $sk-complement-pebble-1;
			float: left;
			width: 100%;
		    padding: 50px 0 20px 0;
		    @media #{$iphone} {
                margin: 25px 0 0;
		    	padding: 40px 0 20px 0;
		    }
		    border-bottom: 1px solid $sk-complement-pebble-1;
			legend {
				font-family: $sk-main-medium;
                color: $sk-charcoal;
			}
			.form-row.label-inline {
                float: left;
                width: 100%;
                box-sizing: border-box;
				margin-bottom: 20px;
			}
			.radio-label {
				padding-left: 15px;
				width: 100%;
				display:block;
				@media #{$iphone} {
					width: 100%;
				}
				.label-msg {
					color: $sk-dark-pebble;
					font-family: $sk-main-medium;
				    margin-left: 0;
				    width: calc(100% - 39px);
				    float: right;
				    @media #{$iphone} {
				    	width: calc(100% - 29px);
				    }
				}
				& ~ * {
					padding-left: 50px;
                    margin-left: 0px;
					color: $sk-dark-pebble;
					font-family: $sk-main-medium;
					@media #{$iphone} {
						padding-left: 28px;
					}
				}
				@media #{$iphone} {
					padding-left: 0px;
				}
			}
		}
		.form-row-button {
			float: left;
            width: 100%;
            padding: 20px 0px 0px 27%;
            box-sizing: border-box;
		    @media #{$medium-tab} {
				margin-left: 30%;
			}
			@media #{$iphone} {
				margin-left: 0px;
				padding: 0px;
				width: 100%;
			}
		}
	}
	.checkout-billing {
		.form-row-button { 
			width: 100%;
		    margin-left: 0;
			padding-left: 27%;
			box-sizing: border-box;
			margin-top: 30px;
			@media #{$tablet-landscape} {
				padding: 0;
				text-align: center;
			}
			@media #{$iphone} {
				padding-left: 0px;
				margin-left: 0px;
				button {
					width: 100%;
				}
			}
		}
		.billing-coupon-row {
			margin-top: 30px;
			padding-bottom: 30px;
			border-bottom: 1px solid $sk-complement-pebble-1;
			legend {
			    width: 100%;
				padding: 40px 0px 0px;
                color: $sk-charcoal;
			    border-top: 1px solid $sk-complement-pebble-1;
		        box-sizing: border-box;
                @media #{$iphone} {
					width: 100%;
				}
			}
			.billing-coupon-code {
				padding-left: 25%;
				margin-left: 15px;
				box-sizing: border-box;
				.coupon-error {
					margin: 10px 0 20px 0;
					@media #{$iphone}{ 
						&.hide-mobile {
							display:none;
						}
					}
					&.hide-desktop {
						display:none;
						@media #{$iphone}{
							display:block;
							margin:10px 0;
						}
					}
				}
				.couponHeading {
					color: $sk-dark-pebble;
					font-size: $font-12;
				}
                > .form-row {
                    float: left;
                    width: 90%;
                    word-wrap: break-word;
                    box-sizing: border-box;
                }
				@media #{$iphone} {
					padding-left: 0px;
					margin-left: 0px;
                    .form-row {
                        width: 100%;
                    }
				}
			}
			.coupon-apply {
				float: left;
				width: 100%;
				margin-top: 30px;
				 @media #{$medium-tab} {
			    	display: inline-flex;
			    }
                .form-row {
                    label {
                        width: 100%;
                        margin: 0px 0px 15px;
                    }
                    .field-wrapper {
                        float: left;
                        width: 100%;
                        padding: 0px;
                        margin: 0px;
                        input {
                            float: left;
                            height: 32px;
                            padding: 0px 10px;
                        }
                    }
                }
				button {
                    float: left;
                    width: auto;
                    margin: 27px 0px 0px 10px;
                    padding: 10px 30px;
					font-family: $sk-main-medium;
                    font-size: $font-12;
                    line-height: $font-12;
                    font-weight: normal;
                    letter-spacing: $font-05;
                    color: $white;
                    text-transform: uppercase;
                    border: none;
                    background-color: $sk-light-pebble;
                    &:hover {
				        color: $white;
				        background-color: $sk-dark-pebble;
				    }
					@media #{$iphone} {
						width: 100%;
						margin: 15px 0px 0px;
					}
				}
				.coupon-error {
					margin-top: 10px;
				}
			}
		}
		.paymentmethods-row {
			margin-top: 0px;
			border-bottom: 1px solid $sk-complement-pebble-1;
			padding-bottom: 30px;
			.paypal_selected_account_email {
				padding-left: 25%;
    			margin: 0 0 10px 15px;
    			@media #{$medium-tab}{
    				padding-left: 22.73%;
    				margin-left: 15px;
    			}
    			@media #{$iphone}{
    				margin: 0 0 10px 15px;
    				padding: 0;
    			}
			}
			legend {
				padding: 50px 14px 0px 0;
			    width: 79%;
                span {
                    color: $sk-charcoal;
                }
			     @media #{$medium-tab} {
			    	width: 79.7%;
			    }
			    @media #{$iphone} {
			    	width: 100%;
			    }
			}
			.payment-method-options {
				padding-left: 25%;
				box-sizing: border-box;
				margin-bottom: 40px;
				margin-left: 15px;
				float: left;
				width: 100%;
				box-sizing: border-box;
				@media #{$iphone} {
					padding-left: 0px;
					margin-left: 0px;
				}
				label {
					width: auto;
					margin-right: 33px;
					margin-top: 0px;
					&:last-child {
						margin: 0px;
					}
				}
			}
			.form-row {
                .form-field-tooltip {
					margin-top: 8px;
					text-decoration: underline;
				}
                &.error {
                    .field-wrapper {
                        .input-text {
                            border: 1px solid $sk-red;
                        }
                        .custom-select {
                            border: 1px solid $sk-red;
                        }
                    }
                }
				&.month {
					width: 30%;
					margin-right: 20px;
					.form-caption {
						&.error-message {
                            width: 100%;    
							margin-left: 15px;
							@media #{$iphone} {
								margin-left: 0px;
							}
						}
					}
					label {
						display: none;
					}
					.field-wrapper {
						width: 100%;
					}
                    @media #{$iphone} {
                        width: 50%;
                        margin-right: 15px;
                    }
				}
				&.year {
					width: 21.4%;
					margin: 0px;
					label {
						display: none;
					}
					.field-wrapper {
						width: 100%;
                        padding-left: 0px;
						@media #{$medium-tab} {
						    padding-left: 0;
					    }
				    }
                    @media #{$tablet} {
                        width: 19%;
                    }
                    @media #{$iphone} {
                        width: 43%;
                    }
				}
			}
            @media #{$iphone} {
				margin-top: 0px;
			}
		}
        .form-row {
            button.button-fancy-large {
                padding: 8px 30px;
                font-family: $sk-main-medium;
                font-size: $font-12;
                letter-spacing: $font-05;
                text-transform: uppercase;
                color: $white;
                border: none;
                box-sizing: border-box;
            }
        }
        .redemption {
            .success {
                color: $sk-dark-pebble;
            }
        }
	}
}
.form-row {
	&.error {
		.form-caption {
			&.error-message {
				color: $sk-red;
			}
		}
	}
	&.cvn {
		.field-wrapper {
			width: 30%;
			@media #{$iphone} {
				width: 100%;
			}
		}
        @media #{$tablet-desktop} {
            .form-field-tooltip {
                width: 24%;
            }
        }
	}
    > label {
        float: left;
        width: 25%;
        box-sizing: border-box;
    }
    .field-wrapper {
        width: 54%;
        &.checkbox-wrapper {
            width: auto;
        }
        @media #{$iphone} {
            width: 100%;
        }
    }
    .form-field-tooltip {
        float: left;
        width: 21%;
        margin: 0px;
        padding: 3px 0px 0px 18px;
        box-sizing: border-box;
        &.shipping-email {
        	padding: 9px 0px 0px 12px;
        }
        a {
            color: $sk-dark-pebble;
        }
        @media #{$iphone} {
            display: none;
        }
    }
    .form-caption {
        margin-left: 27%;
        &.error-message {
        	border: 0;
        	padding: 0;
        	background-color: transparent;
        	color: $sk-red;
        	margin-left: 27%;
        	@media #{$tablet} {
            	margin-left: 28.5%;
        	}
        	@media #{$iphone} {
        		margin-left: 0px;
        	}
        }
        @media #{$tablet} {
            margin-left: 29%;
        }
        @media #{$iphone} {
            margin-left: 5px;
            width: 100%;
            &.error-message {
	        	color: $sk-red;
	        }
        }
    }
    &.required {
        & ~ .form-row {
            &:not(.required) {
                label {
                    span {
                        padding-left: 10px;
                    }
                }
                .checkbox-wrapper + label {
                    span {
                        padding-left: 0px;
                    }
                }
            }
        }
    }
}
#wrapper {
	&.pt_checkout {
		.primary-focus {
			#secondary {
				@media #{$iphone} {
					margin-bottom: 0px;
				}
				.mini-shipment, .mini-billing-address, .mini-payment-instrument {
					.details {
						padding-top: 30px;
						padding-bottom: 30px;
					}
				}
			}
		}
	}
}

.accepted-cards {
	width: 100%;
	float: left;
	margin-top: 20px;
	.cards-heading {
		text-transform: uppercase;
		font-family: $sk-main-demi;
		font-size: $font-12;
		letter-spacing: 1px;
		color: $sk-dark-pebble;
	}
	.cards-info-text {
		font-family: $sk-main-medium;
		font-size: $font-12;
		letter-spacing: 1px;
		color: $sk-dark-pebble;
	}
}
body {
	#wrapper {
		&.pt_checkout {
			#main {
				padding: 0 170px;
				@media #{$tablet} {
					padding: 0 45px;
				}
				.form-row {
					input {
						&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						  font-family: $sk-main-book;
						  color: #B1AFAF;
						}
						&::-moz-placeholder { /* Firefox 19+ */
						  font-family: $sk-main-book;
						  color: #B1AFAF;
						}
						&:-ms-input-placeholder { /* IE 10+ */
						  font-family: $sk-main-book;
						  color: #B1AFAF;
						}
						&:-moz-placeholder { /* Firefox 18- */
						  font-family: $sk-main-book;
						  color: #B1AFAF;
						}
					}
				}
			}
		}
	}
}
#wrapper {
	&.pt_checkout {
		#main {
			#primary {
				width: 67%;
				@media #{$tablet-maxlandscape} {
					height: auto !important;
				}
				@media #{$tablet}{
					height: auto !important;
				}
				.checkout-billingcontent {
					margin-top: 0px;
					padding-right: 30px;
					box-sizing: border-box;
					@media #{$tablet} {
						padding-right: 0;
					}
					.guest-checkout {
						font-family: $sk-main-demi;
						font-size: $font-14;
						text-transform: uppercase;
						margin-bottom: 15px;
						letter-spacing: 1px;
						color: $sk-dark-pebble;
					}
					.secure-payment {
						padding: 12px 0 12px 15px;
						box-sizing: border-box;
						background-color: $sk-dark-pebble;
						color: $white;
						font-family: $sk-main-demi;
						font-size: $font-14;
						margin-bottom: 25px;
						letter-spacing: 1px;
					}
					.spc-billing {
						.checkout-billing {
							.payment-method-expanded {
								.creditcard-heading {
									font-family: $sk-main-demi;
									font-size: $font-14;
									letter-spacing: 1px;
									color: $sk-dark-pebble;
									padding-left: 15px;
									margin-bottom: 20px;
								}
							}
							.gift-cert-used {
								margin-left: 0;
							}
							.form-row {
								input#dwfrm_billing_billingAddress_addressFields_city {
									width: 216px;
									@media #{$tablet-maxlandscape} {
										width: 175px;
									}
									@media #{$tablet} {
										width: 175px;
									}
								}
								input#dwfrm_billing_billingAddress_addressFields_postal {
									width: 150px;
								}
								label {
									width: 23%;
									padding-left: 15px;
								}
								.form-caption {
									display: none;
								}
								&.month {
									width: 29%;
									float: left;
									@media #{$iphone} {
										width: 40%;
										.field-wrapper {
											width: 100%;
										}
									}
									.field-wrapper {
										width: 100%;
									}
								}
								&.year {
									width: 25%;
									float: left;
									@media #{$iphone} {
										width: 30%;
									}
									.field-wrapper {
										width: 100%;
									}
								}
								&.cvn {
									.field-wrapper {
										width: 29%;
										input[type="text"] {
											background-size: 15px;
										}
									}
									.cvn-tooltip-image {
										display: block;
										.tooltip {
											width: 17px;
											height: 17px;
											background: url("../../images/sk-info-icon.png") no-repeat;
										}
									}
								}
								.form-field-tooltip {
									padding: 9px 0px 0px 10px;
								}
								&.addtoaddress-row {
									margin: -20px 0 20px 0;
									padding-left: 25.3%;
									box-sizing: border-box;
									@media #{$tablet-maxlandscape} {
										padding-left: 26.5%;
									}
									@media #{$tablet} {
										padding-left: 26.5%;
									}
									@media #{$iphone} {
										padding-left: 33.9%;
										.field-wrapper {
											width: auto !important;
											padding-left: 0 !important;
										}
									}
									label {
										padding-left: 0;
										width: auto;
										@media #{$iphone} {
											width: auto !important;
											margin: 3px 0px 0px 8px !important;
										}
									}
								}
								&.save-card-row {
									padding-left: 25.3%;
									margin-left: 0;
									box-sizing: border-box;
									@media #{$tablet-maxlandscape} {
										padding-left: 26.5%;
									}
									@media #{$tablet} {
										padding-left: 26.5%;
									}
									@media #{$iphone} {
										padding-left: 33.9%;
										.field-wrapper {
											width: auto !important;
											padding-left: 0 !important;
										}
										label {
											width: auto !important;
											margin: 3px 0px 0px 8px !important;
										}
									}
									label {
										padding-left: 0;
										width: auto;
									}
								}
							}
							.accepted-cards {
								padding-left: 15px;
							}
							.other-payment-section {
								width: 100%;
								float: left;
								padding: 25px 0 25px 15px;
								box-sizing: border-box;
								margin-top: 25px;
								border-top: 1px solid #C3BEB6;
								border-bottom: 1px solid #C3BEB6;
								.other-payment-head {
									font-family: $sk-main-demi;
									font-size: $font-14;
									letter-spacing: 1px;
									color: $sk-dark-pebble;
									margin-bottom: 25px;
								}
								.dw-apple-pay-button {
									min-width: 220px;
									float: left;
									font-size: $font-14;
									border-radius: 0;
									padding: 17.5px 0;
									margin-bottom: 18px;
									background-image: url(../../images/ApplePay-BuyWith.png);
									background-size: auto;
								}							
								.sk-paypal-button {
									clear: both;
									min-width: 220px;
								    float: left;
								    font-size: $font-14;
								    background-color: $sk-checkout-paypal;
								    border-radius: 0;
								    font-family: $sk-main-demi;
								    letter-spacing: 1px;
								    color: $white;
								    text-transform: uppercase;
								    padding: 7px 0;
								    text-align: center;
								    margin-top: 0;
								    &:hover {
								    	text-decoration: none;
								    }
								    .paypal-btn {
								    	&.icons-sprite {
								    		display: inline-block;
										    width: 64px;
										    height: 18px;
										    background-position: -20px -362px;
										    margin-right: 5px;
										    position: relative;
										    top: 5px;
								    	}
								    }
								}
								.paypal_selected_account_email {
									width: 100%;
									float: left;
									margin: 8px 0 0 0;
									font-size: $font-12;
									font-family: $sk-main-medium;
									color: $sk-dark-pebble;
									b {
										font-weight: normal;
									}
								}
							}
							.billing-head {
								padding: 25px 0 15px 15px;
								font-family: $sk-main-demi;
								font-size: $font-14;
								letter-spacing: 1px;
								display: block;
								color: $sk-dark-pebble;
								@media #{$iphone} {
									padding-left: 0;
								}
							}
							.shippingequalsbilling {
								margin: 0 0 20px 0;
								padding-left: 15px;
								@media #{$iphone} {
									padding-left: 0;
								}
								label {
									margin: 3px 0 0 0;
								    padding-left: 10px;
								    width: auto;
								}
							}
							.couponcode-main {
								width: 100%;
								float: left;
								padding: 25px 0;
								border-top: 1px solid #C3BEB6;
								border-bottom: 1px solid #C3BEB6;
								.coupon-head {
									font-family: $sk-main-medium;
									font-size: $font-14;
									text-transform: uppercase;
									letter-spacing: 1px;
									padding: 0 15px;
									&.icons-sprite {
										&.active {
											&:before {
												content: ' ';
											    float: right;
											    display: inline-block;
											    width: 17px;
											    height: 2px;
											    background: url(../../images/sk-icons-sprite.png) -316px -365px no-repeat;
    											top: 6px;
											}
										}
										&:before {
											content: ' ';
										    float: right;
										    display: inline-block;
										    width: 18px;
										    height: 18px;
										    background: url(../../images/sk-icons-sprite.png) -236px -360px no-repeat;
										    position: relative;
										    top: -3px;
										}
									}
								}
								.form-indent {
									&.billing-coupon-code {
										display: none;
										margin-left: 0;
										&.active {
											display: block;
										}
										.form-row {
											&.coupon-error {
												margin: 0;
												padding: 10px 0 0 15px;
												&.hide-desktop {
													display: none;
												}
											}
										}
										.redemption {
											width: 100%;
											.success {
												color: $sk-dark-pebble;
												padding: 5px 0 0 15px;
												font-family: $sk-main-medium;
											}
										}
										.coupon-apply {
											margin-left: 0;
										    width: 100%;
										    margin-top: 30px;
											.form-row {
												&.label-above {
													width: 36%;
													@media #{$iphone} {
			    										width: 100%;
													}
													label {
														display: none;
													}
													.field-wrapper {
														width: 100%;
													}
												}
											}
											#add-coupon {
												background-color: $white;
												height: 36px;
												min-width: 100px;
												color: $sk-dark-pebble;
												border: 1px solid $sk-dark-pebble;
												margin-left: 10px;
												@media #{$iphone} {
		    										margin: 10px 0 0;
		    										width: 100%;
												}
											}
										}
									}
								}
							}
							.button-fancy-large {
								min-width: 170px;
								margin: 23px 0 0 15px;
								font-family: $sk-main-demi;
								font-size: $font-14; 
								letter-spacing: 1px;
								padding: 10px 30px;
								height: 35px;
							    box-sizing: border-box;
							}
						}
					}
				}
				.guest-checkout, .secure-checkout {
					font-family: $sk-main-demi;
				    font-size: $font-14;
				    text-transform: uppercase;
				    margin-bottom: 15px;
				    letter-spacing: 1px;
				    color: $sk-dark-pebble;
				    p.guest-para {
				    	font-family: $sk-main-book;
				    	font-size: $font-12;
				    	color: $sk-dark-pebble;
				    	margin-top: 10px;
				    }
				}
				.paypalerroe {
					width: 100%;
					float: left;
					.paypal_shipping_error {
						padding-bottom: 15px;
						width: 100%;
						float: left;
						color: $sk-red;
						font-family: $sk-main-book;
						font-size: $font-14;
					}
				}
				.secure-checkout {
					margin-bottom: 22px;
				}
				.spc-shipping {
					width: 100%;
					padding-right: 30px;
    				box-sizing: border-box;
    				@media #{$tablet} {
						padding-right: 0;
					}
					.checkout-shipping {
						> fieldset {
							legend {
								margin-bottom: 25px;
							}
						}
					}
					.shipping-heading-info {
						width: 100%;
						display: block;
						padding: 12px 0 12px 15px;
					    box-sizing: border-box;
					    background-color: $sk-dark-pebble;
					    color: $white;
					    font-family: $sk-main-demi;
					    font-size: $font-14;
					    letter-spacing: 1px;
					}
					.checkout-shipping {
						.form-row {
							label {
								width: 23%;
    							padding-left: 15px;
							}
							.field-wrapper {
								@media #{$iphone} {
									width: 74%;
								}
							}
							&.useasbilling-row {
								margin-left: 0;
								padding-left: 25.3%;
								box-sizing: border-box;
								@media #{$tablet-maxlandscape} {
									padding-left: 26.5%;
								}
								@media #{$tablet}{
									padding-left: 26.5%;
								}
								label {
									width: auto;
									padding-left: 0;
									@media #{$iphone} {
										width: 65%;
										margin-top: 0;
									}
								}
							}
							&.addtoaddress-row {
								margin-left: 0;
								margin-bottom: 10px;
								padding-left: 25.3%;
								width: auto;
								@media #{$tablet-maxlandscape} {
									padding-left: 26.5%;
								}
								@media #{$tablet} {
									padding-left: 26.5%;
								}
								label {
									width: auto;
									padding-left: 0;
									@media #{$iphone} {
										width: auto !important;
										margin: 3px 0px 0px 8px !important;
									}
								}
							}
							input#dwfrm_singleshipping_shippingAddress_addressFields_city {
								width: 216px;
								@media #{$tablet-maxlandscape} {
									width: 175px;
								}
								@media #{$tablet} {
									width: 175px;
								}
							}
							input#dwfrm_singleshipping_shippingAddress_addressFields_postal {
								width: 150px;
							}
							.form-field-tooltip {
								&.country-tooltip {
									padding: 9px 0 0 12px;
									.tooltip {
										width: 25px;
										height: 25px;
										display: inline-block;
										background: url("../../images/sk-info-icon.png") no-repeat;
									}
								}
							}
							&.only-one-shipmethod {
			    				.radio-label {
			    					.custom-radio {
									    opacity: 0;
			    					}
			    					.radio-col2 {
									    padding-left: 12px !important;
			    					}
			    					.label-msg {
				    					@media #{$tablet-maxlandscape} {
				    						margin-top: 0;
				    					}
				    				}
			    				}
			    			}
						}
						.shipping-method-list-container {
							margin-top: 25px;
							padding: 25px 15px;
							box-sizing: border-box;
							border-top: 1px solid #C3BEB6;
							border-bottom: 1px solid #C3BEB6;
							.shipping-heading {
								padding-bottom: 0;
								font-family: $sk-main-demi;
					    		font-size: $font-14;
					    		letter-spacing: 1px;
					    		color: $sk-dark-pebble;
							}
							.shippingmethods {
								width: 100%;
								float: left;
								&.inactive {
									display: none;
								}
								&.active {
				    				display: block;
				    				margin-top: 25px;
				    				padding-left: 75px;
									background: url('../../images/shipping-box.png') no-repeat left center;
									background-size: 50px;
				    			}
							}
							.form-row {
								&.form-indent {
									padding-left: 0;
									margin: 0 0 15px 0;
									.radio-label {
										float: left;
										width: auto;
										@media #{$tablet-maxlandscape} {
											width: 100%;
										}
										@media #{$tablet} {
											width: 100%;
										}
										padding-left: 0;
										.radio-col1 {
											width: auto;
											float: left;
											@media #{$tablet-maxlandscape} {
												width: 15%;
											}
											@media #{$tablet} {
												width: 15%;
											}
											.input-radio,.custom-radio  {
												top: 38%;
						    					position: absolute;
						    					@media #{$tablet-maxlandscape} {
													top: 49%;
												}
											}
										}
										.radio-col2 {
											width: auto;
											float: left;
											padding-left: 35px;
											box-sizing: border-box;
											margin-top: 5px;
											@media #{$tablet-maxlandscape} {
												width: 75%;
											}
											@media #{$tablet}{
												width: 75%;
												padding-left: 25px;
											}
											.label-msg,.form-caption {	
												font-family: $sk-main-book;
												margin: 0;
											}
										}
									}
								}
							}
						}
						.button-fancy-large {
							font-size: $font-14;
							font-family: $sk-main-demi;
							letter-spacing: 1px;
							margin: 25px 0 0 25%;
							padding: 10px 30px;
						    height: 35px;
						    min-width: 200px;
						    box-sizing: border-box;
						}
					}
				}
			}
			#secondary {
				width: 33%;
				padding-left: 0;
				.checkout-secondary {
					margin-top: 95px;
					@media #{$tablet-maxlandscape} {
						margin-top: 114px;
					}
					@media #{$tablet}{
						margin-top: 114px;
					}
					&.reg-user {
						margin-top: 78px;
						@media #{$tablet-maxlandscape} {
							margin-top: 80px;
						}
						@media #{$tablet}{
							margin-top: 80px;
						}
					}
					.checkout-mini-cart {
						.mini-cart-name {
							.mini-desc-name {
								font-family: $sk-main-book;
								color: $sk-dark-pebble;
								text-transform: none;
							}
						}
						.mini-cart-pricing {
							.pricing-section {
								margin-top: 10px;
								.mini-cart-price-label {
									display: none;
								}
							}
						}
					}
				}
				.mini-cart-bottom {
					width: 100%;
					float: left;
					margin: 30px 0;
					ul {
						margin: 0;
					}
				}
				.order-component-block {
					margin: 0;
				}
			}
		}
	}
}.billing-address {
	fieldset {
		width: 100%;
	}
}