.site-sk,.form-horizontal {
	.custom-select {
		&.country-name {
			.country {
				+ .selected-option {
					&:before {
						display: none;
					}
				}
			}
		}
        border: none;
        &.current_item {
            border: none;
            .selected-option {
                border: 1px solid $sk-complement-pebble-3;
                border-bottom-color: transparent;
            }
        }
		.selected-option {
			font-family: $sk-main-medium;
			letter-spacing: 1px;
			&.selected {
		    	font-family: $sk-main-medium;
		    	line-height: 22px;
		    	color: $sk-charcoal;
	    	} 
		}
		.selection-list {
    		box-sizing: border-box;
    		border: 1px solid $sk-complement-pebble-3;
    		border-top-color: $white;
            z-index: 999;
			li {
			    text-transform: uppercase;
    			font-size: $font-12;
				font-family: $sk-main-medium;
				color: $sk-charcoal;
			}
		}
		select.error ~ .selected-option {
      		  border: 1px solid $sk-red;
        }
	}
}