#wrapper {
	&.pt_emailsubscription {
		.primary-content {
			width: 100%;
			margin: 0 auto;
			padding: 50px 0;
			@media #{$iphone} {
				padding: 50px 20px;
				box-sizing: border-box;
			}
			h1 {
				font-size: $font-18;
				font-family: $sk-main-medium;
				text-transform: uppercase;
				color: $sk-dark-pebble;
				@media #{$iphone} {
					padding-top: 0px;
					padding-bottom: 20px;
				}
			}
			.dialog-required {
				width: 30%;
			    float: right;
			    position: relative;
			    top: -42px;
			    right: 1%;
			    @media #{$tablet-maxlandscape} {
			    	right: 3%;
			    }
			    @media #{$tablet} {
			    	width: 35%;
			    	right: 1%;
			    }
			    @media #{$iphone} {
			    	width: auto;
			    }
			    .required-indicator em {
			    	font-family: $sk-main-medium;
					font-size: $font-12;
					color: $sk-dark-pebble;
					text-transform: uppercase;
			    }
			}
			legend {
				width: 50%;
				margin: 0 auto;
				text-align: center;
				font-family: $sk-main-book;
				font-size: $font-18;
				color: $sk-dark-pebble;
				padding-bottom: 25px;
				border-bottom: 1px solid $sk-dark-pebble;
				letter-spacing: 1px;
				@media #{$iphone} {
					width: 100%;
					float: left;
					text-align: left;
					padding-left: 15px;
					box-sizing: border-box;
				}
			}
			.form-horizontal {
				width: 100%;
				float: left;
				.emailsubscription {
					width: 50%;
					margin: 0 auto;
					@media #{$iphone} {
						width: 100%;
						float: left;
						padding: 0 15px;
						box-sizing: border-box;
					}
					.emailSign {
						width: 65%;
						margin: 0 auto;
						@media #{$iphone} {
							width: 100%;
							float: left;
						}
						.form-row {
							width: 100%;
							float: left;
							margin-bottom: 27px;
							label {
								width: 100%;
								float: left;
								margin: 30px 0 10px 0;
								font-family: $sk-main-medium;
								font-size: $font-12;
							} 
							.field-wrapper {
								width: 100%;
								float: left;
								padding: 0;
							}          
						}
						.emailsubcriptionSign {
							width: 100%;
							float: left;
							.form-indent {
								width: 25%;
								display: inline-block;
								margin: 0;
								padding: 0;
								@media #{$tablet} {
									width: 40%;
								}
								@media #{$iphone} {
									width: 40%;
								}
								.radio-label {
									margin: 0;
								}
							}
							.clearfix {
								float: left;
							}
						}
						.birthaday_wrap {
							width: 100%;
							float: left;
							.form-label-text {
								width: 100%;
								padding: 30px 0 10px 0;
								text-align: left;
								font-family: $sk-main-medium;
								font-size: $font-12;
								color: $sk-dark-pebble;
								text-transform: uppercase;
								font-weight: normal;
								letter-spacing: 0.7px;
							}
							.form-row {
								&.year,&.month {
									width: 30%;
									float: left;
									margin-right: 5%;
									@media #{$iphone} {
										margin-right: 12px;
									}
									@media #{$tablet} {
										margin-right: 12px;
									}
									label {
										width: 33%;
										float: left;
									}
								}
								&.day {
									width: 30%;
									float: left;
									label {
										width: 33%;
										float: left;
									}
								}
								.field-wrapper {
									.custom-select {
										.selected-option {
											font-family: $sk-main-medium;
											font-size: $font-12;
											color: $sk-dark-pebble;
											text-transform: uppercase;
											line-height: normal;
											padding: 10px 25px 8px 10px;
											border: 1px solid $white;
											&:before {
												content: ' ';
											    background: url("../../images/sk-icons-sprite.png") no-repeat -236px -159px;
											    width: 9px;
												height: 6px;
											    display: inline-block;
											    border: 0;
											    right: 14px;
											    display: block;
											    pointer-events: none;
											    position: absolute;
											    z-index: 1;
											    top: 38%;
							              	}
										}
										&.current_item {
											.selection-list {
												li {
												    text-transform: uppercase;
												    font-family: $sk-main-medium;
													font-size: $font-12;
												    color: $sk-dark-pebble;
												}
											}
										}
									}
								}
							}
						}
						.form-row.form-row-button {
							margin-bottom: 0;
							@media #{$iphone} {
								width: 100%;
								float: left;
							}
							button {
								padding: 0 50px;
								@media #{$iphone} {
									width: 100%;
									padding: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}