footer {
	background-color: $sk-dark-pebble;
}
.main-footer {
	padding: 0 8% 0 8%;
	@media #{$tablet-maxlandscape} {
		padding: 0 4% 0 4%;
	}
} 
.footer-container {
	a {
		color: $white;
	}
	.footer-email-signup {
		width: 20%;
		float:left;
		.hide-desktop {
			display: none;
		}
	}
	.footer-account {
		width: 20%;
		float: left;
		.footer-store {
			width: 100%;
			float: left;
			padding-top: 12px;
			ul {
				margin: 0;
				padding: 0;
			}
			li {
				list-style-type: none;
				.store-icon {
					background-position: -265px -64px;
					width: 10px;
					height: 13px;
					display: inline-block;
				}
				a {
					font-family: $sk-main-demi;
					font-size: $font-10 + 1;
					text-transform: uppercase;
					margin-left: 6px;
					color: $white;
				}
			}
		}
	}
	.footer-support {
		width: 24%;
		float: left;
	}
	.footer-about {
		width: 36%;
		float: left;
		.inner-footer {
			position: relative;
			width: 100%;
			padding-left: 65px;
			box-sizing: border-box;
			border-left: 1px solid $white;
		}
		.copyright {
			font-family: $sk-main-medium;
			font-size: $font-12 - 1px;
			color: $white;
			text-transform: lowercase;
		}
	}
	.footer-item {
		h2 {
			font-family: $sk-main-demi;
			font-size: $font-12;
			color: $white;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			margin: 0 0 18px;
		}
		.menu-footer {
			li {
				margin-bottom: 10px;
				line-height: 14px;
				a {
					font-family: $sk-main-book;
					font-size: $font-12;
					color: $white;
					text-transform: uppercase;
					letter-spacing: 0.5px;
					&:hover {
						color: $white;
					}
				}
			}
		}
		.social-links {
			width: 100%;
			float: left;
			margin-bottom: 40px;
			padding: 0;
			li {
				padding-right: 15px;
				a.facebook{	
					background-position: -105px -101px;
					width: 9px;
					height: 19px;
					display: inline-block;
				}
				a.pinterest {
					background-position: -130px -101px;
					width: 15px;
					height: 19px;
					display: inline-block;
				}
				a.youtube {
					background-position: -160px -101px;
					width: 20px;
					height: 19px;
					display: inline-block;
				}
				a.instagram {
					background-position: -194px -101px;
					width: 20px;
					height: 19px;
					display: inline-block;
				}
				a.twitter {
					background-position: -227px -101px;
					width: 24px;
					height: 19px;
					display: inline-block;
				}
			}
		}
	}
}
  
.footer-subscription-form {
	margin-bottom: 25px;
	position: relative;
	.form-row label {
		display: none;
	}
	.field-wrapper {
		position: relative;
        float: left;
        width: 100%;
        .foot-tooltip {
			display: none;
			position: absolute;
			bottom: 46px;
			right: 54.5%;
			font-family: $sk-main-medium;
			background-color: $sk-tool-col;
			color: $sk-dark-pebble;
			letter-spacing: 0.5px;
			border: 1px solid $sk-complement-pebble-2;
			padding: 15px 10px;
			font-size: $font-10 + 1;
			box-sizing: border-box;
			max-width: 80%;
			width: 100%;
   			white-space: normal;
   			@media #{$tablet-maxlandscape} {
   				right: 52%;
   			}
   			&:after {
   				content: "";
				position: absolute;
				left: 50%;
			    top: 100%;
				width: 0;
				height: 0;
   				border-left: 8px solid transparent;
   				border-right: 8px solid transparent;
   				border-top: 10px solid $sk-tool-col;
   				transform: translateX(-50%);
   			}
		}
		input.error {
			border: 1px solid $sk-red;
		}
	}
	span.error {
		float: left;
    	width: 100%;
    	clear: both;
    	border: none;
    	font-family: $sk-main-medium;
    	font-size: $font-12;
    	text-transform: uppercase;
    	color: $sk-error-msg;
    	white-space: normal;
	}
	span.subscription-success {
		float: left;
    	width: 100%;
    	clear: both;
    	border: none;
    	font-family: $sk-main-medium;
    	font-size: $font-12;
    	text-transform: uppercase;
    	color: $sk-succ-msg;
	}
	.footer-email {
		position: absolute;
		top: 8px;
		left: 10px;
		background-position: -140px -22px;
		width: 20px;
		height: 15px; 
		display: inline-block;
	}
	input[type="text"] {
		font-family: $sk-main-medium;
		font-size: $font-10;   
		color: $sk-dark-pebble;
		height: 32px;
		padding: 0 11px 0 40px;
		width: 61.5%;
		border-radius: 0;
		background-color: $white;
		border: 1px solid $white;
		outline: none;
		box-sizing: border-box;
		text-transform: none;
		text-overflow: ellipsis;
	}
	button {
		position: absolute;
		right: 0;
		width:37%;
		background-color: $sk-light-pebble;
		font-family: $sk-main-demi;
		font-size: $font-10;
		letter-spacing: 0.5px;
		color: $white;
		height: 32px;
		padding: 0;
		box-sizing: border-box;
		&:hover {
			background-color: $sk-charcoal;
		}
	}
}

.welcomemat {
	box-shadow: 0px 20px 0px #888, 0px 0px 7px #ccc;
	.welcome-main {
		.welcome-heading {
			.welcome-head {
				font-family: $sk-main-demi;
				font-size: $font-16;
				line-height: 19px;
				letter-spacing: 2px;
				color: $sk-dark-pebble;
				@media #{$tablet} {
					font-size: $font-14;
				}
				@media #{$iphone} {
					font-size: $font-14;
				}
			}
		}
		.top-main-content {
			.left-content {
				.current-info {
					font-family: $sk-main-demi;
					font-size: $font-14;
					line-height: 17px;
					color: $sk-dark-pebble;
					letter-spacing: 1px;
					@media #{$tablet} {
						font-size: $font-12;
					}
					@media #{$iphone} {
						font-size: $font-14;
					}
				}
			}
			.center-content {
				.shopping-head {
					font-family: $sk-main-demi;
					font-size: $font-14;
					line-height: 17px;
					color: $sk-dark-pebble;
					letter-spacing: 1px;
					@media #{$tablet} {
						font-size: $font-12;
					}
					@media #{$iphone} {
						font-size: $font-12;
					}
				}
				.list-items {
					li {
						font-family: $sk-main-book;
						font-size: $font-14;
						line-height: 17px;
						color: $sk-dark-pebble;
						@media #{$tablet} {
							font-size: $font-12;
						}
						@media #{$iphone} {
							font-size: 11px;
						}
					}
				}
			}
			.right-content {
				.shipping-to {
					font-family: $sk-main-demi;
					font-size: $font-14;
					line-height: 17px;
					color: $sk-dark-pebble;
					letter-spacing: 1px;
					@media #{$tablet} {
						font-size: $font-12;
					}
					@media #{$iphone} {
						font-size: $font-12;
					}
				}
				.navigations {
					.welcome-label {
						font-family: $sk-main-book;
						font-size: $font-14;
						line-height: 17px;
						color: $sk-dark-pebble;
						letter-spacing: 0.5px;
						@media #{$tablet} {
							font-size: $font-12;
						}
						@media #{$iphone} {
							font-size: 11px;
						}
					}
					.list-flags {
						.li-flags {
							.flag-text {
								font-family: $sk-main-book;
								font-size: 9px;
								line-height: 11px;
								color: $sk-nav-grey;
								letter-spacing: 0.5px;
							}
						}
					}
				}
			}
		}
	}
}