.required-indicator {
	color: $sk-dark-pebble;
	font-size: $font-12;
    padding: 0;
    font-family: $sk-main-medium;
    font-weight: normal;
    letter-spacing: $font-05;
    line-height: $font-14;
    em {
   	    color: $black;
	    font-size: $font-12 - 1px;
	    font-style: normal;
	    text-transform: capitalize;
	    vertical-align: top;
    }
}

.dialog-required {
	color: $black;
	padding: 0px;
}
.ui-dialog {
	#CreditCardForm {
		.form-row { 
			label.error {
				width: 100%;
			    text-align: left;
			    color: $sk-red;
			    background: none;
			}
		}
	}
}

.form-row, .form-row.error {
	margin: 0px 0px 20px;
	float: left;
	width: 100%;
	&.label-inline {
		margin: 0px;
		.form-horizontal & {
			padding-left: 25%;
			margin-left: 15px;
			@media #{$tablet} {
				padding-left: 25%;
			}
			@media #{$iphone} {
				padding-left: 0px;
                margin-left: 0px;
			}
		}
	}
	label {
		font-size: $font-12;
		font-family: $sk-main-medium;
        font-weight: normal;
        letter-spacing: $font-05;
		margin-bottom: 10px;
		line-height: $font-12;
		display: inline-block;
        text-transform: uppercase;
        color: $sk-dark-pebble;
		.form-horizontal & {
			margin-bottom: 0px;
			margin-top: 10px;
			text-align: left;
			@media #{$iphone} {
				width: 100%;
				margin-bottom: 10px;
				margin-top: 0px;
			}
		}
		&.radio-label {
			width: auto;
			margin: 0px;
		}
	}
	.checkbox-wrapper {
		width: auto;
		& ~ label {
			margin: 3px 0px 0px 8px;
			width: auto;
		}
	}
    .form-caption {
        float: left;
        margin-top: 10px;
        color: $sk-dark-pebble;
        box-sizing: border-box;
    }
}

.form-horizontal .field-wrapper {
	padding-left: 15px;
	@media #{$iphone} {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
    &.checkbox-wrapper {
		width: auto;
		padding-left: 0;
		& ~ label {
			margin: 3px 0px 0px 8px;
			color: $sk-dark-pebble;
			@media #{$iphone} {
 				width: calc(100% - 27px);			
			}
		}
        label {
            span {
                padding-left: 0px;
            }
        }
	}
}
input[type="text"], 
input[type="number"], 
input[type="password"] {
    height: 36px;
}
input[type="text"], 
input[type="number"], 
input[type="password"], 
input[type="date"],
textarea  {
    @extend .form-label;
    color: $sk-charcoal;
    border: none;
    padding: 5px 10px;
    background: $sk-complement-pebble-5;
    font-family: $sk-main-medium;
    font-size: $font-12;
    font-weight: normal;
    letter-spacing: $font-05;
    //text-transform: uppercase;
    &:focus {
        border: none;
    }
    &.error  {
	    border: 1px solid $sk-red;
	}
	& ~ span.error {
		margin-top: 10px;
		float: left;
		width: 100%;
		font-family: $sk-main-medium;
		color: $sk-red;
	}
}

select ~ span.error {
	margin-top: 20px;
	float: left;
	width: 100%;
	font-family: $sk-main-medium;
}

.custom-select {
    select {
        &.error {
            color: $sk-red;
            & + .selected-option {
                border-color: $sk-red;
            }
        }
        &:focus + .selected-option{
            border-color: $sk-complement-pebble-1;
        }
    }    
}

.error {
	color: $sk-red;
	font-family: $sk-main-medium;
    border: none;
    //text-transform: uppercase;
    letter-spacing: $font-05;
    font-size: $font-10;
}

.error-form  {
    border-radius: 0;
    color: #ff0000;
    margin: 0;
    padding: 0;
    font-size: $font-12;
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 100%;
    font-family: $sk-main-medium;
    background: transparent;
    border: 0 none;
}

.checkbox-wrapper  {
	position: relative;
	width: auto;
	margin: 0;
	input[type="checkbox"]  {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter:alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
		position: absolute;
		z-index: 1;
		display: block;
		width: 16px;
		height: 16px;
		margin: 0px;
	}
	.custom-checkbox  {
	    width: 16px;
	    height: 16px;
	    border: 1px solid $sk-complement-pebble-1;
	    float: left;
	    box-sizing: border-box;
	}
	 
	input[type="checkbox"]:checked ~ .custom-checkbox  {
		background: url('../../images/sk-icons-sprite.png') no-repeat -143px -63px;
	}
	
	input[type="checkbox"]:disabled + .custom-checkbox,
	input[type="checkbox"]:disabled + span.error +.custom-checkbox  {
		opacity: 0.5;
	}
	
	& ~ label {
		font-family: $sk-main-medium;
		font-size: $font-12;
		margin: 3px 0px 0px 10px;
		float: left;
        text-transform: uppercase;
	}
}

.radio-label  {
	width: auto;
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
	font-size: $font-12;
	font-family: $sk-main-medium;
    text-transform: uppercase;
	input[type="radio"]  {
		position: absolute;
		display: block;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter:alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
		z-index:1;
		left: 0px;
		margin: 0;
		width: 14px;
		height: 14px;
	}
	span.label-msg  {
		line-height: $font-18;
		margin-left: 14px;
		float: left;
		vertical-align: top;
	}
	span.custom-radio  {
		float: left;  
		width: 14px;
		height: 14px;
		font-size: $font-20;
		border: 1px solid $sk-complement-pebble-1;
		border-radius: 20px;
		background: $white;
	}
	input[type="radio"]:checked + span.custom-radio,
	input[type="radio"]:checked + span.error +span.custom-radio  {
		background: $sk-dark-pebble;
		box-shadow: 0 0 0px 3px white inset;
	}
	
	input[type="radio"]:disabled + span.custom-radio,
	input[type="radio"]:disabled + span.error +span.custom-radio  {
		opacity: .5;
	}
}
.custom-select {
    border: none;
    .selected-option {
        border: 1px solid transparent;
    }
    &.current_item {
        border: none;
        .selected-option {
            border: 1px solid $sk-complement-pebble-3;
            border-bottom-color: transparent;
        }
        .selection-list {
            border: 1px solid $sk-complement-pebble-3;
            border-top: none;
            z-index: 999;
        }
    }
}
#cart-table {
	 .item-quantity {
		.input-number {
			width: 100%;
			float: left;
			position: relative;
			@media #{$iphone} {
				width: 55%;
			}
			.input-text {
				width: 74.42%;
				float: left;
				padding: 5px;
				text-align: center;
				height: 24px;
				-moz-appearance: textfield;
				&.error {
					width: 60%;
					@media #{$iphone} {
						width: 80%;
					}
					~ .up {
						&.icons-sprite {
							left: 65%;
							@media #{$iphone} {
								left: 85%;
							}
						}
					}
					~ .down {
						&.icons-sprite {
							left: 65%;
							top: 16%;
							@media #{$iphone} {
								left: 85%;
								top: 15%;
							}
						}
					}
					@media #{$iphone} {
						~ span.error {
							text-align: left;
						}
					}	
				}
			}
			.up {
				width: 20%;
				float: left;
				clear: right;
				background-color: $selectbox-border;
				&.icons-sprite {
					background-position: -428px -16px;
					    display: block;
					    width: 14px;
					    float: left;
					    position: absolute;
					    left: 85%;
					    right: -14px;
					    height: 11px;
				}
			}
			.down {
				float: left;
				background-color: $selectbox-border;
				&.icons-sprite {
					background-position: -428px -35px;
				    display: block;
				    width: 14px;
				    float: left;
				    position: absolute;
				    top: 55%;
				    left: 85%;
				    height: 11px;			
				}
			}
		}
	}
}

#wrapper {
	&.pt_customer-service {
		.primary-content {
			#RepairForm {
				@media #{$iphone} {
					padding: 0;
					div.form-row {
						div.field-wrapper {
							width: 100%;
							textarea {
								width: 100%;
								box-sizing: border-box;
							}
						}
					}
				}
			}
		}
	}
}