#mini-cart {
    position: relative;
    top: 0px;
    right: 0px;
    left: auto;
}
.mini-cart-total {
	top: 3px;
    a {
        //background: url(../../images/vectorpaint.svg) no-repeat ;
        float: left;
	    width: 22px;
	    height: 20px;
	    position: relative;
    	bottom: 2px;
	    background: url(../../images/shopping-cart.png) no-repeat;
	    background-size: 22px 20px;
	    @media #{$tablet-desktop} {
	   		height: auto;
	    }
	    &:hover {
	    	text-decoration: none;
	    }
	    span.mini-cart-text {
			&.show-text {
				display: block;
			    padding-top: 20px;
			    margin-top: 5px;
			    text-transform: none;
				@media #{$iphone} {
					display: none;
				}
		    }
		}
	}
    span.minicart-quantity {
        float: left;
        position: relative;
        top: 4px;
        left: 5px;
        font-family: $sk-main-demi;
        font-size: $font-14;
        color: $sk-light-pebble;
        text-align: left;
        border: none;
        border-radius: 0;
    }
}
.mini-cart-content {
    width: 326px;
    border: none;
    box-shadow: none;
    @media screen and (min-width: 768px) {
    	top: 3.5em;
    }
    @media #{$iphone} {
		max-width: 250px;
	}
    .mini-cart-header {
        float: left;
        width: 100%;
        padding: 15px 30px;
        font-family: $sk-main-demi;
        font-size: $font-16;
        font-weight: normal;
        line-height: $font-16;
        letter-spacing: $font-05;
        color: $white;
        text-transform: uppercase;
        background-color: $sk-dark-pebble;
        box-sizing: border-box;
    }
    .mini-cart-inner-cont {
        float: left;
        width: 100%;
        padding: 0px 30px 30px;
        border: none;
        box-sizing: border-box;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        @media #{$iphone} {
        	padding: 0px 10px 30px;
        }
        .mini-cart-products {
            margin: 25px 0 10px;
             @media #{$iphone} {
	        	padding: 0px 20px;
	        }
            .mini-cart-product {
                padding: 20px 0 20px 0;
    			border-bottom: 1px solid $sk-dark-pebble;
                margin: 0px;
                &:first-child{
                	padding-top : 0px;
                }
                .mini-cart-image {
                    float: left;
                    width: 48px;
                    padding: 0px;
                    margin: 0px;
                }
                &.last {
                	border: 0
                }
                .mini-cart-product-details-cont {
                    float: left;
                    width: 290px;
                    width: calc(100% - 48px);
                    padding: 0px 0px 0px 20px;
                    box-sizing: border-box;
                    > div {
                        float: left;
                        width: 96%;
                    }
                    .mini-cart-name,
                    .mini-cart-attributes,
                    .mini-cart-pricing {
                            font-family: $sk-main-medium;
                            font-size: $font-12;
                            font-weight: normal;
                            line-height: $font-12;
                            letter-spacing: $font-05;
                            color: $sk-dark-pebble;
                            font-style: normal;
                            text-transform: uppercase;
                            .final-sale {
                            	font-size: $font-12;
                            }
                    }
                    .mini-cart-name {
                        line-height: $font-16;
                        color: $sk-charcoal;
                        .mini-desc-name {
                        	font-family: $sk-main-book;
                        	color: $sk-dark-pebble;
                        }
                        a {
                            color: $sk-charcoal;
                        }
                    }
                    .mini-cart-pricing {
                    	.pricing-section {
                    		margin-top: 10px;
                    		.mini-cart-price-label {
                    			display: none;
                    		}
                    	}
                    }
                    .mini-cart-attributes {
                        margin-top: 15px;
                        .attribute {
                            margin-bottom: 10px;
                        }
                    }
                    .mini-cart-pricing {
                        .mini-cart-price {
                            color: $sk-charcoal;
                            padding-right: 10px;
                            display: inline-block;
                        }
                        .minicart-item-bonus {
                        	padding-right: 10px;
                        }
                    }
                }
            }
        }
        .mini-cart-totals {
            padding: 20px 0px 0px;
            border-top: 1px solid $sk-complement-pebble-1;
            .sk-paypal-button {
	            width: 266px;
			    display: inline-block;
			    font-size: $font-14;
			    background-color: $sk-checkout-paypal;
			    border-radius: 0;
			    font-family: $sk-main-demi;
			    letter-spacing: 1px;
			    color: $white;
			    text-transform: uppercase;
			    padding: 10px 0;
			    text-align: center;
			    text-decoration: none;
			    margin: 0 auto 20px;
			    @media #{$iphone} {
			    	width: 100%;
					font-size: 13px;
				}
			    .paypal-button-cont {
			    	.icons-sprite {
			    		display: inline-block;
					    width: 64px;
					    height: 18px;
					    background-position: -20px -362px;
					    margin-right: 5px;
					    position: relative;
					    top: 5px;
			    	}
			    }
		    }
            .free-ship-promo {
            	font-family: $sk-main-medium;
            	font-size: $font-12;
            	text-transform: uppercase;
            	color: $sk-dark-pebble;
            	letter-spacing: 1px;
            }
            .mini-cart-salestax {
            	font-family: $sk-main-book;
            	font-size: $font-12;
            	color: $sk-dark-pebble;
            	padding: 10px 0;
            	display: block;
            	letter-spacing: 1px;
            }
            .mini-cart-subtotals,
            .mini-cart-slot {
                width: 100%;
                padding: 0px;
                margin: 0 auto;
                font-family: $sk-main-medium;
                font-size: $font-12;
                font-weight: normal;
                line-height: $font-14;
                letter-spacing: 1px; 
                color: $sk-dark-pebble;
                font-style: normal;
                text-transform: uppercase;
                text-align: center;
                border: none;
                background: transparent;
            }
            .mini-cart-subtotals {
                padding: 0px;
                .value {
                	color: $sk-dark-pebble;
                }
            }
            .mini-cart-slot {
                padding: 0px 0px 30px;
                text-transform: none;
                p {
                    padding: 0px;
                }
            }
            .button,
            .mini-cart-link-checkout {
                height: auto;
                padding: 0;
                font-family: $sk-main-book;
                font-size: $font-12;
                font-weight: normal;
                line-height: $font-12;
                letter-spacing: 1px; 
                color: $sk-dark-pebble;
                font-style: normal;
                text-transform: capitalize;
                text-align: center;
                text-decoration: underline;
                background-color: transparent;
            }
            .mini-cart-link-checkout {
            	 text-transform: uppercase;
            }
           	.dw-apple-pay-button,
            .mini-cart-link-checkout {
            	width: 266px;
                margin: 30px auto 20px;
                font-size: 15px;
			    color: #ffffff;
			    font-family: $sk-main-demi;
			    letter-spacing: 1px;
			    padding: 11px;
			    box-sizing: border-box;
			    background-color: $sk-nav-grey;
			    border-radius: 0;
			    text-decoration: none;
			    @media #{$iphone} {
					width: 100%;
					font-size: $font-12;
				}
			    &:before {
			    	content: '';
				    display: inline-block;
				    background: url(../../images/lock-white-up.png) no-repeat;
				    width: 15px;
				    height: 17px;
				    margin-right: 6px;
				    position: relative;
				    top: 2px;
			    }
			    &:hover {
			    	text-decoration: none;
			    }
            }
            .dw-apple-pay-button {
            	margin-top: 0;
            	border: 0;
            	padding: 21px 0;
            	background-color: $black;
       			background-image: url(../../images/ApplePay-BuyWith.png);
				background-size: contain;
           		&:before {
           			background: none;
           		}	
           	}
            .mini-cart-link-cart {
            	margin-bottom: 16px;
            	&:hover {
			    	text-decoration: underline;
			    }
            }
           	.dw-apple-pay-mini-cart {
				background-color: #b1a99f;
				border: 0;
				border-radius: 0;
				padding: 10px 33px;
				margin-top: 15px;
			}
        }
    }
}


.minicart-contentinside {
	width: 100%;
	float: left;
	.mini-cart-bottom {
		margin-bottom: 0;
	}
}
.mini-cart-bottom {
	margin-bottom: 25px;
	ul {
		background-color: $sk-minipromo-grey;
		border: 1px solid $mini-col-grey;
		padding: 16px;
		box-sizing: border-box;
		li {
			list-style-type: none;
			padding-bottom: 15px;
			font-family: $sk-main-demi;
			font-size: $font-12;
			letter-spacing: 0.5px;
			text-align: left;
			&.free-ship {
				text-transform: uppercase;
				.icons-sprite {
					float: left;
					display: inline-block;
					width: 20px;
					height: 19px;
					background-position: -132px -306px;
					margin-right: 10px;
				}
			}
			&.ship-status {
				.icons-sprite {
					float: left;
					display: inline-block;
					width: 22px;
					height: 30px;
					background-position: -19px -305px;
					margin-right: 10px;
					@media #{$iphone} {
						height: 40px;
					}
					&.us-flag {
						background-position: -69px -304px;
					}
				}
			}
			&.help-order {
				.icons-sprite {
					float: left;
					display: inline-block;
					width: 19px;
					height: 19px;
					background-position: -243px -304px;
					margin-right: 10px;
				}
				a {
					text-decoration: underline;
				}
			}
			&.secure-status {
				padding-bottom: 0;
				.icons-sprite {
					float: left;
					display: inline-block;
					width: 18px;
					height: 36px;
					background-position: -188px -304px;
					margin-right: 10px;
				}
				.minicart-secure {
					font-family: $sk-main-medium;
				}
			}
		}
	}
}
