.pt_order-confirmation, .pt_order {
	.order-return-form {
		.finalSalePdt, .returnnoteligible  {
			.select-product {
				 .checkbox-wrapper {
				 	.input-checkbox  {
						pointer-events: none;
					}
					.custom-checkbox {
						opacity: 0.3;
					}
				}
			}
		}
    	.actions {
    		margin-bottom: 20px;
    		.return-shopping {
    			margin-bottom: 20px;
    		}
    		button {
    			float: right;
    			@media #{$iphone} {
					width: 100%;
				    margin-bottom: 20px;
				}
    		}
    	}
    	.order-shipments {
    		.line-items {
    			.line-item {
    				.reasonfororderreturns {
    					margin: 0;
    					@media #{$iphone} {
							width: 100%;
							+ .returnreasonerrormobile { 
							    clear: both;
							    width: 100%;
							    float: left;
							}
						}
    				}
    				
    				.line-item-details {
	    				&.item-checkbox {
	    					width: 10%;
    					    padding: 0;
    					    > .label {
    					    	color: #ffffff;
		    					border-top: 1px solid $sk-complement-pebble-1;
		                    	border-bottom: 1px solid $sk-complement-pebble-1;
		                    	margin-bottom: 0;
		    				}
		    				.main-label {
	    					    padding: 50% 40%;
		    					@media #{$iphone} {
	    						    margin-top: 10px;
    								padding-left: 0;
								}
		    				}
	    				}
    				}
    				.line-item-quantity {
    					width: 20%;
					    padding: 0;
    				}
    				.line-item-price {
    					@media #{$iphone} {
							width: 20%;
						}
    				}
    				.line-item-details  {
    					&.line-data {
    						width: 45%;
						    padding: 0;
						    .error-items {
							 	padding-top:10px;
							    .item-error {
							    	color: $sk-red;
							    }
						    }
						    @media #{$tablet} {
						    	width: 43%;
						    }
						    @media #{$iphone} {
								width: 48%;
								.product-list-item {
									margin-top: 20px;
								}
							}
						    > .label {
		    					border-top: 1px solid $sk-complement-pebble-1;
		                    	border-bottom: 1px solid $sk-complement-pebble-1;
		    				}
	    					.form-row {
	    						padding-right: 20px;
	    						box-sizing: border-box;
	    						&.reasonfororderreturn {
									margin: 0;
								}
	    						.field-wrapper {
	    							width: 100%;
	    						}
	    					} 
    					}
    					.product-list-item {
    						>div {
    							margin-bottom: 2px;
    						}
    					}
    				}
    				.line-item-quantity {
    					width: 15%;
					    padding: 0;
					    @media #{$iphone} {
							width: 17%;
							.qnt-val {
								margin-top: 20px;
							}
							> .label {
		    					border-top: 1px solid $sk-complement-pebble-1;
		                    	border-bottom: 1px solid $sk-complement-pebble-1;
		    				}
						}
    				}
    				 .line-item-price {
    					width: 15%;
					    padding: 0;
					    @media #{$tablet} {
					    	width: 17%;
					    }
					    @media #{$iphone} {
							width: 25%;
							.form-row {
								width: 100%;	
							}
							.pri-val {
								margin-top: 20px;
							}
							> .label {
		    					border-top: 1px solid $sk-complement-pebble-1;
		                    	border-bottom: 1px solid $sk-complement-pebble-1;
		    				}
						}
    				}
    			}
    		}
    	}
    }
    .confirmation {
        float: left;
    	width: 100%;
        padding: 40px 0px;
        @media #{$iphone} {
        	padding-bottom: 0;
        }
		.order-confirmation-details {
            position: relative;
            float: left;
			width: 75%;
            padding-right: 30px;
            border-bottom: 1px solid $sk-complement-pebble-1;
            box-sizing: border-box;
            @media print {
            	width: 100%;
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: -2px;
                right: 0px;
                width: 30px;
                height: 3px;
                background-color: $white;
            }	
 		}
		.actions {
	        float: left;
   		    width: auto;
            margin: 30px;
			a {
			    display: block; 
			    padding: 10px 30px;
				font-family: $sk-main-medium; 
    			font-size: $font-12;
                line-height: $font-12;
				letter-spacing: $font-05;
    			color: $white;
				text-transform: uppercase;
			    text-align: center;
			    background-color: $dim-gray;
                border: none;
			}
		}
		.login-create-account {
            float: left;
			width: 25%;
            box-sizing: border-box;
            @media print {
            	display:none;
            }
			.login-box-content {
                padding: 0px;
                border: none;
			    h2 {
                    float: left;
                    width: 100%;
                    padding: 20px 30px;
    				font-family: $sk-main-demi;
	    			font-size: $font-14;
                    font-weight: normal;
	    			line-height: $font-14;
    				letter-spacing: $font-05;
			    	color: $white;
    				text-transform: uppercase;
    				background-color: $sk-light-pebble;
                    border: none;
                    box-sizing: border-box;
			    }
			    #RegistrationForm {
			    	float: left;
			    }
                > div {
                    float: left;
                    width: 100%;
                    padding: 30px;
                    font-family: $sk-main-medium;
                    font-size: $font-12;
                    font-weight: normal;
                    line-height: $font-18;
                    letter-spacing: $font-05;
                    color: $sk-dark-pebble;
                    text-transform: uppercase;
                    border: 1px solid $sk-complement-pebble-1;
                    box-sizing: border-box;
                    p {
                        margin: 0px;
                    }
                    .req-ui {
                        float: left;
                        width: 100%;
                        margin: 0px;
                        padding: 5px 0px 0px;
                        font-size: $font-12 - 1px;
                        text-align: right;
                        box-sizing: border-box;
                    }
                    .form-row {
                        label {
                            margin: 20px 0px 10px;
                            width: 100%;
                        }
                        .field-wrapper {
                        	width: 100%;
                        }
                        input {
                            padding: 12px;
                            color: $sk-charcoal;
                            background-color: $sk-background-light-grey;
                            box-sizing: border-box;
                        }
                    }
                    button {
                        float: left;
                        width: 100%;
                        margin: 30px 0px 0px;
                        padding: 11px 30px;
                        font-family: $sk-main-demi;
                        font-size: $font-12;
                        font-weight: normal;
                        line-height: $font-12;
                        letter-spacing: $font-05;
                        color: $white;
                        text-transform: uppercase;
                        background-color: $sk-light-pebble;
                        border: none;
                        box-sizing: border-box;
                        @media #{$tablet-maxlandscape} {
							height: auto;
						}
                        &:hover {
                            text-decoration: underline;
                        }
                        @media #{$tablet} {
                        	padding: 0 15px;
                        }
                        @media #{$iphone} {
                        	padding: 0;
                        }
                    }
                    .form-caption {
                        margin-top: 4px;
                        margin-left: 0;
                    }
                    @media #{$tablet} {
                    	padding: 30px 15px;
                    }
                }
			}
		}
		.conformation-page {
			width: 100%;
			float: left;
			display: inline-block;
            font-family: $sk-main-medium;
            font-size: $font-12;
            font-weight: normal;
            line-height: $font-14;
            letter-spacing: $font-05;
            text-transform: uppercase;
			.conformation-text {
			    width: 85%;
			    float:left;
			    @media #{$tablet} {
                	width: 80%;
                }
			}
			.print-page {
				width: 15%;
			    float: left;
			    padding: 0;
			    font-family: $sk-main-medium;
                font-size: $font-12 - 1px;
                font-weight: normal;
                letter-spacing: $font-05;
			    color: $sk-dark-pebble;
                text-transform: uppercase;
			    text-align: right;
                background-color: transparent;
                border: none;
                height: auto;
                text-decoration: underline;
                @media #{$tablet} {
                	width: 20%;
                }
                @media #{$iphone} {
					display:inline-block;
					float: left;
    				text-align: left;
    				padding: 15px 0 0 0;
    				width:100%;
				}
			}
		}
    	.confirmation-message {
            padding: 0;
    		.conformation-page {
			    padding-bottom: 30px;
		    }
    		.order-confirmation-heading {
    			width: 100%;
    			float: left;
			    padding: 12px 30px;
				font-family: $sk-main-medium;
    			font-size: $font-14;
				font-weight: normal;
				line-height: $font-14;
				letter-spacing: $font-05;
				text-transform: uppercase;
                color: $white;
                background-color: $sk-light-pebble;
                box-sizing: border-box;
    		}
    		h1 {
				padding-bottom: 15px;
	    		font-family: $sk-main-book;	
	    		font-size: $font-18;
                font-weight: normal;
	    		line-height: $font-18;
				letter-spacing: $font-05;
                color: $sk-dark-pebble;
                text-transform: uppercase;
    		}
    	}
    }
    .order-shipments {
	    float: left;
    	width: 100%;
        padding: 0px 25px 25px;
        border: 1px solid $sk-complement-pebble-1;
        border-top: none;
        box-sizing: border-box;
        @media #{$iphone} {
        	padding-bottom: 10px;
        }
    	h2 {
			display: none;
    	}
    	.order-shipment-table {
		    float: left;
    		width: 100%;
		    border-bottom: 1px solid $sk-complement-pebble-1;
		    @media #{$iphone} {
		    	padding-bottom: 0;
		    }
            .line-items .line-item > div,
            .order-shipment-details .order-shipment-address {
                font-family: $sk-main-medium;
                font-size: $font-12;
                font-weight: normal;
                line-height: $font-12;
                letter-spacing: $font-05;
                color: $sk-dark-pebble;
                text-transform: uppercase;
                white-space: initial;
    			word-break: break-word;
    			&.finalsalepdterror {
    				color: $sk-red;
    				a {
    					text-decoration: underline;
    					color: $sk-red;
    				}
    			}
    			.item-trackingnumber {
    			    margin-top: 10px;
    				a {
    					color: $sk-dark-pebble;
    				}
    				.tracking-number {
						text-decoration: underline;
					}
    			}
    			&.line-image {
    				.label {
    					padding-left: 5px;
    					margin-bottom: 30px;
    				}
    			}
                > .label {
                    float: left;
                    width: 100%;
                    padding: 20px 0px;
                    border-top: 1px solid $sk-complement-pebble-1;
                    border-bottom: 1px solid $sk-complement-pebble-1;
                    box-sizing: border-box;
                    min-height: 54px;
                    @media #{$iphone} {
                    	border-top: 0;
                    	border-bottom: 0;
                    	padding-left: 0px;
                    	padding-right: 0px;
                    	text-align: left;
                    	min-height: 0;
                    }
                    & + div {
                        float: left;
                        width: 100%;
                        margin: 30px 0px 0px;
                        box-sizing: border-box;
                         @media #{$iphone} {
                         	margin-top: 0;
                         }
                        &.pri-val {
			            	width: auto;
						    float: none;
						    display: inline-block;
						    padding-right: 5px;
						    @media #{$iphone} {
	                         	padding-right: 0px;
	                         	width: 100%;
	                         	text-align: left;
	                         }
			            }
                    }
                }
            }
    	}
    	.order-shipment-details {
    		float: left;
            width: 30%;
            box-sizing: border-box;
            .shipping-status {
            	.label,.value {
            		margin: 0;
            		margin-right: 5px;
            	}
            }
            @media #{$iphone} {
            	.shipping-method {
            		.value {
            			margin-top: 0px;
            		}
            	}
            }
    		.shipping-status, .shipping-method {
    		    float: left;
    			width: 100%;
                box-sizing: border-box;
                > div {
                    float: left;
                    margin: 30px 5px 0px 0px;
                    font-family: $sk-main-medium;
                    font-size: $font-12;
                    font-weight: normal;
                    line-height: $font-14;
                    letter-spacing: $font-05;
                    color: $sk-dark-pebble;
                    text-transform: uppercase;
                }
                &:last-child {
                    margin-top: 7px;
                }
	    	}
    		.order-shipment-address {
    			float: left;
    			width: 100%;
    			.summarybox {
    				padding-right: 20px;
    				margin-bottom: 20px;
                    word-wrap: break-word;
                    .address {
                        > div {
                            float: left;
                            width: 100%;
                            margin: 0px 0px 5px;
                        }
                    }
    			}
    		}
    	}
    	.line-items {
    		width: 100%;
    		float: right;
            box-sizing: border-box;
			.line-item {
				float: left;
                width: 100%;
                margin: 30px 0px 0px;
                padding: 0px 0px 30px;
                border-bottom: 1px solid $sk-complement-pebble-1;
                box-sizing: border-box;
                @media #{$iphone} {
                	padding-bottom: 25px;
            	    margin-top: 0;
                }
                .line-item-details {
                	width: 25%;
                	&.line-image {
                		width: 15%;
                		float: left;
                	}
                	&.line-data {
                		width: 55%;
                		float: left;
	                	.label-mob-remove {
	                		margin-top: 0;
	                	}
	                	@media #{$iphone} {
	                		width: 48%;
	                		.label-mob-remove {
	                			display: none
	                		}
	                	}
	                }
                	@media #{$iphone} {
                    	width: 50%;
                    	float: left; 
                    	padding-left: 5px;
                    }
                }
                &:first-child {
                    margin-top: 0px;
                }
                &:last-child {
                    border: none;
                }
                > div {
                    float: left;
                    width: 60%;
                    box-sizing: border-box;
                    @media #{$iphone} {
                    	width: 45%;
                    	padding-right: 4px;
                    	&.line-item-price {
                    		padding-right: 0;
                    	}
                    }
                    .product-list-item {
                        .name {
                            line-height: $font-16;
                            padding-bottom: 10px;
                            padding-right: 30px;
                            box-sizing: border-box;
                            color: $sk-charcoal;
                            @media #{$iphone} {
                            	padding-right: 0px;
                            }
                        }
                        > div {
                            margin-bottom: 10px; 
                        }
                    }
                }
                .line-item-quantity {
                    width: 10%;
                    float: left;
                    text-align: left;
                    .label {
                    	padding-left: 0;
                    }
                    @media #{$iphone} {
                    	width: 20%;
                    	float: left;
                    	.qnt-val {
                    		text-align: left;
                    	}
                    }
                    .qnt-val {
                    	.pdt-qty {
                    		width: 10px;
                    		float: left;
                        }
                        .return-pdt-qty  {
	                        &.hide {
	                     		padding: 0;
	                     		.qtyoforderreturn {
	                     			margin: 0;
	                     		}   	
	                        }
                        }
                        > div {
                            width: auto;
                            margin: 0 auto;
                            padding: 5px 10px;
                            color: $sk-charcoal;
                            background-color: $sk-complement-pebble-5;
                            &.return-pdt-qty.hide  {
                            	padding: 0;
                            	.field-wrapper {
                            		width: 60px;
                            		position: relative;
                            		@media #{$tablet} {
                            			width: 42px;
                            		}
                            		@media #{$iphone} {
                            			width: 35px;
                            		}
                            		.input-text {
                            			text-align: center;
                            			height: 28px;
                            			width: 50px; 
                            			@media #{$tablet} {
	                            			width: 34px;
	                            		}
	                            		@media #{$iphone} {
	                            			width: 28px;
	                            		}
                            		}
                            		.up {
                            			background-position: -426px -15px;
									    display: block;
									    width: 20px;
									    float: left;
									    position: absolute;
									    left: 86%;
									    right: -14px;
								        top: 0;
									    height: 12px;
									    background-color: $sk-complement-pebble-3;
									    @media #{$iphone} {
	                            			width: 16px;
	                            		}
                            		}
                            		.down {
                        			    background-position: -426px -34px;
									    display: block;
									    width: 20px;
									    float: left;
									    position: absolute;
									    top: 55%;
									    left: 86%;
									    height: 12px;
								    	background-color: $sk-complement-pebble-3;
								    	@media #{$iphone} {
	                            			width: 16px;
	                            		}
                            		}
                            	}
                            	label {
                            		display: none;
                            	}
                            }
                        }
                    }
                }
                .line-item-price {
                    float: left;
                    width: 20%;
                    color: $sk-charcoal;
                    text-align: left;
                    box-sizing: border-box;
                    .label {
                    	padding-left: 0;
                    }
                    @media #{$iphone} {
                    	width: 30%;
                    	float: left;
                    }
                    .pri-val,
                    .bonus-item {
                    	color: $sk-charcoal;
                    	@media #{$iphone} {
                    		text-align: left;
                    	}
                    }
                    .pri-val {
		            	width: auto;
					    float: none;
					    display: inline-block;
					    padding-right: 5px;
					    @media #{$iphone} {
                         	padding-right: 0px;
                         	width: 100%;
                         	text-align: left;
                         }
		            }
                }
			}
    	}
    }
    .order-main {
    	font-size: $font-18;
    	color: $sk-nav-grey;
    	border-bottom: 1px solid $sk-return-bordergrey;
    	padding-bottom: 15px;
    }
    .order-return-details {
	    float: left;
	    width: 100%;
	    box-sizing: border-box;
	    @media #{$iphone} {
			padding: 0 20px;
		}
		thank-messages {
			font-size: $font-14;
		 	margin-bottom: 10px;
		}
	    .thank-message {
		 	font-size: $font-14;
		 	margin-bottom: 10px;
		    &.email {
		    	border-bottom: 1px solid $sk-return-bordergrey;	
	    		padding-bottom: 24px;
	    		margin-bottom: 20px;
		    }
	    }
	    .orderreturnheading {
		    padding-bottom: 15px;
	        border-bottom: 1px solid $sk-return-bordergrey;;
    		margin-bottom: 30px;
    		@media #{$iphone} {
				margin-bottom: 0;
				border-bottom: none;
			}
	    	span {
	    		font-size: $font-18;
	    		font-family: $sk-main-book;
	    		color: $sk-nav-grey;
	    		@media #{$iphone} {
					font-size: $font-14;
				}
	    	}
	    }
	    .order-return-form {
	    	padding: 0 30px;
	    	@media #{$iphone} {
	        	padding: 0px; 
	        }
	    }
    }
	.orderdetails {
        float: left;
		width: 100%;
        margin: 0px;
        padding: 25px;
        border: 1px solid $sk-complement-pebble-1;
        border-bottom: none;
        box-sizing: border-box;
        @media #{$iphone} {
        	padding-bottom: 0px;
        }
        &.order-return {
        	padding: 0 30px !important;
        	@media #{$iphone} {
        		padding: 0 20px !important;	
    		}
        	.sk-orderheading {
        		width: 100%;
        		padding: 20px 0 15px 0;
        		border-bottom: 1px solid $sk-return-bordergrey;
        		color: $sk-nav-grey;
        		font-size: $font-14;
        	}
        	.order-information {
        		padding: 20px 0 35px 0;
        		.order-information-main {
        			padding: 0;
        			.order-date, .order-number-information, .order-status {
        				width: 100%;
        				margin-bottom: 0;
    					float: left;
        				span {
        					float: left;
        				}
    				}
        		}
        	}
        }
        .order-information-main {
        	.order-date,.order-number-information {
        		.value {
        			color: $sk-charcoal;
        		   @media #{$tablet} { 
        		   		display:block;
        		   }
        		}
        	}
        }
        @media #{$iphone} {
        	.order-shipping {
        		.shipping-method {
        			width: 100%;
        			float: left;
        			padding-left: 5px;
        			box-sizing: border-box;
        		}
        		.shipping-status {
        			width: 100%;
        			float: left;
        			padding: 0px 0px 30px 5px;
        			box-sizing: border-box;
        			border-bottom: 1px solid $sk-complement-pebble-1;
        		}
        	}
        }
		.order-payment-summary {
		    width: 18.7%;
			@media #{$tablet} {
				margin-top: 20px;
				width: 50%;
			}
			@media #{$iphone} {
				width: 100%;
				float: left;
			}
    		.order-totals-table {
                tr {
                    td {
                        padding: 0 0 20px;
                        font-family: $sk-main-medium;
                        font-size: $font-12;
                        font-weight: normal;
                        line-height: $font-12;
                        text-transform: uppercase;
                        color: $sk-charcoal;
                        letter-spacing: $font-05;
                        &:first-child {
                        	text-align: right;
                        	@media #{$iphone} {
								padding-right:15px;
							}
                        }
                    }
                }
                .order-discount {
                	&.discount {
                		td {
                			color: $sk-red;
                		}
                	}
                } 
                .order-sales-tax {
                    td {
                        padding: 0px 0px 30px;
                    }
                }
                .order-total {
                    td {
                        padding: 30px 0px 0px 8px;
                        box-sizing: border-box;
                        font-size: $font-14;
                        border-top: 1px solid $sk-complement-pebble-1;
                    }
                }
    		}
		}
    	> div {
    		float: left;
            width: 18.7%;
            padding: 0px;
            font-family: $sk-main-medium;
            word-wrap: break-word;
            box-sizing: border-box;
            @media #{$tablet} {
	            &.order-billing {
	                width: 33.3%;
	            }
	            &.order-shipping {
	                width: 33.3%;
	            }
	            &.order-payment-instruments {
	            	width: 50%;
            	    margin-top: 20px;
	            }
            }
            .shipping-method, .shipping-status {
            	color: $sk-dark-pebble;
        	    text-transform: uppercase;
            }
            > .label {
                float: left;
                width: 100%;
                margin: 0px;
				padding: 20px 5px;
    			text-align: left;
	    		font-family: $sk-main-medium;	
    			font-size: $font-14;
                font-weight: normal;
	    		line-height: $font-14;
				letter-spacing: $font-05;
    		    text-align: left;
				border-top: 1px solid $sk-complement-pebble-1;
				border-bottom: 1px solid $sk-complement-pebble-1;
                box-sizing: border-box;
                min-height: 70px;
                color: $sk-charcoal;
                @media #{$iphone} {
                	min-height: 0;
                	border-top: 0;
                	border-bottom: 0;
                	padding-bottom: 6px;
                	&.ord-mobile-heading {
                		color: $sk-charcoal;
                	}
                }
                & + div {
                    float: left;
                    width: 100%;
                    margin: 30px 0px;
                    padding: 0px 5px;
                    color: $sk-dark-pebble;
                    box-sizing: border-box;
                    .address {
                	    text-transform: uppercase;
                    }
                }
            }
            &:first-child {
                width: 24%;
                @media #{$tablet} {
            		width: 33.3%;
            	}
                @media #{$iphone} {
            		width: 100%;
            	}
            }
            &:last-child {
            	width: 28%;
            	@media #{$tablet} {
            		width: 50%;
            		margin-top: 20px;
            	}
            	@media #{$iphone} {
            		width: 100%;
            	}
            }
    	}
    	.order-information-main,
        .order-payment-section,
        .order-billing-section  {
			padding-right: 20px;
			span, > div, address {
				font-family: $sk-main-medium;
                font-size: 12px;
                font-weight: normal;
                text-transform: uppercase;
				margin-bottom: 8px;
			}
			address {
				font-style: normal;
				line-height: $font-16;
			}
		}
        .order-payment-section {
            > div {
                margin-bottom: 2px;
            }
        }
        .order-billing-section {
            > div {
                margin-bottom: 0px; 
            }
        }
    }
}
.pt_order-confirmation {
	.form-caption {
		display: none;
	}
	.top-banner {
		padding: 30px 5% 20px 5%;
		.primary-logo {
			padding: 0;
		}
		.actions {
			text-decoration: underline;
			position: absolute;
			top: 40px;
			@media #{$iphone} {
            	width: auto;
			    right: 8px;
			    top: 56px;
            }
			.continue {
				font-family: $sk-main-book;
				font-size: $font-14;
				letter-spacing: 1px;
				color: $sk-dark-pebble;
			}
		}
	}
	#main {
		.confirmation {
			.login-create-account {
				margin-top: 88px;
				@media #{$tablet-maxlandscape} {
					margin-top: 90px;
				}
				@media #{$tablet}{
					margin-top: 104px;
				}
				.login-box-content {
					h2 {
						padding: 12px 30px;
					}
					#RegistrationForm {
						.form-row {
							margin-bottom: 20px;
							label {
								display: none;
							}
						}
						.largebutton {
							margin-top: 0;
						}
					}
				}
			}
			.thankyou-section {
				width: 24%;
				float: right;
				margin-top: 76px;
				border: 1px solid $sk-dark-pebble;
				@media #{$tablet-maxlandscape} {
					margin-top: 90px;
				}
				@media #{$tablet}{
					margin-top: 90px;
				}
				.confirm-thankyou {
					width: 100%;
					float: left;
					margin-bottom: 23px;
					padding: 10px 0;
				    font-size: $font-14;
				    background-color: $sk-dark-pebble;
				    color: white;
				    text-align: center;
				    letter-spacing: 1px;
				    font-family: $sk-main-medium;
				}
				.checkout-faster {
					width: 100%;
					float: left;
					font-family: $sk-main-book;
				    font-size: $font-14;
				    line-height: 25px;
				    padding: 0 29px 20px;
				    box-sizing: border-box;
				    text-align: center;
				    letter-spacing: 1px;
				    color: $sk-dark-pebble;
				}
				.actions-gotoaccount {
					width: 100%;
					float: left;
					padding: 0 13px;
					box-sizing: border-box;
					margin-bottom: 18px;
					.continue {
						width: 100%;
						float: left;
						padding: 8px;
						box-sizing: border-box;
					    text-align: center;
					    border: 1px solid $sk-dark-pebble;
					    font-family: $sk-main-medium;
					    font-size: $font-12;
					    letter-spacing: 1px;
					    color: $sk-dark-pebble;
					    &:hover {
					    	text-decoration: none;
					    }
					}
				}
				.actions-continueshop {
					width: 100%;
					float: left;
					padding: 0 13px;
					box-sizing: border-box;
					margin-bottom: 25px;
					.continue {
						font-family: $sk-main-medium;
					    font-size: $font-12;
						width: 100%;
						float: left;
					    padding: 8px;
					    box-sizing: border-box;
					    text-align: center;
					    background-color: $sk-dark-pebble;
					    color: $white;
					    text-transform: uppercase;
					    letter-spacing: 1px;
					    &:hover {
					    	text-decoration: none;
					    }
					}
				}
			}
		}
	}
    .order-confirmation-details {
        .orderdetails {
            > div {
                .label {
                    @media #{$tablet} {
                        min-height: 70px;
                        max-height: 71px;
                        overflow: auto;
                    }
                    @media only print {
                        min-height: auto;
                        max-height: auto;
                        height: 85px;
                    }
                }
                @media only print {
                    width: 18%;
                    &.order-information {
                        width: 20%;
                    }
                    &.order-payment-summary {
                        width: 26%;
                    }
                }
            }
            @media #{$tablet} {
                .order-information {
                    width: 33.3%;
                }
                .order-payment-summary {
                    width: 50%;
                    margin-top: 20px;
                }
            }
        }
    }
}
