.primary-content {
	width: 74.444%;
	border-left: none;
	.pt_product-search-result &
	{
		width: 80%;
		@media #{$tablet-maxlandscape} {
    		 width: 70%;
    	}
		@media #{$tablet} {
			width: 74.444%;
		}
	}
}
#secondary {
	width: 21.875%;
    border: none;
    .pt_product-search-result &
	{
		width: 15%;
		padding-top: 28px;
		@media #{$tablet-maxlandscape} {
    		 width: 25%;
    	}
		@media #{$tablet} {
			width: 21.875%;
		}
	}
}
