/* perfect-scrollbar v0.6.14 */

.ps-container {
  -ms-touch-action: auto;
  touch-action: auto;
  overflow: hidden !important;
  position:relative;
  -ms-overflow-style: none;
  &.ps-active-x > .ps-scrollbar-x-rail, &.ps-active-y > .ps-scrollbar-y-rail {
    display: block;
    background-color: #e7e6e2;
    .pt_checkout &{
	    right: 10px !important;
    }
    .refinement &{
    	background-color: #fff; 
        border: 1px solid #ebebeb;
        box-sizing: border-box;
    }
  }
  &.ps-in-scrolling {
    &.ps-x > .ps-scrollbar-x-rail {
      background-color: #e7e6e2;
      > .ps-scrollbar-x {
        background-color: #b0aa9c;
        height: 10px;
      }
    }
    &.ps-y > .ps-scrollbar-y-rail {
      background-color: #e7e6e2;
      opacity: 1;
      > .ps-scrollbar-y {
        background-color: #b0aa9c;
        width: 10px;
        .refinement & {
        	width: 15px;
        }
      }
    }
  }
  > {
    .ps-scrollbar-x-rail {
      display: none;
      position: absolute;
      /* please don't change 'position' */
      opacity: 0;
      -webkit-transition: background-color .2s linear, opacity .2s linear;
      -o-transition: background-color .2s linear, opacity .2s linear;
      -moz-transition: background-color .2s linear, opacity .2s linear;
      transition: background-color .2s linear, opacity .2s linear;
      bottom: 0px;
      /* there must be 'bottom' for ps-scrollbar-x-rail */
      height: 15px;
      > .ps-scrollbar-x {
        position: absolute;
        /* please don't change 'position' */
        background-color: #aaa;
        -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
        transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
        -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
        -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
        transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
        transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
        bottom: 0px;
        /* there must be 'bottom' for ps-scrollbar-x */
        height: 10px;
      }
      &:hover > .ps-scrollbar-x, &:active > .ps-scrollbar-x {
        height: 10px;
      }
    }
    .ps-scrollbar-y-rail {
      display: none;
      position: absolute;
      /* please don't change 'position' */
      opacity: 1;
      -webkit-transition: background-color .2s linear, opacity .2s linear;
      -o-transition: background-color .2s linear, opacity .2s linear;
      -moz-transition: background-color .2s linear, opacity .2s linear;
      transition: background-color .2s linear, opacity .2s linear;
      right: 0;
      /* there must be 'right' for ps-scrollbar-y-rail */
      width: 10px;
      .refinement & {
        	width: 15px;
        }
      > .ps-scrollbar-y {
        position: absolute;
        /* please don't change 'position' */
        background-color: #b0aa9c;
        -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
        transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
        -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
        -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
        transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
        transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
        right: 0px;
        /* there must be 'right' for ps-scrollbar-y */
        width: 10px;
        .refinement & {
        	width: 13px;
        }
      }
      &:hover > .ps-scrollbar-y, &:active > .ps-scrollbar-y {
        width: 10px;
        .refinement & {
        	width: 13px;
        }
      }
    }
  }
  &:hover {
    &.ps-in-scrolling {
      &.ps-x > .ps-scrollbar-x-rail {
        background-color: #e7e6e2;
        > .ps-scrollbar-x {
          background-color: #b0aa9c;
          height: 11px;
        }
      }
      &.ps-y > .ps-scrollbar-y-rail {
        background-color: #e7e6e2;
        > .ps-scrollbar-y {
          background-color: #b0aa9c;
          width: 10px;
          .refinement & {
        	width: 13px;
          }
        }
      }
    }
    > {
      .ps-scrollbar-x-rail, .ps-scrollbar-y-rail {
       background-color: #e7e6e2;
      }
      .ps-scrollbar-x-rail:hover {
        background-color: #e7e6e2;
        > .ps-scrollbar-x {
          background-color: #b0aa9c;
        }
      }
      .ps-scrollbar-y-rail:hover {
        background-color: #e7e6e2;
        .refinement &{
        	background-color: #fafafa;
        }
        > .ps-scrollbar-y {
          background-color: #b0aa9c;
        }
      }
    }
  }
}

@supports (-ms-overflow-style: none) {
  .ps-container {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps-container {
    overflow: auto !important;
  }
}