.pt_product-search-noresult {
    .search-refine {
        display: none;
    }
    #primary {
		&.primary-content {
			text-transform: uppercase;		
			h1 {
				font-size: $font-18;
				font-family: $sk-main-book;
				color: $sk-light-pebble;
				line-height: 18px;
			    margin: 35px 0 14px 0;
			    padding: 0;
			    border-bottom: none;
			}
			.section-header {
				padding: 0;
				.no-hits-search-term-suggest {
			    	color: $sk-light-pebble; 
			    	&:hover {
			    		text-decoration: underline;
			    	}
			    }
				.no-hits-search-term {
					font-family: $sk-main-demi;
					color: $sk-red;
				    font-style: inherit;
				    font-weight: normal;
				    margin-left: 5px;
				}
				p {
					font-size: $font-14;
					font-family: $sk-main-medium;
					color: $sk-dark-pebble;
					font-weight: normal;
	                line-height: $font-14;
				}
			}
			.no-hits-search {
				font-size: $font-14;
				font-family: $sk-main-demi;
				color: $sk-dark-pebble;
				.form-row {
					margin: 30px 0px 0px;
					label {
						width: 100%;
						float: left;
					}
					button {
						float: none;
						margin: 0;
						padding: 0;
						width: 15px;
						background-color: transparent;
						bottom: 3px;
						&:hover {
            				background: url("../../images/sk-icons-sprite.png") -23px -24px;
            			}
					}
				}
			}
			.no-hits-help {
				font-size: $font-14;
				padding: 0; 
				font-family: $sk-main-demi;
				color: $sk-dark-pebble;
				p {
				    margin: 25px 0 10px 0;
	                font-weight: normal;
	                line-height: $font-14;
				}
				.grayarrow {
					font-family: $sk-main-medium;
					padding: 0px 0px 0px 15px;
					margin: 0;
				}
			}
		}
	}
}