@media print {
	.pt_order-confirmation #mini-cart, 
	.pt_order-confirmation .menu-utility-user,
	.pt_order-confirmation .menu-utility,
	.pt_order-confirmation .header-banner,
	.pt_order-confirmation #navigation{
		display:none;
	}
	.pt_order-confirmation {
	    padding: 10px 0px;
	    float: left;
	    width: 100%;
	    box-sizing: border-box;
	    #main {
    		padding: 0 !important;
    		margin: 0mm;
		}
	}
}
