.pt_product-details {
	.fp-root {
		clear: both;
		padding: 10px 0;
	}
    .primary-content {
        float: left;
        width: 100%;
        box-sizing: border-box;
    }
    .pdp-main {
    	.product-image-container {
    		width: 47%;
    		box-sizing: border-box;
    		 .product-thumbnails {
                float: left;
                position: relative;
			    bottom: 0;
			    left: 0;
			    width: 74px;
			    top: 15px;
			    &.videoPrimarythumb {
					top: 0;	
				}
			    @media #{$tablet} {
					 width: 20%;
				}
			    @media #{$iphone} {
           		    position: initial;
				    width: 100%;
				    top: 0;
            	}
                ul {
                    li {
                        float: left;
                        width: 60px;
                        height: 90px;
                        border: none;
                        border: 1px solid transparent;
                        outline: none;
                        box-sizing: border-box;
                        a {
                        	box-sizing: border-box;  
                            max-height: 90px;
                        }
                        &.slick-current {
	                        border: 1px solid $sk-complement-pebble-1;
                        	max-height: 90px;
                        	@media #{$iphone} {
	                           min-height: 94px;
	                        }
                        	a {
	                            float: left;
	                            display: block;
	                            box-sizing: border-box;  
	                        }
                        	.app-desktop &:hover,
	                        &.selected {
	                        	max-height: 90px;
	                            box-sizing: border-box;  
	                            border: 1px solid $sk-complement-pebble-1;
	                            @media #{$iphone} {
	                            	min-height: 94px;
	                            }
	                        	a {
		                            float: left;
		                            display: block;
		                            border: none;
		                        }
	                        }
                        }
                    }
                }
                &.videoPrimarythumb {
    				ul {
    					.thumb {
    						&.slick-current {
    							border-color: $white;
    							&.selected {
    								border-color: $white;
    							}
    						}
    					}
    				}
    				.thumbvideo {
    					a.thumbnail-videolink {
							pointer-events: none;
						}
					}
    			}
            }
    		.product-primary-image {
    			float: right;
                width: 83%;
                padding: 0px 20px;
                margin: 0px 0px 20px;
                box-sizing: border-box;
                &.videoPrimary {
                	position: relative;
					width: 100%;
					padding: 0 0 0 15%;
				}
                @media #{$elgdesktop} { 
                 	 width: 91%;
                }
                @media #{$mddesktop} { 
                 	 width: 88%;
                }
                @media #{$lgdesktop} { 
                 	 width: 86%;
                }
                @media #{$tablet-maxlandscape} { 
                	 width: 82%;
                }
	            @media #{$tablet} {
					padding: 0px;
					width: 70%;
				}
				@media #{$iphone} {
					width: 100%;
				    box-sizing: border-box;
				}
                ul.primary-image-list {
                	li {
                		position: relative;
                		.wishlist-pdp {
    						position: absolute;
    						top: 8px;
    						right: 8px;
    						@media screen and (max-width : 1500px) and (min-width : 1400px) {
    							right: 6.9%;
    						}
    						@media screen and (max-width : 1600px) and (min-width : 1500px) {
    							right: 10%;
    						}
    						@media screen and (max-width : 1700px) and (min-width : 1600px) {
    							right: 13%;
    						}
    						@media screen and (max-width : 1800px) and (min-width : 1700px) {
    							right: 16%;
    						}
    						@media screen and (max-width : 1900px) and (min-width : 1800px) {
    							right: 19%;
    						}
    						@media screen and (max-width : 2100px) and (min-width : 1900px) {
    							right: 21%;
    						}
    						@media screen and (max-width : 2300px) and (min-width : 2100px) {
    							right: 23.5%;
    						}
    						@media screen and (max-width : 2500px) and (min-width : 2300px) {
    							right: 26%;
    						}
    						@media screen and (max-width : 2600px) and (min-width : 2500px) {
    							right: 27.8%;
    						}
    						@media screen and (min-width : 2600px) {
                				right: 8px;
                			}
    						.heart-icon {
    							width: 22px;
    							height:22px;
    							display: inline-block;
    							background: url("../../images/nocolor-heart-fill.png") no-repeat;
	    						@media #{$iphone} {
	    							display: none;
	    						}
	    					}
    						.loggedin-heart-icon {
    							width: 22px;
    							height:22px;
    							display: inline-block;
    							background: url("../../images/nocolor-heart-fill.png") no-repeat;
    							&.wishlist-added {
    								pointer-events: none;
    								background: url("../../images/heart-fill-icon.png") no-repeat;
    							}
    							@media #{$iphone} {
	    							display: none;
	    						}
    						}
    					}
                		img {
                			max-width:100%;
                		}
                		.product-zoom {
                			@media screen and (min-width : 2600px) {
                				width: 100%;
                			}
                		}
                	}
                }
                button {
	                &.slick-next {
	                    right: -17px;
	                    width: 11px;
	                    height: 22px;
                        top: 50%;
	                    background: url("../../images/sk-icons-sprite.png") no-repeat -273px -216px;
						&.slick-disabled {
			    			display: none !important;
			    		}	
	                }
	                &.slick-prev {
	                    left: 0px;
                        top: 50%;
	                    width: 11px;
	                    height: 22px;
	                    background: url("../../images/sk-icons-sprite.png") no-repeat -225px -216px;
	                    &.slick-disabled {
			    			display: none !important;
			    		}
			    		 @media #{$tablet} {
							 left: -16px;
						}
			    		@media #{$iphone} {
						    left: -16px;
						}
	                }
                }
    		}
    	}
        .product-set {
            .product-primary-image {
                float: left;
                width: 100%;
                padding: 0px;
                margin: 0px 0px 20px;
            }
            .product-thumbnails {
                float: left;
                width: 100%;
                ul {
                    li {
                        float: left;
                        width: 48px;
                        max-height: 76px;
                        border: 1px solid transparent;
                        a {
                            float: left;
                            display: block;
                            box-sizing: border-box;  
                        }
                        .app-desktop &:hover,
                        &.selected {
                             border: 1px solid $sk-complement-pebble-1;
                        }
                    }
                }
            }
        }
        .product-detail {
            padding: 0px 0px 32px 32px;
            width: 51%;
            box-sizing: border-box;
        }
        .product-name {
            width: 70%;
            margin: 0px 0px 8px;
            padding: 0px;
            font-family: $sk-main-demi;
            font-size: $font-14;
            color: $sk-nav-grey;
            letter-spacing: $font-05;
        }
        .product-price {
            margin-bottom: 16px;
            padding: 0px;
            font-family: $sk-main-demi;
            font-size: $font-14;
            color: $sk-nav-grey;
            letter-spacing: $font-05;
            width: auto;
            display: inline-block;
            .price-standard {
                margin: 0px;
                padding: 0px 10px 0px 0px;
                border-right: 2px solid $sk-complement-pebble-1;
                & + .price-sales,
                & + .discountedprice-sales {
                    padding: 0px 0px 0px 7px;
                    color: $sk-red;
                }
            }
        }
        .final-sale {
        	padding-left: 10px;
        	font-size: $font-14;
        }
        .promotion {
            float: left;
            width: 100%;
            padding: 0px 0px 18px 0px;
            .promotion-title {
                float: left;
                margin-right: 20px; 
                font-family: $sk-main-medium;
                font-size: $font-12;
                font-weight: normal;
                letter-spacing: $font-05;
                color: $sk-red;
                text-transform: uppercase;
            }
            .promotion-callout {
                float: left;
                width: 64%;
                word-wrap: break-word;
                i {
                    display: none;
                }
                .callout-message,
                .tooltip {
                    margin-right: 15px;
                    font-family: $sk-main-book;
                    font-size: $font-12;
                    font-weight: normal;
                    letter-spacing: $font-05;
                    color: $sk-dark-pebble;
                    text-transform: uppercase;
                    text-decoration: none;
                }
                a.tooltip {
                    margin-right: 0px;
                    font-family: $sk-main-medium;
                    text-decoration: underline;
                    .app-desktop &:hover {
                        cursor: pointer;
                    }
                }
            }
            .price-sales {
                margin: 0px;
                padding: 0px 0px 0px 10px;
                color: $sk-red;
                border-left: 2px solid $sk-complement-pebble-1;
            }
        }
        .pdpForm {
        	float:left;
        	width:100%;
        	@media #{$iphone} {
           		margin: 20px 0 0px;  
            }
        }
        .product-variations {
            float: left;
            width: 100%;
            padding: 18px 0px 0px;
            border-top: 1px solid $sk-complement-pebble-1;
            .attribute {
                float: left;
                width: 100%;
                margin: 0 0  4px 0;
                &:last-child {
                	margin: 0;
                	@media #{$iphone} {
	           		    margin: 0 0 20px; 
		            }
                }
                .label {
                    float: left;
                    width: 100%;
                    margin: 0px 0px 15px;
                    font-family: $sk-main-medium;
                    font-size: $font-12;
                    font-weight: normal;
                    color: $sk-nav-grey; 
                    letter-spacing: $font-05;
                    text-transform: uppercase;
                    .selected-value {
                    	color: $sk-nav-grey;
                    	font-weight: normal;
                    	margin-left: 5px;
                    	text-transform: none;
                    }
                }
                .size-chart-link {
                    float: left;
                    clear: none;
                    margin: 1.5px 0px;
                    a {
                        font-family: $sk-main-medium;
                        font-size: $font-12 - 1px;
                        font-weight: normal;
                        color: $sk-nav-grey; 
                        letter-spacing: $font-05;
                        text-transform: uppercase;
                        text-decoration: underline;
                        .app-desktop &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .value {
                float: left;
                width: 100%;
                .swatches {
                    float: left;
                    width: auto;
                    > li {
                        margin: 0px 0px 10px;
                        a {
                            font-family: $sk-main-medium;
                            font-size: $font-12 - 1px;
                            font-weight: normal;
                            color: $sk-nav-grey; 
                            letter-spacing: $font-05;
                            text-transform: uppercase;
                        }
                    }
                }
                .color {
                    > li {
                    	float: left;
					    width: 50px;
					    height: auto;
					    margin-right: 5px;
					    @media #{$tablet} {
							height: 60px;
							margin-bottom: 15px;
						}
						@media #{$iphone} {
							height: 60px;
							margin-bottom: 15px;
						}
                        a {
                        	width: 36px;
						    height: 36px;
						    padding: 2px;
						    box-sizing: border-box;
						    border-radius: 50%;
						    margin: 0 auto;
						    border: 1px solid #ffffff;
                            img {
                            	width: 30px;
							    height: 30px;
							    box-sizing: border-box;
							    border-radius: 50%;
							    border: 1px solid #c4c4c4;
                            }
                            .app-desktop &:hover {
                                border: 1px solid $black;
                            } 
                        }
                        .swatchName {
                        	margin-top: 5px;
					    	width: auto;
					    	font-size: $font-10;
					    	font-family: $sk-main-medium;
					    	color: $sk-nav-grey;
					    	text-align: center;
					    	word-wrap: break-word;
					    	word-break: break-word;
					    }
                        &.selected {
                            a {
                                border: 1px solid $black;
                            }
                        }
                        &.unselectable {
                            a {
                                border: none;
                                position: relative;
                                &:after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translateX(-50%) translateY(-50%);
                                    width: 11px;
                                    height: 11px;
                                    background: url("../../images/sk-icons-sprite.png") no-repeat -353px -64px;
                                }
                            }
                        }
                        &.selected-value {
                            float: left;
                            padding: 0px;
                            margin: 0px;
                            margin: 10px 0 0 23px;
                            font-family: $sk-main-medium;
                            font-size: $font-12 - 1px;
                            font-weight: normal;
                            line-height: $font-18 + 1px;
                            color: $sk-nav-grey;
                            letter-spacing: $font-05;
                            text-transform: uppercase;
                        }
                    }
                }
                .size,
                .width {
                    float: left;
                    .swatchName {
                    	display: none;
                    }
                    > li {
                        float: left;
                        a {
                            margin: 0px 10px 0px 0px;
                            padding: 3px 5px;
                            min-width: 34px;
                            border: 1px solid $sk-nav-grey;
                            text-align: center;
                            box-sizing: border-box;
                            &:hover {
                            	text-decoration: none;
                            }
                        }
                        &:last-child {
                        	a {
                            	margin-right: 30px;
                            }
                        }
                        &.selected {
                            a {
                                color: $white;
                                background-color: $sk-nav-grey;
                            }
                        }
                        &.unavailableVariant {
                            a {
                                color: $sk-nav-grey;
                                text-decoration: line-through;
                            }
                            &.selected {
                            	a {
                            		color: $white;
                            		text-decoration: line-through;
                                	background-color: $sk-nav-grey;
                            	}
                            }
                        }
                        &.selected-value {
                            display: none;
                        }
                    }
                }
            }
        }
        .product-add-to-cart {
            float: left;
            width: 100%;
            padding: 0 0 27px 0px;
            border-bottom: 0;
    		border-top: none;
            @media #{$iphone} {
           		padding: 0 0 20px 0;  
            }
           	.dw-apple-pay-button {
           	    margin-top: 0 !important;
           	    margin-left: 0;
           	    border-radius: 0;
           	    background-color: $black !important;
           	    width: 131px;
           	}
            .availability-web {
            	label {
            		font-family: $sk-main-book;
            		color: $sk-nav-grey;
            		display: none;
            	}
            	.availability-msg {
            		margin: 0px;
            		.in-stock-msg {
            			color: $sk-nav-grey;
            		}
            		.in-stock-left {
            			color: $sk-nav-grey;
            		}
            	}
                > label,
                .in-stock-msg {
                    
                }
                .not-available-msg,
                .availabilityError,
                .availability-novariation {
                    padding: 0px 0px;
                    font-family: $sk-main-book;
                    font-size: $font-12;
                    font-weight: normal;
                    letter-spacing: $font-05;
                    color: $sk-nav-grey;
                }
                .not-available-msg {
                	color: $sk-dark-red;
                }
            }
            .inventory {
                padding: 7px 0px 15px 0;
                margin-right: 20px;
                width: 100%;
                @media #{$iphone} {
               		width: auto;
                }
                .quantity {
                    label {
                        margin: 4px 10px 0px 0px;
                        font-family: $sk-main-medium;
                        font-size: $font-12;
                        font-weight: normal;
                        color: $sk-nav-grey; 
                        letter-spacing: $font-05;
                        text-transform: uppercase;
                    }
                    input {
                        width: 40px;
                        height: auto;
                        margin: 0px;
                        padding: 4px 5px;
                        font-family: $sk-main-medium;
                        font-size: $font-12 - 1px;
                        font-weight: normal;
                        color: $sk-charcoal; 
                        letter-spacing: $font-05;
                        text-align: center;
                        border: none;
                        outline: none;
                        box-sizing: border-box;
                        background-color: $sk-complement-pebble-5;
                    }
                }
            }
            > button {
                width: 42%;
                height: auto;
                padding: 10px 30px;
                font-family: $sk-main-medium;
                font-size: $font-12;
                font-weight: normal;
                color: $white; 
                letter-spacing: $font-05;
                text-transform: uppercase;
                background-color: $sk-nav-grey;
                border: none;
                outline: none;
                clear: both;
                min-width: 254px;
                &:hover {
                    cursor: pointer;
                }
                @media #{$tablet} { 
                	width: 100%;
                }
                @media #{$iphone} { 
                	width: 100%;
                }
            }
        }
        .product-actions {
            float: left;
            width: 100%;
            padding: 20px 0px 0px;
            font-family: $sk-main-book;
			letter-spacing: 1px;
            border-top: 1px solid $sk-complement-pebble-1;
            color: $sk-nav-grey;
            .item-description {
            	margin-bottom: 13px;
            	line-height: 16px;
            	.item-label {
            		font-size: $font-12;
            		color: $dim-gray;
            		margin-bottom: 15px;
            		font-family: $sk-main-medium;
        		    letter-spacing: 1px;
            	}
            }
            .product-details {
            	margin-bottom: 15px;
            	line-height: 16px;
            	letter-spacing: 1px;
            	.product-label {
            		font-size: $font-12;
            		font-family: $sk-main-medium;
            		color: $dim-gray;
            		margin-bottom: 12px;
            	}
            	ul {
        		    margin-left: 15px;
    				li {
					    list-style: disc;
    				}
            	}
            }
            .socialsharing {
                width: 100%; 
                letter-spacing: 1px;
                margin: 0px;
                float: left;
                padding: 10px 0;
                border-top: 1px solid $sk-complement-pebble-1;
                .sharing-text {
                	float: left;
				    font-size: $font-12;
				    text-transform: uppercase;
				    line-height: 24px;
				    font-family: $sk-main-medium;
				    margin-right: 12px;
				    color: $sk-nav-grey;
                }
                > a {
                    float: left;
                    display: block;
                    padding: 5px 7px;
                    &:first-child {
                    	padding-left: 0; 
                    }
                    .fb {
                        display: block;
                        width: 6px;
                        height: 14px;
                        background-position: -26px -148px;
                        &:hover {
                        	background-position: -110px -187px;
                        }
                    }
                    .pin {
                        display: block;
                        width: 12px;
                        height: 14px;
                        background-position: -54px -148px;
                         &:hover {
                        	background-position: -138px -187px;
                        }
                    }
                    .tweet {
                        display: block;
                        width: 19px;
                        height: 15px;
                        background-position: -90px -148px;
                         &:hover {
                        	background-position: -174px -187px;
                        }
                    }
                    .youtube {
                    	display: block;
                    	width: 16px;
                    	height: 16px;
                    	background-position: -21px -261px;
                    	&:hover {
                    		background-position: -127px -262px;
                    	}
                    }
                    .instagram {
                    	display: block;
                    	width: 15px;
                    	height: 15px;
                    	background-position: -57px -262px;
                    	&:hover {
                    		background-position: -92px -262px;
                    	}
                    }
                }
            }
        }
        .product-info {
            float: left;
            width: 100%;
            margin: 30px 0px 0px;
            padding: 30px 0px 0px;
            border-top: 1px solid $sk-complement-pebble-1;
            min-height: 300px;
            .tab-head {
                > label {
                    font-family: $sk-main-medium;
                    font-size: $font-12;
                    font-weight: normal;
                    color: $sk-nav-grey;
                    letter-spacing: $font-05;
                    display: block;
                    text-transform: uppercase;
				    margin-left: 10%;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .tab-switch {
                    &:checked {
                        + .tab-label {
                            color: $sk-nav-grey;
                        }
                    }
                }
            }
            .tab-content {
                padding-top: 30px;
                display: block;
                @media #{$iphone} {
                	.tab-label {
                		padding-bottom: 30px;
					    font-family: $sk-main-book;
					    font-size: $font-14;
					    color: $sk-nav-grey;
					    letter-spacing: 0.5px;
                	}
                }
                .recommendation {
                    .slick-slider {
                        width: 80%;
                        margin: 0 auto;
                        .slick-slide {
                            padding-right: 20px;
                            .product-image {
                            	display: inline-block;
                            }
                            
                        }
                    }
                    .slick-next {
                        right: -40px;
                        width: 7px;
                        height: 12px;
                        top: 40%;
                        background: url("../../images/sk-icons-sprite.png") no-repeat -438px -63px;
                    }
                    .slick-prev {
                        left: -37px;
                        width: 7px;
                        top: 40%;
                        height: 12px;
                        background: url("../../images/sk-icons-sprite.png") no-repeat -396px -63px;
                    }
                    .slick-disabled {
                    	opacity: 0;
                    }
                }
                .tabcontainer-1,
                .tabcontainer-2,
                .tabcontainer-3,
                .tabcontainer-4 {
                    width: 60%;
                    margin: 0 auto;
                    font-family: $sk-main-book;
                    font-size: $font-14;
                    line-height: $font-16;
                    font-weight: normal;
                    letter-spacing: $font-05;
                    color: $sk-nav-grey;
                }
            }
            .product-tile {
                .product-name,
                .product-price {
                    width: 90%;
                    padding: 0px 20px 0px 0px;
                    margin: 20px auto 0px;
                    font-size: $font-12 - 1px;
                    font-weight: normal;
                    line-height: $font-14;
                    color: $sk-nav-grey;
                    text-align: center;
                    box-sizing: border-box;
                    a {
                    	color: $sk-nav-grey;	
                    }
                    @media #{$iphone} {
                    	padding: 0px;
                    }
                }
                .product-price {
                    margin: 5px auto 0px;
                    border: none;
                }
            }
        }
        .product-set {
            > .product-name {
                float: left;
                width: 100%;
                margin-bottom: 0px;
                padding: 0px 0px 30px;
                border-bottom: 1px solid $sk-complement-pebble-1;
            }
            > .pdpForm {
                .product-add-to-cart {
                    float: left;
                    width: 100%;
                    padding: 30px 0px;
                    > .pdt-buyall {
                        float: left;
                        width: 100%;
                        label,
                        .product-price {
                            float: left;
                            margin: 0px;
                            padding: 0px;
                            font-family: $sk-main-medium;
                            font-size: $font-14;
                            font-weight: normal;
                            letter-spacing: $font-05;
                            color: $sk-charcoal;
                            text-transform: uppercase;
                        }
                        .product-price {
                            margin-left: 3px;
                        }
                    }
                    > button {
                        float: left;
                        display: block;
                        margin: 20px 0px 0px;
                    }
                }
            }
            .product-set-list {
                .product-set-item {
                    float: left;
                    width: 100%;
                    padding: 30px 0px;
                    border-bottom: 1px solid $sk-complement-pebble-1;
                    .product-set-image {
                        float: left;
                        width: 25%;
                        padding: 0px;
                        box-sizing: border-box;
                    }
                    .product-set-details {
                        float: left;
                        width: 75%;
                        padding: 20px 0px 0px 25px;
                        box-sizing: border-box;
                        .product-name {
                            a {
                                font-family: $sk-main-medium;
                                font-size: $font-12;
                                font-weight: normal;
                                letter-spacing: $font-05;
                                text-transform: uppercase;
                                color: $sk-charcoal;
                            }
                        }
                        .product-price {
                            display: inline-block;
                            margin: 0px;
                            padding: 0px;
                        }
                        .product-variations {
                            position: relative;
                            &:before,
                            &:after {
                                content: "";
                                display: block;
                                position: absolute;
                                top: -3px;
                                left: 0;
                                width: 50px;
                                height: 5px;
                                background-color: $white;
                            }
                            &:after {
                                top: auto;
                                bottom: -3px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.ui-dialog {
    font-family: $sk-main-medium;
    font-size: $font-12;
    font-weight: normal;
    line-height: $font-16;
    letter-spacing: $font-05;
    text-transform: uppercase;
    color: $sk-dark-pebble;
    #dialog-container {
        &.ui-dialog-content {
            width: 100%;
            .product-primary-image {
            	.slick-prev, .slick-next{
        		    display: none !important;
            	}
            }
            .show-promo-details {
                float: left;
                margin-top: 15px;
            }
        }
    }
    .ui-dialog-buttonpane {
        float: left;
        width: 100%;
        margin: 0px;
        padding: 10px 20px;
        box-sizing: border-box;
        .ui-dialog-buttonset {
            button {
                margin: 0px 0px 0px 10px;
                color: $white;
                background-color: $sk-light-pebble;
                border: none;
                &:hover {
                    text-decoration: underline;
                }
                @media #{$iphone} {
                    &:first-child {
                        margin-left: 0px;
                    }
                }
                span {
                    display: inline-block;
                    padding: 10px 15px;
                    font-size: $font-12 - 1px;
                    letter-spacing: $font-05;
                    text-transform: uppercase;
                }
            }
        }
    } 
}

.product-thumbnails .slick-slider{
	padding: 0px 0px;
	@media #{$iphone} {
	padding: 0 20px;
	}
	button{
    	padding: 0px;
    	top: 50%;
    	width: 20px;
    	height: 20px;
    	margin-top: -10px;
    	&.slick-next{
    		top: 104%;
    		right: 37%;
    		position: absolute;
    		transform: rotate(90deg);
    		-webkit-transform: rotate(90deg);
			margin-top: -27px;
    		background: url("../../images/sk-icons-sprite.png") no-repeat -431px -59px;
    		.IE & {
    			right: 34%; 	
    		}
    		@media #{$tablet} { 
    			top: 106%;
    			right: 35%;
    		}
    		&.slick-disabled {
    			display: none !important;
    		}
    		.qv-dialog & {
    			right: -12px;
			    top: 50%;
			    margin-top: -5px;
			    -webkit-transform: rotate(0deg);
			    transform: rotate(0deg);
    		}
    		@media #{$iphone} {
			    right: 0;
			    top: 50%;
			    margin-top: -10px;
			    -webkit-transform: rotate(90deg);
			    transform: rotate(360deg);
			}
    		
    	}
    	&.slick-prev{
		    left: 39%; 
		    position: absolute;
		    top: -3%;
		    z-index: 0;
		    -webkit-transform: rotate(90deg);
		    transform: rotate(90deg);
			margin-top: -5px;
    		background: url("../../images/sk-icons-sprite.png") no-repeat -389px -60px;
    		.IE & {
    			left: 44%; 	
    		}
    		@media #{$tablet} { 
    			top: -4%;
    		}
    		&.slick-disabled {
    			display: none !important;
    		}
    		.qv-dialog & {
    			left: -12px;
			    top: 50%;
			    -webkit-transform: rotate(0deg);
			    transform: rotate(0deg);
    		}
    		@media #{$iphone} {
				left: 0px;
			    top: 50%;
			    margin-top: -10px;
			    -webkit-transform: rotate(90deg);
			    transform: rotate(360deg)
			}
    	}
    }
	.thumb{
		margin: 0 10px 2px 10px;
		@media #{$iphone-tablet} {
			margin: 0 5px 2px 5px;
		}
	}
}

#wrapper {
	&.pt_product-search-result {
		.primary-content {
			.no-results {
				padding-left: 0px;
				letter-spacing: $font-05;
				font-size: $font-14;
				font-family: $sk-main-medium;
				color: $sk-dark-pebble;
				@media #{$iphone} {
					padding-left: 5%;
				}
			}
			@media #{$iphone} {
				.search-promo {
					padding: 0px;
				}
			}
		}
	}
	&.pt_product-details {
        .slot-header {
            padding-bottom: 25px;
            text-align: center;
            font-size: $font-12;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: bold;
        }
	}
}

.bv-show-summary {
	width: auto;
    float: left;
    padding: 10px 0px 10px;
    .bv_main_container {
    	.bv_avgRating_component_container, .bv_numReviews_component_container {
    		.bv_avgRating, .bv_numReviews_text {
    			text-decoration: none!important;
    		}
    	}
    }
}
.bv-custom-readallreview {
	width: auto;
    float: left;
    padding: 15px 0px 10px;
    a {
    	cursor: pointer!important;
	    color: #666666!important;
	    font-size: 14px!important;
	    font-family: FunctionPro-Medium, sans-serif!important;
	    text-transform: none!important;
	    font-weight: normal!important;
	    font-style: normal!important;
	    text-decoration: underline!important;
    }
}
.bv-main-container {
    float: left;
    width: 100%;
}
.tab {
	&.reviews {
		max-width: 960px;
		margin: 0 auto;
		width: 100%;
		display: block;
		clear: both;
		.tab-label {
			padding: 10px 0;
			margin: 0 10px 12px;
			font-size: $font-14;
			font-family: $sk-main-medium;
			border-bottom: 1px solid $sk-complement-pebble-1;
			color: #666666;
			text-transform: capitalize;
			&.active {
				.fa {
					transform: none;
				}
			}
			.fa {
				float: left;
				margin-right: 5px;
				font-size: $font-16;
				transform: rotate(270deg);
			}
		}
	}
}

.pdp-main {
	.product-col-1 {
		.product-thumbnails {
			li.thumbvideo {
				margin-top: 30px;
				text-align: center;
				list-style-type: none;
				@media #{$iphone} {
					display: none;
				}
				.thumbnail-link {
					display: inline-block;
					width: 49px;
					height: 65px;
					background: url("../../images/video-thumb.png") no-repeat;
				}
			}
			&.height {
				.slick-list {
					height: auto !important;
				}
				li.thumbvideo {
					margin-top: 15px;
				}
			}
		}
	}
	.iframe-video {
		border: 0;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
}

.vp-player-layout {
	top: 0 !important;
}

.availability-web {
	display: block;
	width: 42%;
    background-color: #e0e0e0;
    padding: 15px 12px;
    box-sizing: border-box;
    min-width: 254px;
    @media #{$tablet} { 
    	width: 100%;
    }
    @media #{$iphone} { 
    	width: 100%;
    }
}

#pdpMain {
	.product-primary-image {
		.primary-image-list {
			display: none;
			&.active {
				display: block;
			}
			&.primaryset {
				//display: block;
			    //position: absolute;
			    //opacity: 0; 
			    //max-width: 100%;
			    //top: -55555px;
			    .slick-track {
			    	position: absolute;
			    }
			    .slick-next,.slick-prev {
			    	display: none !important;
			    }
			}
		}
		.video-rendering-area {
			display: none;
			&.active {
				position: relative;
				height: 100%;
				display: block;
			}
		}
	}
	.fulldesc {
		width: 100%;
	    float: left;
	    margin-bottom: 20px;
	    word-wrap: break-word;
	}
}

.ui-dialog {
	&.wishlist-dialog {
		width: 25% !important;
		top: 280px;
		left: 19.6% !important;
		z-index: 9;
		box-shadow: 0 3px 3px 0 rgba(66,66,66,.2);
		.ui-dialog-titlebar {
			.ui-dialog-title {
				padding: 5px;
    			min-height: 30px;
			}
		}
		#wishlist-response {
		    height: auto;
		    padding: 5px 10px 15px 10px;
		    text-align: center;
		    .response-text {
		    	font-family: $sk-main-book;
		    	font-size: $font-14;
		    	letter-spacing: 1px;
		    	display: block;
		    	margin-bottom: 6px;
		    }
		    .response-link {
		    	a {
		    		font-family: $sk-main-medium;
			    	font-size: $font-14;
			    	letter-spacing: 1px;
			    	text-decoration: underline;
		    	}
		    }
	    }
	}
}
//NotifyMe
.bisn-notify-me {
	font-size: $font-14;
    line-height: $font-20;
    letter-spacing: $font-1;
    margin-bottom: 20px;
    color: $sk-nav-grey;
    .bisn-link {
    	text-decoration: underline;
    	cursor: pointer;
    	&:hover {
    		text-decoration: none;
    	}
    }
}
.ui-dialog {
 	&.Bisn_popup {
    	box-shadow: 0 3px 3px 0 rgba(66,66,66,.2);
    	+ .ui-widget-overlay {
		    background: white !important;
			opacity: 0.1 !important;
    	}
    	.ui-dialog-titlebar {
	    	.ui-dialog-title {
	    		padding: 8px;
	    		min-height: 0;
	    	}
	    	.ui-dialog-titlebar-close {
				height: 15px;
				width: 15px;
				top: 0%;
				span {
				    top: -2px;
				    right: -6px;
				    left: initial;
				}
			}
	    }
 		.ui-widget-header {
			padding: 0;
		}
		.ui-dialog-content {
			padding: 20px !important;	
			.bisnPopUpHeading {
				.label {
					font-size: $font-12;
				    line-height: $font-20;
				    letter-spacing: $font-1;
				    font-family: $sk-main-book;
				    margin-bottom: 10px;
				    color: $sk-nav-grey;
				}
				.bisnDescription {
					font-size: $font-12;
				    line-height: $font-20;
				    letter-spacing: $font-1;
				    font-family: $sk-main-book;
				    margin-bottom: 20px;
				    color: $sk-nav-grey;
				}
			}
			.bisnProductInfoRow {
				ul {
					list-style-type: none;
					li {
						float: left;
						margin: 0px 0px 18px;
					    &.selected {
							.liSelectable {
								color: $white;
    							background-color: $sk-dark-pebble;
							}
					    }
					    .liSelectable {
					    	margin: 0px 10px 0px 0px;
					    	cursor: pointer;
						    padding: 2px 5px;
						    display: block;
						    min-width: 34px;
						    border: 1px solid $sk-pdpborder-grey;
						    text-align: center;
						    box-sizing: border-box;
						    font-family: $sk-main-medium;
						    font-size: 11px;
						    font-weight: normal;
						    color: $sk-nav-grey;
						    letter-spacing: 0.5px;
						    text-transform: uppercase;
					    }
					}
				}
			}
			.bisnEmailFormContainer {
				width: 100%;
			    float: left;
		    	.bisnemail {
		    		font-size: $font-12;
				    line-height: $font-20;
				    letter-spacing: $font-1;
				    font-family: $sk-main-medium;
				    padding: 7px;
				    text-transform: initial;
				    //&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  //color: $mk-grey;
					//}
					//&::-moz-placeholder { /* Firefox 19+ */
					  //color: $mk-grey;
					//}
					//&:-ms-input-placeholder { /* IE 10+ */
					  //color: $mk-grey;
					//}
					//&:-moz-placeholder { /* Firefox 18- */
					  //color: $mk-grey;
					//}
		    	}
		    	#bisnemailnstatus {
		    		display: block;
		    		padding: 6px 0 0;
		    	}
		    	button {
		    		background: $sk-dark-pebble;
				    width: 100%;
				    font-size: $font-14;
				    letter-spacing: $font-1;
				    padding: 7px;
				    font-family: $sk-main-demi;
				    color: $white;
				    cursor: pointer;
				    margin-top: 10px;
		    	}
			}
			.bisn-thankyou-cont {
				.bisn-thankyou {
					font-size: $font-12;
				    line-height: $font-20;
				    letter-spacing: $font-1;
				    font-family: $sk-main-book;
				    margin-bottom: 20px;
				    color: $sk-nav-grey;
				}
				.thankyou-content {
					font-size: $font-12;
				    line-height: $font-20;
				    letter-spacing: $font-1;
				    font-family: $sk-main-book;
				    margin-bottom: 30px;
				    color: $sk-nav-grey;
				}
				.bisn-continueshop {
					background: $sk-dark-pebble;
				    width: 100%;
				    font-size: $font-14;
				    letter-spacing: $font-1;
				    padding: 7px;
				    font-family: $sk-main-demi;
				    color: $white;
				}
			}			
		}
 	}
 }
 
 .ui-dialog {
	 &.edit-cart-popup {
	 	.swatchName {
	 		display: none;
	 	}
	 	.product-thumbnails {
	 		.slick-slider {
	 			button.slick-next {
	 				right: -12px;
				    top: 50%;
				    margin-top: -5px;
				    -webkit-transform: rotate(0deg);
				    transform: rotate(0deg);
	 			}
	 			button.slick-prev {
	 				left: -12px;
				    top: 50%;
				    -webkit-transform: rotate(0deg);
				    transform: rotate(0deg);
	 			}
	 		}
	 	}
	 }
 }
 
 @media #{$tablet-maxlandscape} {
	#wrapper {
		&.pt_product-details {
			#main {
				#primary {
					.pdp-main {
						.product-col-1 {
							.product-primary-image {
								&.videoPrimary {
									padding: 0 0 0 17%;
								}
							}
						}
					}
				}
			}
		}
	}
}

 @media #{$tablet} {
	#wrapper {
		&.pt_product-details {
			#main {
				#primary {
					.pdp-main {
						.product-col-1 {
							.product-primary-image {
								&.videoPrimary {
									padding: 0 0 0 24%;
								}
							}
						}
					}
				}
			}
		}
	}
}
