.grid-tile {
	.product-tile {
		.product-image {
			font-size: 0;
			&:hover{
				.quickview {
					display: block;
				}
			}
			.quickview {
		   		background-color: transparent;
			    font-size: $font-12;
			    color: $white;
			    font-family: $sk-main-medium;
		        text-transform: uppercase;
			    width: 45.285%;
	    		padding: 10px 0;
	    		.quickview-bg {
	    			background-color: $white;
	    			position: absolute;
				    left: 0;
				    top: 0;
				    width: 100%;
				    height: 100%;
				    z-index: 1;
				    opacity: 0.48;
    			}
    			.quickview-text {
	    			position: relative;
	    			z-index: 2;
    			}
    			&:hover .quickview-bg {
    				background-color: #111111;
    			}	
			}
		}
		.product-swatches {
			text-align: left;
			float: none; 
			.product-swatches-all {
				+ .swatch-toggle {
				    width: 162px; 
				    margin-top: 6px;
				    padding: 14px 5px 8px 14px;
			        z-index: 99;
			        border: 1px solid $sk-dark-pebble;
		            box-sizing: border-box;
	                left: 0;
	                @media #{$iphoneonly} {
	                	left: -14px;
	                }
			        li {
		        	    margin: 0 7px 6px 0;
			        }
				}
			}
			ul.swatch-list {
			    display: block;
			    margin: 0 auto;
			    text-align: left;
			    &.swatch-toggle {
				    display: none;
				}
				li {
				    width: auto;
				    height: auto;
				    float: left;
				    margin-right: 8px;
				    @media #{$iphone} {
				    	&:nth-child(5n+5) {
				    		margin: 0 0 6px 0;
				    	}
				    }
				    .swatch {
					    display: block;
					    width: 37px;
					    border: 1px solid $white;
					    height: 37px;
					    padding: 2px;
					    box-sizing: border-box;
					    border-radius: 50%;
					    margin: 0 auto;
				        &:hover {
			    	   	    border: 1px solid $black;
						    box-sizing: border-box;
			    	   } 
				        &.selected {
				        	border: 1px solid $black;
						    box-sizing: border-box;
				        }
					    img {
					    	width: 29px;
						    height: 29px;
						    border-radius: 50%;
						    border: 1px solid #c4c4c4;
						    padding: 0;
					    }
					}
				}
			}
		}
		.product-swatches-all {
			color: $sk-dark-pebble;
			font-family: $sk-main-medium;
			font-size: $font-10+1;
		    text-transform: uppercase;
		    box-sizing: border-box;
		    border-bottom: 2px solid transparent;
		    &:hover {
			    box-sizing: border-box;
		    }
		}
		.product-name {
			text-align: left;
			height: auto;
			margin: 15px 0 6px 0;
			padding: 0px;
    		box-sizing: border-box;
    		@media #{$iphone} {
    			padding: 0px;
    		}
			a {
	    		color: $sk-nav-grey;
			    &:hover {
			    	text-decoration: underline;
			    }
			    .product-name-title {
			    	font-family: $sk-main-medium;
			    	font-size: $font-16;
			    	text-transform: uppercase;
			    }
			    .product-description {
			    	font-family: $sk-main-book;
			    	font-size: $font-16;
			    	text-transform: none;
			    }
		    }
		} 
		.product-pricing {
		    margin: 0 0 15px 0;
		    font-family: $sk-main-medium;
			font-size: $font-16;
			color: $sk-nav-grey;
			text-align: left;
		    .product-sales-price {
		    	color: $sk-dark-pebble;
		    	&.promotional-price {
					color: $sk-red;	
					margin-left: 2px;
				}    	
		    }
		}
		.product-promo {
			margin: 0 0 10px 0;
			.promotional-message {
				padding-bottom: 8px;
				font-size: $font-12;
				text-transform: uppercase;
				font-family: $sk-main-medium;
				color: $sk-quick-grey;
			    text-align: left;
			}
		}
	}
}

.product-tile{
	.product-video {
		text-align: left;
		@media #{$iphone} {
			display: none;
		}
		.iframe-tile {
			border: 0;
			max-width: 100%;
		}
	}
}