.ui-dialog {
    .ui-dialog-titlebar {
        float: left;
        position: relative;
        width: 100%;
        height: auto;
        padding: 0px;
        background-color: $sk-dark-pebble;
        box-sizing: border-box;
        .ui-dialog-title {
            width: 100%;
            padding: 15px 10px 14px;
            margin: 0px;
            min-height: 45px;
            font-family: $sk-main-demi;
            font-size: $font-14;
            font-weight: normal;
            color: $white;
            letter-spacing: $font-05;
            text-transform: uppercase;
            text-align: center;
            box-sizing: border-box;
        }
        button {
            top: 50%;
            left: auto;
            right: 10px;
            transform: translateY(-50%);
            width: 46px;
            height: 46px;
            opacity: 1;
            .ui-icon-closethick {
                width: 46px;
                height: 46px;
                background: url("../../images/sk-icons-sprite.png") no-repeat -325px -45px;
            }
        }
    }
    .ui-dialog-content {
        float: left;
        width: 100% !important;
        padding: 32px;
        box-sizing: border-box;
        .product-image-container,
        .product-col-1.product-set {
            width: 30%;
            padding: 0px;
            .product-primary-image {
                float: left;
                width: 100%;
                padding: 0px;
                margin: 0px 0px 10px;
                ul {
                	li {
                		list-style-type: none;
                	}
                }
            }
            .product-thumbnails {
                float: left;
                width: 100%;
                > ul {
                    > li {
                        float: left;
                        a {
                            float: left;
                            display: block;
                            width: 48px;
                            max-height: 76px;
                            margin-right: 20px;
                            box-sizing: border-box;
                    	}
                        &:hover,
                        &.selected {
                            a {
                                border-color: $sk-complement-pebble-2;
                                border: 1px solid $sk-complement-pebble-1;
                            }
                        }
                    }
                    .slick-list {
                    	.slick-track {
                    		li {
                    			&.selected {
		                            a {
		                                border-color: $sk-complement-pebble-2;
		                                border: 1px solid $sk-complement-pebble-1;
		                                display: inline-block;
		                            }
		                        }
                    		}
                    	}
                   	}
                }
            }
        }
        .product-detail {
            width: 70%;
            padding: 0px 0px 0px 25px;
            .pdpForm {
            	width: 100%;
            	float: left;
            }
            .full-detail-cont {
                float: left;
                width: 100%;
                #view-full-details {
                    float: left;
                    padding: 12px 20px 8px;
                    margin: 0px 0px 15px;
                    font-family: $sk-main-demi;
                    font-size: $font-12 - 1px;
                    line-height: $font-12;
                    font-weight: normal;
                    letter-spacing: $font-05;
                    text-transform: uppercase;
                    color: $white;
                    background-color: $sk-light-pebble;
                }
            }
        }
        .product-name {
            float: left;
            width: 100%;
            margin: 0px 0px 15px;
            padding: 0px;
            font-family: $sk-main-medium;
            font-size: $font-14;
            color: $sk-charcoal;
            letter-spacing: $font-05;
            text-transform: uppercase;
        }
        .product-price {
            margin: 0px;
            padding: 0px 0px 26px;
            font-family: $sk-main-demi;
            font-size: $font-14;
            color: $sk-dark-pebble;
            letter-spacing: $font-05;
            width: auto;
            display: inline-block;
            .price-standard {
                margin: 0px;
                padding: 0px 10px 0px 0px;
                border-right: 2px solid $sk-complement-pebble-1;
                & + .price-sales {
                    padding: 0px 0px 0px 7px;
                    color: $sk-red;
                }
            }
        }
        .final-sale {
        	padding-left: 10px;
        }
        .promotion {
            float: left;
            width: 100%;
            padding: 0px 0px 30px;
            .promotion-title {
                float: left;
                margin-right: 20px; 
                font-family: $sk-main-medium;
                font-size: $font-12;
                font-weight: normal;
                letter-spacing: $font-05;
                color: $sk-red;
                text-transform: uppercase;
            }
            .promotion-callout {
                float: left;
                width: 68%;
                i {
                    display: none;
                }
                .callout-message,
                .tooltip {
                    margin-right: 15px;
                    font-family: $sk-main-book;
                    font-size: $font-12;
                    font-weight: normal;
                    letter-spacing: $font-05;
                    color: $sk-dark-pebble;
                    text-transform: uppercase;
                    text-decoration: none;
                }
                a.tooltip {
                    font-family: $sk-main-medium;
                    margin-right: 0px;
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
            .price-sales {
                margin: 0px;
                padding: 0px 0px 0px 10px;
                color: $sk-red;
                border-left: 2px solid $sk-complement-pebble-1;
            }
        }
        .bonus-product-list{
        	 .product-variations{
	        	border-top: 0 none;
	         }
	         .product-col-2.product-detail .product-name{
	         	margin-bottom: 0px;
	         } 
        }
        .product-variations {
            float: left;
            padding: 0px 0px 28px;
            border-top: 1px solid $sk-complement-pebble-1;
            width: 100%;
            .attribute {
                float: left;
                width: 100%;
                margin: 30px 0px 0px;
                .label {
                    float: left;
                    width: 100%;
                    margin: 0px 0px 15px;
                    font-family: $sk-main-medium;
                    font-size: $font-12;
                    font-weight: normal;
                    color: $sk-dark-pebble; 
                    letter-spacing: $font-05;
                    text-transform: uppercase;
                }
                .size-chart-link {
                    float: left;
                    clear: none;
                    margin: 1.5px 0px;
                    a {
                        font-family: $sk-main-medium;
                        font-size: $font-12 - 1px;
                        font-weight: normal;
                        color: $sk-dark-pebble; 
                        letter-spacing: $font-05;
                        text-transform: uppercase;
                        text-decoration: underline;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .value {
                float: left;
                width: 100%;
                .swatches {
                    float: left;
                    width: auto;
                    > li {
                        margin: 0px 0px 10px;
                        a {
                            font-family: $sk-main-medium;
                            font-size: $font-12 - 1px;
                            font-weight: normal;
                            color: $sk-dark-pebble; 
                            letter-spacing: $font-05;
                            text-transform: uppercase;
                        }
                    }
                }
                .color {
                    > li {
                        a {
                            width: 19px;
                            height: 19px;
                            margin-right: 7px;
                            box-sizing: border-box;
                            &:hover {
                                border: 3px solid $sk-complement-pebble-1;
                            } 
                        }
                        &.selected {
                            a {
                                border: 3px solid $sk-complement-pebble-1;
                            }
                        }
                        &.unselectable {
                            a {
                                border: none;
                                position: relative;
                                &:after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translateX(-50%) translateY(-50%);
                                    width: 11px;
                                    height: 11px;
                                    background: url("../../images/sk-icons-sprite.png") no-repeat -353px -64px;
                                }
                            }
                        }
                        &.selected-value {
                            float: left;
                            padding: 0px;
                            margin: 0px;
                            margin-left: 23px;
                            font-family: $sk-main-medium;
                            font-size: $font-12 - 1px;
                            font-weight: normal;
                            line-height: $font-18 + 1px;
                            color: $sk-light-pebble;
                            letter-spacing: $font-05;
                            text-transform: uppercase;
                        }
                    }
                }
                .size,
                .width {
                    float: left;
                    > li {
                        float: left;
                        a {
                            margin: 0px 10px 0px 0px;
                            padding: 2px 5px;
                            min-width: 10px;
                            text-align: center;
                            &:hover {
                                background-color: $sk-complement-pebble-5;
                                text-decoration: none;
                            }
                        }
                        &.selected {
                            a {
                                color: $white;
                                background-color: $sk-dark-pebble;
                            }
                        }
                        &.unavailableVariant {
                            a {
                                color: $sk-dark-pebble;
                                text-decoration: line-through;
                                background-color: $sk-background-light-grey;
                            }
                            &.selected {
                            	a {
                            		color: $white;
                            		text-decoration: line-through;
                                	background-color: $sk-dark-pebble;
                            	}
                            }
                        }
                        &.selected-value {
                            display: none;
                        }
                        &:last-child {
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
        .product-add-to-cart {
            float: left;
            width: 100%;
            padding: 18px 0px;
            border: none;
            border-top: 1px solid $sk-complement-pebble-1;
            .availability-web {
                > label,
                .in-stock-msg {
                    color: $black;
                }
                .in-stock-left {
            		color: $red;
            	}
                .not-available-msg,
                .availabilityError,
                .availability-novariation {
                    padding: 0px 0px 20px;
                    font-family: $sk-main-book;
                    font-size: $font-12;
                    font-weight: normal;
                    letter-spacing: $font-05;
                    color: $sk-dark-red;
                }
                p {
                	margin: 0;
                	text-transform: lowercase;
                	text-transform: initial;
                }
            }
            .inventory {
                padding: 7px 0px;
                margin-right: 20px;
                width: 100%;
                float: left;
                .quantity {
                    label {
                        margin: 4px 10px 0px 0px;
                        font-family: $sk-main-medium;
                        font-size: $font-12;
                        font-weight: normal;
                        color: $sk-dark-pebble; 
                        letter-spacing: $font-05;
                        text-transform: uppercase;
                    }
                    input {
                        width: 40px;
                        height: auto;
                        margin: 0px;
                        padding: 4px 5px;
                        font-family: $sk-main-medium;
                        font-size: $font-12 - 1px;
                        font-weight: normal;
                        color: $sk-charcoal; 
                        letter-spacing: $font-05;
                        text-align: center;
                        border: none;
                        outline: none;
                        box-sizing: border-box;
                        background-color: $sk-complement-pebble-5;
                    }
                }
            }
            > button {
                width: auto;
                height: auto;
                padding: 10px 30px;
                font-family: $sk-main-medium;
                font-size: $font-12;
                font-weight: normal;
                color: $white; 
                letter-spacing: $font-05;
                text-transform: uppercase;
                background-color: $sk-complement-pebble-1;
                border: none;
                outline: none;
                &:hover {
                    cursor: pointer;
                    background-color: $sk-complement-pebble-1;
                }
                &:not(:disabled) {
                    &:hover {
                        background-color: $sk-light-pebble;
                    }
                }
            }
        }
        .product-info {
            display: none;
        }
        .product-set {
            > .product-name {
                margin-bottom: 15px;
            }
            .full-detail-cont {
                padding: 0px 0px 30px;
                border-bottom: 1px solid $sk-complement-pebble-1;
                #view-full-details {
                    margin: 0px;
                }
            }
            > .set-product {
                .product-add-to-cart {
                    float: left;
                    width: 100%;
                    padding: 30px 0px;
                    > .pdt-buyall {
                        float: left;
                        width: 100%;
                        label,
                        .product-price {
                            float: left;
                            margin: 0px;
                            padding: 0px;
                            font-family: $sk-main-medium;
                            font-size: $font-14;
                            font-weight: normal;
                            letter-spacing: $font-05;
                            color: $sk-charcoal;
                            text-transform: uppercase;
                            border: none;
                        }
                        .product-price {
                            margin-left: 3px;
                        }
                    }
                    > button {
                        float: left;
                        display: block;
                        margin: 20px 0px 0px;
                    }
                }
            }
            .product-set-list {
                float: left;
                width: 100%;
                max-height: 400px;
                overflow: auto;
                .product-set-item {
                    float: left;
                    width: 100%;
                    padding: 30px 0px;
                    border-bottom: 1px solid $sk-complement-pebble-1;
                    position: relative;
                    &:last-child {
                    	border-bottom-width: 0;
                    }
                    .product-set-image {
                        float: left;
                        width: 25%;
                        padding: 0px;
                        box-sizing: border-box;
                        position: absolute;
                    }
                    .product-set-details {
                        float: left;
                        width: 100%;
                        padding: 0;
                        box-sizing: border-box;
                        .product-name {
                            a {
                                font-family: $sk-main-medium;
                                font-size: $font-12;
                                font-weight: normal;
                                letter-spacing: $font-05;
                                text-transform: uppercase;
                                color: $sk-charcoal;
                            }
                        }
                        > *:not(.product-add-to-cart) {
                        	margin-left: 30%;
                        	width: 70%;
                        }
                    }
                }
            }
        }
        .bonus-product-list {
            .bonus-product-item {
                .product-col-2 {
                    &.product-detail {
                        .product-name {
                            margin-bottom: 0px;
                            padding-bottom: 30px;
                            border-bottom: 1px solid $sk-complement-pebble-1;
                        }
                        .product-variations {
                            border: none;
                        }
                    }
                }
            }
        }
    } 
}
.ui-dialog {
	&.PDP-product-zoom {
		.ui-dialog-titlebar {
			background-color: $white;
			.ui-dialog-title {
				display: none;
			}
			.ui-dialog-titlebar-close {
				span.ui-icon-closethick {
				    background-image: url(../../images/close.png);
				    background-position: left top;
				    height: 20px;
				    width: 20px;
				    left: 0;
				    top: 40px;
				    right: 20px;
				    outline: none;
				    @media #{$iphone} { 
	        		    left: 35px;
			        }
				}
			}
		} 
	}
}
.ui-dialog.format-newsletter {
	.ui-dialog-titlebar {
	.ui-dialog-title {
			display: none;
		}
		background-color: $white;
		button {
			z-index: 99;
			top: 20px;
		}
	}
}