@media #{$medium-tab} {
    .search-suggestion-wrapper{
        &.full {
            left:  -182px;
        }
    }
    .top-banner {
        .primary-logo {
            width:  175px;
        }
    } 
}

@media #{$iphone} {
	#wrapper {
		.header-banner {
			#slide-hello {
				.closing-bar {
				 	&.close-btn {
				 		top: 4px;
				 	}
				 }
			}
		}
	}
	.ui-dialog.PDP-product-zoom {
		.ui-dialog-titlebar {
			.ui-dialog-titlebar-close {
				right: 20px;
				span.ui-icon-closethick {
					left: 23px;
					top: 30px;
				}
			}
		}
	}
	body {
		#wrapper {
			&.pt_product-search-result {
				#main {
					padding: 0;
					.search-result-options,
					.search-result-content,
					.search-promo,
					#secondary {
						padding-left: 5%;
						padding-right: 5%;
						box-sizing: border-box;
					}
					.breadcrumb {
						padding-left: 5%;
						padding-right: 5%;
						box-sizing: border-box;
					}
				}
			}
		}
	}
	.breadcrumb {
		width : 100%;
	    padding: 40px 0 25px 0px;
	    box-sizing: border-box;
	    line-height: 19px;
	}
	#wrapper {
		&.menu-active {
			left:  85%;
			display: inline-block;
			@media screen and ( min-width:481px) and (max-width:767px){
            	left: 70%;	
            }
		}
		.primary-content {
			width: 100%; 
			float: left;
			.search-result-content {
				#search-result-items {
					.grid-tile {
						width: 46.9%; 
        	    		box-sizing: inherit;
        	    		padding-right: 0;
        	    		&:nth-child(2n+2) {
                            margin-left: 5.8%;
                            clear: right;
                            + li{
                            	clear: left;
                            }
                        } 
					}
				}
			}
		}
		&.pt_product-search-noresult {
			#secondary {
				.refinement-header {
					&.active {
					&.remove-line {
			   			border: none;
					}
					}
				}
			}
		}
		#secondary  {
			width: 100%;
			.refinement-header {
				padding-left: 0px;
				clear: both;
			    .icons-sprite {
			    	right: 10px;
			    }
                &.active {
                    //border: none;
                }
		    }
		    .refinement {
		    	&:last-child {
		    		 h3.toggle {
		    		 	&.expanded {
		    		 		//border-bottom: none;
	    		 		}
		    		 }
		    	}
				.custom-scrollbar{
					margin: 0;
					padding: 0;
					ul{
						padding: 0px 10px 10px 0px;
					}
				}
				 h3.toggle {
				 	padding-left: 0px;
		 		}
		 		.scrollable {
		 			li {
		 				float: left;
		 				width: 100%;
		 			}
		 		}
	 		}
	    }
    }
    .hide-mobile {
        display:  none;
    }
    .hide-desktop {
        display:  block;
    }
    .header-search-cont {
        position:  absolute;
        top:  0;
        left:  0;
        max-width:  100%;
        width:  100%;
        margin:  0px;
        padding:  10px 0px;
        border-bottom:  2px solid $white;
        box-sizing:  border-box;
        .header-search {
            background-color:  $sk-complement-pebble-5;
            border:  none;
            box-sizing:  border-box;
            input[type="text"] {
                padding:  18.5px 20px 18.5px 48px;
                font-size:  $font-18;
                color:  $sk-charcoal;
                border-bottom: none;
            }
            .search-ico {
                top:  9px;
                left:  15px;
                width:  20px;
                height:  20px;
                background-position:  -292px -154px;
            }
        }
    }
    .pt_product-search-noresult {
        .primary-content {
            float: left;
            padding: 0px 0px 15px;
            box-sizing: border-box;
            .header-search-cont {
                position: static;
            }
            .no-hits-footer {
            	display: none;
            }
        }
    }
    .header-banner {
        float: left;
        width: 100%;
        box-sizing: border-box;
        padding-left: 0;
    	left: 0;
    	&:after{
    		content: '';
		    position: absolute;
		    left: -85%;
		    top: 0;
		    height: 100%;
		    width: 85%;
		    background: $sk-complement-pebble-5;
    	}
    	> div{
    		padding: 25px 0px;
    	}
        .header-promotion {
            position:  relative;
            width:  70%;
            margin:  0 auto;
            padding:  0px;
            font-family:  $sk-main-book;
            font-size:  $font-14;
            line-height:  $font-18;
        }
        .close-btn {
            position:  absolute;
            top:  0;
            right:  5px;
            padding:  10px;
            font-size:  20px;
            color:  $white;
            -webkit-text-stroke:  2px $sk-dark-pebble;
            z-index:  99;
        }
    } 
    .top-banner {
        float:  left;
        width:  100%;
        padding:  18px 15px;
        box-sizing:  border-box;
        -webkit-box-shadow:  -1px 5px 10px 0px rgba(177,169,159,0.25);
        -moz-box-shadow:  -1px 5px 10px 0px rgba(177,169,159,0.25);
        box-shadow:  -1px 5px 10px 0px rgba(177,169,159,0.25); 
        button {
            outline:  none;
            &.menu-toggle {
                padding:  0px;
                margin:  0px;
                position: relative;
                top: 0px;
                background: url(../../images/hamberger.png) no-repeat;
                .sk-hamberger {
            	    width: 26px;
				    height: 26px;
				    color: $sk-nav-grey;
				    font-size: 24px;
                }
            }
            .menu-icon {
                display:  block;
                width:  26px;
                height:  16px;
                margin-top:  4px;
                background-position:  -317px -22px;
            }
        }
        .primary-logo {
            width:  150px;
            height:  auto;
            padding:  0px;
        }
        #mini-cart {
            position:  absolute;
            top:  20px;
            right:  15px;
        }
    }
    #homepage-slider {
        top:  -15px;
    }
    nav {
        padding-top:  60px;
        background-color:  $sk-complement-pebble-5;
        li {
            display:  block;
            position:  relative;
            text-align:  left;
        }
    }
    ul.menu-category {
        border-bottom:  none;
        li {
            display:  block;
            padding:  0px;
            border-top:  1px solid $sk-complement-pebble-4;
            max-width: none;
            &.active {
            	i {
        		    transform: rotate(360deg);
    				top: 40%;
            	}
            }
            &:hover {
                a {
                    border:  none;
                }
            }
            a {
                padding:  18.5px 0px;
                padding-left:  48px;
                font-family:  $sk-main-medium;
                font-size:  $font-18;
                border:  none;
            }
            .level-2 {
            	&:last-child {
	            	a {
	            		padding-left:  48px;
	            	}
            	}
            }
            &:last-child {
            	a {
            		padding-left:  48px;
            	}
            }
        }
    }
    .level-1 {
        > li {
            a {
                &.has-sub-menu {
                    width:  100%;
                }
            }
        }
    }
    .level-2 {
        box-shadow:  none;
        .banner {
        	display: none;
        }
        > ul {
            padding:  0px;
            background-color:  $white;
            > li {
                > a {
                    font-family:  $sk-main-book;
                }
            }
        }
    }
    .menu-utility-user {
        float:  left;
        width:  100%;
        > li {
            padding:  0px;
            a {
                display:  block;
                padding:  18.5px 0px;
                padding-left:  48px;
                font-family:  $sk-main-book;
                font-size:  $font-18;
                color:  $sk-light-pebble;
                border-top:  1px solid $sk-complement-pebble-4;
                color: $sk-nav-grey;
                &.user-account {
                	padding-left:  20px;
                	text-transform:  uppercase;
                	text-decoration: none;
                }
            }
            .user-account-register,.user-logout {
            	a {
            		border-bottom:  1px solid $sk-complement-pebble-4;
            	}
            }
        }
        .stores {
            display:  block;
            position:  relative;
            display:  none;
            .store-locator {
                position:  absolute;
                top:  24px;
                left:  18px;
                width:  12px;
                height:  16px;
                background-position:  -223px -22px;
            }
        }
        .user-info {
            padding:  0px;
            border:  none;
            width: 100%;
            > a.user-account {
                .icons-sprite {
                    display:  none;
                }
            }
            .user-panel {
                width:  100%;
                margin:  0px;
                .user-links {
                    padding:  0px;
                    form{
                    	button{
                		    width:  100%;
						    border:  0;
						    text-align:  left;
						    text-transform:  uppercase;
						    padding:  18.5px 0px;
						    padding-left:  48px;
						    font-family:  $sk-main-book;
                			font-size:  $font-18;
						    color:  $sk-light-pebble;
						    border-top:  1px solid $sk-border-lightgrey;
						    background-color:  $sk-complement-pebble-5;
						    height: auto;
						    color: $sk-nav-grey;
                    	}
                    }
                    > div {
                        position:  relative;
                        i {
                            position:  absolute;
                            top:  24px;
                            left:  20px;
                            width:  8px;
                            height:  15px;
                            background-position:   -186px -22px;
                        }
                    }
                }
            } 
        } 
        .user-logged-in {
        	 > a.user-account {
        	 	span {
        	 		color: $black;
        	 	}
        	 }
        	 .user-panel {
        	 	.user-links {
        	 		.user {
        	 			> a {
        	 				color: $sk-charcoal;
        	 				font-family: $sk-main-book;
        	 				font-size: $font-18;
        	 				&.user-logout {
		        	 			font-size: $font-14;
		        	 		}
        	 			}
        	 		}
        	 		
        	 	}
        	 }
        	 a.user-logout {
        	 	    text-decoration: underline;
        	 }
        }
    }
    .menu-item-toggle {
        position:  absolute;
        top:  0px;
        left:  0px;
        width:  30px;
        height:  60px;
        z-index:  1;
        i {
            position:  absolute;
            top:  40%;
            left:  50%;
            transform: rotate(270deg);
            width:  20px;
            height:  10px;
            padding:  0px;
            background-position:  -264px -157px;
        }
    }
    .country-selector {
        float:  left;
        position:  relative;
        top:  0px;
        left:  0px;
        .current-country,
        .country {
            font-size:  $font-18;
            margin:  0px;
            padding:  18.5px 20px;
            padding-left:  48px;
            border-top:  1px solid $sk-complement-pebble-4; 
            color: $sk-nav-grey;
            &.selector-active {
            	background-color :  $white;
            	color: $sk-nav-grey;
            }
        }
        .current-country {
            i {
                position:  absolute;
                top:  24px;
                left:  20px;
	            transform: rotate(270deg);
	            width:  20px;
	            height:  10px;
	            padding:  0px;
	            background-position:  -264px -157px;
            }
            &.selector-active {
        		i {
	        	   transform: rotate(360deg);
	               top: 10%;
	            }
        	}
        }
        .selector {
            position:  relative;
            margin:  0px;
            padding:  0px;
            &.active {
                left:  0px;
                border:  none;
                background-color:  $white;
            }
            .country {
                a {
                    display:  block;
                    font-family:  $sk-main-book;
                    font-size:  $font-18;
                    color: $sk-nav-grey;
                    &.selected {
                    	color: $sk-charcoal;
                    }
                }
            }
        }
    }
    .search-suggestion-wrapper {
        &.full {
            left:  0px;
            width:  100%;
            z-index:  2;
            border:  1px solid $sk-complement-pebble-2;
            box-sizing:  border-box;
        }
        .search-phrase {
            font-size:  $font-18;
            > a {
                color:  $sk-light-pebble;
                span {
                    font-family:  $sk-main-demi;
                    font-size:  $font-18;
                }
            }
        }
        .product-suggestion {
            .product-details {
                .product-name {
                    font-size:  $font-14;
                }
            }
        }
    }
	.footer-banner {
		width: 100%;
		float: left;
		padding: 30px 15px;
		box-sizing: border-box;
		background-color: $sk-dark-pebble;
	}
	.main-footer {
		width: 100%;
		float: left;
		padding: 0;
		.footer-container {
			width: 100%;
			float: left;
			.footer-item {
				padding-right: 0;
			}
			h2 {
				clear: left;
				font-size: $font-18;
				margin: 0;
				padding: 27px 0px 18px 15px;
				box-sizing: border-box;
				.footer-plus {
					position: relative;
					right: 7px;
					top: 2px;
					background-position: -21px -101px;
					width: 16px;
					height: 16px;
					float: right;
				}
				.footer-minus {
					position: relative;
					top: 10px;
					right: 6px;
					background-position: -64px -109px;
					width: 14px;
					height: 2px;
					float: right;
				}
			}
			.menu-footer {
				display: none;
				padding: 0 0 0 40px;
				border-top: 1px solid $white;
				width: 100%;
				box-sizing: border-box;
				li {
					margin-bottom: 0;
					padding: 26px 0 16px 0;
					border-bottom: 1px solid $white;
					&:last-child {
						border-bottom: none;
					}
					a {
						font-size: $font-14;
					}
				}
			}
			.footer-email-signup {
				width: 100%;
				float: left;
				border-bottom: 1px solid $white;
				padding-top: 5px;
				.footer-store {
					display:  block;
					width: 100%;
					float: left;
					padding-bottom: 20px;
					border-bottom: 1px solid $white;
					li {
						list-style-type: none;
						padding-left: 15px;
						.store-icon {
							background-position: -294px -63px;
							width: 12px;
							height: 16px;
							display: inline-block;
						}
						a {
							font-family: $sk-main-medium;
							font-size: $font-18;
							text-transform: uppercase;
							margin-left: 10px;
						}
					}
				}
			}
			.footer-account {
				width: 100%;
				float: left;
				border-bottom: 1px solid $white;
				padding-top: 5px;
				.hide-mobile {
					display: none;
				}
			}
			.footer-support {
				width: 100%;
				float: left;
				border-bottom: 1px solid $white;
				padding-top: 5px;
			}
			.footer-about {
				width: 100%;
				float: left;
				.footer-down {
					border-bottom: none;
					padding: 19px 0px 7px 15px;
				}
				.inner-footer {
					width: 100;
					float: left;
					padding-left: 0;
					border-left: none;
					.foot-tooltip {
						bottom: 125%;
						left: 0;
					}
					.social-links {
						padding-left: 15px;
						clear: both;
					}
					.footer-subscription-form {
						width: 100%;
						.footer-email {
							top: 13px;
						}
						.field-wrapper {
							.foot-tooltip:after {
								left: 7%;
							}
						}
						input[type="text"] {
							width: 60%;
							float: left;
							font-size: $font-12;
							height: 40px;
							padding: 10px 11px 10px 40px;
							box-sizing: border-box;
						}
						button {
							font-size: $font-12;
							float: left;
							height: 40px;
							padding: 0 10px;
							box-sizing: border-box;
							margin-left: 4px;
						}
					}
				}
				.copyright {
					clear: both;
					text-align: center;
					font-size: $font-14;
					margin-bottom: 20px;
				}
			}
		}
	}
	.search-result-content {
		padding: 0; 
	}
	.search-result-options {
	    padding: 30px 0px;
    	margin: 0;
		.sort-by { 
			padding-bottom: 0;
			width: 54%;
			float: left;
		}
		.pagination {
			width:  46%;
			padding: 0;
			ul {
				border:  none;
				margin-top: 12px;
				li {
					padding: 0px;
				    font-size: $font-14;
				    border-right:  0;
			        list-style-type:  none;
			        &.current-page {
			        	width: 20px;
			        	font-size: $font-12;
			        	line-height: 14px;
			        }
			        a {
			        	width: 20px;
			        	&.page-previous,
			        	&.page-next {
			        		padding: 0;
			        		width: 10px;
			        	}
			        	i {
			        		width: 20px;
			        	}
			        }
				}
			}
		}
	}
    .pt_product-details {
        .pdp-main {
            .product-image-container,
            .product-detail {
                float: left;
                width: 100%;
                padding: 0px;
            }
            .product-name {
                width: 100%;
                margin: 20px 0px 20px;
            }
            .product-variations {
                border-bottom: 1px solid $sk-complement-pebble-1;
                .attribute {
                    .size-chart-link {
                        float: left;
                        width: 100%;
                        margin: 15px 0px 0px;
                    }
                }
            }
            .product-add-to-cart {
                .availability-web {
                    .availability-novariation {
                        //display: none;
                    }
                }
                > button {
                    background-color: $sk-light-pebble;
                }
            }
            .product-actions {
                padding: 15px 0px 0;
                .socialsharing {
                    float: left;
                    padding: 10px 0;
                }
            }
            .product-info {
                margin: 0px;
                padding: 0px;
                min-height: 0;
                ul {
                	padding: 0 1.2em;
                }
                .tab-content {
                    float: left;
                    display: block; //this is important don't remove
                    width: 100%;
                    padding: 30px 0px;
                    border-bottom: 1px solid $sk-complement-pebble-1;
                    .tabcontainer-1,
                    .tabcontainer-2,
                    .tabcontainer-3,
                    .tabcontainer-4 {
                        width: 100%;
                        float: left;
                        .tab-label {
                            padding-bottom: 30px;
                        }
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                    &.active {
                        .tab-label {
                            padding-bottom: 30px;
                            color: $sk-dark-pebble;
                        }
                    }
                }
            }
            .product-col-1 {
                &.product-set {
                    display: none;
                }
            }
            .product-set {
                .set-product {
                    .product-add-to-cart {
                        > button {
                            width: 100%;
                        }
                    }
                }
                .product-set-list {
                    .product-set-item {
                        .product-set-details {
                            padding-top: 0px;
                            .product-variations {
                                &:before,
                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }    
            }
        }
    }
    .sizechart-table {
        .ui-dialog-content {
            padding: 20px 10px;
        }
        .sizinginformation {
            th {
                font-size: 10px;
                padding: 4px 1px;
            }
            td {
                font-size: 10px;
                padding: 4px 1px;
                min-width: 36px;
    			letter-spacing: 0;
            }
        }
    }
    .cart-actions-bottom {
    	border-bottom: 0px !important;
    }
    .cart-actions-top,
    .cart-actions-bottom {
        padding: 40px 0px;
        text-align: center;
        border-bottom: 1px solid $sk-complement-pebble-1;
        .cart-action-checkout {
            float: none;
        }
        .paypal-or {
        	padding: 20px;
        }
        .sk-paypal-button,
        .paypal-or,
        .button-fancy-large {
            width: 100%;
            box-sizing: border-box;
        }
    }
    .cart-actions-bottom {
        padding-top: 0px;
    }
    #cart-table {
        tbody {
            tr {
                td {
                    padding: 15px 0px;
                }
                .item-details {
                    padding-left: 15px;
                }
            }
        }
        .cart-row {
            padding: 15px 10px;
            .item-image {
                padding-left: 0px;
                text-align: left;
            }
            .item-quantity-details {
                > div, button {
                    text-align: left;
                }
            }
            .item-quantity {
                input[type="number"] {
                    text-align: center;
                }
            }
            .item-total {
                text-align: right;
                .price-adjusted-total {
                    float: right;
                }
            }
        }
        .rowcoupons {
            .item-details,
            .item-quantity-details,
            .item-total {
                float: left;
                padding: 0px 30px;
                width: 100%;
                text-align: left;
            }
            .item-details {
        	    padding-left: 70px;
        	    box-sizing: border-box;
            }
            .item-quantity-details {
                padding: 20px 30px 20px 70px;
            }
            .item-total {
                padding-bottom: 30px;
                text-align: right;
            }
        }
        .bonus-product {
            display: flex;
            flex-wrap: wrap;
            .item-user-actions {
                button {
                    padding-bottom: 10px;
                    padding-top: 0;
                }
            }
            .item-quantity {
                span {
                    display: inline-block;
                    padding: 8px 0px;
                    color: $sk-charcoal;
                    background-color: $sk-complement-pebble-5;
                }
            }
            .item-total {
                color: $sk-charcoal;
                text-align: right;
            }
        }
    }
    .cart-footer {
        .cart-coupon-code,
        .cart-order-totals,
        .coupon-cont {
            float: left;
            width: 100%;
        }
        .coupon-cont {
            padding-bottom: 50px;
            margin-bottom: 0px;
            border-bottom: 1px solid $sk-complement-pebble-1;
        }
        .cart-coupon-code {
        	#update-cart {
                width: 100%;
                margin: 0px 0px 10px;
                box-sizing: border-box;
            }
            input[type="text"] {
            	width: 90%;
    			margin: 0px 15px;
    			box-sizing: border-box;
            }
            #add-coupon {   	
			    width: 90%;
			    margin: 10px 15px 0px;
			    box-sizing: border-box;
            } 
        }
        .cart-order-totals {
            margin-top: 50px;
        }
    }
    
    .primary-focus {
    	margin-bottom: 50px !important;
        #primary {
            padding-right: 0px;
            .spc-summary {
                .order-summary-footer {
                    .form-row {
                        float: left;
                        width: 100%;
                        margin: 0px;
                        .button-fancy-large {
                            margin: 0px;
                            width: 100%;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }
    .bonus-product-list {
        .promotion-cont {
            .promotion {
                text-align: center;
                .tooltip {
                    float: left;
                    width: 100%;
                    margin: 10px 0px 0px;
                }
            }
        }
        .bonus-product-item {
            .product-col-2 {
                &.product-detail {
                    .product-variations {
                        .size-chart-link {
                            float: left;
                            width: 100%;
                            margin: 10px 0px 0px;
                        }
                    }
                }
            }
            & + .promotion-cont {
                .bonus-product-summary {
                    text-align: left;
                }
            }
        }
        .bonus-product-list-footer {
            .add-to-cart-bonus {
                position: static;
                width: 100%;
                float: left;
                margin: 0px;
            }
        }
    }
    .pt_order-confirmation, .pt_order {
        .confirmation {
            .order-confirmation-details,
            .login-create-account {
                width: 100%;
                padding: 0px;
            }
            .order-confirmation-details {
                &:after {
                    background-color: transparent;
                }
            }
            .conformation-page {
                .conformation-text {
                    width: 100%;
                }
            }
            .actions {
                width: 100%;
                margin: 30px 0px;
                a {
                    padding: 17px 30px;
                }
            }
            .login-create-account {
                margin-top: 60px;
            }
        }
        .orderdetails {
            > div {
                width: 100%;
                &:first-child {
                    width: 100%;
                }
                > .label {
                    &  + div {
                        margin: 8px 0px;
                    }
                }
            }
            .order-payment-summary {
                .order-totals-table {
                    tr {
                        td {
                            text-align: right;
                        }
                    }
                    .order-total {
                        td {
                            padding: 30px 0px 50px;
                            border-bottom: 1px solid $sk-complement-pebble-1;
                        }
                    }
                }
            }
        }
        .order-shipments {
        	.order-shipment-table {
                .line-items {
                    width: 100%;
                }
                .order-shipment-details {
                    width: 40%;
                }
        		&:last-child {
                    border-bottom: none;
                }
        	}
            .order-shipment-details {
                padding-left: 10px;
            }
            .line-items {
                float: left;
            }
        }
    }
    body {
    	#wrapper {
    		&.pt_checkout {
    			&.site-sk {
					#main {
	    				padding: 20px;
	    				#primary {
		    				margin: 0;
		    				width: 100%;
		    				.checkout-billingcontent {
		    					padding: 0;
		    					.spc-billing {
		    						.checkout-billing {
		    							.button-fancy-large {
		    								width: 90%;
    										margin-left: 0;
		    							}
		    							.form-row.shippingequalsbilling {
		    								.field-wrapper {
		    									&.checkbox-wrapper {
		    										width: auto;
		    									}
		    								}
		    								label {
		    									width: 86%;
		    									margin: 0px 0 0 10px;
		    								}
		    							}
		    							.payment-method-expanded {
		    								.creditcard-heading {
		    									padding: 0;
		    								}
		    							}
		    							.form-row {
			    							input {
			    								&#dwfrm_billing_billingAddress_addressFields_city {
			    									width: 100%;
			    								}
			    								&#dwfrm_billing_billingAddress_addressFields_postal {
			    									width: 100%;
			    								}
			    							}
		    								label {
		    									width: 30%;
											    padding-left: 0;
											    margin-top: 11px;
		    								}
	    									.field-wrapper {
	    										width: 70%;
	    										padding-left: 15px;
	    									}
	    									&.month {
	    										margin: 0;
	    										.field-wrapper {
	    											width: 100%;
	    										}
	    									}
	    									&.year {
	    										margin: 0;
	    										.field-wrapper {
	    											width: 100%;
	    										}
	    									}
	    									&.cvn {
	    										.field-wrapper {
	    											width: 40%;
	    										}
	    									}
		    							}
		    						}
		    					}
		    				}
		    				.spc-shipping {
		    					padding: 0;
		    					.checkout-shipping {
		    						.shipping-method-list-container {
		    							.form-row {
		    								&.form-indent {
		    									.radio-label {
		    										.radio-col2 {
		    											padding-left: 24px;
		    										}
		    									}
		    								}
		    							}
		    						}
		    						.button-fancy-large {
		    							margin-left: 0;
									    text-align: center;
									    width: 90%;
		    						}
		    						.form-row {
		    							label {
		    								width: 26%;
										    padding-left: 0;
										    margin-top: 11px;
		    							}
		    							&.useasbilling-row {
		    								label {
												width: 65%;
												margin-top: 0;
											}
		    							}
		    							.field-wrapper {
		    								&.checkbox-wrapper {
		    									width: auto;
		    								}
		    							}
		    							input {
						    				&#dwfrm_singleshipping_shippingAddress_addressFields_postal {
						    					width: 100%;
						    				}
						    			}
		    						}
		    					}
		    				}
		    			}
	    			}    
    			}
    		}
    	}
    }
    .continue-button,.billing-btn {
    	text-align: center;
    }
}

@media #{$iphoneonly} {
	.main-footer {
		.footer-container {
			.footer-about {
				.inner-footer {
					.footer-subscription-form {
						input[type="text"] {
		    				width: 173px;
		    				font-size: $font-10 + 1;
		    			}
		    			button {
			    			padding: 0 10px;
			    			box-sizing: border-box;
			    			font-size: $font-10 + 1;
		    			}
		    		}
		    	}
			}
		}
	}
	.sizechart-table {
		 .sizinginformation {
		 	td {
		 		font-size: $font-10 - 1;
		 		min-width: 34px;
		 	}
		 }
	}
}

@media #{$tablet} {
    body {
        div#wrapper {
            #main {
                width: 100%;
                padding: 0px 3%;
                box-sizing: border-box;
            }
        }
    }
	.primary-content {
		.search-result-content {
			#search-result-items {
				.grid-tile {
					width: 48.1%;	
					padding-right: 3.8%;
					&:nth-child(2n+2) {
		        		padding-right: 0;
	        		    clear: right;
	        		    & + .grid-tile{
	        		    	clear: left;
	        		    }
		        	} 
				}
			}	
		}
		.cart-footer {
			.cart-order-totals {
				padding-right: 28px;
				box-sizing: border-box;
			}
		}
	}
	.search-result-options  {
		.sort-by {
			width: 180px;
		}
		.items-per-page {
			display: none;
		}
		.pagination {
			.results-hits {
				.hide-in-tab {
					display: none;
				}
			}
		}
	}	
	.footer-banner {
		padding: 35px 10px;
		box-sizing: border-box;
	}
	.main-footer {
		padding: 0;
		.footer-container {
			.footer-email-signup {
				width: 21%;
				float: left;
			}
			.footer-account {
				width: 22%;
				float: left;
			}
			.footer-support {
				width: 20%;
				float: left;
			}
			.footer-about {
				width: 37%;
				float: left;
				.inner-footer {
					padding-left: 20px;
					.footer-subscription-form {
						.field-wrapper {
							.foot-tooltip {
								right: 52%;
							}
						}
						input[type="text"] {
							width: 60%;
						}
						button {
							padding: 0;
							width: 38%;
						}
					}
				}
			}
		}
	}
	
}

@media #{$tablet-landscape} {
    .pt_product-details {
        .pdp-main {
            .product-info {
                .tab-content {
                    .recommendation {
                        .slick-slider {
                            width: 74.5%;
                        }
                    }
                }
            }
        }    
    }
}