.search-suggestion-wrapper {
    border: 1px solid $sk-light-pebble;
    .search-phrase {
        margin: 0px 0px 20px;
        font-family: $sk-main-demi;
        color: $sk-light-pebble;
        .search-text, .search-value {
        	display: inline-block;
        }
        a {
        	color: $sk-light-pebble;
        }
        .completed {
        	.original {
        	    text-decoration: underline;
        	}
        }
    }
    &.full {
        left: -145px;
        width: 400px;
        margin: 5px 0px 0px;
        z-index: 999;
        .phrase-suggestions {
            display: none;
        }
        .product-suggestions {
            float: left;
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
        }
    }
	.hitgroup {
        display: none;
	}
}
.product-suggestion {
    border: none;
    .product-image {
        img {
            border: 1px solid transparent;
            box-sizing: border-box;
        }
        &:hover {
        	img {
                border: 1px solid $sk-light-pebble;
            }
        }
    }
    .product-details {
        .product-price {
            padding-top: 15px;
            color: $sk-dark-pebble;
            &:hover {
            	text-decoration:none;
            }
        }
        .product-name {
        	.app-desktop &:hover {
                text-decoration: underline;
            }
        }
    }
}
