.search-result-content {
	#search-result-items {
		.grid-tile {
		    background-color: transparent;
		    padding: 0 2.24% 30px 0px;
		    width: 31.84%;
		    margin: 0;
	        box-shadow: none;
	        @media #{$desktop} {
		        &:nth-child(3n+3) {
		        	padding-right: 0;
		        	clear: right;
		        	& + .grid-tile{
		        		clear: left;
		        	}
		        }
	        }
		}
	}
	.view-more {
		width:100%;
		float:left;
		margin-top: 40px;
		text-align: center;
		.viewmore-grid {
			min-width: 600px;
			background-color: $white;
			font-family: $sk-main-demi;
			font-size: $font-14;
			color: $dim-gray;
			letter-spacing: 1px;
			border: 1px solid $dim-gray;
			padding: 15px;
			box-sizing: border-box;
			display: inline-block;
			text-decoration: none;
			@media #{$tablet-maxlandscape} {
		    	min-width: 80%;
		    }
		}
	}
}
.search-result-options {
	.pagination  {
		font-size: 12px;
		font-family: $sk-main-medium;
		color: $sk-charcoal;
		text-transform: uppercase;	
		padding-top: 15px;
		ul {
			.current-page {
				color: $sk-charcoal;
			}
			li {
				padding: 0 7px;
				a {
					font-size: $font-12;
					font-family: $sk-main-medium;
					color: $sk-dark-pebble;
					text-transform: uppercase;
                    line-height: $font-14;
					&.page-next {
						i {
							height: 12px;
						    width: 8px;
						    background-position: -27px -63px;
					    }
					}
					&.page-previous {
						i {
						    height: 12px;
						    width: 8px;
						    background-position: -27px -66px;
						    transform: rotate(180deg);
						}
					}
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
.refinement-header {
	background: none;
    border-top: 0;
    font-size: $font-14;
    color: $sk-nav-grey;
    text-transform: uppercase;
    font-family: $sk-main-demi;
    padding: 20px 25px 20px 0;
    position: relative;
	margin: 0;
	font-weight: 200;
    letter-spacing: 0.5px;
    border-top: 1px solid $sk-dark-pebble;
    .icons-sprite {
	    background-position: -64px -68px;
	    height: 3px;
	    width: 13px;
	    float: right;
	    position: absolute;
	    right: 2px;
        margin-top: 7px;
    }
    &.active {
    	.icons-sprite {
	    	background-position: -103px -65px;
		    width: 12px;
		    height: 14px;
		    margin-top: 2px;
	    }
    }
}
.pt_product-search-noresult {
	.page-content {
		#secondary {
			padding-bottom: 0;
		}
	}
    .primary-content {
        .header-search-cont {
            display: block;
            float: left;
            width: 100%;
            margin: 0px;
            max-width: 100%;
        }
        .no-hits-search {
            .label-above {
                label {
                    margin-bottom: 15px;
                    font-weight: normal;
                }
                .input-text {
                	max-width: 175px;
                }
            }
            button {
                top: auto;
                bottom: 1px;
                border: none;
                outline: none;
                padding: 9px;
                span {
                    display: none;
                }
            }
        }
        .no-hits-footer {
            float: left;
            width: 100%;
            padding: 0px; 
            box-sizing: border-box;
        }
    }
}
.search-result-options {
	width: 100%;
	float: left;
	.sort-by {
		width: 37.26%;
	}
	.items-per-page {
	    min-width: 9.33%;
	    margin-right: 0;
    }
	select {
		outline: none;
		border: 0;
		background-color: $sk-complement-pebble-5;
	    font-size: $font-12;
	    padding: 10px 8px;
	    height: auto;
    	text-transform: uppercase;
    	font-family: $sk-main-medium;
    	option {
    		outline: none;
			border: 0;
			background-color: $sk-complement-pebble-5;
		    font-size: $font-12;
		    padding: 10px 8px;
		    height: auto;
	    	text-transform: uppercase;
	    	font-family: $sk-main-medium;
    	}
	}
}