#wrapper {
	&.pt_product-search-result {
		#main {
			#secondary {
				width: 16%;
				@media #{$tablet-maxlandscape} {
					width: 24%;
				}
				@media #{$tablet} {
					width: 21.875%;
				}
				@media #{$iphone} {
					width: 100%;
				}
				.filter-by {
					font-family: $sk-main-demi;
					font-size: $font-14;
					color: $sk-nav-grey;
					letter-spacing: 1px;
					padding-bottom: 30px;
					letter-spacing: 0.5px;
				}
				.refinement {
					&.color, &.TemperatureEN, &.OuterwearLengthEN, &.refineby-price, &.refineby-attribute, &.refinementColor {
						h3.toggle {
							.icons-sprite {
								background-position: -103px -63px;
								width: 12px;
							    height: 14px;
							    margin-top: 2px;
							}
							&.active {
								.icons-sprite {
									background-position: -64px -68px;
									height: 5px;
								    width: 13px;
								    float: right;
								    position: absolute;
								    right: 2px;
								    margin-top: 7px;
								}
							}
						}
						ul {
							display: none;
						}
					}
					&.active {
						&.color, &.TemperatureEN, &.OuterwearLengthEN, &.refineby-price, &.refineby-attribute, &.refinementColor {
							.custom-scrollbar.active {
								display: block !important;
							}
							ul {
								display: block;
							}
						}
					}
					&.refineby-attribute {
						&.size {
							h3.toggle {
								.icons-sprite {
									background-position: -64px -68px;
									height: 5px;
								    width: 13px;
								    float: right;
								    position: absolute;
								    right: 2px;
								    margin-top: 7px;
								}
								&.active {
									.icons-sprite {
									    background-position: -103px -63px;
										width: 12px;
									    height: 14px;
									    margin-top: 2px;
									}
								}
							}
							ul {
								display: none;
							}
						}
					}
					&.active {
						&.refineby-attribute {
							&.size {
								ul {
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}
}
.search-refine {
    font-size: $font-14;
    color: $sk-dark-pebble;
    padding-bottom: 4px;
    text-transform: uppercase;
	font-family: $sk-main-demi;
}
.refinement {
	padding: 0;
	&.size,
	&.isNew,
	&.temperature,
	&.brand {
		ul {
			overflow-y: auto;
		}
	}
	&:last-child {
		margin-bottom:20px;
	}
	.refinement-top-level {
		color: $sk-dark-pebble;
		font-family: $sk-main-demi;
		text-transform: uppercase;
		padding: 15px 0 0px 31px;
		color: $sk-dark-pebble;
		a {
			color: $sk-dark-pebble; 	
		}
	}
	&.last-refinement {
		h3.toggle {
			border-bottom: 1px solid $sk-dark-pebble;
			&.active {
				border-bottom: 0;
			}
		}
		&.size {
			h3.toggle {
				border-bottom: 0;
				&.active {
					border-bottom: 1px solid $sk-dark-pebble;
				}
			}
		}
	}
	h3.toggle {
	    background: none;
	    border-top: 0;
	    font-size: $font-14;
	    color: $sk-nav-grey;
	    text-transform: uppercase;
	    font-family: $sk-main-demi;
        padding: 20px 25px 20px 0;
		margin: 0px;
	    letter-spacing: 0.5px;
	    border-top: 1px solid $sk-dark-pebble;
	    .icons-sprite {
		    background-position: -64px -68px;
		    height: 5px;
		    width: 13px;
		    float: right;
		    position: absolute;
		    right: 2px;
		    margin-top: 7px;
	    }
	    &.active {
	    	.icons-sprite {
		    	background-position: -103px -65px;
			    width: 12px;
			    height: 14px;
			    margin-top: 2px;
		    }
	    }
	}
	.clear-refinement {
		padding: 0px 0 10px 0px;
		&.clear-down {
			display: none;
		}
		+ul	{
			padding: 18px 0 11px 20px;
		}
		li.first-last {
    		&:hover {
		    	text-decoration: none;
	    	}
		}
		a {
			color: $sk-dark-pebble; 
			font-size: $font-10+1;
			font-family: $sk-main-book;
			text-transform: uppercase;
			&:hover {
		    	text-decoration: underline;
	    	}
	    	
		}
	}
	.custom-scrollbar{
		margin: 0;
		padding: 0;
		ul{
			padding: 5px 0 10px 0;
			word-break: break-word;
		}
	}
	ul {
		padding: 5px 0 10px 0;
		li {
			margin: 0;
		    padding: 0 0px 11px 0;
		    &.selected {
		    	.icons-sprite {
				    width: 13px;
				    background-position: -143px -63px;
				    height: 13px;
				    border: 1px solid $sk-border-grey;
				    float: left;
				    left: 5px;
				    margin-right: 10px; 
		    	}
		    }
		    a, .refinement-link {
		    	font-family: $sk-main-demi;
		    	font-size: $font-12;
		    	color: $sk-dark-pebble;
		    }
		    .toggle-check {
	    	    width: 13px;
			    height: 13px;
			    border: 1px solid $sk-border-grey;
			    float: left;
			    left: 5px; 
			    margin-right: 10px;
			    &:before {
		    	    background-position: -145px -66px;
				    float: right;
				    position: absolute;
				    right: 5px;
					width: 9px;
					height: 7px;
			    }
		    }
			a {
                .colorBox {
                    width: 22px;
                    height: 22px;
                    border: 0;
                    border-radius: 0; 
                    color: $sk-dark-pebble;
                    border: 1px solid $sk-complement-pebble-1;
                    font-size: $font-12;
                    font-family: $sk-main-demi;
                    box-sizing: border-box;
                }
                .text {
                    display: none;
                }
			}
		}
		&.refinementColor {
			padding: 0 0 10px 0;
			li {
				width: 52px;
				padding: 0;
			    margin: 0 12px 4px auto;
			    @media #{$tablet} {
                	width: 60px;
                }
			    &.selected {
			    	a {
			    		.colorBox-main {
			    			padding: 2px;
						    border: 1px solid #000000;
						    border-radius: 50%;
			    		}
			    	}
			    } 
				a {
					width: 52px;
					height: auto;
					float: left;
					border: 0;
					padding: 0;
					margin: 0 auto;
					text-indent: 0px;
					border-radius: 0; 
					box-sizing: border-box;
					@media #{$tablet} {
                    	width: 60px;
                    }
					.colorBox-main {
						width: 30px;
					    height: 30px;
					    border: 3px solid $white;
					    border-radius: 50%;
					    margin: 0 auto;
					}
					.colorBox {
						width: 30px;
					    height: 30px;
					    padding: 2px;
					    border-radius: 50%;
					    box-sizing: border-box;
					    border: 1px solid #c4c4c4;
					}
					.text {
						display: block;
						width: auto;
						height: 30px;
						font-family: $sk-main-book;
						font-size: 11px;
						color: $sk-nav-grey;
						text-align: center;
						text-transform: capitalize;
					    margin-top: 5px;
					    text-decoration: none;
					    word-wrap: break-word;
    					word-break: break-word;
					}
					&:hover {
	                	border: 0;
	                	text-decoration: none;
	                	.colorBox-main {
	                		padding: 2px;
	                		border: 1px solid $black;
	                	}
	                	.text {
	                		text-decoration: none;
	                	}
	                }
	    	   } 
    	   }
		}
	}
	&.size {
		.custom-scrollbar {
			height: auto !important;
		}
		ul {
			li {
				width: 30px;
			    height: 30px;
			    float: left;
			    margin: 0 15px 25px 0;
			    padding: 0;
			    line-height: 30px;
			    border: 1px solid #c4c4c4;
			    text-align: center;
			    &.selected {
			    	background-color: $sk-dark-pebble;
			    	a {
			    		color: $white;
			    	}
			    } 
			    a {
			    	font-family: $sk-main-medium;
			    	font-size: $font-12;
			    	color: $sk-nav-grey;
			    	width: auto;
					height: auto;
					&:hover {
						text-decoration: none;
					}
			    }
			}
		}
	}
}
.refinement { 
	&.category-refinement {
	    #category-level-1 {
	    	    padding: 0px 0 11px 16px;
				> li {
					color: $sk-nav-grey;
			    	font-size: $font-12;
			    	font-family: $sk-main-medium;
		    	    margin-bottom: 12px;
                    > a {
                        .icons-sprite {
                            float: left;
                            height: 10px;
                            width: 10px;
                            margin-top: 3px;
                            background-position: -227px -66px;
                            .pt_product-search-noresult &{
                            	display: none;
                            }
                        }    
                    } 
		    	    &.active {
                        > a {
                            .icons-sprite {
                                -ms-transform: rotate(90deg); /* IE 9 */
                                -webkit-transform: rotate(90deg); /* Safari */
                                transform: rotate(90deg); /* Standard syntax */
                                margin-top: 5px;
                                .pt_product-search-noresult &{
	                            	display: none;
	                            }
                            }    
                        }
		    	    }
			    	&:last-child {
			    		margin-bottom: 9px;
			    	}
			    	#category-level-2 { 
		    		    padding: 17px 0 0px 12px;
		    		    li {
		    		    	&:last-child {
		    		    		margin-bottom: 0;
		    		    	}
		    		    	.refinement-link {
		    		    		font-weight: 400;
		    		    		padding: 0;
		    		    		font-family: $sk-main-medium;
		    		    		color: $sk-nav-grey;
		    		    		&.active {
		    		    			color: $sk-charcoal;
		    		    		}
		    		    		
	    		    		}
		    		    }
			    	}
			    	.refinement-link {
			    		color: $sk-nav-grey;
			    		font-family: $sk-main-medium;
	    				text-transform: uppercase;
	    				margin-left: 15px;
	    				.pt_product-search-noresult &{
	    					margin-left: 0px;	
	    				}
	    				.app-desktop &:hover {
    		    			text-decoration: underline;
    		    		}
    		    		&.active {
    		    			color: $sk-charcoal;
    		    		}
			    	}
				}
			}
		}
	}