.sizechart-table {
	h2 {
		text-align: center;
	    width: 100%;
	    margin: 0;
	    font-family: $sk-main-demi;
	    font-size: $font-20;
	    font-weight: normal;
        letter-spacing: $font-05;
	    color: $sk-dark-pebble;
	    margin-bottom: 30px;
	}
	p {
		padding: 0;
		margin: 0;
		font-family: $sk-main-medium;
		font-size: $font-14;
        line-height: $font-14;
        font-weight: normal;
        letter-spacing: $font-05;
		color: $sk-dark-pebble;
	}
	.ui-dialog-content {
	    padding: 30px;
	}
	
	.sizinginformation {
		height: auto;
        padding: 0;
        #outdoorclothing {
        	img {
        		max-width: 100%;
    		}
        }
        .ui-tabs-nav {
            > li {
                margin: 0px 20px;
                .ui-tabs-anchor {
                    padding: 0px;
                    font-family: $sk-main-demi;
                    font-size: $font-12;
                    font-weight: normal;
                    letter-spacing: $font-05;
                    color: $sk-text-color;
                }
                &.ui-state-active {
                    border-bottom: 1px solid $sk-dark-pebble;
                    .ui-tabs-anchor {
                        color: $sk-text-color;
                    }
                }
            }
        }
		.article-leftdata,
        .article-rightdata {
			float: left;
			width: 50%;
            padding-right: 10px;
            box-sizing: border-box;
            p {
                line-height: $font-18;
                text-transform: lowercase;
            }
			@media #{$iphone} { 
				width: 100%;
			}
			&:last-child {
				float: right;
			}
			.article-data {
			    margin-top: 28px;
			    text-transform: uppercase !important;
			    margin-bottom: 0px;
				font-family: $sk-main-medium;
				font-size: $font-14;
                line-height: $font-14;
                letter-spacing: $font-05;
				color: $sk-dark-pebble;
			}
			p {
				margin-bottom: 0px;
			}
		}
        .article-rightdata {
            padding-left: 10px;
            @media #{$iphone} {
            	padding-left: 0;
            }
        }
		ul {
			margin-bottom: 20px;
		    text-align: center;
			li {
				display: inline;
				float: none;
				a {
					color: $sk-dark-pebble;
				    padding: 5px;
				    float: none !important;
				}
			}
		}
		.heading {
		    float: left;
			width: 100%;
		    padding-bottom: 15px;
			font-family: $sk-main-book;
			font-size: $font-14;
            line-height: $font-14;
            font-weight: normal;
            letter-spacing: $font-05;
			color: $sk-dark-pebble;
            text-transform: uppercase;
			border-bottom: 1px solid $sk-dark-pebble;
			margin-bottom: 25px;
		    &.guide {
		    	margin-bottom: 0;
		    }
		}
        .note-cont {
            float: left;
            width: 100%;
            text-transform: lowercase;
		    font-size: $font-14;
		    margin-bottom: 25px;
            .note-txt {
                font-family: $sk-main-demi;
                text-transform: uppercase;
            }
        }
		#casualclothing {
            float: left;
            width: 100%;
			padding: 0;
			p {
				margin-bottom: 5px;
				text-transform: lowercase;
			}
    		.sizecharttable {
    			margin: 30px 0 15px;
    		}
		}
		td, th {
			padding: 10px;
			font-family: $sk-main-medium;
			font-size: $font-14;
			font-weight: normal;
            letter-spacing: $font-05;
            color: $sk-dark-pebble;
			border: 1px solid $sk-border-grey;
			@media #{$iphone} { 
				font-size: $font-10;
			}
		}
        tbody {
            tr:first-child {
                th {
                    font-family: $sk-main-demi;
                    text-align: center;
                }
            }
        }
	}
}