body {
	div {
		&#wrapper {
			&.pt_store-locator {
				&.site-sk {
					#main {
						padding: 0;
					}
				}
			}
		}
	}
}

.pt_store-locator {
	&.site-sk {
		.breadcrumb {
			padding: 29px 30px 22px 30px;
			box-sizing: border-box;
			@media #{$iphone} {
				padding: 22px 13px;
			}
			.breadcrumb-element {
				font-size: $font-12;
			    line-height: $font-14;
			    letter-spacing: $font-1 + 1;
			}
		}
		.page-content {
			.primary-content {
				width: 100%;
			}
		}
		.storelocator_cont > {
			.storelocator_table {
				width: 26.7%;
				float: right;
				height: auto;
    			overflow: auto;
    			@media #{$tablet} {
    				width: 50%;
    			}
    			@media #{$iphone} {
    				width: 100%;
    			}
			}
		}
		.storelocator_cont {
			#map {
				width: 73.3%;
    			float: left;
    			height: 737px;
    			-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
				.gm-style {
					-webkit-filter: grayscale(100%);
					filter: grayscale(100%);
				}
    			@media #{$tablet} {
    				width: 50%;
    				height: 606px;
    			}
			}
			&.online-tab {
				#map,.store-find,h2,#map-1 {
					display: none;
				}
				> .storelocator_table {
					width: 100%;
				}
				.storelocator_table {
					.store-location-header-title {
						.section-header {
							width: 15.278%;
							@media #{$tablet} {
								width: 22.83%;
							}
							@media #{$iphone} {
			    				width: 49.7%;
			    			}
							&:first-child {
								width: 84.63%;
								text-align: right;
							    padding-right: 6%;
							    box-sizing: border-box;
							    @media #{$tablet} {
									width: 77%;
								}
								@media #{$iphone} {
				    				width: 50%;
				    				text-align: center;
    								padding-right: 0;
				    			}
							}
						}
					}
					.store-location-result-body {
						display: none;
					}
					.store-location-result-header {
						text-align: center;
					}
				}
				.store-refinment-online-list {
				    width: 44.028%;
				    display: inline-block;
				    margin-top: 60px;
				    @media #{$iphone} {
	    				width: 100%;
	    				margin-top: 30px;
	    			}
				    .store-refinment {
				    	width: 25%;
				    	float: left;
			    	    font-size: $font-12;
						line-height: $font-14;
						color: $sk-pink-swan;
						&.active {
							color: $sk-nav-grey;
						}
				    }
				    .store-refinment-online-cont,.store-refinment-online {
			    	    width: 100%;
						float: left;
				    }
				    .store-refinment-online {
				   		margin-bottom: 29px;
				   		@media #{$iphone} {
							border-bottom: 1px solid $sk-text-color;
						    margin: 0;
						    padding-bottom: 29px;
						}
				    }
				    .store-refinment-online-cont {
				    	width: 90%;
					    margin: 0 auto;
					    float: none;
					    display: inline-block;
				    	p {
				    		border: solid $sk-hint-of-red;
    						border-width: 1px 0 0;
						    font-size: $font-12;
						    line-height: $font-14;
						    letter-spacing: 1px;
						    padding: 38px 0;
							text-transform: uppercase;
    						text-decoration: underline;
    						color: $sk-nav-grey;
    						@media #{$iphone} {
    							padding: 28px 0 29px;
    							&:last-child {
    								border-bottom: 1px solid $sk-hint-of-red;
    							}
    						}
				    	}
				    }
				}
			}
		}
		.store-find {
			.search-fld {
				padding: 31px 25px 14px 27px;
				width: 100%;
			    display: inline-block;
			    box-sizing: border-box;
			    @media #{$tablet} {
    				padding: 20px 11px 37px 16px;
    			}
    			@media #{$iphone} {
    				padding: 24px 24px 14px 13px;
    			}
			}
		}
		.storelocator_table {
			.search-box-adresssuggestions {
				width: 92%;
			    margin: 0;
			    padding-right: 14px;
			    box-sizing: border-box;
			    float: left;
			    @media #{$iphone} {
    				width: 87%;
    				padding-right: 14px;
    			}
				label {
					display: none;
				}
				.form-row {
					margin: 0;
					.field-wrapper {
						width: 100%;
					}
				    .input-text {
				    	font-size: $font-12;
					    line-height: $font-14;
					    letter-spacing: $font-1;
					    padding: 13px 12px;
					    height: auto;
					    border-color: $sk-complement-pebble-5;
					    font-family: $sk-main-book;
					    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						  color: $sk-nav-grey;
						}
						&::-moz-placeholder { /* Firefox 19+ */
						  color: $sk-nav-grey;
						}
						&:-ms-input-placeholder { /* IE 10+ */
						  color: $sk-nav-grey;
						}
						&:-moz-placeholder { /* Firefox 18- */
						  color: $sk-nav-grey;
						}
					    @media #{$tablet} {
		    				padding: 11px 12px;
		    			}
				    }
				}
			}
			.button-primary-inverse {
		    	width: 8%;
			    float: left;
			    background: transparent;
    			border: none;
    			height: auto;
    			padding: 3px 0 6px;
    			@media #{$tablet} {
    				padding: 1px 0 4px;
    			}
    			@media #{$iphone} {
    				padding: 2px 0 4px;
    			}
    			i {
    				font-size: $font-24 + 8;
    				color: $sk-text-color;
    			}
		    }
		    .currloc-button {
		    	padding-left: 33px;
		    	@media #{$tablet} {
    				padding-left: 16px;
    			}
    			@media #{$iphone} {
    				padding-left: 19px;
    			}
		    	.current-location {
		    		color: $sk-nav-grey;
				    background: $white;
				    padding: 0;
				    font-size: $font-12;
				    line-height: $font-14;
				    letter-spacing: $font-1;
				    height: auto;
    				text-transform: initial;
    				font-family: $sk-main-book;
				    i {
				    	margin: 0 0 0 5px;
				    	cursor: pointer;
				    }
		    	}
		    }
		    h2 {
		    	font-size: $font-12;
			    line-height: $font-14;
			    letter-spacing: $font-1;
			    padding: 20px 33px 13px;
			    font-family: $sk-main-book;
			    @media #{$tablet} {
    				padding-left: 16px;
    			}
    			@media #{$iphone} {
    				padding: 11px 15px 15px 19px;
    			}
		    }
		    .store-location-header-title {
		    	border: solid $sk-text-color;
    			border-width: 1px 0;
				.section-header {
					font-size: $font-12;
				    line-height: $font-14;
				    letter-spacing: $font-1 + 1;
				    text-align: center;
				    padding: 33px 0 34px;
				    width: 50%;
				    float: left;
				    font-family: $sk-main-book;
				    @media #{$tablet} {
	    				padding: 19px 0;
	    			}
	    			@media #{$iphone} {
	    				padding: 33px 0;
	    			}
				    &:first-child {
				    	border-right: 1px solid $sk-text-color;
				    	width: 49.7%;
				    }
				    &.active {
				   		background: $sk-hint-of-red;
				    }
				}
		    }
		    .item-list,.store-location-result-body,.store-location-header-title,.store-location-result-header,.store-information {
		    	float: left;
    			width: 100%;
		    }
		    .item-list {
		    	margin: 0;
		    }
		    .store-location-result-body {
		    	height: 492px;
    			overflow-y: scroll;
    			@media #{$tablet-maxlandscape} {
    				height: 410px;
    			}
    			@media #{$tablet} {
    				height: 355px;
    			}
    			@media #{$iphone} {
    				height: auto;
    			}
    			.store-information {
    				background: none;
    				padding: 35px 45px 4px;
    				box-sizing: border-box;
    				text-transform: none;
    				@media #{$tablet} {
    					padding: 33px 16px 0;
    				}
    				@media #{$iphone} {
    					padding: 38px 45px 4px;
    				}
    				&:hover {
    					background: $sk-hint-of-red;
    				}
    				.store-left,.store-right {
    					float: left;
    				}
    				.store-right {
    					font-weight: 400;
    					width: 80%;
    					padding-left: 17px;
    					font-size: $font-12;
					    line-height: $font-14 + 2;
					    letter-spacing: $font-1;
					    font-family: $sk-main-book;
					    color: $sk-nav-grey;
					    @media #{$iphone} {
	    					padding-left: 17px;
	    				}
					    .store-name {
					    	margin: 0 0 4px 0;
					    	text-transform: uppercase;
					    	font-family: $sk-main-book;
					    	font-weight: 400;
					    	color: $sk-nav-grey;
					    	font-size: 14px;
					    	.store-click {
					    		text-decoration: underline;
					    	}
					    }
					    .arrow-btn {
					    	height: 12px;
						    width: 12px;
						    display: inline-block;
						  	background-position: -103px -64px;
						    margin-left: 12px;
						    &.extend {
						    	background-position: -66px -64px;
						    }
					    }
					    .store-hours,.store-hours-daily {
					   		margin-top: 18px;
					   		text-transform: uppercase;
					    }
					    .get-direction {
					    	text-decoration: underline;
						    margin-top: 22px;
						    display: inline-block;
					    }
					    .store-hours-daily {
						    font-size: $font-12;
						    line-height: $font-22 + 1;
						    .store-hours-main {
						    	display: inline-block;
    							width: 100%;
    							.store-hours-left,.store-hours-right {
    								width: 50%;
    								float: left;
    							}
						    }
					    }
    				}
    				.store-left {
    					width: 10%;
    					.store-marker {
    						width: 30px;
						    height: 30px;
						    border-radius: 50%;
						    border: 1px solid $sk-text-color;
						    background: $white;
						    span {
						    	line-height: $font-24 + 8;
							    display: inline-block;
							    width: 100%;
							    text-align: center;
							    font-size: $font-12;
							    letter-spacing: 1px;
							    font-family: $sk-main-book;
						    }
    					}
    				}
    			}
		    }
		}
	}
}

body {
	div {
		&#wrapper {
			&.pt_store-locator {
				#main {
					padding: 0 !important;	
				}			
			}
		}
	}
}
@media #{$iphone} {
	.pt_store-locator {
		.breadcrumb {
			padding-left: 13px;
		}
	}
	#map-1 {
		height: 292px;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		.gm-style {
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
	}
}

.pac-container {
	border-top: 0;
	border: 1px solid $black;
	.pac-item {
		padding: 0 15px;
		border-top: 0;
		&:first-child {
			background-color: $black;
    		color: $white;
    		.pac-item-query {
				color: $white;
			}
		}
		.pac-icon-marker {
			display: none;
		}
	}
	&.pac-logo {
		&:after {
			display: none;
		}
	}
}