//Soia & Kyo Style Guide
//colors
$sk-text-color: #b2aaa0;
$sk-charcoal: #343434;
$sk-dark-pebble: #9f958b;
$sk-light-pebble: #b1a99f;
$sk-complement-pebble-1: #c4bdb7;
$sk-complement-pebble-2: #d5d2cb;
$sk-complement-pebble-3: #e8e6e2;
$sk-complement-pebble-4: #f0f0ee;
$sk-complement-pebble-5: #f5f4f3;
$sk-dark-red: #b01010;
$sk-red: #ff0000;
$sk-border-grey: #b0a89f;
$sk-background-light-grey: #f6f6f6;
$sk-border-lightgrey: #f0efec;
$sk-error-msg: #ae0719;
$sk-succ-msg: #797671;
$sk-tool-col: #fcfcfc;
$sk-quick-grey: #b1a99f;
$sk-search-grey: #9c9b9c;
$sk-nav-grey: #666666;
$sk-pdpborder-grey: #d9d7d1;
$sk-minipromo-grey: #e5e5e5;
$sk-checkout-paypal: #2790C3;
$sk-cloud: #c3beb6;
$sk-hint-of-red: #f0eeec;
$sk-pink-swan: #b3b3b3;
$sk-return-bordergrey: #ccc6c1;
$sk-btn-disabled: #b2b2b2;
 
//font-families
$sk-main-book: "FunctionPro-Book", sans-serif;
$sk-main-medium: "FunctionPro-Medium", sans-serif;
$sk-main-demi: "FunctionPro-Demi", sans-serif;

 
.icons-sprite {
    background: url("../../images/sk-icons-sprite.png") no-repeat;
} 
