.country-selector {
    position: absolute;
    top: 3.3em;
    left: 2.7%;
    
}
.current-country {
    font-family: $berthold-md;
    font-size: $font-12;
    color: $black;
    letter-spacing: 0.5px;
    .fa-chevron-down {
        color: $black;
    }
}
.selector {
	.continent{
		padding: 3px 0;
	}
	.country {
		line-height: 16px;
		padding-left: 6px;
		margin: 4px 0 0 0;
		&:hover {
		    background-color: $mk-background-grey;
		    margin: 0;
	    }
		a {
			width: 100%;
			padding: 0 2px;
			color: $mk-charcoal;
			font-family: $berthold-md;
			font-size: $font-12;
			&.selected {
       			color: $mk-country-col; 
        		font-family: $berthold-md;
    		}
		}
	}
    border: 1px solid $mk-complement-pebble-3;
    
    &.active {
        width: 178px;
    	margin-top: 3px;
        position: absolute;
        border: none;
        padding: 0 0 5px 0;
        //border: 1px solid $black;
        border: 0;
    	box-shadow: -1px 2px 4px rgba(0, 0, 0, .3);
    }
}
.top-banner {
	.country-selector {
		.current-country {
			padding-left: 6px;
    		box-sizing: border-box;
		}
		.selector {
			.country {
				a {
					text-decoration: none;
					span {
						&:hover {
							text-decoration: underline;
						}
					}
				}
				&:hover {
					margin: 4px 0 0 0;
				}
			}
		}
	}
}
a.selected {
	.country & {
		display: none;
	}
}