@import "nav";
@import "menu_utility";
@import "country_selector";

.hide-desktop {
    display: none;
}
.top-banner {
    padding: 0 2%;
    background-color: $white;
    border-bottom: 1px solid $black;
    .sprint-logo {
    	display: none;
    	@media print {
    		display: block;
    		text-align: center;
    		margin: 0 auto;
    		background-color: $white;
    	}
    }
    .primary-logo {
        margin: 0 auto;
        padding: 40px 0 0;
        @media #{$tablet} {
        	left: -15px;
    		position: relative;
        }
        @media print {
        	display: none;
        }
        img {
            max-width: 100%;
        }
    } 
    .show-text {
    	font-family: $berthold-regular;
		line-height: 14px;
		font-size: $font-12;
		text-align: center;
		color: #828282;
		text-transform: initial;
		margin-top: 5px;
    }
}
.header-banner {
	display:block;
	.header-promotion {
		padding: 3px 0 2px;
		text-align: center;
	}
	.close-btn.closing-bar {
		&:before {
			content: ' ';
			display: inline-block;
			width: 11px;
			height: 11px;
			//background: url("../../images/sk-icons-sprite.png") no-repeat -353px -64px;
		}
		@media #{$iphone} {
			display: block;
		}
	}
}

.header-search-cont { 
    float: right;
    width: 20%;
    max-width: 225px;
    margin: 1px 21px 0px 10px;
    @media #{$tablet} {
       width: 18%;
       margin: 1px 7px 0px 10px; 	
	}
    .header-search {
        width: 100%;
        float: right;
        z-index: 99;
        button {
            position: absolute;
            top: 4px;
            right: 8px;
            padding: 10px;
            &:hover {
    	    	background-color: transparent;
            }
        }
        input[type="text"] {
            height: 26px;
            padding: 0 10px;
            padding-right: 30px;
            font-family: $berthold-md;
            font-size: $font-12;
            color: $black;
            background-color: $white;
            border: 1px solid $black;
            &.placeholder {
              color: $black !important;
            }
        }
    } 
}
.search-ico {
    .mk-search {
    	font-size: 18px;
	    color: $black;
	    top: 0px;
	    right: 0px;
	    position: absolute;
	    @media #{$iphone} {
	    	top: 3px;
	    	right: 7px;
	    }
    }
}
.cookie-notifier-content {
	position: fixed;
	z-index: 9999;
    width: 100%;
    &.active {
    	.cookie-usage-popup {
    		.cookie-info {
    			.desktop-info {
		    		display: block;
	    		    float: right;
	    		    @media #{$iphone} { 
			    		display: none;
			    	}
		    	}
		    	 @media #{$iphone} { 
			    	.mobile-info {
			    		display: block;
		    		    float: right;
			    	}
		    	}
		    	.read-active {
		    		display: none;
		    	}
    			i {
    				-webkit-transform: rotate(0deg);
    				transform: rotate(0deg);
    				position: relative;
    				top: 0;
    			}
    		}
    	}
    }
	.cookie-usage-popup {
		box-shadow: 0 -12px 10px 10px #000;
		display: inline-block;
	    width: 100%;
	    padding: 13px 14px 13px 42px;
	    color: $black;
	    box-sizing: border-box;
	    font-size: $font-12;
	    background-color: $mk-cookie-grey;
	    @media #{$iphone} { 
    		padding: 10px 6px;
    	}
	    .ccc-title {
	    	display: inline-block;
	    	padding: 4px;
	    	@media #{$iphone} { 
	    		width: 52%;
	    	}
	    	@media only screen and (max-width: 340px) {
	    		width: 47%;
	    	}
	    }
	    .cookie-info-close {
	    	float: right;
    	    background-color: $black;
		    padding: 4px 16px;
		    color: $white;
		    @media #{$iphone} { 
	    		padding: 5px 10px;
	    		margin-top: 3px;
	    	}
	    }
	    .cookie-info {
	    	float: right;
	    	padding: 4px 35px 4px 4px; 
	    	@media #{$iphone} { 
	    		padding: 8px 10px 8px 4px; 
	    	}
	    	.desktop-info {
	    		display: none;
	    		
	    	}
	    	.mobile-info {
	    		display: none;
	    	}
	    	i { 
    		    font-size: $font-14;
    			margin-right: 3px;
    			position: relative;
    			top: 1.5px;
    			-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
	    	}
	    }
	}
	.cookie-data {
	    position: fixed;
	    width: 235px;
	    right: 0;
	    padding: 15px;
	    box-sizing: border-box;
        z-index: 99999;
        box-shadow: 1px 2px 6px 4px #d8d8d8;
    	background-color: white;
    	p {
    		margin-bottom: 5px;
    	}
    	a {
    		text-decoration: underline;
    	}
    	@media #{$iphone} { 
    		width: 100%;
    	}
	}
}

@media #{$tablet-desktop} {
	#header {
		&.header-fixed {
			.header-banner {
				display: none;
			}
			.top-banner {
				position: fixed;
			    top: 0;
			    z-index: 100;
			    left: 0;
			    width: 100%;
			    display: inline-block;
			    background-color: $white;
			    box-sizing: border-box;
			    .primary-logo {
					margin: initial;
					padding-top: 16px;
	    			height: auto;
	    			padding-bottom: 4px;
	    			width: auto;
	    			img {
	    				width: 200px;
	    			}
				}
				#mini-cart {
					top: 15px;
				    position: absolute;
				    right: 2%;
				    .mini-cart-total {
				    	a {
				    		.mini-cart-text {
				    			line-height: 0;
	    						visibility: hidden;
				    		}
				    	}
				    }
				    .mini-cart-content {
				    	top: 2.5em;
				    }
				}
				#navigation {
					width: 97%;
					.menu-utility-user, .country-selector {
						display: none;
					}
					.primary-nav {
					    margin: -4em auto 0;
	    				max-width: 620px;
	    				float: none;
					}
					.menu-category {
					    display: flex;
					    justify-content: space-between;
					    > li {
					    	padding: 15px;
					    	> .link-style {
					    		font-size: 13px;
					    	}
					    	.level-2 {
					    		> ul {
					    			padding: 14px 15px 20px;
					    		}
					    	}
					    }
					}
					.header-search-cont {
						margin-top: 10px;
						.header-search {
							input[type="text"] {
								border: 0;
							    border-bottom: 1px solid $black;
							    padding: 0;
							}
							.search-ico {
								right: 2px;
							}
						}
					}
				}
			}
		}
	}
}

@media #{$tablet-maxlandscape} {
	#header {
		&.header-fixed {
			.top-banner {
				.primary-logo {
					width: 190px;
					img {
	    				width: auto;
	    			}
				}
				#mini-cart {
					top: 15px;
				}
				#navigation {
					.primary-nav {
						max-width: 560px;
    					margin: -3.1em auto 0;
					}
					.menu-category {
						margin-top: 0;
						> li {
					    	padding: 15px;
					    	> .link-style {
					    		font-size: 11px;
					    	}
					    	.level-2 {
					    		> ul {
					    			padding: 14px 15px 20px;
					    		}
					    	}
					    }
					}
					.header-search-cont {
						width: 16%;
						margin-top: 8px;
					}
				}
			}
		}
	}
}

@media #{$tablet} {
	#header {
		&.header-fixed {
			.top-banner {
				.primary-logo {
					width: 135px;
					left: 5px;
					img {
	    				width: auto;
	    			}
				}
				#mini-cart {
					top: 15px;
				}
				#navigation {
					width: 98%;
					.header-search-cont {
						max-width: 115px;
					    margin-right: 30px;
					    margin-top: 8px;
					}
					.menu-category {
						margin-top: 0;
						> li {
					    	padding: 15px 9px;
					    	> .link-style {
					    		font-size: 11px;
					    	}
					    	.level-2 {
					    		> ul {
					    			padding: 14px 23px 23px 9px;
					    		}
					    	}
					    }
					}
					.primary-nav {
						margin: -3.1em auto 0;
    					max-width: 400px;
    					.menu-category {
    						margin-top: 0;
    					}
					}
				}
			}
		}
	}
}