.menu-utility-user {
    margin-top: 5px;
    @media #{$tablet-desktop} {
    	margin-top: 0;
    }
    li {
        padding: 0px 24px 0 3px;
        box-sizing: border-box;
        @media #{$tablet-maxlandscape} {
        	padding: 0px 15px 0 3px;
        }
        @media #{$tablet} {
    		padding: 0px 3px 0 3px;
        }
        a {
        	span.stores-text, span.user-info-text {
        		display: none;
        	}
        	@media #{$tablet-desktop} {
	        	span.stores-text, span.user-info-text {
	        		display: block;
	        	}
	        	
	        	&:hover {
	        		color: inherit;
	        	}
        	}
        }
    }
    .stores {
    	@media #{$tablet-desktop} {
	    	width: 100px;
	    	word-wrap: break-word;
	    }
	    @media #{$tablet-maxlandscape} {
	    	width: 65px;
	    }
	    @media #{$tablet} {
        	width: 60px;
		}
        > a {
            float: left;
            width: 15px;
            height: 22px;
            background-position: -22px -19px; 
            @media #{$tablet-desktop} {
           		width: auto;
    			height: auto;
            }
            .fa-map-marker {
            	font-size: $font-18 + 4;
            	color: $black
            }
        }
    }
    .user-info {
    	@media #{$tablet-maxlandscape} {
	    	width: 65px;
	    }
    	@media #{$tablet} {
        	width: 60px;
        	word-wrap: break-word;
		} 
    	a{
    		width: 100%;
	        i {
	            float: left;
	            width: 20px;
	            height: 22px;
	            background-position: -62px -19px;
	            @media #{$tablet-desktop} {
	            	margin: 0 auto;
	            	float: none;
	            }
	        }
        }
    }
    .user-info.active {
	    &.user-logged-in {
	    		.user-title {
	    			font-size: $font-12;
	    		}
	    		.user-panel {
		    		.user-links {
		    			text-align: left;
		    			.user {
						    background-color: $white;
						    padding: 0;
						    margin-bottom: 20px;
						    &.user-logout {
						    	padding-top: 20px;
						    	border-top: 1px solid $mk-search-border;
						    }
		    				a {
		    					color: $black;
		    				}
		    			}
		    		}
		    		.outh-login-desk {
		    			display:none;
		    		}
	    		}
	    	}
        .user-panel { 
        	width: 240px;
            margin-top: 25px;
            right: 5px;
            padding: 18px 14px 5px 14px;
            box-sizing: border-box;
            border: 1px solid $mk-light-pebble;
            z-index: 99;
            @media #{$tablet} {
        		margin-top: 15px;
			}
            h3 {
                padding-bottom: 20px;
                text-align: center;
            }
            .user-links {
                text-align: center;
                form {
    				button {
					    font-size: $font-10;
					    padding: 0px;
					    border: 0;
					    outline: none;
					    background-color: $black;
					    color: $white;
					    text-transform: uppercase;
					    width: 100%;
					    &:hover {
					    	text-decoration: underline;
					    }
    				}
                }
                > div {
                    padding: 7px;
				    background-color: $black;
				    font-size: $font-10;
				    font-family: $berthold-bold;
				    margin-bottom: 15px;
				    &.outh-login-desk {
				    	margin-bottom: 20px;	
				    }
				    &.outh-login-responsive {
				    	display: none;
				    }
                    a {
                        color: $white;
                        display: inline-block;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    &.create-my-account{
	                	background-color: $white;
	                	text-transform: uppercase;
	                	padding: 18px 0 8px 0;
    					margin: 0;
    					border-top: 1px solid $mk-dark-pebble;
	                }
                }
                
            }
        }
    }
    &.checkout-header-section {
		margin-bottom: 22px;
		padding-right: 8px;
		.user-info {
			position: relative;
			padding: 0;
			@media #{$tablet-maxlandscape} {
				width: 100%;
			}
			@media #{$tablet}{
				width: 100%;
			}
			.main-container-link {
				float: left;
	    		width: auto;
	    		position: relative;
	    		.user-vertical {
	    			width: 1px;
				    height: 27px;
				    background: black;
				    position: absolute;
				    right: 0;
				    top: -8px;
	    		}
			}
	    	.account-txt {
			    margin-right: 8px;
			    position: relative;
			    top: 3px;
			    @media #{$tablet} {
			    	top: -25px;
				    left: -45px;
				    position: absolute;
			    }
	    	}
	    	.user-account {
			    margin-right: 14px;
			    border-bottom: 1px solid black;
			    padding-bottom: 1px;
			    .user-info-text {
			    	float: left;
	    			margin: 0 3px 0 0;
	    			position: relative;
	    			top: 3px;
			    }
			    label {
			    	float: left;
	    			width: auto;
			    }
			    i {
			    	cursor: pointer;
			    	float: left;
			    	width: 13px;
	    			height: 16px;
	    			background-position: -175px -336px;
			    }
	    	}
	    	.header-securelogo,.account-txt,.user-account,.user-info-text {
	    		width: auto;
	    		float: left;
	    		font-size: $font-12;
			    line-height: $font-16;
			    font-family: $berthold-regular;
			    letter-spacing: $font-1;
			    color: $black;
	    	}
	    	.header-securelogo {
	    		position: relative;
	    		margin-left: 11px;
	    		top: 3px;
	    		.header-text {
	    			margin-right: 20px;
	    			text-transform: capitalize;
	    		}
	    	}
	    	.lock-img {
	    		background: url(../../images/lock.png) no-repeat;	
	    		width: 18px;
			    height: 21px;
			    display: block;
			    float: right;
			    background-size: contain;
			    position: absolute;
			    right: 0;
			    top: -7px;
	    	}
	    	&.user-logged-in {
	    		.registered-mainlog {
	    			float: left;
	    		}
	    		.register-text {
	    			font-family: $berthold-regular;
	    			font-size: $font-12;
	    			float: left;
	    			position: relative;
				    top: 3px;
				    margin-right: 5px;
				    text-transform: capitalize;
				    color: $black;
				    @media #{$tablet} {
				    	top: -20px;
	    				right: -20px;
				    }
	    		}
	    		.user-account {
	    			border-bottom: 0;
	    			padding-bottom: 0;
	    		}
	    		.user-vertical {
	    			width: 1px;
				    height: 27px;
				    background: $black;
				    position: relative;
				    right: 0;
				    top: -8px;
				    float: left;
	    		}
	    	}
	    }    
    }
}