.primary-nav {
    float: left;
    width: 100%;
}
ul.menu-category {
    text-align: center;
    border: none;
    > li {
        float: none;
        display: inline-block;
        font-size: $font-12 - 1px;
        padding: 15px 23px;
        font-family: $berthold-md;
        > a {
            padding: 0px;
            padding-bottom: 1px;
            color: $black;
            font-size: $font-12 - 1px;
            letter-spacing: 1.8px;
            font-family: $berthold-md;
            &:hover {
                border: none;
                text-decoration: none;
            }
        }
        &:hover {
            > a:hover {
                border-bottom: 1px solid $white;
            } 
        } 
    }
} 
.level-2 {
	z-index: 10;
    left: 0px;
    width: 100%;
    background-color: $white;
    padding-bottom: 22px;
    box-shadow: 0 3px 3px 0 rgba($charcoal, 0.2);
    .banner {
    	padding-top: 15px;
        position: relative;
    }
    > ul {
        position: relative;
        padding: 14px 23px 20px;
        text-align: left;
        @media #{$tablet} {
        	padding-left: 10px;
        }
         li {
         	 a {
	            padding: 13px 0 0px;
	            font-family: $berthold-md;
	            font-size: $font-10;
	            color: $black;
	            &:hover {
                text-decoration: underline; 
            }
	        }
	        &:first-child {
	        	a{
	            	padding: 5px 0 0 ;
	            }
            }
        }
    }	
}