.pt_cart {
	.error-form {
        margin: 0px;
        margin-top: 35px; 
        padding: 28px;
        font-family: $sk-main-medium;
        font-size: $font-12; 
        line-height: $font-16;
        font-weight: normal;
        letter-spacing: $font-05;
        color: $sk-dark-red;
        text-transform: uppercase;
        border-radius: 0px;
        text-align: center;
        border: 1px solid $sk-dark-red;
        background-color: $sk-complement-pebble-5;
        box-sizing: border-box;
        i {
            display: none;
        }
    }
    #cart-items-form {
    	#cart-table {
    		tbody {
    			border-bottom: 1px solid $sk-complement-pebble-1;
    		}
    	}
    }
    #cart-table {
    	.cart-row {
    		@media #{$tablet-maxlandscape} {
	    		.item-quantity {
	    			width: 8%;
	    		}
	    	}
    		@media #{$tablet} {
	    		.item-quantity {
	    			width: 10%;
	    		}
	    	}
	    	.item-quantity-details {
	    		padding-left: 20px;
	    		box-sizing: border-box;
	    		@media #{$iphone} {
	    			padding-left: 0;
	    		}
	    	}
    	}
    }
}
.cart-empty {
    margin-top: 100px;
    .cart-empty-header {
        float: left;
        width: 100%;
        padding: 10px 0px;
        background: $white;
        border: none;
        border-top: 1px solid $sk-light-pebble;
        border-bottom: 1px solid $sk-light-pebble;
        > h1 {
            padding: 47px 0px;
            font-family: $sk-main-book;
            font-size: $font-18;
            line-height: $font-18;
            font-weight: normal;
            letter-spacing: $font-05;
            color: $sk-dark-pebble;
            text-transform: uppercase;
            text-align: center;
            background-color: $sk-complement-pebble-5;
        }
    }
    .cart-action-continue-shopping {
        float: left;
        width: 100%;
        text-align: center;
        background: $white;
    }
    .button-text {
        height: 36px;
        margin: 50px 0px 10px;
        padding: 10px 30px;
        font-family: $sk-main-medium;
        font-size: $font-18;
        line-height: $font-18;
        font-weight: normal;
        letter-spacing: $font-05;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        background-color: $sk-light-pebble;
        &:hover {
            text-decoration: none;
        }
        @media #{$iphone} {
            width: 100%;
        }
    }
    .product-slot {
        &.product-listing {
            float: left;
            width: 100%;
            box-sizing: border-box;
        }
    }
    @media #{$iphone} {
        margin-top: 70px;
    }
}
.cart-actions-top,
.cart-actions-bottom {
    float: right;
    width: 100%;
    padding: 30px 0px;
    .sk-paypal-button,
    .paypal-or,
    .button-fancy-large {
        display: block;
        float: left;
        padding: 9px 20px;
        font-family: $sk-main-demi;
        font-size: $font-14;
        line-height: $font-14;
        font-weight: normal;
        letter-spacing: $font-05;
        text-transform: uppercase;
        color: $sk-light-pebble;
        border: none;
    }
    .sk-paypal-button {
        float: left;
        display: block;
        padding: 9px 30px 5px;
        font-size: $font-12;
        color: $sk-dark-pebble;
        background-color: $sk-complement-pebble-3;
        &:hover {
            text-decoration: underline;
        }
        .paypal-button-cont {
            width: 100%;
            max-width: 175px;
            margin: 0 auto;
            span {
                float: left;
                display: block;
            }
            .paypal-btn {
                display: block;
                float: left;
                width: 60px;
                height: 18px;
                margin-left: 10px;
                background: url("../../images/sk-icons-sprite.png") no-repeat -26px -186px;
                vertical-align: middle;
            }
        }
    }
    .button-fancy-large {
        padding: 9px 30px;
        color: $white;
        font-family: $sk-main-medium;
        font-size: $font-12;
        &:hover {
            text-decoration: underline;
        }
    }
}
.cart-actions-bottom {
    padding: 0px 0px 50px; 
}
#cart-items-form {
    float: left;
    width: 100%;
    box-sizing: border-box;
    #cart-table {
        margin-bottom: 0px;
        margin-bottom: 0px;
    	.section-header {
    		&.header-total-price {
    			width: 22.5%;
            	text-align: left;
    		}
    	}
        tbody {
            tr:last-child {
                border-bottom: none;
            }
        }
    }
}
.error-form-cont {
    float: left;
    width: 100%;
    padding: 10px 0px;
    border-top: 1px solid $sk-complement-pebble-1;
    .error-form {
        margin: 0px;
        padding: 28px;
        font-family: $sk-main-medium;
        font-size: $font-12;
        line-height: $font-16;
        font-weight: normal;
        letter-spacing: $font-05;
        color: $sk-dark-red;
        text-transform: uppercase;
        border-radius: 0px;
        border: 1px solid $sk-dark-red;
        background-color: $sk-complement-pebble-5;
        box-sizing: border-box;
        i {
            display: none;
        }
    }
}
#cart-table {
    font-family: $sk-main-medium;
    font-size: $font-14;
    font-weight: normal;
    line-height: $font-14;
    letter-spacing: $font-05;
    color: $sk-dark-pebble;
    text-transform: uppercase;
    text-align: left;
    tr {
        border-bottom: 1px solid $sk-complement-pebble-1;
    }
    thead {
        tr {
            border-top: 1px solid $sk-complement-pebble-1;
            border-bottom: 1px solid $sk-complement-pebble-1;
        }
    }
    tbody {
        tr {
            td {
                padding: 30px 5px;
                box-sizing: border-box;
            }
        }
    }
    .section-header {
        padding: 20px 5px;
        margin: 0px;
        font-size: $font-14;
        font-weight: normal;
        line-height: $font-14;
        color: $sk-charcoal;
        text-align: left;
        border: none;
        box-sizing: border-box;
        &:first-child {
            padding-left: 20px; 
        }
        &.product-name {
            width: 35%;
        }
        &.product-quantity {
            width: 5%;
        }
        &.product-stock {
            width: 15%;
        }
        &.product-price {
        	width: 22.5%;
        }
        &.header-total-price {
            width: 22.5%;
            padding-right: 80px;
            text-align: right;
            @media #{$tablet} {
            	padding-right: 0;
            }
        }
    }
    .item-image { 
        float: left;
        width: 100%;
        padding-left: 20px;
    }
    .item-details {
    	@media screen and (min-width: 768px) {
			float: none;
			width: 29%;
		}
        .product-list-item {
            .promo {
                font-size: $font-12;
                color: $sk-red;
                font-weight: normal;
                letter-spacing: $font-05;
            }
            .name {
                margin-bottom: 10px;
                font-size: $font-12;
                line-height: $font-16;
                color: $sk-charcoal;
                font-style: normal;
                a {
                    color: $sk-charcoal;
                }
            }
            .attribute {
                padding-top: 10px;
                font-size: $font-12;
                .value {
                    font-weight: normal;
                }
            }
        }
        .item-edit-details,
        .bonusproducts {
            padding-top: 20px;
            font-size: $font-12 - 1px;
            line-height: $font-12;
            a {
                color: $sk-dark-pebble;
                text-decoration: underline;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .bonus-product {
    	.item-quantity {
    		span {
    			background-color: $sk-complement-pebble-5;
			    width: 50%;
			    display: block;
			    padding: 8px;
			    color: $black;
			    font-size: $font-12;
                text-align: center;
                margin: 0 auto;
                @media #{$iphone} {
                	padding: 8px 0px;
                }
                
    		}
    	}
    	.item-quantity-details {
    		.item-user-actions {
    			.product-availability-list {
    				padding-top: 10px;
    				@media #{$iphone} {
    					padding-top: 0px;
    				}
    			}
    		}
    	}
    }
    .item-quantity {
        input[type="number"] {
            width: 50px;
            height: 30px;
            padding: 5px;
            background-color: $sk-complement-pebble-5;
            border: none;
            text-align: center;
        }
        input[type="number"]::-webkit-inner-spin-button {
            opacity: 1;
        }
    }
    .item-quantity-details {
    	@media #{$iphone} {
    		padding-left: 0px;
    		box-sizing: border-box;
    		text-align: left;
    	}
        > div {
            float: left;
            width: 100%;
            margin: 0px;
            padding: 0px;
            span, button {
                font-family: $sk-main-medium;
                font-size: $font-12 - 1px;
                font-weight: normal;
                line-height: $font-12;
                letter-spacing: $font-05;
                color: $sk-dark-pebble;
                text-transform: uppercase;
            }
        }
        .item-user-actions {
            button {
                height: auto;
                @media #{$iphone} {
                	padding: 0px 0 0 0;
                	text-align: left;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .product-availability-list {
            padding: 0px 0px 10px 0px;
            .error {
                float: left;
                width: 100%;
                margin: 5px 0px 15px;
                color: $sk-dark-red;
            }
            .not-available {
                color: $sk-dark-red;
            }
        }
    }
    .item-price {
        color: $sk-charcoal;
        font-size: $font-12;
        @media #{$iphone} {
        	text-align: right;
        	font-size: $font-12;
        }
        .price-promotion {
            span {
                font-size: $font-12;
                line-height: $font-12;
                @media #{$iphone} {
        			font-size: $font-12 - 1;
        		}
            }
            .price-standard {
                margin-right: 5px;
                & + .price-sales {
                    color: $sk-red;
                }
            }
        }
    }
    .item-total {
        font-size: $font-12;
        text-align: left;
        color: $sk-charcoal;
        .price-total {
        	padding-right: 5px;
        }
        .price-unadjusted {
            color: $sk-charcoal;
        }
        .promo-adjustment {
            width: 100%;
            color: $sk-red;
            line-height: $font-16;
        }
        .price-adjusted-total {
            float: left;
            padding: 10px 0px 0px;
            color: $sk-charcoal;
            span {
                color: $sk-red;
            }
        }
    }
    .cart-promo {
        padding: 0px;
        margin: 0px;
        background: transparent;
        border: none;
        td {
            padding: 0px;
            margin: 0px;
        }
        .bonus-item-header {
            float: left;
            width: 100%;
            padding: 18px 30px;
            margin-top: 10px;
            background-color: $sk-complement-pebble-5;
            box-sizing: border-box;
            .bonus-item-details,
            .bonus-item-actions {
                float: left;
                font-family: $sk-main-medium;
                font-size: $font-12;
                line-height: $font-12;
                font-weight: normal;
                letter-spacing: $font-05;
                color: $sk-charcoal;
                text-transform: uppercase;
                font-style: normal;
                .tooltip {
                    margin-left: 15px;
                }
                > a {
                    font-size: $font-12 - 1px;
                    line-height: $font-12;
                    color: $sk-dark-pebble;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .bonus-item-details {
                width: 65%;
                .tooltip {
                	text-decoration: underline;
                }
            }
            .bonus-item-actions {
                width: 35%;
            }
        }
    }
    .rowcoupons {
        font-family: $sk-main-medium;
        font-size: $font-12;
        line-height: $font-14;
        font-weight: normal;
        letter-spacing: $font-05;
        color: $sk-dark-pebble;
        text-transform: uppercase;
        > td {
            padding: 30px 5px 40px;
        }
        .item-details {
            .name {
                float: left;
                width: 100%;
                padding-bottom: 20px;
                color: $sk-charcoal;
            }
            .discount {
                position: absolute;
                width: 78%;
                margin-top: 10px;
                word-break: break-all;
                > .value {
                	color: $sk-red;
                }
                @media #{$iphone} {
                    position: static;
                }
            }
        }
        .item-total {
            font-size: $font-14;
            color: $sk-charcoal;
        }
        .item-quantity-details {
            button {
                padding: 10px 30px;
                color: $white;
                background-color: $sk-light-pebble;
                border: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    tfoot {
        .cart-promo {
            > div {
                float: left;
                width: 100%;
                margin: 10px 0px;
                padding: 28px 30px;
                font-family: $sk-main-medium;
                font-size: $font-12;
                line-height: $font-14;
                font-weight: normal;
                letter-spacing: $font-05;
                color: $sk-charcoal;
                font-style: normal;
                text-transform: uppercase;
                background-color: $sk-complement-pebble-5;
                box-sizing: border-box;
                @media #{$iphone} {
                	padding-left: 0;
                	padding-right: 0;
                	text-align: center;
                }
            }
        }
    }
}
.cart-footer {
    margin: 0px 0px 50px;
    padding: 50px 0px 0px;
    box-sizing: border-box;
    .cart-coupon-code {
        input[type="text"],
        #add-coupon,
        #update-cart {
            height: 32px;
            float: left;
            width: 32%;
            margin: 0px;
            font-family: $sk-main-medium;
            font-size: $font-12;
            font-weight: normal;
            line-height: $font-12;
            letter-spacing: $font-05;
            color: $sk-charcoal;
            text-transform: uppercase;
            border: 1px solid $sk-border-lightgrey;
            background-color: $sk-background-light-grey;
            outline: none;
            @media #{$tablet} {
            	width:37%; 
            }
        }
        input[type="text"] {
        	text-transform: none;
        }
        #add-coupon {
            width: auto;
            margin: 0px 48px 20px 10px;
            padding: 10px 30px;
            color: $white;
            border: none;
            background-color: $sk-light-pebble;
            @media #{$tablet} { 
            	margin: 0px 30px 20px 10px;
            }
        }
        #update-cart {
            width: auto;
            margin: 0;
            padding: 9px 30px;
            color: $sk-dark-pebble;
            border: 1px solid $sk-dark-pebble; 
            background-color: $white;
            box-sizing: border-box;
            @media #{$tablet} {
            	margin: 0; 
            }
        }
        .error {
            float: left;
            width: 50%;
            clear: both;
            margin: 0px;
            padding: 10px 0px;
            font-family: $sk-main-book;
            font-size: $font-10;
            line-height: $font-14;
            letter-spacing: $font-05;
            text-transform: uppercase;
            border: none;
            @media #{$iphone} {
            	padding: 10px 0 10px 0;
    			width: 90%;
    			margin: 0 15px; 
            }
        }
    }
    .order-totals-table {
        font-family: $sk-main-medium;
        font-size: $font-12;
        font-weight: normal;
        line-height: $font-12;
        letter-spacing: $font-05;
        color: $sk-charcoal;
        text-transform: uppercase;
        tr {
            td {
                padding: 0px 0px 20px;
            }
        }
        .order-discount {
            color: $sk-red;
        }
    }
}
