.tooltip {
	cursor: help;
	position: relative;
	&.product-tile {
		cursor: pointer;
	}
}

.tooltip-content {
	display: none;
}

.ui-tooltip.ui-widget-content {
	border-radius: 3px;
	box-shadow: 2px 3px 3px 0 $nobel;
}

.ui-tooltip-content {
	.recommendation-tooltip-header {
		.product-price {
			.price-standard {
				color: $nobel;
				text-decoration: line-through;
			}
		}
	}
	
	.shipping-method-cost,
	.surcharge-product,
	.promo {
		text-align: right;
	}
	.shippingtotal {
		clear: right;
		text-align: right;
		.value {
			border-top: 1px solid $charcoal;
		}
	}
}
