body {
	background: none repeat scroll 0 0 $night-rider;
	color: $night-rider;
	font-family: $sans-serif;
	font-size: 12px;
	overflow-x: hidden;
	&.noscroll {
		overflow: hidden;
		position: fixed;
	}
}
.ui-widget-overlay {
    background-color: #000000 !important;
    opacity: 0.7 !important;
    background: #000000 !important;
}
a {
	color: $black;
	outline: medium none;
	overflow: hidden;
	text-decoration: none;
	.app-device &:hover{
		text-decoration: none !important;
	}
}

fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

th {
	text-align: left;
}

td {
	padding: 1em;
	vertical-align: top;
}

button,
.button,
.buttonstyle,
input[type="button"] {
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: 1.1em;
	font-weight: 400;
	padding: 0.5em 2em;
	text-align: center;
	transition: all 0.3s ease;
	&.large {
		font-size: 1.35em;
		text-transform: uppercase;
	}
	&:hover {
		background-color: $white;
		border-color: $citrus;
		color: $citrus;
	}
	&.raised {
		border-width: 0;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		&:hover {
			background-color: darken($citrus, 10%);
			color: $white;
		}
	}
	&.simple {
		background-color: $white;
		color: darken($citrus, 10%);
	}
	&[disabled],
	&.disabled {
		background-color: $very-light-gray;
		border-color: $very-light-gray;
		color: $dim-gray;
		opacity: 0.5;
	}
	a {
		color: $white;
		&:hover {
			color: $citrus;
		}
	}
	i {
		&.left {
			margin-right: 0.6em;
		}
		&.right {
			margin-left: 0.6em;
		}
	}
}

.button-fancy-small {
}

.button-fancy-medium {
}

.button-fancy-large {
	@extend .button.large;
}

.button-text {
	background-color: transparent;
	border-width: 0;
	color: $citrus;
	padding: 0;
	&:hover {
		background-color: transparent;
		text-decoration: underline;
	}
}

.button-full-width {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 100%;
}


.slick-prev, .slick-next {
	z-index: 1;
	font-size: 0;
    line-height: 0;
    border: 0;
    position: absolute;
    margin-top: -13px;
    width: 21px;
	height: 41px;
    top: 32%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.back-to-top-btn {
	cursor: pointer;
	background: url("../images/BACK_TO_TOP.png") no-repeat transparent;
	width: 70px;
    height: 70px;
    background-size: contain;
    position: absolute;
    right: -70px;
    bottom: 85px;
    z-index: 1;
    
    &.french-site-btt {
    	background: url("../images/French_BTT.png") no-repeat transparent;
    }
    @media #{$tablet} {
    	right: -22px;
    }
    @media #{$iphone} {
    	right: 4px;
    }
    &.fixed-button {
    	position: fixed;
	    right: 10px;
		bottom: 12px;
    }
}

.app-desktop {
	&.noscroll {
		.zEWidget-launcher {
			display: none;
		}
	}
}
