.dw-apple-pay-button,
.dw-apple-pay-button:hover {
	margin: 0;
}

#cart-table {
	thead {
		display: none;
		@media screen and (min-width: 768px) {
			display: table-header-group;
		}
	}
	td {
		box-sizing: border-box;
		display: block;
		padding: 5px;
		@media screen and (min-width: 768px) {
			display: table-cell;
		}
	}
	.cart-row {
		display: flex;
		flex-wrap: wrap;
		@media screen and (min-width: 768px) {
			display: table-row;
		}
	}
	.header-total-price {
		text-align: right;
	}
	.item-image {
		float: left; // LEGACY: to support IE (no flexbox)
		order: 1;
		text-align: center;
		flex-basis: 25%;
		@media screen and (min-width: 768px) {
			float: none;
			text-align: left;
		}
	}
	.item-details {
		float: left; // LEGACY: to support IE (no flexbox)
		order: 2;
		flex-basis: 75%;
		@media screen and (min-width: 768px) {
			float: none;
		}
		// Removes Edit Details Quickview link for handheld devices
		.item-edit-details {
			display: none;
			@media screen and (min-width: 768px) {
				display: block;
			}
		}
	}
	.item-delivery-options {
		order: 6;
		text-align: center;
		flex-basis: 50%;
		@media screen and (min-width: 768px) {
			text-align: left;
			width: 8rem;
		}
		.form-row {
			margin-top: 0;
		}
	}
	.item-quantity {
		float: left; // LEGACY: to support IE (no flexbox)
		order: 4;
		text-align: center;
		flex-basis: 33.3333%;
		@media screen and (min-width: 768px) {
			float: none;
			text-align: left;
		}
		input {
			width: 2.7rem;
		}
	}
	.item-quantity-details {
		float: left; // LEGACY: to support IE (no flexbox)
		order: 3;
		text-align: center;
		flex-basis: 33.3333%;
		@media screen and (min-width: 768px) {
			float: none;
			text-align: left;
		}
		.item-user-actions {
			a,
			button {
				text-decoration: underline;
				display: block;
				width: 100%;
				@media screen and (min-width: 768px) {
					width: auto;
				}
			}
		}
	}
	.item-price {
		order: 5;
		text-align: center;
		flex-basis: 33.3333%;
		@media screen and (min-width: 768px) {
			text-align: left;
		}
	}
	.price-promotion {
		.price-sales {
			color: $sangria;
		}
		.price-standard {
			margin: 0 1em 0 0;
			text-decoration: line-through;
		}
	}
	.item-total {
		flex-grow: 2; // take over item-delivery-options that it is not there
		order: 7;
		text-align: right;
		flex-basis: 50%;
		word-wrap: break-word;
		@media screen and (min-width: 768px) {
			float: none;
		}
		.promo-adjustment {
			@media screen and (min-width: 768px) {
				width: 100%;
				float: right;
			}
		}
	}
	.price-unadjusted {
		span {
			text-decoration: line-through;
		}
	}
	.price-adjusted-total {
		color: $black;
		display: block;
		span {
			color: $sangria;
		}
	}
	.gift-cert-delivery {
		color: $sangria;
	}
}

.cart-promo {
	.bonus-item-actions {
		text-align: right;
		vertical-align: middle;
		.select-bonus {
			text-decoration: underline;
		}
	}
}

.cart-footer {
	@extend %clearfix;
	margin: .83em 0;
}

.cart-coupon-code {
	@media screen and (min-width: 768px) {
		float: left;
		width: 60%;
	}
	input {
		margin-bottom: .5rem;
		width: 34%;
		@media screen and (min-width: 768px) {
			width: 45%;
		}
	}
	.error {
		padding-top: 0.4em;
	}
	button {
		margin-left: .2rem;
	}
}

.cart-order-totals {
	@media screen and (min-width: 768px) {
		float: right;
		margin-top: 0;
		width: 40%;
	}
}

.order-totals-table {
	td {
		text-align: right;

	}
	.order-totals-item {
		width: 60%;
	}

	.order-totals-value {
		width: 40%;
	}
}
.order-value {
	white-space: nowrap;
}

.cart-actions {
	@extend %clearfix;
	.dw-apple-pay-button {		
		border-radius: 0 !important;
	}
}

.cart-action-checkout {
	float: right;
}

.cart-action-continue-shopping {
	@media screen and (min-width: 768px) {
		float: right;
	}
	.button-text {
		margin-top: .2rem;
		margin-right: 1rem;
		@media screen and (min-width: 768px) {
			margin-top: .6rem;
		}
	}
}

.cart-actions-top {
	.cart-action-continue-shopping {
		float: none;
	}
}

.cart-empty {
	@extend %clearfix;
	margin-top: 4rem;
	h1 {
		text-align: center;
	}
	.cart-action-continue-shopping {
		float: none;
		text-align: center;
		margin-bottom: 4rem;
	}
	.product-listing {
		@extend %clearfix;
		background-color: $white-smoke;
		padding: 1rem 0;
		h2 {
			margin-left: 1.3rem;
		}
		.search-result-items {
			margin-top: 1em;
		}
	}
}

.promo-adjustment {
	color: $sangria;
}

.account-welcome {
	.welcome-message {
		font-size: 1.2em;
		font-style: italic;
	}
	.not-user {
		margin: .83em 0;
	}
}

#password-reset{
	white-space: nowrap;
}
