.checkout-progress-indicator {
    overflow: hidden;
    div {
        display: inline;
        padding: 0 .83em 0 0;
    }
    span {
        text-transform: uppercase;
    }
    .active span {
        font-weight: 700;
        color: $black;
    }
    a {
        color: $night-rider;
    }
    i {
        padding-left: .83em;
        color: $very-light-gray;
    }
    .step-3 {
        padding-right: 0;
    }
}

.gift-message-text {
    overflow: visible;
    opacity: 1;
    transition: all 1s ease;
    &.hidden {
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
    textarea {
        width: 100%;
    }
}

.billing-coupon-code {
    .form-row,
    .coupon-apply,
    .giftcert-apply {
        display: inline-block;
    }
    .form-row {
        margin: 0;
        width: 45%;
        float: left;
        @media #{$tablet} {
        	width: 50%;
        }
    }
    .tooltip {
        padding-left: 1rem;
    }
}

.redemption {
    .success {
        color: $islamic-green;
    }
    color: $sangria;
    span.error {
        margin-left: 0;
    }
}

.payment-method-options {
    .form-row {
        clear: none;
        float: left;
        width: 30%;
    }
}

.payment-method {
    clear: both;
    display: none;
}

.payment-method-expanded {
    display: block;
}

.month,
.year,
.day {
    clear: none;
    float: left;
    margin: 0 0 2% 2%;
    label {
        @extend .visually-hidden;
    }
    select {
        width: auto;
    }
}

.month .form-caption {
    margin-left: 0;
}

.form-row {
	&.cvn {
		.field-wrapper {
			input[type="text"] {
			 	background: {
			 		image: url(../../images/lockerr.png);
				    repeat: no-repeat;
				    size: 18px;
				    position: center right 10px;
			 	}
				display: inline-block;
			}
		}
	}
}

.cvn {
    clear: left;
    .field-wrapper {
        width: 50px;
    }
}

.ssn {
    clear: left;
}

.bml-terms-and-conditions {
    border: 1px solid $dark-gray;
    font-size: 0.8em;
    height: 400px;
    overflow: auto;
    padding: 1em;
}

.bml-table-col-1 {
    width: 25%;
}

.pt_checkout h3 {
    padding-bottom: 1em;
}



.place-order-totals {
    clear: both;
    .order-totals-table {
        float: right;
        width: 50%;
    }
    .content-asset {}
}

.order-component-block {
    margin: 1.67em 0;
    .section-header a {
        float: right;
        font-weight: normal;
        text-decoration: underline;
    }
}

.order-summary-footer {
    position: relative;
    h2 {
        font-size: 2em;
        font-style: italic;
        font-weight: normal;
    }
}

.summary-help {
    float: right;
    font-size: 0.8em;
    margin: 1em 0;
}

.submit-order {
    clear: both;
    display: block;
    padding: 1.67em 0 0;
    text-align: right;
    .back-to-cart {
        font-size: 1.1em;
        &:hover {
            text-decoration: underline;
        }
    }
    button {
        margin-left: 1.5em;
    }
}

.order-discount {
    color: $sangria;
}

.gift-cert-used {
    padding: .83em 0;
}

.summary .edit {
    position: absolute;
    text-transform: uppercase;
    right: 10px;
    font-size: 0.9em;
    line-height: 1.5em;
}


.pt_checkout #main,
.pt_cart #main {
    padding: 0 1.15em;
}

.pt_cart .breadcrumb {
    padding-left: 0;
}

.item-shipping-address {
    min-width: 120px;
}

.billing-error {
    color: red;
    margin: 0 0 .83em 24%;
}

.cvn-tooltip {
    font-weight: bold;
    margin: 5px;
    text-align: center;

    img {
        height: 150px;
        width: 110px;
    }
}

#shipping-method-list {
    position: relative;
}
.primary-focus {
	.checkout-secondary {
		.section-header {
			a {
				text-decoration: underline;
			}
		}
	}
}

input#dwfrm_billing_billingAddress_email_emailAddress {
	.form-row & {
		display: none;
	}
}
label[for="dwfrm_billing_billingAddress_email_emailAddress"] {
	.form-row & {
		display: none;
	}
}

.accepted-cards {
	.accepted-cards-list {
		list-style-type: none;
		margin: 20px 0;
		.american-card {
			width: 36px;
			height: 36px;
			display: inline-block;
			margin-right: 10px;
			background: url("../../images/american-expp.png") no-repeat;
		}
		.master-card {
			width: 57px;
			height: 36px;
			display: inline-block;
			margin-right: 10px;
			background: url("../../images/master-up-card.png") no-repeat;
		}
		.visa-card {
			width: 58px;
			height: 36px;
			display: inline-block;
			background: url("../../images/visa-up-card.png") no-repeat;
		}
	}
}

.form-row {
	.input-text {
		&.mastercard {
			background: {
		 		image: url(../../images/master-up-card.png);
			    repeat: no-repeat;
			    size: 35px;
			    position: center right 10px;
		 	}
			display: inline-block;
		}
		&.visa {
			background: {
		 		image: url(../../images/visa-up-card.png);
			    repeat: no-repeat;
			    size: 35px;
			    position: center right 10px;
		 	}
			display: inline-block;
		}
		&.amex {
			background: {
		 		image: url(../../images/american-expp.png);
			    repeat: no-repeat;
			    size: 25px;
			    position: center right 10px;
		 	}
			display: inline-block;
		}
	}
}

.checkout-billingcontent {
	.paypal-exp {
		margin-bottom: 35px;
	    font-size: 12px;
	    letter-spacing: 1px;
	    line-height: 16px;
	    
		.paypal-img {
			padding-right: 65px;
			background: url('../../images/paypal.svg') no-repeat right center;
		    display: inline-block;
			margin-right: 3px;
		}
	}
}

.pt_checkout {
	.custom-select {
		&.country-name {
			select {
				&.country {
					+ .selected-option {
						opacity: 0.4;
					}
				}
			}
		}
	}
}