//---------------------------------------------------------------------------------------------
// select box common code if you want to change only arrow image all browser 
//---------------------------------------------------------------------------------------------

/* select{
    -webkit-appearance: none; 
    appearance: none;
    -moz-appearance: none; 
    background: url("../images/interface/selectbox-arrow.png") no-repeat transparent right; 
    text-overflow: '';
    text-indent: 0.01px;
    width: 100%;
}

select::-ms-expand {
	display: none;  // ie select box handle Add a comment to this line
}

// removing default down arrow appearance for ie.. 
@-moz-document url-prefix() {
 	 select { 
	     -moz-user-select: none;
  	}
}
 */
//---------------------------------------------------------------------------------------------
// custom-select box code
//---------------------------------------------------------------------------------------------

.custom-select {
	   &.current_item{
              .selection-list{
                     display: block; 
                	border: 1px solid $selectbox-border;
                	.store-dropdown & {
                		bottom: 35px !important;
					    box-shadow: none;
					    border-bottom-color: transparent;
					    top: auto !important;
                	}
              }
              .selected-option {
                     
                     &:before {
                     	  top: 18px;
                          -webkit-transform: rotate(180deg);
    					  transform: rotate(180deg);
                     }
              }
       }
       width: 100%;
       float: left;
       color: $black;
       font-size: 14px;
       font-weight: normal;
       position: relative;
       border: 1px solid transparent;
       &.current_item {
       	border: 1px solid $selectbox-border;
       }
       select {
              position: absolute;
              left: -9999px;
              top: 0;
              @extend %opacity;
              z-index: 0;
              width: 100%;
              height: 100%;
              &:disabled{
                     + .selected-option, + .error + .selected-option{
                           opacity: 0.4;
                           &:before {
							display: none;
						}
                     }
              }
              &:focus + .selected-option{
                     border-color: $dim-gray;
              }
              &.error ~ .selected-option{
                     border-color: $red;
              }
          	  .app-device &{
          		z-index: 2;
          		left: 0px;
                position: relative;
                height: 35px;
                width: 100%;
          	  }
       }
       
       &.current_item  .selected-option{
              border-color: $black;
       }
       
       .selected-option {
              display: block;
              background-color: $selectbox-color;
              line-height: 17px;
              outline: none;
              overflow: hidden;
              position: relative;
              padding: 6px 25px 8px 10px;
              width: 100%;
              color: $black;
              height: 35px;
              cursor: pointer;
              @extend .boxsizing;
              z-index: 0;
              font-size: $font-12;
              text-transform: uppercase;
              text-overflow: ellipsis;
    		  white-space: nowrap;
    		  .app-device &{
                    position: absolute;
                    left: 0;
                    top: 0;
                }
	           &.selected{
	              color:$black;
	           }
	              &:before {
					    content: url(../../images/arrow-down.png);
					    width: 10px;
					    height: 10px;
					    display: inline-block;
					    border: 0;
					    right: 14px;
					    display: block;
					    pointer-events: none;
					    position: absolute;
					    z-index: 0;
					    top: 17%;
	              }
	       }
       
       .selection-list {
              background-color: $selectbox-color;
              list-style: none;
              display: none;
              left: 0;
              margin: 0;
              padding: 0;
              position: absolute;
              top: 100%;
              width: 100%;
              z-index: 9;
              @extend .boxsizing;
              border-top: 0px; 
              @extend %transition; 
              overflow: auto;
             li {
                 line-height: 18px;
                 outline: none;
                 float: left;
                 width: 100%;
                 padding:10px;
                 color: $black;
                 @extend .boxsizing;
                 cursor: pointer;
                 &:last-child{
                       border-bottom: 0px;
                 }
                 &:hover, &:active, &.selected, &.hover{
                       color: $black;
                       background: $selectbox-light-grey;
                 }
                 &.selected{
                       display: none; 
                 }
              }
       }
       
}

	