footer {
	clear:both;
	letter-spacing:1px;
}
.footer-banner {
	width: 100%;
	padding: 35px 0;
	box-sizing: border-box;
}
.footer-email-signup {
	float: left;
	padding-right: 10px;
}
.main-footer {
    width: 100%;
    float: left;
	box-sizing: border-box;
}
.footer-container {
	width:100%;
	float:left;
	.footer-item {
		box-sizing:border-box;
		padding-right: 10px;
		&:last-child{
			padding-right: 0px;
		}
	}
	.menu-footer {
		margin:0;
		padding:0;
		list-style-type:none;
		li {
			float:none;
			list-style:none;
		}
	}
	a {
		color:$black;
		&:hover {
			text-decoration: underline;
		}
	}
}

.social-links {
	padding-left:0;
	li {
		display:inline;
		float:none;
	}
}

.footer-subscription-form {
	white-space:nowrap;
	input {
		border:none;
		margin-left:0;
		box-sizing:border-box;
		text-transform:uppercase;
	}
	button {
		border:none;
		outline:none;
		text-transform:uppercase;
		box-sizing:border-box;
	}
}


.postscript {
	background-color:$citrus;
	color:$white;
	font-style:italic;
	text-align:center;
}

.welcomemat {
	position: fixed;
	bottom: 0;
	background-color: $white;
	z-index: 100;
	width: 100%;
	float: left;
	padding: 12px 10px 20px;
	box-sizing: border-box;
	border-radius: 10px 10px 0 0px;
	@media #{$iphone} {
		padding: 12px 20px 20px;
	}
	.welcome-main {
		width: 100%;
		float: left;
		.welcome-heading {
			width: 100%;
			float: left;
			position: relative;
			.welcome-head {
				text-align: center;
				margin-bottom: 20px;
				text-transform: uppercase;
			}
			.welcome-close {
				position: absolute;
			    right: 0;
			    top: 0;
			    cursor: pointer;
			    .closeicon {
			    	width: 16px;
    				height: 16px;
			    }
			}
		}
		.top-main-content {
			width: 100%;
			max-width: 820px;
			margin: 0 auto;
			@media #{$tablet} {
				padding: 0 35px;
				box-sizing: border-box;
			}
			.left-content, .center-content, .right-content {
				float: left;
			}
			.left-content {
				width: 30%;
				padding-right: 25px;
				box-sizing: border-box;
				@media #{$tablet} {
					width: 33%;
				}
				@media #{$iphone} {
					width: 100%;
				    text-align: center;
				    padding: 0;
				    margin-bottom: 15px;
				}
				.left-logo {
					margin-right: 6px;
					.current-flag {
						width: 20px;
						height: 20px;
						border-radius: 100%;
					}
				}
				.current-info {
					vertical-align: top;
				}
			}
			.center-content {
				width: 40%;
				padding: 0 20px;
				box-sizing: border-box;
				border-left: 1px solid $mini-col-grey;
				border-right: 1px solid $mini-col-grey;
				@media #{$tablet} {
					width: 33%;
				}
				@media #{$iphone} {
					padding: 0 10px 0 0;
				    border-left: 0;
				    width: 50%;
				    float: left;
				}
				.shopping-head {
					text-transform: uppercase;
					margin-bottom: 10px;
				}
				.list-items {
					list-style-type: square;
					padding-left: 15px;
					margin-bottom: 10px;
				}
				.list-cards {
					list-style-type: none;
					.li-items {
						float: left;
						margin-right: 10px;
						@media #{$iphone} {
							margin-right: 7px;
							&:last-child {
								margin-right: 0;
							}
						}
						.cardicon {
							width: 33px;
							height: 20px;
						}
					}
				}
			}
			.right-content {
				width: 30%;
				padding-left: 25px;
				box-sizing: border-box;
				@media #{$tablet} {
					width: 33%;
				}
				@media #{$iphone} {
					width: 50%;
				    float: left;
				    padding-left: 10px;
				}
				.shipping-to {
					text-transform: uppercase;
					margin-bottom: 10px;
				}
				.navigations {
					width: 100%;
					float: left;
					.welcome-label {
						width: auto;
						float: left;
						vertical-align: top;
					    margin: 10px 10px 0 0;
					    display: inline-block;
					    @media #{$iphone} {
					    	width: 100%;
					    	display: block;
						    text-align: center;
						    margin: 0 0 12px 0;
					    }
					}
					.list-flags {
						list-style-type: none;
						float: left;
						@media #{$iphone} {
							text-align: center;
    						width: 100%;
    						display: inline-block;
    						float: none;
						}
						.li-flags {
							width: auto;
							float: left;
							margin: 0 15px auto auto;
							@media #{$iphone} {
								display: inline-block;
								float: none;
								margin: 0 20px auto auto;
								&:last-child {
									margin-right: 0;
								}
							}
							a {
								cursor: pointer;
								float: left;
								&:hover {
									text-decoration: none;
								}
							}
							.flagicon {
								width: 20px;
								height: 20px;
								border-radius: 50%;
								margin: 0 auto;
							}
							.flag-text {
								display: block;
							    text-align: center;
							    margin-top: 5px;
								text-transform: uppercase;
							}
						}
					}
				}
			}
		}
	}
}