.js .simple-submit {
	display: none;
}
a {
	color: $black;
	.app-desktop &:hover {
		text-decoration: underline;
	}
}
legend {
	background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top $white-smoke;
	margin: 0;
	position: relative;
	text-transform: uppercase;
	width: 96%;
	.ie7 & {
		width: 94%;
	}
	span {
		font-size: 12px;
		font-weight: 400;
		position: relative;
		text-transform: none;
		padding: 0 .5em;
		em {
			color: $night-rider;
		}
	}
}

label {
	display: block;
    outline: none;
	.form-horizontal & {
		float: left;
		margin-top: .5rem;
		margin-bottom: 0;
		width: 100%;
		@media screen and (min-width: 768px) {
			text-align: right;
			width: 25%;
		}
	}
	.label-inline & {
		display: inline;
		float: none;
		font-size: 1em;
		font-weight: 400;
		margin-top: 0;
		text-align: left;
		width: auto;
	}
	.label-above & {
		margin-bottom: .3rem;
		width: auto;
	}
}

.form-label-text {
	float: left;
	font-size: 1.1em;
	font-weight: 700;
	padding: 0.75em 0 0;
	text-align: right;
	width: 25%;
}

.form-row {
	@extend %clearfix;
	margin: .5rem 0 1rem;
}

.form-row-button {
	clear: left;
}

.field-wrapper {
	box-sizing: border-box;
	width: 100%;
	.form-horizontal & {
		float: left;
		width: 76%;
		@media screen and (min-width: 768px) {
			padding-left: 2%;
			width: 50%;
		}
	}
	.label-inline & {
		float: left;
		padding-left: 0;
		width: auto;
	}
	.label-above & {
		float: none;
		padding-left: 0;
		width: auto;
	}
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"]
textarea {
	border: 1px solid $dark-gray;
	box-sizing: border-box;
	height: 2rem;
	padding: 0.7em 0.5em;
	text-indent: 0;
	width: 100%;
    outline: none;
    -webkit-appearance: none;
    -webkit-border-radius:0;
    border-radius:0;
    &:focus {
        outline: none;
    }
}

select {
	background-color: #fff; // set background color to make height work
	width: 100%;
	height: 2rem;
    outline: none;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 1em 1% 1em 2%;
	.label-inline & {
		margin: 0 .3rem 0 0;
	}
    &:checked {
        outline: none;
    }
}

.form-caption {
	clear: left;
	width: auto;
	margin-top: 10px;
	float: left;
	.form-horizontal & {
		@media screen and (min-width: 768px) {
			margin-left: 27%;
		}
	}
	.label-above & {
		margin-left: 0;
	}
	.form-indent & {
		margin-left: 0;
	}
}

.form-indent {
	@media screen and (min-width: 768px) {
		margin-left: 27%;
	}
}


.error {
	background-color: $tutu;
	border-color: $sangria;
	color: $sangria;
}

span.error,
div.error {
	background: none;
}


.form-inline {
	form {
		padding: 0 0 2em;
		width: 98%;
	}
	label {
		padding: 0 0 0.75em;
		text-transform: uppercase;
		width: auto;
	}
	input[type="text"], select {
		margin-left: 0;
		width: 95%;
        &:focus {
            outline: none;
        }
	}
	button {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
        outline: none;
        &:focus {
            outline: none;
        }
	}
}

.row-inline {
	display: inline;
	label {
		width: auto;
	}
}

// Required Indicator and Text
.dialog-required {
	display: inline;
	position: relative;
	em {
		font-style: normal;
	}
}
.required-indicator {
	padding: 0;
	position: relative;
}

.form-field-tooltip {
	float: left;
	margin-left: 3%;
	padding-top: .75em;
	width: 20%;
}


input[type="number"]::-webkit-inner-spin-button {
    opacity: 1;
}

.form-field-tooltip {
    &.shipping-email {
    	margin-left: 2%;
    	@media #{$tablet} {
    		width: 15%;
    	}
        .tooltip {
            width: 25px;
            height: 25px;
            display: inline-block;
            background: url("../../images/question-help.png") no-repeat;
        }
    }
}

.form-field-tooltip {
	&.cvn-tooltip-image {
		margin-left: 1.5%;
		.tooltip {
			width: 20px;
			height: 20px;
            display: inline-block;
            background: url("../../images/info-iconn.png") no-repeat;
		}
	}
}

#RepairForm {
	padding-left: 8%;
	box-sizing: border-box;
	.custom-select.country-name {
		.selected-option {
			opacity: 0.4;
		}
	}
	h3 {
		margin: 0px;
		font-weight: 100;
		font-size: 18px;
		color: darkslategray;
		text-transform: none;
		@media #{$tablet} {
			line-height: 18px;
		}
		@media #{$iphone} {
			line-height: 18px;
		}
	}
	div.form-row {
		margin: 15px 0px;
		
		h2.repair-header {
			margin: 10px 0px 0px 0px;
			font-size: 15px;
			font-weight: normal;
		}
		div.field-wrapper {
			padding-left:0;
			margin: 0px;
			width: 56%;
			input {
			 	width: 100%;
			 	font-size: 15px;
			}
			textarea {
				width: 96%;
				font-size: 15px;
			}
		}
		div {
			div {
				font-size: 16px;
				text-transform: none;
			}
			div.selected-option {
				font-size: 14px;
				text-transform: none;
			}
			ul.repair-photo-instructions {
				margin: 0;
				padding: 20px 0 0 0;
				text-transform: none;
			 	li {
			 		list-style: square;
			 		margin: 2px 20px;
			 		font-size: 16px;
			 	}
			}
			input.file-input {
			    border: lightgray;
			    border-width: 1px;
			    border-style: solid;
			    padding: 10px 10px;
			    width: 54%;
			    margin: 10px 0px;
			    &.error {
			    	background-color: $white;
			    }
			    @media #{$iphone} {
			    	width: 100%;
			    	box-sizing: border-box;
			    }
			    ~span.error {
			    	display: block;
			    	margin-bottom: 10px;
			    }
			}
			p {
				color: darkgray;
				font-size: 16px;
				margin: 3px 0;
				text-transform: none;
			}
		}
	}
	button {
		width: 140px;
		font-size: 12px;
	}
}
#wrapper {
	&.pt_customer-service {
		.primary-content {
			#RepairForm {
				#sendBtn {
					width: 140px;
					margin-left: 0;
					@media #{$iphone} {
						width: 100%;
					}
				}
			}
		}
	}
}