.ui-widget-overlay {
	background: url("../images/interface/ui-overlay-shadow.png") repeat scroll 50% 50% $night-rider;
	opacity: 0.4;
}

.ui-dialog {
	background-color: $white;
	padding: 0;
	&.format-newsletter {
	    position: fixed;
    	top: 15% !important;
    	.ui-dialog-titlebar {
	    	button {
	    		right: 0;
	    		width: 30px;
	    		height: 30px;
	    		.ui-icon-closethick {
				    width: 25px;
				    height: 25px;
				    right: 0;
				    top: 7px;
				    background: url(../../images/sk-icons-sprite.png) no-repeat -200px -220px;
			    }
		    }
    	}
	}
	&.ui-front {
		&.PDP-product-zoom {
			position: fixed;
		    width: 100%;
		    height: 100%!important;
	        overflow-x: hidden;
		    .product-primary-image {
				.slick-prev, .slick-next {
					display: none !important;
				}
				ul {
					li {
						list-style-type: none;
					}
				}
			}
		    .hide-desktop {
		    	display: none;
		    	 @media #{$iphone} {
		    	 	display: block;
		    	 }
		    }
		    .hide-mobile {
		    	display: block;
		    	 @media #{$iphone} {
		    	 	display: none;
		    	 }
		    }
		    .ui-dialog-titlebar {
		    	position: absolute;
			    top: 0;
			    right: 0;
			    z-index: 1;
			    .ui-dialog-titlebar-close {
			    	right: 30px;
			    	@media #{$iphone} { 
			    		right: 20px;	
			    		top: 15px;
			    	}
			    }
		    }
			.ui-dialog-content {
				padding: 0;
				overflow-x: hidden;
	    		position: relative;
	    		height: 100% !important;
	    		 @media #{$iphone} {
					padding: 0 !important
				}
			} 
			.product-thumbnails {
			    position: fixed;
			    bottom: 0;
			    left: 50px;
			    width: 10%;
			    top: 5px;
			    @media #{$iphone} {
					width: 20%;
				    left: 15px;
				}
			    .slick-slider {
				    padding: 30px 0;
				    @media #{$iphone} {
			    	 	padding: 15px 0;
			    	 }
				    .slick-prev {
				    	transform: rotate(90deg);
				    	top: 0;
				    	left: 30px;
				    	 @media #{$iphone} {
				    	 	left: 20px;
				    	 }
				    }
				    .slick-next {
				    	top: 100%;
				    	transform: rotate(90deg);
				    	left: 30px;
				    	@media #{$iphone} {
				    	 	left: 20px;
				    	 }
				    }
				}
			    li {
				    margin-bottom: 0;
			    	img {
		    			border: 1px solid $white;
		    		}
			    	&.selected {
			    		img {
			    			border: 1px solid $black;
			    		}
			    	}
		    	}
			}
			.main-images {
				 text-align: center;
			}
		}
	}
	.ui-widget-header {
		border: 0 none;
		border-radius: 0 0 0 0;
		height: 23px;
		text-transform: uppercase;
	}
	.ui-dialog-title {
		color: $night-rider;
		font-weight: bold;
	}
	.ui-icon-closethick {
		background-image: url("../images/interface/icon-ui-close.png");
		background-position: left top;
		height: 32px;
		width: 32px;
		left: 0;
		top: 0;
		margin-left: 0;
		margin-top: 0;
	}
	&.no-close {
		.ui-dialog-titlebar-close {
			span {
				display: none;
			}
		}
	}
	.ui-dialog-titlebar-close {
		background-color: transparent;
		border: 0 none;
		border-radius: 0 0 0 0;
		height: 32px;
		margin: 0;
		opacity: .5;
		padding: 0;
		right: 0;
		top: 0;
		width: 32px;
		&:hover {
			opacity: 1;
		}
		span {
			margin: 0;
			padding: 0;
		}
	}
}

.ui-dialog {
	&.add-credit-card {
		overflow: inherit;
		.ui-dialog-content {
			overflow: inherit;
		 }
	}
}

.ui-accordion .ui-accordion-content {
	padding: 0;
}

.ui-tabs {
	.ui-tabs-nav {
		height: 2.45em;
		padding: 0;
		li {
			border-color: $white;
			border-style: solid;
			border-width: 0 0 3px 0;
			&.ui-state-active {
				border-bottom-color: $black;
				outline: none;
				a {
					color: $black;
				}
			}
			a {
				color: $nobel;
			}
		}
	}
	.ui-tabs-panel {
		background-color: $white;
		border: 1px solid $white;
		line-height: 1.5em;
		margin: 0;
		padding: 20px 10px;
		h3 {
			@media screen and (min-width: 768px) {
			display: none;
			}
		}
	}
}

#vertical-carousel {
	height: 19rem;
	position: relative;
	overflow: hidden;
	.jcarousel-nav {
		color: #999;
	    cursor: pointer;
	    font-size: .9em;
	    font-weight: 700;
	    position: absolute;
	    right: 0;
	    text-transform: uppercase;
		&.jcarousel-prev {
		    bottom: 30px;
		}
		&.jcarousel-next {
		    bottom: 0;
		}
		&.inactive {
		    display: none;
		}
	}
	ul {
		height: 10000em;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		li {
			float: left;
			height: 19rem;
			width: 100%;
			.capture-product-id {
				display: none;
			}
		}
	}
}
