#mini-cart {
    float: right;
	z-index: 100;
}

.mini-cart-total {
	position: relative;
	.mini-cart-link {
		color: $citrus;
		text-transform: uppercase;
		i {
			font-size: 3em;
		}
		.minicart-quantity {
			background-color: $sangria;
			border-radius: 10px;
			color: $white;
			padding: 1px 4px;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
		}
	}
}

.mini-cart-total {
	.mini-cart-empty {
		color: $nobel;
		transition: color 500ms ease;
		&:hover {
			color:$citrus;
			text-decoration: none;
		}
		.minicart-quantity {
			background-color: $white;
			border: 1px solid $nobel;
			color: $nobel;
		}
	}
}

.mini-cart-content {
	background-color: $white;
	border: 1px solid $very-light-gray;
	display: none;
	position: absolute;
	right: 0;
	top: 2.5em;
	width: 18rem;
}

.mini-cart-header {
	font-size: 1.1em;
	padding: 1em 1em 0.5em;
	text-transform: uppercase;
}

.mini-cart-products {
	padding: 0;
	overflow: auto;
	&.ps-container .mini-cart-product{
		padding-right: 15px !important;
	}
}

.mini-cart-product {
	border-bottom: 1px solid $dark-gray;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
	float: left;
	width: 100%;
	box-sizing: border-box;
	&.last{
		border-bottom-width: 0px;
	}
	&.collapsed {
		.mini-cart-name,
		.mini-cart-attributes,
		.mini-cart-pricing,
		.product-availability-list {
			width: 90%;
		}
		.mini-cart-image {
			display: none;
		}
	}
	.mini-cart-toggle {
		cursor: pointer;
		font-size: 1.5em;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.mini-cart-image {
	float: left;
	width: 50%;
	img {
		max-width: 90%;
	}
}

.mini-cart-name {
	float: left;
	width: 90%;
}

.mini-cart-attributes, .mini-cart-product .product-availability-list {
	float: right;
	width: 100%;
	list-style: none;
}

.mini-cart-pricing {
	clear: right;
	float: right;
	width: 100%;
}

.mini-cart-totals {
	text-align: center;
	button,
	.button {
		// the following 3 properties height, line-height and overflow
		// are needed to align the 2 button
		line-height: 1;
		overflow: inherit;
	}
}

.mini-cart-subtotals {
	margin: 0 auto;
	width: 16rem; //for IE
	width: max-content;
	text-align: center;
}


.mini-cart-link-checkout {
	clear: both;
	display: block;
	margin: 1em 0;
	text-align: center;
}
