//---------------------------------------------------------------------------------------------
// mixins goes here you can call @extend with mixins name
//--------------------------------------------------------------------------------------------
.clearfix {
 &:after {
	content: "";
	display: table;
	clear: both;
	} 
}
%button{
	background-color: $black;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	//color: $button-col;
	cursor: pointer;
	overflow: visible;
	display: inline-block;
	font-size: 1.1em;
	font-weight: 400;
	padding: 0.5em 2em;
	text-align: center;
	transition: all 0.3s ease;
	&.large {
		font-size: 1.35em;
		text-transform: uppercase;
	}
	&:hover {
		//background-color: $button-bg-col-hv;
		//border-color: $button-hv-brd-col;
		//color: $button-hv-col;
	}
	&.raised {
		border-width: 0;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		&:hover {
			//background-color: $button-risd-bg-hov-col;
			//color: $button-risd-col-hv;
		}
	}
	&.simple {
		//background-color: $button-simple-bg-col;
		//color: $button-simple-col;
	}
	&[disabled],
	&.disabled {
		//background-color: $button-bg-disbld-col;
		//border-color: $button-brd-disbld-col;
		//color: $button-disbld-col;
		opacity: 0.5;
	}
	a {
		//color: $text-anchor-col;
		
		&:hover {
			//color: $text-col;
			text-decoration: none;
		}
	}
	i {
		&.left {
			margin-right: 0.6em;
		}
		&.right {
			margin-left: 0.6em;
		}
	}
}

.boxsizing{
	-webkit-box-sizing: border-box;
  	   -moz-box-sizing: border-box;
 	        box-sizing: border-box;
}

%transition{
	  -webkit-transition: all .15s linear;
      -moz-transition: all .15s linear;
      transition: all .15s linear;
}
%opacity{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}
%margin-left-right{
	margin-left: 0;
	margin-right: 0;
}
%webkit-tranform{
	-webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
%select-user-select{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	 user-select: none;		
}

