// Order History - Order Details Styling

.order-history-header {
    background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top $white-smoke;
    overflow: hidden;
    padding: 10px;
    .label {
        font-weight: 700;
    }
    button {
        float: right;
    }
    .order-date, .order-status, .order-number {
        float: left;
        margin: 2px 0;
        width: 60%;
        @media #{$iphone} {
        	width:100%;
        }
    }
}
.order-history-items {
    margin: 20px 0;
    .order-history-table {
        th, td {
            padding: 5px 10px;
        }
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            list-style-position: inside;
            list-style-type: square;
        }
        .order-shipped-to,
        .order-items,
        .order-total-price {
            width: 33%;
        }
        .toggle {
            cursor: pointer;
            display: block;
        }
    }
}
.js .order-history-table .hidden {
    display: none;
}

// Details Styling

.orderdetails {
    h2 {
        clear: both;
    }
    .label {
        text-transform: uppercase;
    }
    .order-shipment-details {
        .order-shipment-address {
            float: right;
        }
    }
    .line-items {
        .line-item {
            padding-bottom: 1rem;
            .line-item-details,
            .line-item-quantity,
            .line-item-price {
                display: inline-block;
                vertical-align: top;
            }
            .line-item-quantity,
            .line-item-price {
                width: 14%;
            }
            .line-item-details {
                width: 70%;
                a {
                    font-size: 1.1rem;
                }
            }
            .line-item-quantity {
                text-align: center;
            }
            .line-item-price {
                text-align: right;
            }
        }
    }
    .order-payment-summary {
        @media screen and (min-width: 480px) {
            float: right;
        }
    }
    .order-information {
        .label {
            font-weight: 300;
            text-transform: none;
        }
        .order-number {
            font-size: 1.75rem;
        }
    }
    .payment-amount {
        .label {
            font-weight: normal;
            text-transform: none;
        }
    }
    .order-totals-table td {
        &:first-child {
            padding-right: 5rem;
            text-align: left;
        }
    }
}
.confirmation {
    &.create-account {
        .login-create-account,
        .order-confirmation-details {
            display: inline-block;
            vertical-align: top;
        }
        .login-create-account {
            float: right;
            width: 25%;
        }
        .order-confirmation-details {
            width: 73%;
        }
        .login-box-content {
            border: 1px solid $gainsboro;
            padding: 1em;
            p {
                margin-top: 0;
                margin-bottom: 0;
            }
            .form-row {
                margin: 0;
            }
        }
    }
}
@media only print {
    #footer {
        display: none;
    }
}