body {
	&.unscroll {
		overflow: hidden;
		height: 100%;
    	width: 100%;
    	-webkit-overflow-scrolling: auto;
	}
}
#product-nav-container {
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 160px;
    div {
        float: left;
        text-align: center;
        width: 77px;
    }
    img {
        max-height: 100%;
        max-width: 80%;
    }
    span {
        display: block;
        height: 65px;
    }
    .divided span {
        border-right: 1px solid $gainsboro;
        padding-right: 5px;
    }
}

.pdp-main {
    @extend %clearfix;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    label {
        padding: 0;
        text-align: left;
        text-transform: uppercase;
        width: auto;
    }
    .product-col-1 {
    	.product-primary-image {
    		.main-image {
    			.product-zoom {
				    position: relative;
				    max-width: 100%;
				    cursor: -webkit-zoom-in;
				    display: inline-block;
				    .qv-dialog & {
				    	cursor: default;
				    }
    			}
    		}
    	}
        @media screen and (min-width: 480px) {
            float: left;
            width: 47%;
            box-sizing: border-box;
        }
    }
    .product-col-2 {
        @media screen and (min-width: 480px) {
            float: left;
            width: 51%;
            box-sizing: border-box;
        }
        .price-standard {
            padding-right: .5rem;
        }
    }
    .product-name {
        margin-bottom: .3rem;
    }
    .product-number {
        color: $very-light-gray;
        font-size: .65rem;
        margin-bottom: .5rem;
    }
    .product-price {
        margin-bottom: .5em;
        .price-standard {
            color: $nobel;
            font-weight: 100;
            text-decoration: line-through;
        }
        .price-tiered {
            color: $sangria;
            font-size: .6em;
            line-height: 1.5em;
        }
    }
    .product-review {
        @extend %clearfix;
        margin-bottom: .5rem;
    }
    .product-main-attributes {
        .attribute {
            padding: .2em 0;
        }
        .label {
            padding: 0;
        }
    }
    .product-primary-image {
        max-width: 100%;
        text-align: center;
    }
    .product-info {
        clear: both;
        padding-top: 1em;
        // Height for PDP Tabs
//        @media screen and (min-width: 768px) {
//            height: 25em;
//        }
        ul {
            font-size: .8rem;
            list-style: square;
            padding: 0 5em;
            @media screen and (min-width: 768px) {
                padding-bottom: 1em;
                padding-top: 1em;
            }
        }
    }
    // Product Add to Cart Area (Availability, Quantity)
    .product-add-to-cart {
        border-bottom: 1px solid $very-light-gray;
        border-top: 1px solid $very-light-gray;
        display: block;
        margin: 0;
        padding: 1em .5em;
        overflow: hidden;
        .inventory {
            float: left;
            white-space: nowrap;
            label {
                display: inline;
                float: none;
                text-align: right;
            }
            input {
                font-size: 1.5em;
                margin-right: .4em;
                text-align: center;
            }
        }
        button {
            float: left;
            white-space: nowrap;
            &.add-all-to-cart {
                width: auto;
            }
        }
		.dw-apple-pay-button {
       		margin-top: .5rem;
       		background-image: url(../images/ApplePay-BuyWith.png);
       		background-size: contain;
       		border: 0px;
            @media screen and (min-width: 768px) {
            	margin-top: 0;
            	margin-left: 0;
                width: 172px; // make sure apple pay button is as big as Add To Cart
            }
        }
    }
    .product-actions {
        @extend %clearfix;
        padding: 1em .5em;
        .socialsharing {
            float: none;
            margin-right: 1rem;
            padding-top: 1em;
            @media screen and (min-width: 960px) {
                float: left;
                padding-top: 0;
            }
        }
        a {
            margin-right: .1rem;
            &.share-icon {
                color: $nobel;
                i {
                    font-size: 3rem;
                    @media screen and (min-width: 768px) {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    // Product Set Display
    .product-set {
        .product-set-list {
            .product-set-details {
                float: left;
                padding-left: .5rem;
                width: 75%;
            }
            .product-set-item {
                clear: both;
                overflow: hidden;
            }
            .product-set-image {
                float: left;
                width: 22%;
                img {
                    width: 100%;
                }
            }
            .product-name {
                float: none;
                width: auto;
            }
            .attribute {
                h3 {
                    width: 25%;
                }
                .label {
                    width: 25%;
                    white-space: nowrap;
                }
            }
        }
        .product-add-to-cart {
            border-top: none;
            padding-top: 0;
            label {
                float: left;
            }
            .availability-web {
                label {
                    float: none;
                    padding: top;
                }
            }
        }
    }
    // Product Recommendations
    .recommendations {
        clear: left;
        padding: 2em 0;
        .recommendation-tooltip {
            background: none repeat scroll 0 0 $white;
            border: 1px solid;
            left: 50%;
            position: absolute;
            text-align: left;
            top: 50%;
            width: 300px;
            z-index: 100;
        }
        h2 {
            font-size: 2em;
            font-style: italic;
            font-weight: 400;
            margin-left: 14px;
        }
        #carousel-recommendations {
            margin: auto;
            position: relative;
            overflow: hidden;
            width: 60%;
        }
        ul {
            list-style-type: none;
            position: relative;
            width: 2000em;
        }
        li {
            float: left;
            width: 250px;
        }
        .product-tile {
            padding: 0 2em;
        }
        .product-name {
            font-size: 1em;
            margin: .2em 0;
            width: 100%;
        }
        .jcarousel-clip {
            margin: auto;
            overflow: hidden;
            width: 300px;
        }
        .jcarousel-nav {
            cursor: pointer;
            position: absolute;
            top: 20%;
            &.inactive {
                display: none;
            }
        }
        .jcarousel-prev {
            left: 0;
        }
        .jcarousel-next {
            right: 0;
        }
        .product-tile:hover .recommendation-tooltip {
            display: block !important;
        }
    }
}

.main-image {
    display: block;
}
.primary-image {
    max-width: 100%;
}

.product-thumbnails {
    ul {
        @extend %clearfix;
        li{
        	list-style-type: none;
        	margin-bottom: 5px;
        }
    }
    // thumbnail
    
    // thumbnail image
    img {
        cursor: pointer;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        display: inline-block;
    }
    h2 {
        margin: 1rem 0 .3rem;
    }
}

.rating {
    color: $rain-forest;
    .product-info & {
        font-size: 2em;
    }
}

.product-variations,
.product-options {
    .attribute {
        margin: 1em 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        h3,
        .label {
            font-weight: bold;
            margin-bottom: .3rem;
            text-transform: uppercase;
        }
        .value {
            width: 100%;
            @media screen and (min-width: 768px) {
                width: 75%;
            }
        }
        ul {
            float: right;
            width: 100%;
        }
        .selected-value {
            border: 0 none;
            color: $citrus;
            font-weight: bold;
            text-transform: uppercase;
            @media screen and (min-width: 768px)  {
            }
        }
        .size-chart-link {
            clear: both;
            float: none;
            a {
                border-color: $white !important;
                padding: 0;
            }
        }
    }
    .swatches li {
        float: left;
        a {
            display: block;
        }
    }
    .color li {
        a {
            line-height: 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    select {
        background-color: $white;
        border: 1px solid $gainsboro;
        border-radius: 0;
        height: 42px;
        width: 100%;
        margin-left: 0;
        @media screen and (min-width: 768px) {
            height: 32px;
        }
    }
}

// Tabs using just CSS, no javascript required
.pdp-tabs {
    position: relative;
    text-align: center;
    .tab-head {
        input {
            visibility: hidden;
            opacity: 0;
            margin: 0px 10px;
        }
        label {
            display: inline-block;
            padding: 0px;
        }
    }
    .tab-label {
        border-bottom: 1px solid transparent;
        margin-bottom: 0;
        position: relative;
        text-transform: none;
        top: 0;
        transition: all 0.25s;
        cursor: pointer;
//        @media screen and (min-width: 768px) {
//            cursor: pointer;
//            padding: 0 1.25rem;
////            &:hover {
////                border-bottom-color: $nobel;
////                top: -0.25rem;
////                transition: top 0.25s;
////            }
//            }
        }
    .tab-content {
        padding: 1em 0;
        text-align: left;
        display: none;
        z-index: 1;
        &.active{
            display: block;
        }
    }
}
.tab {
        @media screen and (min-width: 768px) {
        display: inline-block;
        float: none;
    }
    .tab-switch {
        display: none;
        &:checked {
//            + .tab-label {
//                @media screen and (min-width: 768px) {
//                    background: #fff;
//                    border-bottom-color: $citrus;
//                    color: $black;
//                    font-weight: 700;
//                    top: -0.0625rem;
//                    transition: all 0.35s;
//                    z-index: 1
//                }
//            }
            + label + .tab-content {
                opacity: 1;
            transition: all 0.35s;
                z-index: 2;
            }
        }
    }
}

.tab {
	&.reviews {
		.tab-contentshow {
			display: none;
			&.active {
				display: block;
			}
		}
	}
 }