// mixins
%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.clearfix {
	@extend %clearfix;
}

// colors
// names taken from http://www.color-blindness.com/color-name-hue/
$black: #000000;
$cerulean: #00629b;
$charcoal: #424242;
$citrus: #84bd00;
$dark-gray: #aaaaaa;
$red: #ff0000;
$dim-gray: #666666;
$gainsboro: #e0e0e0;
$islamic-green: #019328;
$night-rider: #333333;
$nobel: #999999;
$rain-forest: #64772d;
$sangria: #990000;
$stark-white: #cebdb3;
$teal: #008578;
$tutu: #faeded;
$very-light-gray: #ccc;
$white-smoke: #efefef;
$white: #ffffff;
$selectbox-color: #f5f4f3;
$selectbox-light-grey: #f0f0ee;
$selectbox-border: #e8e6e2;
$selectbox-grey: #343434;
$mini-col-grey: #dcd8d9;
$mariner: #4867aa;

$swatch-types: black #000000, beige #f5f5dc, blue blue, purple purple, red red, brown #783201, green green, grey #8f979d, pink #fe249a, orange orange, white #ffffff, yellow #ffff00, navy navy, berry #473e35, blue #473e36, fuchsia #473e37, army #473e39, ash #dddad4, beige #f6e3ce, black #000000, blue #000000, bordeaux #000000, charcoal #000000, fuchsia #000000, gold #000000, indigo #000000, navy #000000, navy #000000, rosegold #000000, blue #332d91, blush #ffe4e1, bone #fdeef4, bordeaux #5c0120, brick #c35617, bronze #514131, brown #3b291f, camel #cc9450, camo #3a2f0b, caramel #e8af78, charcoal #676565, cherry #c40000, cobalt #194be0, coco #514539, cognac #613c2a, coral #e77471, denim #455167, desert #ffefdb, espresso #4c3b31, flame #ff0000, forest #78614f, gold #ecb95f, grape #922f57, graphite #636573, green #347235, grey #807f7d, off_white #f8f8f8, honey #e5b56b,  indigo #5c627c, ink #000066, ivory #f5f6ce, jade #389067, khaki #443b0d, lemon #f7f436, light_grey #dbd8d8, magenta #fe2ec8, maroon #31262a, marsala #c90e0e, merlot #673350, midnight #001b47, military #504312, mineral #afaaae, mint #b5eaaa, mocha #3b240b, moss #423c1b, mushroom #b0b0b0, navy #0b0b3b, night #3a4683, nude #f8e0e0, oatmeal #e3d7c9, olive #697e4b, oxblood #610b0b, oyster #ac8d79, pebble #d2cbcb, pine #3d653d, poppy #fe2e2e, purple #a90567, putty #e8e2e4, red #ec3623, rose #b29297, russet #e3a209, saddle #9c5835, sage #3e4d4a, sand #dbcac0, sea #295eb6, sepia #603626, shell #e1c6b1, shell_rosegold #f9e7e5, silver #bdbdbd, slate #969ca6, smoke #808080, snow #fbf2ef, spruce #404034, stone #eee8e8, storm #a39985, tan #b79b80, taupe #af8c76, teal #0b456e, toffee #3b170b, truffle #a29899, turquoise #66ffe0, vanilla #fdfbe7, white #fbf2ef, wine #722f37, yellow #fff380, offwhite #eeeeee, army-berry #473e35, army-blue #473e36, army-fuchsia #473e37, black-army #000000, black-blue #000000, black-bordeaux #000000, black-charcoal #000000, black-fuchsia #000000, black-gold #000000, black-indigo #000000, black-navy #000000, black-rosegold #000000, army_berry #473e35, army_blue #473e36, army_fuchsia #473e37, black_army #000000, black_blue #000000, black_bordeaux #000000, black_charcoal #000000, black_fuchsia #000000, black_gold #000000, black_indigo #000000, black_navy #000000, black_navy #000000, black_rosegold #000000, Black-Berry #000000, Black-Natural #000000, Army-Natural #473E35, bonsai #57631b, stone_black #C1C0BE, ballet #d8aca1,  marina #384963, latte #aa9f9b, cappucino #a26641, heather_grey #d6d6e0, ocean #51738f, ocean_brass #51738f, ocean_gunmetal #51738f, ocean_shiny #51738f, peach #f5bca9, peach_brass #f5bca9, peach_gunmetal #f5bca9, peach_shiny #f5bca9, sky #a0bbd8, sky_black #a0bbd9,  white_brass #fbf2ef, white_gold #fbf2ef, white_gunmetal #fbf2ef, white_rosegold #fbf2ef, white_shiny #fbf2ef, black_brass #000000, black_gunmetal #000000, black_gunmtal #000000, black_shiny #000000, autumn #834d33, almond #946a54, crimson #751322, quartz #c5b0ab, cloud #d5d5d3, porcelaine #c2a19a, porcelain #c2a19a, paprika #8c1519, petal #f0d9d3, check #606060, distress #2a221f, leaf #d49176, multicolor #6d5c48;

// fonts
$sans-serif: Arial, sans-serif;
$sans-serif-alt: Lato, sans-serif;
$serif: Crete Round, serif;

// flag-icon-css
$flag-icon-css-path: '../../lib/flag-icon-css/flags';

// global classes
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


//font-sizes
$font-05: 0.5px;
$font-1: 1px;
$font-10: 10px; 
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-48: 48px;

// breakpoint variable goes here all devices

$iphone: "screen and (max-width : 767px)";

$iphoneonly: "screen and (max-device-width: 320px)";

$medium-tab: "screen and (min-width:  768px) and (max-width:  840px)";

$iphone-tablet: "screen and (max-width : 959px)";

$tablet: "screen and (min-width : 768px) and (max-width : 959px)";

$small-phone: "screen and (max-width : 400px)";

$tablet-desktop: "screen and (min-width : 768px)";

$tablet-landscape: "screen and (max-width : 960px)";

$tablet-maxlandscape: "screen and (max-width : 1024px)";

$desktop: "screen and (min-width : 960px)";

$lgdesktop: "screen and (max-width : 1600px) and (min-width : 1400px)";

$mddesktop: "screen and (max-width : 2499px) and (min-width : 1601px)";

$elgdesktop: "screen and (max-width : 2600px) and (min-width : 2500px)";


.menu {
	float: left;
	margin: 0;
	padding: 0;
	li {
		float: left;
		list-style: none outside none !important;
	}
}

h1, h2, h3, h4, h5, h6, ol, p, ul {
    margin: 0;
    padding: 0;
}

.mobile-hide {
	display: block;
	@media #{$iphone} {
		display: none;
	}
}
.desktop-hide {
	display: none;
	@media #{$iphone} {
		display: block;
	}	
}