.pt_account {
	.primary-content {
	    float: right;
	    width: 75%;
	    padding-right: 2%;
	    box-sizing: border-box;
	    @media #{$iphone} {
			padding: 0;
		}
		.account-wishlist {
			@media #{$iphone} {
				display: none;
			}
		}
		#PasswordResetForm {
			width: 54%;
			@media #{$iphone} {
       		 	width: 100%;
       		 	margin-bottom: 25px;
       		 }
       		 button {
				float: left;
			}
		}
		#NewPasswordForm {
       		 width: 54%;
       		 @media #{$iphone} {
       		 	width: 100%;
       		 	margin-bottom: 25px;
       		 }
       		 .form-row {
       		 	label {
       		 		width: 100%;
       		 	}
       		 }
        }
        .reset-pass {
			text-transform: uppercase;
			@media #{$iphone} {
				margin-bottom: 20px;
			}
		}
		#RegistrationForm {
			.label-inline {
				@media #{$iphone} {
					display: flex;
				}
			}
		}
		#addresses {
			.section-header-note {
			    font-size: $font-12+1;
			    line-height: $font-12+1;
			    font-weight: normal;
			    text-transform: uppercase;
			    color: $black;
			    padding: 11px 25px;
			    font-family: $berthold-md;
		        background-color: $black;
    			color: $white;
    			@media #{$iphone} { 
				    width: 100%;
    				box-sizing: border-box;
    				margin-bottom: 15px;
    			}
			    &:hover {
			    	color: $white;
			    }
			}
			.address-list {
				.address-tile {
					width: 33%;
					box-sizing: border-box;
					padding: 10px;
					@media #{$tablet-maxlandscape} { 
						width: 50%;
					}
					@media #{$tablet} {
						width: 50%;
					}
					@media #{$iphone} {
						width: 100%;
						padding-left: 0;
						padding-top: 0;
					}
					.address-edit, .address-make-default, .address-delete {
						text-decoration: underline;
						padding-right: 12px;
						box-sizing: border-box;
					}
					&.default {
						border-radius: 0;
						width: 100%;
						padding: 10px;
						.address-edit,.address-delete {
							padding-right: 12px;
						}
						@media #{$iphone} {
							margin-bottom: 20px;
						}
					}
					> div {
					    word-break: break-all;
					    margin-bottom: 4px;
					}
					address {
						color: $black;
					}
					h3 {
						font-size: $font-14;
						 font-weight: normal;
						 font-family: $berthold-md;
					}
					.mini-address-title {
						font-style: normal;
	    				line-height: initial;
	    				margin-top: 15px;
	    				@media #{$iphone} {
							margin-top: 0px;
						}
					}
				}
			}
		}
	}
	#secondary {
		background-color: $white;
		padding: 0 25px;
		.secondary-navigation {
			.toggle {
				font-size: $font-14;
				margin-top: 0;
				font-family: $berthold-md;
			}
		}
		@media #{$iphone} {
			padding: 0;
		}
		nav {
			padding: 0 0 30px 0;
	    	border-bottom: 1px solid $black;
	    	@media #{$iphone} {
				nav {
					padding-top: 0;
				}
			}
    	}
		button {
			text-transform: uppercase;
		    padding: 11px 30px;	
		    font-size: $font-12+1;	
		}
		.account-nav-asset {
			background: transparent;
		    margin: 30px 0px 20px 0;
		    padding: 0;
		    h2 {
	    	    font-style: inherit;
			    margin: 0;
			    font-size: $font-16;
				font-family: $berthold-md;
		    }
		}
	}
	.page-content {
		@media #{$iphone} {
		    width: 100%;
		    padding: 0 20px;
		    float: left;
		    box-sizing: border-box;
		}
		
		#RegistrationForm {
			legend {
				margin-bottom: 20px;
			    font-size: $font-12+1;
			    font-family: $berthold-md;
			    .required-indicator {
			    	line-height: $font-16;
			    }
			}
			
			@media #{$tablet} {
				.form-caption {
					margin-left: 30%;
					padding-left: 15px;
				}
			}
			.form-row-button {
			    margin-left: 16.209%;
    			padding-left: 15px;
			    box-sizing: border-box;
			    margin-top: 20px;
			    width: auto;
			    @media #{$tablet} {
		    	    margin-left: 30%;
		    		padding-left: 15px;
			    }
			    @media #{$iphone} {
					margin-left: 0;
					padding-left: 0;
					width: 100%;
				}
				button {
					padding: 11px 30px; 
					@media #{$iphone} {
						width: 100%;
					}
				}
			}
		}
		#primary {
			// credit card page
			.paymentslist {
				h1 {
					margin-bottom: 0;
				}
				.section-header-note {
					background-color: $black;
				    font-size: $font-12+1;
				    text-transform: uppercase;
				    padding: 10px 30px;
				    margin: 20px 0px 16px 0;
				    color: $white;
				    &:hover {
				    	background-color: $black;	
				    }
				}
				.payment-list {
					width: 100%;
					float: left;
			    	li {
			    		float: left;
			    		padding-left: 0;
			    		@media #{$iphone} {
				    		&:first-child {
				    			padding-top: 0;
				    		}
			    		}
			    		.delete {
		    			    text-align: left;
		    			    @media #{$iphone} {
		    			    	width: auto;
		    			    }
			    		}
			    	}
			    	@media #{$tablet} {
			    		.Visa {
			    			width: 33.3%;
			    			box-sizing: border-box;
			    		}
			    		.Amex {
			    			width: 33.3%;
			    			box-sizing: border-box;
			    		}
			    	}
			    }
				.payment-list {
					.cc-type, .cc-number, .cc-exp {
						line-height: $font-12+1;
						margin-bottom: 4px;						
					}
					.cc-owner {
						font-weight: normal;
						font-family: $berthold-md;
						line-height: $font-12+1;
						margin-bottom: 4px;
					}
					.button-text,
					&.delete {
					    color: $black;
					    padding: 0;
					    margin-top: 10px;
					    line-height: $font-12+1;
				        text-transform: capitalize;
				        font-family: $berthold-regular;
				        border-bottom: 1px solid $black;
					    &:hover {
					    	 color: $black;
					    	 text-decoration: none;
					    }
					}
				}
			}
			.content-asset {
	            .account-options {
	                float: left;
	                width: 100%;
	                margin: 30px 0px;
	                box-sizing: border-box;
	                @media #{$iphone} {
	                	margin-top: 0;
	                }
	                li {
	                    margin: 10px;
	                    width: 40%;
	                    border: 1px solid $black;
	                    border-radius: 0;
	                    box-sizing: border-box;
	                    a {
	                        font-size: $font-12;
	                        font-weight: normal;
	                        line-height: $font-16;
	                        color: $black;
	                        background-color: $white;
	                        letter-spacing: $font-05;
	                        text-transform: uppercase;
	                        i {
	                        	color: $black;
	                        }
	                        h2 {
	                            font-size: $font-14;
	                            font-weight: normal;
	                            padding-top: 5px; 
	                        }
	                    }
	                }
	            }
	        }
			button {
				text-transform: uppercase;
			    padding: 11px 30px;	
			    font-size: $font-12+1;	
			    @media #{$iphone} {
			    	width: 100%;
			    }
			}
			.login-oauth {
				text-align: center;
			}
			.oAuthIcon {
	    	    background: $white;
				border: 1px solid $black; 
				font-family: $berthold-md;
				font-size: 13px;
				width: auto;
				min-width: 180px;
				letter-spacing: 2px;
				color: $black;
				margin: 0px;
				float: none;
				margin-top: 10px;
			    i {
				    background: url(../../images/mk-icons-sprite.png) no-repeat -345px -120px;
				    display: inline-block;
				    width: 10px;
				    height: 17px;
				    vertical-align: bottom;
				    margin-left: 8px;
				}
			}
			.col-2 {
			    padding-right: 10px;
			    box-sizing: border-box;
			    margin-top: 30px;
			    @media #{$iphone} {
			    	margin-top: 15px;
			    }
				h2{
					font-size: $font-16;
					font-family: $berthold-md;
					text-transform: uppercase;	
				    font-weight: inherit;
				}
			}
			.col-1 {
				padding-right: 10px;
			    box-sizing: border-box;
			    @media #{$iphone} {
			    	padding-right: 0;
			    }
				.login-box {
					margin-top: 30px;
					@media #{$iphone} {
						margin-top: 35px;
						padding-top: 30px;
						border-top: 1px solid $black;
					}
					.login-box-content {
						fieldset {
							float: left;
							width: 100%;
							.form-row {
								&.error {
									.error-message {
										border: 0;
										background-color: $white;
										padding: 0;
									}
								}
							}
						}
						.form-row-button {
							@media #{$iphone} {
								text-align: center;
							}
							.spc-login-btn {
								float: left;
							    width: 163px;
							    min-width: 200px;
							    @media #{$tablet} {
						    		margin-right: 12px;
						    	}
							    @media #{$iphone} {
							    	width: 100%;
							    }
						    }
						}
						.login-rememberme {
							float: left;
						    width: 100%;
						    display: block;
						    margin: 12px 0 0 0px;
						    @media #{$tablet} {
						    	margin: 12px 0 0 0px;
						    }
						    @media #{$iphone} {
						    	margin: 20px auto 0px;
    							float: left;
						    }
						}
						.password-reset-row {
							@media #{$iphone} {
								width: 100%;
								text-align: center;
							}
							a {
								text-decoration: underline;
							}
							.password-reset-link {
								float: left;
							}
						}
						.login-oauth {
							margin-top: 30px;
						    border-top: 1px solid $mk-borderset-grey;
						    padding-top: 30px;
						    p {
						    	font-size: $font-12 + 1;
						    	line-height: 10px;
							}
							form {
								margin-top: 15px;
							}
							@media #{$iphone} {
								margin-top: 30px;
							    padding-top: 20px;
							    border-top: 1px solid $mk-borderset-grey;
							    form {
							    	width: 100%;
							    	margin-top: 20px;
							    	.oAuthIcon {
							    		width: 100%;
							    	}
							    }
							}
						}
					}
					h2 {
						font-size: $font-16;
						font-family: $berthold-md;
						text-transform: uppercase;	
					    font-weight: inherit;	
					    em {
					    	line-height: $font-16;
					    }				
					}
				}
			}
			h1 {
				font-size: $font-16;
				font-family: $berthold-md;
				text-transform: uppercase;
			    font-weight: inherit;
			    .required-indicator {
			    	line-height: 22px
			    }
			}
		}
	}
} 
h1 {
	font-size: $font-16;
	font-family: $berthold-md;
	margin-bottom:20px; 
	.required-indicator {
    	line-height: 22px
    }
	@media #{$iphone} {
	    margin-bottom: 20px;
	}
	legend {
		margin-bottom: 20px;
		font-size: $font-12+1;
		font-family: $berthold-md;
		.required-indicator {
			line-height: $font-16;
		}
	}
}
#PasswordResetForm button{
	    padding: 11px 30px;
    	text-transform: uppercase;
}
#ChangePassowrdForm {
	legend {
		margin-bottom: 20px;
		font-size: $font-12+1;
		font-family: $berthold-md;
		.required-indicator {
			line-height: $font-16; 
		}
	}
	.form-row-button {
		margin-left: 16.209%;
	    padding-left: 15px;
	    box-sizing: border-box;
	    width: auto;
	    @media #{$tablet} {
    	    margin-left: 30%;
    		padding-left: 15px;
	    }
	    @media #{$iphone} {
    	    margin-left: 0%;
    		padding-left: 0px;
    		width: 100%;
    		button {
    			width: 100%;
    		}
	    }
	}
}
.pt_order {
	.primary-content {
		@media #{$iphone} {
			h1 {
				margin-bottom: 0;
			}
		}
		.search-result-options {
			padding-right: 0;
			padding-top: 0;
			@media #{$iphone} {
				padding: 0 !important;
				margin: 0; 
				.results-hits {
					width: 100%;
				}
			}
		}
		.search-result-items {
			display: block;
			.order-history-items {
				float: left;
				width: 100%;
				@media #{$iphone} {
					margin: 0;
				}
				tr {
					th {
						border: 1px solid black;
					    border-right: 0;
					    border-left: 0;
						padding: 11px 10px 11px 0;
						font-weight: normal;
						font-family: $berthold-md;
						text-transform: uppercase;
					}
					td {
					    padding: 20px 10px 20px 0;
					    .value {
					    	word-break: break-all;
					    }
					    &.order-items {
					    	li {
					    		list-style: none;
					    		margin-bottom: 6px;
					    		&:last-child {
					    			margin-bottom: 0px;
					    		}
				    		}
					    }
					}
				}
			}
			.order-history-header {
				background: transparent;
			    padding: 0;
			    float:left;
			    width: 100%;
			    overflow: initial;
			    .order-processing-details {
			    	float: left;
			    	@media #{$tablet} {
			    		width: 50%;
			    	}
			    	@media #{$iphone} {
			    		margin-bottom: 20px; 
		    		}
			    }
				button {
				    padding: 11px 30px;
    				text-transform: uppercase;
    				@media #{$iphone} {
					    width: 100%;
    					margin-bottom: 20px;
    				}
				}
				.order-date, .order-status, .order-number {
					.label {
						font-weight: normal;
						font-family: $berthold-md;
					}
				}
			}
		}
	}
	#secondary {
		background-color: $white;
		padding: 0 25px;
		.secondary-navigation {
			.toggle {
				font-size: $font-14;
				margin: 0;
				font-family: $berthold-md;
			}
		}
		@media #{$iphone} {
			padding: 0;
		}
		nav {
			padding: 0 0 30px 0;
	    	border-bottom: 1px solid $black;
	    	@media #{$iphone} {
				nav {
					padding-top: 0;
				}
			}
    	}
		button {
			text-transform: uppercase;
		    padding: 11px 30px;	
		    font-size: $font-12+1;	
		}
		.account-nav-asset {
			background: transparent;
		    margin: 30px 0px 20px 0;
		    padding: 0;
		    h2 {
	    	    font-style: inherit;
			    margin: 0;
			    font-size: $font-16;
				font-family: $berthold-md;
		    }
		}
	}
}
#wrapper {
	&.pt_error { 
		.page-content {
			padding: 20px 5% 20px 3% !important; 
			float: left;
    		width: 100%;
    		@media #{$iphone} { 
    			padding: 20px !important;
    			box-sizing: border-box;
			}
			#secondary {
				background-color: $white;
				padding-top: 0;
				@media #{$iphone} {
					padding: 0;
					nav {
						padding-top: 20px;
					}
				}
				.account-nav-asset {
				    background: transparent;
				    line-height: 1.5em;
				    margin: 0;
				    padding: 0;
				}
				.secondary-navigation {
					.toggle {
						font-family: $berthold-md;
						font-size: $font-14;
						margin-top: 0;
					}
				}
			}
    		.error-page-message, .error-page-footer {
    			p {
    				font-size: $font-12+1;
    				font-weight: normal;
    				font-family: $berthold-md;
    			}
    		}
    		.error-page-search {
    			@media #{$iphone} { 
    				 text-align: center;
    			}
    			.label-above {
    				width: 250px;
    				@media #{$iphone} { 
    					width:100%;
    				}
    				label {
    					font-family: $berthold-bold;
    					margin-bottom: 25px;
    					@media #{$iphone} { 
    						width: 100%;
    					}
    				}
    				input[type="text"] {
					    float: left;
    					width: 100%;
    					min-width: 200px;
					    border: 1px solid $black;
					    outline: none;
					    @media #{$iphone} { 
	    					width:100%;
	    				}
    				}
    				button {
    				    float: left;
    					padding: 11px;
    					clear: both;
					    margin-top: 15px;
					    padding: 6px 30px;
					    text-transform: uppercase;	
					    @media #{$iphone} { 
	    					float: none;
	    				}
    				}
    			}
    		}		
		}
	}
}
#wrapper {
	&.pt_customer-service {
		.page-content {
			.content-header {
				font-size: $font-18;
    			font-style: inherit;
			}
			.confirmation-message {
				p {
					padding-bottom: 10px;
				}
			}
			.continue-purchase {
	    		width: auto;
	    		display: inline-block;
	    		background-color: $black;
	    		color: $white;
	    		padding: 10px 20px;
	    		margin: 10px 0px;
	    		text-transform: uppercase;
	    		font-family: $berthold-md;
    		}
			h2 {
				font-size: $font-14;
    			font-weight: 100;
    			font-family: $berthold-md;
    			margin: 0 0 .58em;
			}
			ul {
			    margin: .58em 0 20px;
			    &.selection-list {
			    	margin: 0;
			    }
			    li {
		    	    margin: 0 0 .58em;
		    	    list-style: none;
			    }
		    }
			@media #{$iphone} {
				padding: 0 20px;
			}
			#RegistrationForm {
				.form-row {
					.input-textarea  {
						width: 100%;
						height: auto;
    					box-sizing: border-box;
						 @media #{$iphone} {
							width: 100%;
							box-sizing: border-box;
						}
					}
					.custom-select {
						&.current_item {
							.selection-list {
								margin-top: 0px;
							}
						}
					}
				}
				.form-row-button {
					 margin-left: 16.209%;
	    			padding-left: 15px;
				    box-sizing: border-box;
				    margin-top: 20px;
				    width: auto;
				     @media #{$tablet} {
			    	    margin-left: 30%;
			    		padding-left: 15px;
				    }
				    @media #{$iphone} {
						margin-left: 0;
						padding-left: 0;
						width: 100%;
					}
					button {
						padding: 11px 30px;
						@media #{$iphone} {
							width: 100%;
						}
					}
				}
			} 
			#secondary {
				background-color: $white;
				padding-top: 0;
				.account-nav-asset {
				    background: transparent;
				    line-height: 1.5em;
				    margin: 0;
				    padding: 0;
				}
				.secondary-navigation {
					.toggle {
						font-family: $berthold-md;
						font-size: $font-14;
						margin-top: 0;
					}
				}
				nav {
					padding: 0;
				}
			}
		}
	}
}
#wrapper {
	&.pt_content {
		@media #{$iphone} {
			.breadcrumb {
				padding-left: 20px;
			}
		}
		.primary-content {
			padding: 0 25px;
			@media #{$iphone} {
				padding: 0 20px;
			}
			.content-header {
			    font-style: inherit;
		    }
		    h2, h3, h4 {
		    	font-size: $font-14;
    			font-weight: 100;
    			font-family: $berthold-md;
		    }
		}
	}
}
.pt_error {
	.page-content {
		#secondary {
			background: $white;
		}
	}
}
#wrapper.pt_store-locator{
	.page-content { 
		@media #{$iphone} {
			padding: 0 20px;
			box-sizing: border-box;
			.breadcrumb {
				padding-left: 0;
			}
		}
		.primary-content {
			.custom-select {
				.country {
					+ .selected-option:before {
							display: block;
					}
				}
			}
			.store-locator-header {
				font-family: $berthold-md;
				font-size: $font-18;
			    font-weight: inherit;
			    margin: 0;
		        font-style: inherit;
		        background: transparent;
			}
			#store-location-results {
				tr {
					th {
						padding: 0 10px 10px;
						margin-left: 10px;
						font-family: $berthold-md;
						font-weight: inherit;
					 }
					 .store-information, .store-address, .store-map {
					 	background: $white;
    					border-bottom: 1px solid $mk-borderset-grey;
    					padding: 10px;
    					&:last-child {
    						border-bottom: 0;
    					}
    					.store-name {
    						font-family: $berthold-md;
							font-weight: inherit;
    					}
					 }
				}
			}
			.col-1, .col-2 {
				.section-header {
					font-family: $berthold-md;
					font-size: $font-14;
				    font-weight: inherit;
					.required-indicator {
						line-height: $font-22+2;
					}
				}
				.login-box-content  {
					#dwfrm_storelocator {
						.form-row input[type="text"] {
							padding: 9.5px 10px;
							height: auto;
						}
					}
					.form-row-button button {
					    padding: 11px 30px;
    					text-transform: uppercase;
    					@media #{$iphone} {
    						width: 100%;
    					}
					}
				}
			}
		}
	}
}
.pt_account {
	#secondary {
		@media #{$iphone} {
			padding: 0 20px;
		}
	}
	.primary-content {
		 @media #{$iphone} {
			padding: 0 20px;
		}
		.form-horizontal {
			.email-subscription-click {
			    float: left;
    			width: 100%;
				.gender-wrap {
				    margin: 20px 0;
					.form-row {
					    margin-left: 15px;
					    width: 29%;
					    float: left;
					    padding-left: 16.209%;
					    @media #{$tablet} {
					    	padding-left: 30%;
					    	width: 45%;
				    	 }
					     @media #{$iphone} {
				        	margin-left: 0;
						    padding-left: 0;
				        }
					    &:nth-child(3) {
							padding: 0;
						}
					}
				}
				.birthaday_wrap {
					float: left;
					width: 100%;
					.form-label-text {
					    margin-bottom: 0px;
					    width: 16.209%;
					    text-align: right;
					    font-family: $berthold-md;
					    font-size: $font-12;
					    font-weight: 200;
					     @media #{$tablet} {
					    	width: 30%;
				    	 }
					    @media #{$iphone} {
				    	    width: 100%;
							text-align: left;
					    }
				    }
				    .form-row  {
				    	width: 12%; 
				    	float: left;
				    	 @media #{$tablet} {
					    	width: 17%;
				    	 }
				    	 @media #{$iphone} {
				    	 	width: 29%; 
				    	    margin: 0 15px 0 0;
				    	    &:last-child {
				    	    	margin: 0;
				    	    }
			    	    }
				    	.field-wrapper {
				    		width: 100%;
				    	}
				    }
				}
			}
		}
	}	
}

#wrapper {
	&.pt_wish-list {
		#main {
			.breadcrumb {
				padding: 30px 15px 30px 10px;
			}
			#primary {
				padding-bottom: 40px;
				.no-item-wishlist {
					font-family: $berthold-md;
					font-size: $font-14;
					line-height: 16px;
					letter-spacing: 2px;
					margin-bottom: 23px;
					font-weight: normal;
				}
				.add-item-wishlist {
					font-family: $berthold-md;
					font-size: $font-16;
					letter-spacing: 1px;
					width: auto;
					min-width: 412px;
					display: inline-block;
				    color: $black;
				    text-transform: uppercase;
				    text-decoration: underline;
				}
				.wishlist-para {
					font-family: $berthold-regular;
					font-size: $font-18;
					line-height: 16px;
					letter-spacing: 1px;
					margin-bottom: 30px;
					text-transform: none;
				}
				.main-column {
					width: 80%;
					float: left;
					margin-bottom: 30px;
					@media #{$tablet-maxlandscape} {
						width: 85%;
					}
					@media #{$tablet} {
						width: 100%;
					}
					.col-1 {
						width: 48%;
						margin: 0;
						padding-right: 50px;
						box-sizing: border-box;
						.login-heading {
							font-family: $berthold-md;
							font-size: $font-14;
							line-height: 16px;
							letter-spacing: 1px;
							margin-bottom: 30px;	
						}
						.login-account {
							.login-box-head {
								display: none;
							}
							.returning-customers {
								.form-row {
									&.username, &.password {
										margin: 0 0 24px 0;
										font-family: $berthold-regular;
										letter-spacing: 1px;
										.field-wrapper {
											input {
												border: 1px solid $mk-nobel;
											}
										}
									}
								}
								.spc-login-btn {
									width: 100%;
									font-family: $berthold-md;
									font-size: $font-14;
									text-transform: uppercase;
									letter-spacing: 1px;
									padding: 10px;
								}
								.password-reset-row {
									width: 100%;
									float: left;
									.password-reset-link {
										width: auto;
										float: left;
										font-family: $berthold-regular;
										font-size: $font-10;
										letter-spacing: 1px;
										border-bottom: 1px solid $black;
										&:hover {
											text-decoration: none;
										}
									}
									.checkbox-wrapper {
										input[type="checkbox"]:checked ~ .custom-checkbox {
											background: url('../../images/mk-icons-sprite.png') no-repeat -136px -124px;
										}
										span {
											width: 14px;
											height: 14px;
										}
									}
									label {
										margin: 0 0 0 6px;
									}
								}
								.login-rememberme {
									width: auto;
									float: right;
									cursor: pointer;
									@media #{$tablet} {
										float: left;
										margin-top: 10px;
									}
									span {
										font-size: $font-14;
									    line-height: 16px;
									    letter-spacing: 1px;
									    text-transform: capitalize;
									}
								}
							}
						}
						.login-oauth {
							#Facebook {
								width: 100%;
								font-size: $font-16;
								font-family: $berthold-md;
								letter-spacing: 1px;
								background-color: $mariner;
								text-transform: uppercase;
								margin-top: 25px;
								line-height: 18px;
							}
						}
					}
					.col-2 {
						margin: 0;
						float: left;
						.main-vertical-line {
							width: 4%;
							float: left;
						}
						.vertical-line {
							height: 160px;
						    width: 1px;
						    background-color: $black;
						    @media #{$tablet} {
						    	height: 180px;
						    }
						}
						.vertical-txt {
							font-size: $font-12;
							letter-spacing: 0.5px;
							text-transform: uppercase;
    						margin: 5px 0 5px -9px;
						}
						.login-create-account {
							padding-left: 50px;
							box-sizing: border-box;
							.wish-create-head {
								font-family: $berthold-md;
								font-size: $font-14;
								line-height: 16px;
								letter-spacing: 1px;
								margin-bottom: 15px;
								font-weight: normal;
							}
							.wish-create-para {
								font-family: $berthold-regular;
								font-size: $font-14;
								line-height: 16px;
								letter-spacing: 1px;
								margin-bottom: 18px;
							}
							.login-box-content {
								.create-btn {
									min-width: 285px;
									font-family: $berthold-md;
									font-size: $font-14;
									letter-spacing: 1px;
									text-transform: uppercase;
									@media #{$tablet-maxlandscape} {
										min-width: 250px;
									}
									@media #{$tablet} {
										min-width: 100%;
									}
								}
							}
						}
					}
				}
				.wishlist-reg-name {
					font-family: $berthold-md;
					font-size: $font-14;
					line-height: 16px;
					letter-spacing: 2px;
					margin-bottom: 30px;
					text-transform: uppercase;
				}
				.item-list {
					margin: 0;
					.headings {
						display: table-row;
						border-top: 1px solid $black;
    					border-bottom: 1px solid $mk-nobel;
						th {
							font-size: $font-12;
							font-family: $berthold-md;
							letter-spacing: 1px;
							padding: 15px 0;
							box-sizing: border-box;
							font-weight: normal;
							text-transform: uppercase;
							&.item-availablity {
								padding-left: 15px;
							}
							&.item-price {
								padding-left: 15px;
							}
						}
					}
					.table-content {
						width: 100%;
						td {
							padding-top: 25px;
							padding-bottom: 25px;
							border-bottom: 1px solid $mk-nobel;
							&.item-image {
								width: 10%;
							}
							&.item-details {
								width: 33%;
								.product-list-item  {
									margin-bottom: 35px;
									.name {
										.short-desc {
											font-family: $berthold-md;
											font-size: $font-12;
											letter-spacing: 1px;
										}
										.long-desc {
											font-family: $berthold-regular;
											font-size: $font-12;
											letter-spacing: 1px;
											margin-bottom: 15px;
										}
									}
									.attribute {
										font-family: $berthold-regular;
										font-size: $font-12;
										letter-spacing: 0.5px;
									}
								}
								.edit-wishlist-item {
									font-family: $berthold-regular;
									font-size: $font-12;
									letter-spacing: 0.5px;
									text-decoration: underline;
								}
							}
							&.item-availability {
								width: 16%;
								.is-in-stock, .not-available-msg {
									font-family: $berthold-regular;
									font-size: $font-12;
									letter-spacing: 0.5px;
									text-transform: capitalize;
									color: $black;
								}
								.not-available-msg {
									text-transform: none;
									line-height: 13px;
								}
								.delete-item {
									text-decoration: underline;
									font-family: $berthold-regular;
									font-size: $font-12;
									letter-spacing: 0.5px;
									margin-top: 25px;
									color: $black;
									text-transform: capitalize;
									&:hover {
										text-decoration: underline;
									}
								}
							}
							&.price {
								width: 15%;
								.price {
									font-family: $berthold-regular;
									font-size: $font-12;
									line-height: 13px;
									letter-spacing: 0.5px;
								}
							}
							&.item-dashboard {
								width: 25%;
								@media #{$tablet} {
									width: 20%;
								}
								.option-date-added {
									label {
										float: left;
										margin: 0;
										font-family: $berthold-regular;
										font-size: $font-12;
										line-height: 13px;
									}
									.field-wrapper {
										.value {
											float: left;
											margin: 0;
											font-family: $berthold-regular;
											font-size: $font-12;
											line-height: 13px;
										}
									}
								}
								.option-add-to-cart {
									margin-top: 80px;
									.add-to-cart, .wishlist-notify-me {
										width: 190px;
										font-family: $berthold-md;
										font-size: $font-16;
										letter-spacing: 1px;
										padding: 13px 0;
										@media #{$tablet-maxlandscape} {
											width: 160px;
											height: auto;
										}
										@media #{$tablet} {
											width: 150px;
											height: auto;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}