.ui-tooltip.ui-widget-content {
	background: $white;
	color: $black;
    padding: 20px;
    font-size: $font-12;
    border-radius: 0;
}

.ui-tooltip-content {
	.recommendation-tooltip-header {
	    margin-bottom: 14px;
		.product-name {
		    color: $black;
		    font-family: $berthold-bold;
		    text-transform: uppercase;
		    font-size: $font-12;
		}
		.product-price {
			font-size: $font-12;
			.price-standard {
				color: $black;
				text-decoration: line-through;
			}
			.price-sales {
				color: $black;
				&.discountedprice-sales {
					color: $mk-red;
				}
			}
		}
	}
	.recommendation-tooltip-description {
		.label {
			 margin-bottom: 14px;
			 font-family: $berthold-md;
		     display: block;
		}
		.value {
			 font-family: $berthold-light;
		}
	}
}
