// Defining the maximum width and after that keeping the content center
body {
    background-color: $white;
    font-family: $berthold-regular;
    color: $black;
    font-size: $font-12+1;
    div#wrapper {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        &.pt_product-search-result {
        	#main {
        		padding: 0 5% 0 5%; 
        		@media #{$tablet} {
					padding: 0 3%;
				}
        		@media #{$iphone} {
					padding: 0 !important;
				}
				.slot-grid-header {
				  padding-top: 20px;
				}
        	}
        }
        &.homepage-main	{
        	 #main {
        	 	max-width: 100%;
		   		width: 100%;
        		padding: 0;
                overflow: hidden;
            }
		}
		&.pt_checkout {
			#main {
            	max-width: 1440px;
    			padding: 29px 74px 0.5%; 
            	@media #{$tablet} {
					padding: 23px 15px 0 ;
				}
        		@media #{$iphone} {
					padding-top: 0;
				}
            }
        }
		#main {
	   		width: 100%;
	   		clear: both;
            margin: 0 auto;
            float: initial;
            padding: 0 5% 0 3%;
            box-sizing: border-box;
            @media #{$iphone} {
				padding: 20px !important;
			}
        }
    }
}
button,
.button {
	background-color: $black;
	color: $white;
	padding: 9.5px 10px;
	font-family: $berthold-md;
	font-size: $font-12+1;
	line-height: $font-12+1;
	letter-spacing: $font-05;
	font-weight: normal;
	border: none;
	outline: none;
	&:hover {
		background-color: $black;
		color: $white;
	}
	
}
.form-label,
input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"] textarea {
	color: $black;
	border: 1px solid $mk-borderset-grey;
	
}
//Headings
.heading-style-1 {
    font-family: $berthold-regular;
    font-size: $font-14;
    color: $mk-charcoal;
    text-transform: uppercase;
    letter-spacing: $font-05;
}
.heading-style-2 {
    font-family: $berthold-bold;
    font-size: $font-12;
    color: $white;
    text-transform: uppercase;
    letter-spacing: $font-05;
}
.heading-style-3 {
    font-family: $berthold-light;
    font-size: $font-18; 
    color: $mk-dark-pebble;
    text-transform: uppercase;
    letter-spacing: $font-1;
}
.heading-style-4 {
    font-family: $berthold-light;
    font-size: $font-16;
    color: $mk-dark-pebble;
    text-transform: uppercase;
    letter-spacing: $font-1;
}
 
//Paragraph
.para-style {
    font-size: $font-12;
    color: $mk-dark-pebble;
    text-transform: uppercase;
    letter-spacing: $font-05;
    line-height: $font-20;
}
.para-style-1 {
    font-size: $font-14;
    line-height: $font-22;
}
.para-style-2 {
    font-family: $berthold-light
}
//.para-style-3 {
//    It's default so no need to use
//}
.para-style-4 {
    font-family: $berthold-light;
    font-size: $font-14;
    text-transform: none;
}
.para-style-5 {
    font-size: $font-14;
    color: $mk-charcoal;
}
.para-style-6 {
    color: $mk-charcoal;
}
.para-style-7 {
    color: $mk-red;
}
.para-style-8 {
    font-size: $font-12 - 1px;
    color: $mk-red;
}

//Span
.span-style {
    font-family: $berthold-light;
    font-size: $font-14;
    color: $mk-red;
    text-transform: none;
    letter-spacing: $font-05; 
    line-height: $font-20;
}

//Links
.link-style {
    font-family: $berthold-bold;
    font-size: $font-10;
    color: $black;
    text-transform: uppercase;
    letter-spacing: $font-05;
    text-decoration: none;
}
.link-style-1 {
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    font-family: $berthold-bold;
    &:hover {
        text-decoration: none;
        border-bottom: 1px solid $mk-light-pebble;
    }
}
.link-style-2 {
    &:hover {
        color: $mk-charcoal;
    }
}
.link-style-3 {
    font-family: $berthold-light;
    color: $white;
}
.link-style-4 {
    font-size: $font-14;
    color: $mk-dark-pebble;
}
.link-style-5 {
    color: $black;
    font-family: $berthold-bold;
}
.link-style-6 {
    font-size: $font-12 - 1px;
    color: $mk-dark-pebble;
    &:hover {
        color: $mk-charcoal;
    }
}
.link-style-7 {
    color: $mk-text-color;
}

//Buttons
.btn-style {
    height: 32px;
    padding: 0px 15px;
    font-family: $berthold-regular;
    font-size: $font-12;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: $font-05;
    background-color: $mk-light-pebble;
    border: none;
    border-radius: 0;
    &:hover {
        color: $white;
        background-color: $mk-dark-pebble;
    }
}
//.btn-style-1 {
//  Default no need to use this style
//}
.btn-style-2 {
    font-family: $berthold-bold;
    font-size: $font-10;
    padding: 0 10px;
    &:hover {
        background-color: $mk-charcoal;
    }
}
.btn-style-3 {
    color: $mk-dark-pebble;
    background-color: $mk-complement-pebble-5;
    border: 1px solid $mk-light-pebble;
}
.mb-btn-style-1 {
    width: 100%;
    height: 45px;
    font-size: $font-14;
}

.mb-btn-style-2 {
    width: 100%;
    height: 45px;
    font-family: $berthold-bold;
    font-size: $font-14;
}

//Form Elements
.form-label {
    font-family: $berthold-regular;
    font-size: $font-12;
    color: $mk-dark-pebble;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    @extend .form-label;
    color: $black;
    &:focus {
        border: 1px solid $mk-nobel;
    }
}

.final-sale {
	color: $mk-red;
	display: inline-block;
}

// Global Classes
.full-width {
    float: left;
    width: 100%;
    box-sizing: border-box;
}

button	{
	&.slick-prev {
		background: url("../../images/mk-icons-sprite.png") -11px -157px no-repeat;
	    left: -9%;
	    @media #{$iphone} {
	    	background-position: -290px -80px;
	    	width: 10px;
			height: 18px;
			left: 0%;
			top: 50%; 
	    }
	}
	&.slick-next {
		background: url("../../images/mk-icons-sprite.png") -47px -157px no-repeat;
		right: -9%;
		@media #{$iphone} {
	    	background-position: -310px -80px;
	    	width: 10px;
			height: 18px;
			right: 0%;
			top: 50%;
	    }
	}
	&.slick-disabled {
		opacity: 0;
	}
}

legend{
	background: none;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	width: 100%;
	font-weight: normal;
}
strong {
	font-family: $berthold-md;	
	font-weight: normal;
}
.order-discount td {
	color: $mk-red;
}
.not-available-msg {
	color: $mk-red;
    list-style: none;
	font-size: $font-12;
	font-family: $berthold-regular;
}