.ui-dialog {
	&.bonus-product {
		.ui-dialog-titlebar {
			.ui-dialog-title {
				font-size: $font-24;
			    box-sizing: border-box;
				line-height: $font-24;
				font-family: $berthold-bold;	
				letter-spacing: $font-05;
				font-weight: normal;
				text-align: center;
				width: 100%;
				margin:0;
				padding: 55px 20px 30px 20px;
				text-transform: uppercase;
				border-bottom: 1px solid $black;
			}
		}
		.ui-dialog-content {
		    padding: 0 20px 20px;
		    .bonus-product-heading {
				font-size: $font-24;
			    text-align: center;
			    font-family: $berthold-md;
			    padding-bottom: 25px;
			    line-height: $font-24;
			    margin-bottom: 30px;
			    text-transform: uppercase;
			    border-bottom: 1px solid $black;
			    @media #{$iphone} {
			    	font-size: $font-16;
				    line-height: $font-16;
			    }		    
		    }
			.promotion {
				color: $black;
				font-size: $font-14;
				line-height: $font-14;
				font-family: $berthold-md;
				letter-spacing: $font-05;
				text-transform: uppercase;
				font-weight: normal;
				padding: 20px;
				background-color: $mk-grey;
				border: 0;
				.tooltip {
				    text-transform: capitalize;
    				cursor: pointer;
    				text-decoration: underline;
				}
				@media #{$iphone} {
					padding: 10px;
				}
			}	
			.bonus-product-list {
				.bonus-product-item {
				    margin-bottom: 30px;
				    border-bottom: 1px solid $mk-borderset-grey;
					.product-col-1 {
						width: 26%;
					}
					.product-col-2 {
						width: 70%;
						.product-name {
							font-size: $font-16;
						}
					}
				}
				 .product-variations {
				 	border-bottom: 0;
				 }
				.product-add-to-cart {
					border: 0;
					padding-top: 0;
					.select-bonus-item {
					    float: left;
					    white-space: nowrap;
					    padding: 11px 10px;
					    width: 51.284%;
					    margin-left:20px;
					    text-transform: uppercase;
					    font-size: $font-12+1;
						line-height: $font-12+1;
						font-family: $berthold-md;
						letter-spacing: $font-05;
						@media #{$tablet-maxlandscape} { 
							&:hover {
								background-color: $very-light-gray;
    							border-color: $very-light-gray;
    							color: $dim-gray;
							}
						}
						@media #{$iphone} {
							width: auto;
						}
					}
					label {
					    display: block;
	    				width: 100%;
	    				margin-bottom: 3px;
	    				&.quantity-error {
	    					margin-top: 7px;
	    				}
					}
				}
				.bonus-product-list-footer {
					margin: 0;
					background: none;
					.bonus-addtocart {
						width:60%;
						float:right;
						@media #{$iphone} { 
							width:100%;
						}
					}
					.bonus-product-summary {
						h2 {
		    				font-size: $font-12;
		    				font-family: $berthold-bold;
	    				    margin-bottom: 5px;
	    				}
    				}
					.add-to-cart-bonus {
					    float: left;
					    padding: 11px 10px;
					    width: 63.5%;
					    text-transform: uppercase;
					    font-size: $font-12+1;
						line-height: $font-12+1;
						font-family: $berthold-md;
						letter-spacing: $font-05;
						@media #{$iphone} {
							width: 100%;
						}
					}
				}
				.selected-bonus-items {
				    width: 40%;
    				float: left;
					font-family: $berthold-regular;
					font-size: $font-12;
					line-height: $font-12;
					letter-spacing: $font-05;
					@media #{$iphone} {
						width:100%;
					}
					.item-name {
					    width: 95%;
					    margin-bottom: 5px;
					    font-family: $berthold-bold;
					}
					.item-attributes {
						float: left;
    					width: 100%;
    					li {
						    margin-bottom: 5px;
    					}
					}
					.remove-link {
						color: $mk-red; 
						float: left;
						left: 0;
						font-style: inherit;
						position: static;
						padding-right: 2px;
					}
				}
			}
		}
	}
}