.breadcrumb {   
    width: 100%;
    padding: 30px 15px 30px 25px;
    display: inline-table;
    text-transform: uppercase;
    box-sizing: border-box;
    background: $white;
    .pt_product-search-result & {
    	padding-left:0;
    	padding-bottom: 0;
		@media #{$iphone} { 
  		padding-bottom: 0 !important;
  		}
    }
    a {
    	color: $black;
		font-family: $berthold-bold;
    }
    .icons-sprite {
		background-position: -206px -125px;
		width: 9px;
		height: 10px;
		display: inline-block;
		margin: 0 10px 0 8px;
    }
    .breadcrumb-refined-by {
    	font-size: $font-12;
    	font-family: $berthold-regular;
    	color: $black;
	}
	.breadcrumb-refinement {
    	font-size: $font-12;
    	font-family: $berthold-regular;
    	.breadcrumb-refinement-name {
    		font-family: $berthold-regular;
    	}
    	.breadcrumb-refinement-value {
			font-family: $berthold-bold;
			text-transform: uppercase;
			color: $black;
			background: none;
			padding:0;
			margin: 0 4px 0 2px;
			&.last {
            	margin-right: 0px;
            }
    	}
		&:last-child {
    		i.icons-sprite {
    			display: none;
    		}
		}
		&:after {
			content: '';
		}
	}
    .breadcrumb-element {
    	font-size: $font-12;
    	font-family: $berthold-regular;
    	color: $black;
    	letter-spacing: 1px;
    	box-sizing: border-box;
    	&.bread-crumb-last {
    		font-family: $berthold-bold;
    		i.icons-sprite {
				display: none;
			}
			&.bread-crumb-last:hover {
				text-decoration: none;
			}
    	}
    	&:after {
    		content: '';
    		margin-left: 0px;
    	}
    	&:hover {
    		text-decoration: underline;
    	}
    }
    .breadcrumb-relax {
		padding: 0;
		margin-left: -2px;
		font-family: $berthold-bold;
		font-size: $font-12;
		color: $mk-red;
		text-decoration: none;
	}
    .breadcrumb-result-text {
        color: $black;
        font-family: $berthold-regular;
        font-size: $font-12;
        &.text-value {
        	font-size: $font-12;
        	margin: 0 6px 0 2px;
        	font-family: $berthold-regular;
        }
        a {
            color: $black;
            font-family: $berthold-bold;
            &:hover {
    	    	text-decoration: underline;
    		}
        }
        i.quote-style {
            font-style: normal;
            color: $black;
            font-family: $berthold-bold-med;
            font-size: $font-12 + 1;
        }
    }
}
.pt_product-details {
	.breadcrumb {
		padding: 30px 15px 30px 2.34%;
		box-sizing: border-box;
		.breadcrumb-element.pdp-product-name {
			font-family: $berthold-bold;
			font-size: $font-12;
			color: $black;
			text-decoration: none;
		}
	}
}