.pt_cart {
	#main {
		padding: 73px 11.849% !important;
		@media #{$iphone} {
			padding: 20px;
		}
		#cart-items-form {
			float: left;
			width: 100%;
		}
	}
	.error-form {
		font-size: $font-12+1;
		color: $mk-red;
		padding: 20px;
		box-sizing: border-box;
		margin-bottom: 20px;
	    font-size: 13px;
	    font-family: $berthold-light;
	    border: 1px solid $mk-red;
	    text-align: center;
        background-color: $mk-errorbackground-red;
	}
}
.cart-empty {
	margin-top: 120px;
	color: $black;
	h1 {
		font-size: $font-24+6;
		font-family: $berthold-md;	
		letter-spacing: $font-05;
	    text-transform: uppercase;
        line-height: $font-24+6;
	    color: $black;
	    font-weight: normal;
	}
	.cart-action-continue-shopping {
		.button-text {
			line-height: $font-16+1;
			color: $black;
			font-family: $berthold-regular;
			font-size: $font-12+1;
		    margin-top: 50px;
		    outline: none;
		    text-decoration: underline;
		}
	}
}
.cart-actions {
	&.cart-actions-bottom{
		padding-top: 20px;
		float: right;
		display: inline-block;
		width: 100%;
		@media #{$iphone} {
			padding-top: 0;
			
		}
	
	}
	.shipping-heading {
		width: 65.256%;
    	float: left;
    	.shipping-headline {
    		text-transform: uppercase;
		    font-size: $font-18;
		    line-height: $font-12 + 1;
		    letter-spacing: $font-1 + 1;
		    margin-bottom: 9px;
    	}
    	.mini-cart-bottom {
    		&.cart-banner {
    			ul {
				    min-height: 155px;
				    padding: 42px 28px 0px;
				    display: inline-block;
    				width: 100%;
    				@media #{$tablet} {
    					padding: 17px 16px 17px 16px;
    				}
    				@media #{$iphone} {
    					padding: 17px 16px 17px 16px;
    				}
    				.left-content {
					    padding-right: 17%;
					    box-sizing: border-box;
					    @media #{$iphone} {
					    	padding-right: 5%;
					    }
					    .free-ship {
					   	    font-size: 12px;
						    line-height: 16px;
						    letter-spacing: 0.5px;
						    padding-bottom: 36px;
					    }
					    .ship-status {
					    	padding-bottom: 29px;
					    	line-height: 16px;
					    	@media #{$iphone} {
					    		p {
					    			margin-left: 32px;
					    		}
					    	}
					    }
    				}
    				.right-content,.left-content {
    					width: 50%;
					    float: left;
					    @media #{$tablet} {
					    	width: 100%;
					    }
					    @media #{$iphone} {
					    	width: 100%;
					    	float: left;
					    }
    				}
    				.right-content {
    					.help-order {
    						padding-bottom: 36px;
    					}
    				}
    			}
    		}
    	}
	}
	.cart-action-checkout {
		margin: 22px 0 25px 0;
		width: 24.21%;
		@media #{$iphone} {
			width: 100%;
			padding-bottom: 10px;
			margin-bottom: 0;
		}
		@media #{$desktop} {
			width: 26%;
		}
		.mk-paypal-button {
			float: left;
	        display: inline-block;
	        padding: 4px 0;
	        background: $mk-checkout-paypal;
		    width: 100%;
	        @media #{$iphone} {
	        	width: 100%;
	        	box-sizing: border-box;
	        }
			.paypal-button-cont {
	            width: 100%;
	            max-width: 165px;
	            margin: 0 auto;
		        span {
		            font-family: $berthold-md;
		            font-weight: normal;
		            float: left;
		            text-transform: uppercase;
				    font-size: $font-14;
				    line-height: $font-24 + 2;
				    color: $white;
				    letter-spacing: $font-1;
				    margin: 3px 0;
		        }
		        .paypal-btn {
		        	display: block;
				    float: left;
				    width: 64px;
	                height: 18px;
				    margin: 8px 5px 0px;
				    background: url(../../images/PAYPAL-LOGO-WHT.png) no-repeat;
				    vertical-align: middle;
				    background-size: contain;
		        }
	        }
		}
		.paypal-or {
    		padding: 10px;
    		text-align: center;
    		font-size: $font-12+1;
            line-height: $font-12+1;
            text-transform: uppercase;
            @media #{$iphone}  {
        	    float: left;
			    width: 100%;
			    text-align: center;
			    box-sizing: border-box;
            }
		}
		button.dw-apple-pay-button,
		.button-fancy-large {
		    background-color: $black;
		    font-size: $font-16;
		    line-height: $font-24 + 2;
		    letter-spacing: $font-1;
		    padding: 7px 10px;
		    outline: none;
		    font-family: $berthold-md;	
		    color: $white;
	    	border: none;
	    	width: 100%;
	    	margin-bottom: 18px;
	    	box-sizing: border-box;
	    	.lock-icon {
				background: url(../../images/lock-white2.png) no-repeat;
				width: 12px;
				height: 16px;
				display: block;
			    background-size: contain;
			    display: inline-block;
			    margin-top: 5px;
			    position: relative;
    			top: 2px;
			}
			.cart-action-btn {
				padding-left: 4px;
				display: inline-block;
				@media #{$desktop} {
		    		font-size: 1.12vw;
		    	}
			}
		}
		button.dw-apple-pay-button {
			background-image: url(../../images/ApplePay-BuyWith.png);
			background-size: contain;	
		}
	}
}
#cart-table {
	margin-bottom: 30px;
	.cart-row {
		.input-number {
			width: 53px;
		}
	}
	thead {
	    font-size: $font-12+1;
	    font-family: $berthold-md;
    	text-transform: uppercase;
    	color: $black;
    	tr {
    		border-top: 1px solid $black;
    		border-bottom: 1px solid $mk-nobel;
    	}
    	th {
		    font-weight: normal;
		    padding: 15px 10px 14px;
		    font-size: $font-12;
		    line-height: $font-12+1;
		    letter-spacing: $font-1;
		    &:first-child {
		    	padding-left: 0;
		    }
		    &:last-child {
		    	padding-right: 0;
		    }
    	}
	}
	tfoot {
		tr {
			border: 0;
			.cart-promo {
				padding: 0;
				.product-promotion {
				    padding: 20px;
				    font-size: $font-12+1;
				    background-color: $mk-grey;
				    line-height: $font-12+1;
				    text-transform: uppercase;
				    margin-top: 20px;
				}
			}
		}
	}
	tbody {
		.cart-row {
			border-bottom: 1px solid $mk-nobel;
			&:last-child {
				border-color: $black;
			}
			@media #{$iphone} {
				padding: 20px 0;
			}
		}
		.cart-promo	{
			.bonus-item-details, .bonus-item-actions {
				font-size: $font-12+1;
		    	line-height: $font-12+1;
	    	    padding: 8px 0;
	    	    a {
	    	    	color: $black;
	    	    	cursor: initial;
	    	    }
			}
			.bonus-item-details {
				width: 70%;
				float: left;
				.tooltip {
					text-decoration: underline;
				}
			}
			.bonus-item-actions {
				width: 30%;
				float: right;
			}
		}
		.rowcoupons {
			.item-quantity-details {
			    padding-left: 0;
			    .textbutton {
		    	    margin-left: 0;
			    }
			}
			.item-details {
				.name {
					font-size: $font-14;
				    font-family: $berthold-md;
			    	text-transform: uppercase;
			    	color: $black;
			    	line-height: $font-14;
			    	margin-bottom:6px;
				}
				.cartcoupon, .discount {
					margin-bottom: 6px;
					.label, .value {
						font-size: $font-12+1;
					    font-family: $berthold-light;
				    	line-height: $font-12+1;
					}
				}
			}
		}
	}
	.item-image{
		width: 11%;
	}
	.item-quantity {
		width: 6%;
		@media #{$tablet-maxlandscape} {
			width: 8%;
		}
		@media #{$tablet} {
			width: 11%;
		}
		input {
		    width: 54px;
		    height: 34px;
		    border: 1px solid $black;
		}
	}
	.item-total {
		font-size: $font-12+1;
		> div:first-child {
			display: inline-block;
			padding-right: 5px;
		}
		.price-unadjusted {
			font-size: $font-12+1;
			display: block;
    		margin-bottom: 6px;
    		@media #{$tablet} {
    			span {
    				display: inline-block;
    			}
    		}
		}
		.promo-adjustment {
		    color: $mk-red;
		    margin-bottom: 6px;
		    width: 100%;
		}
		.price-adjusted-total {
			color: $black;
			span {
				color: $mk-red;
				@media #{$tablet} {
					display: inline-block;
				}
			}
		}
	}
	.item-price	{
		width: 13%;
		font-size: $font-12;
	    letter-spacing: $font-05;
	    line-height: $font-12+1;
		@media #{$iphone} {
			text-align: right;
			.price-sales {
				padding-right: 5px;
				box-sizing: border-box;
			}
		}
		.price-promotion {
			.price-standard {
				color: $black;
				margin-right: 5px;
				+.price-sales {
					color: $mk-red;
					@media #{$tablet-landscape} {
						width:100%;
						display: block;
					}
				}
			}
		}
		.price-sales {
			color: $black;
		}
	}
	.item-total {
		.price-total {
			font-family: $berthold-md;
			padding-right: 5px;
			font-size: $font-12;
		    letter-spacing: $font-05;
		    line-height: $font-12 + 1;
		}
	}
	
	.item-quantity-details {
	    width: 20%;
	    .textbutton {
	    	margin-left: 17px;
		    font-size: $font-12+1;
	        width: 210px;
	        background-color: $black;
		    border: none;
		    padding: 9.5px 10px;
		    color: $white;
	     	font-family: $berthold-md;
	     	text-transform: uppercase;
	     	letter-spacing: $font-05+1;
	    }
		.product-availability-list {
			.is-in-stock {
				font-size: $font-12;
				line-height: $font-12+1;
				letter-spacing: $font-05;
			    font-family: $berthold-light;
			    color: $black;
			    margin: 0px 0 12px 0;
			    display: block;
			    @media #{$iphone} {
			    	text-align: left;
			    	margin-bottom: 5px;
			    }
			}
			.not-available {
				color: $mk-red;
				display: block;
				font-size: $font-12+1;
				margin-bottom: 4px;
				@media #{$iphone} {
					text-align: left;
				}
			}
		}
		.item-user-actions {
			.button-text {
				font-size: $font-12;
				line-height: $font-12+1;
				letter-spacing: $font-05;
			    font-family: $berthold-light;
			    margin-bottom: 12px;
			    color: $black;
			    outline: none;
			    @media #{$iphone} {
			    	height: auto;
    				text-align: left;
    				margin-bottom: 5px;
			    }
			}
		}
	}
	.item-details {
		width: 31.5%;
		.item-edit-details {
			font-size: $font-12;
		    font-family: $berthold-light;
			line-height: $font-12 + 1;
			letter-spacing: $font-05;
	    	a {
	    		color: $black;
	    		text-decoration: underline;
	    		&:hover {
	    			text-decoration: underline;
	    		}
	    	}
		}
		.product-list-item {
			margin-bottom: 44px;
			@media #{$iphone} {
				margin-bottom: 8px;
				padding-left: 10px;
			}
			.promo {
				margin-bottom: 5px;
				font-size: $font-12+1;
			    font-family: $berthold-light;
		    	text-transform: capitalize;
		    	color: $mk-red;
			}
			.name {
			    margin-bottom: 14px;
			    text-transform: uppercase;
			    font-family: $berthold-md;
			    font-size: $font-12;
			    line-height: $font-16;
			    letter-spacing: $font-1;
				a {
					font-size: $font-14;
				    font-family: $berthold-md;
			    	text-transform: uppercase;
			    	color: $black;
			    	line-height: $font-12+1;
			    	.cart-product-name {
			    		font-family: $berthold-regular;
			    		text-transform: none;
			    	}
		    	}
			}
			.attribute {
				font-size: $font-12;
			    font-family: $berthold-light;
		    	text-transform: capitalize;
		    	color: $black;
			    line-height: $font-12 + 1;
			    letter-spacing: $font-05;
			    margin: 0;
			}
		}
		.bonusproducts {
			a {
				text-decoration: underline;
			}
		}
	}
	td {
		padding: 24px 6px;
		@media #{$iphone} {
			padding: 0px;
			&.item-details {
				padding-left: 0;
			}
		}
		&:first-child {
	    	padding-left: 0;
	    }
	    &:last-child {
	    	padding-right: 0;
	    }
	}
}
.cart-order-totals {
	width: 35%;
	margin-top: 36px;
	.order-totals-table {
		tr {
			td {
				padding: 0;
				font-family: $berthold-light;
				font-size: $font-12;
				padding-bottom: 9px;
				line-height: $font-22;
			    letter-spacing: $font-05;
				@media #{$iphone} {
					text-align: left;
					&:last-child {
						text-align: right;
					}
				}
			}
		}
		.order-total {
			td {
				margin: 0;
				padding:0;
				font-family: $berthold-md;
			}
		}
	}
}
.cart-footer {
	padding: 0 0 30px 0;
	margin: 0;
    border-bottom: 1px solid $black;
    @media #{$iphone} {
    	padding: 0 0 20px;
    }
	.cart-coupon-code {	
		width: 100%;
		border-bottom: 1px solid $black;
		.promo-code-heading {
			font-size: $font-12;
		    line-height: $font-16;
		    letter-spacing: $font-1;
		    text-transform: uppercase;
		    margin-bottom: 31px;
		    width: auto;
    		float: left;
		}
		.drop-down-arrow {
    			width: 23px;
			    float: right;
			    height: 22px;
			    cursor: pointer;
			    background: url("../../images/mk-icons-sprite.png") no-repeat -25px -336px;
			    margin-top: -5px;
    			margin-right: 10px;
    			&.active {
    				background-position: -96px -335px;
    			}
    		}
		.coupon-cont,.hide-mobile,.coupon-error-container {
    		float: left;
    		width: 100%;
		}
		.coupon-error-container {
			margin-bottom: 38px;		
		}
		input[type="text"] {
			width: 18.607%;
			border: 1px solid $mk-searchborder-grey;
			color: $black;
			height: 35px;
			font-size: $font-10;
			line-height: $font-16;
			letter-spacing: $font-1;
			margin: 0;
    		float: left;
			&:focus {
				border: 1px solid $mk-searchborder-grey;
			}
			@media #{$tablet-landscape} {
				width: 33.59%;
			}
		}
		.error {
			padding-top: 0.4em;
			@media #{$iphone} {
		    	padding: 0 0 20px 0;
		    }
			 
		}
		.coupon-line {
			border-bottom: 1px solid $black;
			@media #{$iphone} {
		    	border: none;
		    }
		}
		button {
		    margin: 0px 34px;
	        min-width: 14.522%;
	        background-color: $white;
		    border: none;
		    color: $black;
	     	font-family: $berthold-md;
	     	text-transform: uppercase;
	     	font-size: $font-16;
		    line-height: $font-24 + 2;
		    letter-spacing: $font-1;
		    padding: 3px 8px 4px;
		    border: 1px solid $black;
     	}
	     button.simple {
	     	display: none;
     		color: $black;
     		outline: none;
     		padding: 10px;
     		margin: 0;
     		letter-spacing: $font-05+1;
     		background-color: $white;
     		border: 1px solid $black;
     		@media #{$iphone} {
     			background-color: $black;
     			color: $white;
     		}
		}
	}
}