.pt_checkout {
	 #main {
		#primary.order-primary {
			@media #{$iphone} { 
				margin-bottom: 20px;
			}
		}
	 }
	&.site-mk {
	    .shippingtocart, .billingtoshipping {
	    	font-size: $font-12;
			line-height: 16px;
			text-decoration: underline;
			position: absolute;
			top: -75px;
			letter-spacing: 1px;
			left: -25px;
			cursor: pointer;
			@media #{$tablet}{
				top: -68px;
				left: 0;
			}
	    }	
	} 
	 #secondary {
	 	padding: 0;
	    width: 22.6%;
	    float: right;
	    &.summary {
	    	@media #{$iphone} {
				display: none !important;
			}
			&.order-review {
				@media #{$iphone} {
					display: block !important;
					.checkout-secondary {
						display:none;
					}
				}
			}
	    }
	    @media #{$iphone} {
			display: none;
		}
	    @media #{$medium-tab} {
			width: 27%;
		}
	    .mini-shipment {
	    	margin-top:20px;
	    	@media #{$iphone} {
	    		margin-top: 0px;
	    	}
	    }
	    .mini-billing-address {
	    	margin-top: 20px;
	    }
	    .order-component-block {
	    	> div {
    		    word-wrap: break-word;
	    	}
	    	padding: 0 20px 20px;
	    	border: 1px solid $mk-conforborder-grey;
	    	.section-header {
	    	    text-align: center;
	    		font-size: $font-14;
	    		line-height: $font-14;
    			font-family: $berthold-bold;	
				letter-spacing: $font-05;
				font-weight: normal;
				padding: 10px 0 20px 0;
				text-transform: uppercase;
				border-bottom: 1px solid $mk-minipromo-grey;
			    margin-bottom: 22px;
			    float: left;
    			width: 100%;
    			@media #{$tablet-maxlandscape} {
			    	 text-align: left; 
			    }
			    @media #{$iphone} { 
			    	text-align: center;
			    }
			    span, .minisummary-header {
			    	display:inline-block;
			    	padding: 10px 0 0 0;
			    	font-family: $berthold-md;
			    }
				a {
					padding: 10px 0 0 0;
					font-size: $font-12+1;
		    		line-height: $font-12+1;
	    			font-family: $berthold-regular;	
				}
	    	}
	    	.details {
	    		.minishipments-method {
	    			margin: 8px 0 0 0;
	    			padding: 15px 0 0 0;
	    			border-top: 1px solid $mk-minipromo-grey;
	    			span {
	    				font-size: $font-12;
	    			}
	    			.mini-shipping-label {
	    				font-family: $berthold-md;
	    				font-size: $font-12;
	    			}
	    		}
	    		.address {
		    		> div {
		    			font-size: $font-12;
		    			margin-bottom: 3px;
		    			word-wrap: break-word; 
		    		}
	    		}
	    	}
	    }
	    .checkout-secondary {
	    	margin-top: 35px;
	    	padding: 0 20px;
    		border: 1px solid $mk-minipromo-grey;
    		.checkout-mini-cart {
    			float: left;
    			width: 100%;
    			margin: 20px 0px;
    		}
    		.checkout-order-totals {
    			padding: 30px 0 15px 0;
    			clear: both;
    			width: 100%;
    			box-sizing: border-box;
    			border-top: 1px solid $mk-miniborder-grey;
    			.order-totals-table {
    				tr	{
	    				td {
	    					padding: 0 0 15px 0;
	    					text-align: left;
	    					&:last-child {
	    						text-align: right;
	    					}
	    					.tax-tooltip {
	    						position: relative;
	    						top: 2px;
	    						width: 12px;
							    height: 12px;
							    display: inline-block;
							    background: url("../../images/info-icon-tax.png") no-repeat;
	    					}
	    				}
    				}
    			}
    		}
    		.checkout-mini-cart {
    			.mini-cart-product-details-cont	{
    				float: right;
    				width: 62.5%;
    				padding-left: 0px;
    				@media #{$tablet} {
    					width: 59.5%;
    				}
    				.mini-cart-name {
				    	margin-bottom: 17px;
				    	font-family: $berthold-md;
						a {
							color: $black;
							font-size: $font-12+1;
							font-family: $berthold-md;
						}
					}
    			}
    		}
    		.section-header {
    			text-align: center;
    			font-size: $font-14;
    			font-family: $berthold-md;	
				letter-spacing: $font-05;
				font-weight: normal;
				padding: 10px 0 20px 0;
    			border-bottom: 1px solid $mk-search-border;
				text-transform: uppercase;
				float: left;
				width: 100%;
				span, .minisummary-header {
					display:inline-block;
					padding: 10px 0 10px 0;
				}
				@media #{$tablet-maxlandscape} {
			    	 text-align: left; 
			    }
			    @media #{$iphone} { 
			    	text-align: center;
			    }
				.section-header-note {
					padding: 10px 0 0 0;
					float: right;
					font-size: $font-12+1;
					color: $black;
					font-family: $berthold-regular;
					&:hover {
						text-decoration: underline;
					}
				}
    		}
    		
	    }
	    .mini-cart-bottom {
	    	margin-top: 20px;
	    	margin-bottom: 0;
	    }
	 }
}

@media #{$iphone} {
	.checkout-tabs {
		&.spc-summary {
			.checkout-tab {
				.tab-content-show {
					#cart-table {
						tfoot {
							.cart-row  {
								padding: 20px 0;
								.item-details {
									flex-basis: 75%;
								}
								.item-quantity-details {
									flex-basis: 33.33%;
									margin: 15px 0;
									.item-edit-details {
									    margin: 0;
										width: 100%;
										display: inline-block;
										box-sizing: border-box;
									}
								}
								.item-total {	
									flex-basis: 50%;
								    text-align: right;
								    margin: 15px 0;
								    .coupon-applied {
								    	padding: 9.5px 0px;
    									display: block;
								    }
								}
							}
						}
						.item-quantity {
					        flex-basis: 75%;
					        text-align: left;
						    span {
						    	padding-left: 10px;
						    }
						}
						.item-quantity-details {
							flex-basis: 25%;
							.product-availability-list .is-in-stock {
								text-align: center;
							}
						}
					}
				}
			}	
		}	
	}
}
.billing-coupon-code {
	.redemption {
		width: 100%;
		word-wrap: break-word;
    	box-sizing: border-box;
		margin: 0 0 20px 0;
	    .success {
	        color: $black;
	        font-size: 10px;
    		font-family: $berthold-md;
	    }
	}
}
.checkout-tabs{
	.checkout-tab{
		float: left;
		width: 100%;
		font-size: 13px;
		.checkout-tab-head{
			float: left;
			width: 100%;
			background: transparent;
			border: 0 none;
			border-bottom: 1px solid $black;
			padding: 10px;
			position: relative;
			box-sizing: border-box;
			h2{
				font-family: $berthold-md;
				font-size: 13px;
				color: $black;
				font-weight: normal;
				line-height: 23px;
				padding-left: 12px;
			}
			&.open {
				h2 {
					color: $black;
				}
			}
			&:before{
				top: 7px;
				left: 0;
				position: absolute;
				pointer-events: none;
				border-width: 5px;
				color: $black;
			}
			&.open:before{
				top: 7px;
				border-color: rgba(0, 0, 0, 0);
				border-bottom-color: $black;
			}
			&.open ~ .checkout-tab-content{
				display: block;
				.checkout-shipping, .checkout-billing  {
					.form-row  {
						&.cvn {
							.form-field-tooltip {
								@media #{$iphone} {
									display: block;
								}
								a {
									text-decoration: underline;
								}
							}
						}
						.form-field-tooltip {
							@media #{$iphone} {
								display: none;
							 }
						}
					}
				}
				#cart-table {
					.cart-row  {
						border-bottom: 1px solid $mk-borderset-grey;
						.item-details {
							.name {
								font-size: $font-14;
							    font-family: $berthold-md;
							    text-transform: uppercase;
							    color: $black;
							    line-height: 14px;
							    margin-bottom: 6px;
							}
							.cart-coupon, .discount {
							    margin-bottom: 6px;
							}
						}
						.item-quantity-details {
							.item-edit-details {
							    font-size: $font-12+1;
							    padding: 9.5px 0px;
							    color: $black;
							    letter-spacing: 0.5px;
							    @media #{$iphone} { 
							    	width: 100%;
							    	margin: 0;
							    }
							    a {
						    	    color: $black;
							    }
							}
						}
					}
				}
				.checkout-billing {
					.gift-cert-used {
						margin-left: 16.209%;
    					padding-left: 15px;
						@media #{$tablet} {
							margin-left: 33%;
						}
					}
				}
				.loggeduser {
					a {
						font-family: $berthold-md;
					    font-size: $font-12+1;
					    padding: 10px 30px;
					    background-color: $black;
					    line-height: 15px;
					    font-weight: normal;
					    color: $white;
					    border: 0;
					    box-sizing: border-box;
					    width: auto;
					    @media #{$iphone} {
					    	width: 100%;
					    }
				    }
				}
				.order-summary-footer {
				    float: left;
				    text-align: right;
				    width: 100%;
				    .submit-order {
				    	padding-top: 15px;
				    	@media #{$iphone} {
				    	    width: 100%;
				    	    button {
				    	    	width: 100%;
	    						margin-left: 0;
				    	    }
			    	    }
				    }
				    .place-order-totals {
					    float: left;
					    width: 100%;
					    tr {
					    	td {
					    		padding: 0 0 15px 0;
					    		text-align: left;
					    		&:last-child {
					    			text-align: right;
					    		}
					    	}
					    }
				    }
				}
				.checkout-shipping {
					fieldset {
						clear:both;
					}
					.form-caption {
						margin-left: 16.209%;
    					padding-left: 15px;
						@media #{$tablet} {
							margin-left: 33%;
						}
						@media #{$iphone} {
							margin-left: 0%;
						    padding-left: 0;
						}
					}
					.label-inline {
						.form-caption {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
	.checkout-tab-content{
		float: left;
		width: 100%;
		border-bottom: 1px solid $mk-borderset-grey;
		padding: 30px 0 40px 0;
		display: none;
		@media #{$iphone} {
			padding-bottom: 10px;
		}
	}
}

.spc-login{
	.loggeduser{
		@media #{$iphone}{
			text-align: center;
		}
		.spc-guest-btn{
			width: auto;
			text-transform: uppercase;
			float: right;
			@media #{$iphone}{
				width: 100%;
				margin-bottom: 20px;
			}
		}
		a{
			margin-right: 20px;
			width: 230px;
			float: left;
			text-transform: uppercase;
			@media #{$iphone}{
				margin: 0px 0px 20px 0px;
				width: 100%;
				
			}
		}
	}
	
	.checkoutlogin{
		padding: 25px 0 14px 57px;
		float: left;
		width: 100%;
		box-sizing: border-box;
		margin: 0;
		@media #{$medium-tab}{
			padding-left: 0px;
		}
		.col-1{
			width: 49.033%;
			box-sizing: border-box;
			padding-right: 0px;
			float: left;
			margin: 80px 0 0;
			border: 0;
			@media #{$iphone} {
				padding: 0;
			    border-top: none;
			    margin-top: 0;
			}
			.main-vertical-line {
				float: left;
    			width: 4%;
    			@media #{$iphone} {
    				display: none;
    			}
			}
			.vertical-line {
				height: 105px;
			    width: 1px;
			    background: $black;
			}
			.vertical-txt {
				font-size: $font-12;
			    line-height: $font-16;
			    letter-spacing: $font-05;
			    text-transform: uppercase;
			    margin: 5px 0 5px -9px;
			}
			.login-box {
				padding-left: 50px;
				width: 66.51%;
				@media #{$tablet} {
			    	width: 95%;
					padding-left: 18px;
			    }
				@media #{$iphone}{
					padding: 0;
					width: 100%;
				}
			}
			.login-oauth {
				.oAuthIcon {
					background: $mariner;
					min-width: initial;
					margin-top: 70px;
				    padding: 11px 0;
				    font-size: $font-16;
				    letter-spacing: $font-1;
				    line-height: $font-18;
				    width: 100%;
				    @media #{$iphone}{
				    	margin: 0;
				    }
				}
			}
		}
		.col-2{
			width: 49.462%;
			padding: 0 66px 0 78px;
			box-sizing: border-box;
			margin: 0;
			float: left;
			@media #{$medium-tab}{
				padding-left: 10px;
			}
		}
		.form-row label{
			text-transform: uppercase;
			font-size: $font-10;
		    line-height: $font-16;
		    letter-spacing: $font-1;
		}
		.form-row {
			margin: 0px 0px 25px 0px;
			.input-text {
				font-size: $font-12;
			    line-height: $font-14;
			    letter-spacing: $font-1;
			}
			& .error{
				+ .label {
					color: $black;
				}
			}
		} 
		.login-box{
			h2{
				color: $black;
				font-size: 14px;
				font-family: $berthold-md;
				font-weight: normal;
				line-height: $font-16;
    			letter-spacing: $font-1 + 1;
				@media #{$iphone} {
					.dialog-required {
					    width: 100%;
					    display: block;
					    margin-top: 4px;
					}
				}
			}
			p{
				margin: 0px;
				line-height: 20px;
			}
			button{
				min-width: 235px;
				text-transform: uppercase;
				@media #{$medium-tab}{
					max-width: 235px;
					width: 80%;
				}
			}
			.login-box-content{
				float: left;
				width: 100%;
				.create-account-benefits {
					font-family: $berthold-regular;
					font-size: $font-12 + 1;
					.account-heading {
						font-family: $berthold-md;
					}
					ul {
						padding: 0 1.2em;
						margin: 12px 0;
					}
				}
				.guest-login-row{
					margin: 30px 0px 0px;
					button{
						margin-top: 25px;
						min-width: initial;
						padding: 11px 0;
					    font-size: $font-16;
					    letter-spacing: $font-1;
					    line-height: $font-18;
					    width: 100%;
					    display: none;
					}
				}
				.create-account-row{
					margin: 35px 0px 30px 0px;
					button{
						margin-top: 25px;
					}
				}
				&.returning-customers{
					margin-top: 32px;
					form{
						margin-top: 25px;
						button{
							width: 160px;
							float: left;
							margin-right: 20px;
							&.spc-login-btn {
								width: 100%;
								font-size: 14px;
							    letter-spacing: 1px;
							    line-height: 14px;
							    padding: 13px 0;
							    min-width: initial;
							    margin: 0;
							}
						}
						.form-row-button{
							margin: 0px 0px 20px 0px;
							width: auto;
							&.form-row-button-signin {
								width: 100%;
								margin: 0px;
							}
						}
						.login-rememberme{
							margin: 16px 0 0px;
							width: auto;
    						float: right;
    						@media #{$iphone} {
    							width: auto;
    							float: right;
    						}
    						.checkbox-wrapper {
    							input[type="checkbox"] {
    								&:checked ~ .custom-checkbox {
    									background-position: -136px -124px;
    								}
    							}
    						}
    						@media #{$tablet-maxlandscape} {
								width: 100%;
								float:  left;
							}
							@media #{$tablet}{
								width: 100%;
								float:  left;
							}
    						label {
    							margin: 0px 0px 0px 6px;
    						}
    						span {
    							font-size: $font-12;
							    line-height: $font-16;
							    letter-spacing: $font-1;
							    text-transform: none;
							    &.custom-checkbox {
							    	width: 14px;
							    	height: 14px;
							    }
    						}
						}
					}
					.password-reset-row {
						width:100%;
						float:left;
						font-size: $font-10;
					    line-height: $font-16;
					    letter-spacing: $font-1;
					}
					#password-reset{
						font-family: $berthold-light;
						text-decoration: underline;
						margin-top: 16px;
						@media #{$iphone}{
							width: auto;
							float: left;
							margin-top: 20px;
						}
					}
					.password-reset-link {
						width: 50%;
						float: left;
						@media #{$tablet-maxlandscape} {
							width: 100%;
						}
						@media #{$tablet}{
							width: 100%;
						}
					}
					.login-oauth{
						text-align: center;
						border-top: 1px solid $mk-borderset-grey;
						padding-top: 30px;
						margin-top: 30px;
						p{
							font-size: 13px;
							line-height: 10px;
						}
						form{
							margin-top: 20px;
						}
						button.oAuthIcon{
							background: $white;
							border: 1px solid $black;
							font-family: $berthold-md;
							font-size: 13px;
							width: 180px;
							letter-spacing: 2px;
							color: $black;
							margin: 0px;
							float: none;
							i{
								background: url('../../images/mk-icons-sprite.png') no-repeat -345px -120px;
								display: inline-block;
							    width: 10px;
							    height: 17px;
							    vertical-align: bottom;
							    margin-left: 8px;
							}
						}
					}
				}
			}
		}
	}
}

.checkout-tab:not(.spc-login){
	legend{
		margin-bottom: 25px;
		font-family: $berthold-md;
		span {
			font-size: $font-14;
			padding: 0;
		}
	}
	.custom-select{
		.selected-option{
			min-height: 35px;
			line-height: 23px;
			font-size: 13px;
			text-transform: uppercase;
			border-color: $mk-nobel;
			&:before{
				top: 50%;
				right: 10px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(0, 0, 0, 0);
				border-top-color: $black;
				border-width: 5px;
				margin-top: -3px;
			}
		}
		&.current_item .selected-option{
			border-color: $white;
		}
	}
	
	.checkbox-wrapper{
		.custom-checkbox{
			width: 12px;
			height: 12px;
			border-color: $black;
		}
		input[type="checkbox"]:checked ~ .custom-checkbox{
			background-position: -133px -122px;
		}
		& ~ label{
			margin-top: 0px;
			text-transform: none;
		} 
	}
	
	.checkout-shipping{
		.addtoaddress-row{
			margin-bottom: 14px;
		}
		.useasbilling-row{
			margin-bottom: 0;
			margin-left: 0%;
			@media #{$iphone} {
				margin-left: 0%;	
			}	
		}
		
		#shipping-method-list{
			float: left;
			width: 100%;
			margin-top: 50px;
			legend{
				font-family: $berthold-md;
				margin: 0;
				padding-bottom: 14px;
				border-bottom: 1px solid $black;
				margin-bottom: 20px;
			}
			.form-row.label-inline{
				margin-bottom: 20px;
			}
			.radio-label{
				padding-left: 15px;
				width: auto;
				display:block;
				.label-msg{
				    margin-left: 0;
				    width: calc(100% - 36px);
				    float: right;
				    @media #{$iphone}{
				    	width: calc(100% - 29px);
				    }
					.tooltip {
						text-decoration: underline;
					}
				}
				& ~ *{
					padding-left: 49px;
					@media #{$iphone}{
						padding-left: 28px;
					}
				}
				@media #{$iphone}{
					padding-left: 0px;
				}
			}
		}
		
		.form-row-button{
			margin-left: 16.209%;
		    width: 210px;
		    padding-left: 15px;
		    margin-top: 10px;
		    margin-bottom: 0px;
		    button{
		    	width: 100%;
		    }
		    @media #{$medium-tab}{
				margin-left: 30%;
			}
			@media #{$iphone}{
				margin-left: 0px;
				padding: 0px;
				width: 100%;
			}
		}
	}
	
	.checkout-billing{
		.form-row-button{
			width: 100%;
			padding-left: 16.209%;
			box-sizing: border-box;
			margin-left: 15px;
			margin-top: 30px;
			@media #{$medium-tab}{
				padding-left: 30%;
			}
			@media #{$iphone}{
				padding-left: 0px;
				margin-left: 0px;
				button{
					width: 100%;
				}
			}
		}
		.billing-coupon-row{
			margin-top: 50px;
			@media #{$iphone}{
				border-bottom-width: 0px;
				margin-top: 20px;
			}
			legend{
				padding-bottom: 14px;
				border-bottom: 1px solid $black;
				font-family: $berthold-md;
			}
			.billing-coupon-code {
				padding-left: 16.209%;
				margin-left: 15px;
				box-sizing: border-box;
				@media #{$medium-tab}{
					padding-left: 30%;
				}
				
				@media #{$iphone}{
					padding-left: 0px;
					margin-left: 0px;
					.form-row {
						width: 100%;
					    margin-bottom: 20px;
					}
				}
				
				.coupon-error {
					margin: 10px 0 20px 0;
					@media #{$iphone}{ 
						margin: 10px 0;
					}
					&.hide-desktop {
						display:none;
					}
				}
				
			}
			
			.coupon-apply{
				float: left;
				width: 100%;
				margin-top: 30px;
				.form-row{
					width: 41.424%;
					margin-right: 10px;
					@media #{$tablet} {
						width: 43.424%;
					}
					label{
						width: 100%;
						margin: 0px;
						text-align: left;
						margin-bottom: 18px;
						font-family: $berthold-regular;
					}
					.field-wrapper{
						float: left;
						width: 100%;
						padding: 0px;
						input[type=text] {
							padding: 9.5px 10px;
							height: initial;
						}
					}
					@media #{$iphone}{
						width: 100%;
						margin: 0px;
						label{
							margin-bottom: 8px;
						}
					}
				}
				button{
					width: 163px;
					margin-top: 31px;
					@media #{$iphone}{
						width: 100%;
						margin-top: 10px;
					}
				}
				
				.coupon-error{
					margin-top: 10px;
					@media #{$iphone}{
						 margin: 10px 0;
					}
				}
			}
		}
		.paymentmethods-row{
			@media #{$iphone}{
				margin-top: 0px;
			}
			.form-row .field-wrapper > select {
				height: auto;
			}
			.paypal_selected_account_email {
				padding-left: 16.209%;
    			margin: 0 0 10px 15px;
    			@media #{$medium-tab}{
    			 	padding-left: 30%;
    			}
    			@media #{$iphone}{
    				margin:0 0 10px 0;
    				padding:0;
    			}
			}
			legend{
				padding-bottom: 14px;
				border-bottom: 1px solid $black;
				font-family: $berthold-md;
			}
			.payment-method-options{
				padding-left: 16.209%;
				margin-left: 15px;
				box-sizing: border-box;
				margin-bottom: 40px;
				float: left;
				width: 100%;
				box-sizing: border-box;
				@media #{$medium-tab}{
					padding-left: 30%;
				}
				@media #{$iphone}{
					padding-left: 0px;
					margin-left: 0px;
				}
				label{
					width: auto;
					margin-right: 60px;
					margin-top: 0px;
					&:last-child{
						margin: 0px;
					}
				}
			}
			
			.form-row{
				&.month, &.year, &.day{
					width: 155px;
					margin: 0px;
					@media #{$tablet}{
						width: 124px;
					}
					.form-caption  {
						margin-left: 0;
					}
					label{
						display: none;
					}
					.field-wrapper{
						width: 100%;
					}
				}
				@media #{$iphone}{
					&.month{
						width: 102px;
						margin-right: 13px;
					}
					&.year{
						width: 80px;
					}
				}
				
				&.cvn{
					.field-wrapper{
						width: 155px;
						@media #{$tablet}{
							width: 124px;
						}
						@media #{$iphone}{
							width: 102px;
						}
					}
				}
			}
		}
	}
}

.checkout-tab button,
.checkout-tab .button{
	font-family: $berthold-md;
    font-size: $font-12 + 1;
    padding: 10px 20px;
    background-color: $black;
    line-height: 15px;
    font-weight: normal;
    color: $white;
    border: 0;
    box-sizing: border-box;
    &:hover {
        background-color: $black;
        color: $white;
        text-decoration: none;
    }
}

.pt_checkout {
	#primary {
		@media #{$tablet-maxlandscape} {
			height: auto !important;
		}
		@media #{$tablet}{
			height: auto !important;
		}
		.checkout-billingcontent {
			.guest-checkout {
				padding: 1px 0 0 0;
				font-family: $berthold-bold;
				font-size: $font-14;
				line-height: 16px;
				letter-spacing: 2px;
				border-bottom: 1px solid $black;
				text-transform: uppercase;
			}
			.secure-payment {
				padding: 30px 0 30px 0;
				font-family: $berthold-bold;
				font-size: $font-14 - 1;
				line-height: 16px;
				letter-spacing: 2px;
				text-transform: uppercase;
			}
			.spc-billing {
				.checkout-billing {
					.form-row {
						.form-field-tooltip {
							@media #{$iphone} {
								display: none;
								&.cvn-tooltip-image {
									display: block;
								}
							}
						}
						&.addtoaddress-row {
							padding-left: 13%;
							box-sizing: border-box;
    						margin-top: -30px;
    						@media #{$tablet-maxlandscape} {
								padding-left: 13.8%;
							}
							@media #{$tablet} {
								padding-left: 23.7%;
							}
							@media #{$iphone} {
						    	padding-left: 31.8%;
						    }
    						.field-wrapper {
    							padding-left: 0;
    							width: auto;
    							.custom-checkbox {
    								width: 19px;
    								height: 19px;
    							}
    						}
    						label {
    							width: auto;
    							margin-top: 3px;
    						}
						}
					}
					.form-caption {
						display: none;
					}
					.gift-cert-used {
						margin-left: 0;
					}
					.payment-method-options {
						display: none;
					}
					.creditcard-heading {
						font-family: $berthold-md;
						font-size: $font-12;
						line-height: 16px;
						padding-bottom: 15px;
						letter-spacing: 1px;
						text-transform: uppercase;
					}
					.accepted-cards {
						width: 100%;
						float: left;
						margin-top: 10px;
						padding-bottom: 25px;
						.cards-heading {
							font-family: $berthold-md;
							font-size: $font-12;
							line-height: 16px;
							letter-spacing: 1px;
						}
						.cards-info-text {
							font-family: $berthold-regular;
							font-size: $font-12;
							line-height: 16px;
							letter-spacing: 1px;
						}
					}
					.other-payment-section {
						width: 100%;
						float: left;
						padding: 30px 0;
						border-top: 1px solid $gainsboro;
						border-bottom: 1px solid $gainsboro;
						.other-payment-head {
							padding-bottom:25px;
							font-family: $berthold-md;
							font-size: $font-12;
							line-height: 16px;
							letter-spacing: 1px;
							text-transform: uppercase;
						}
						.dw-apple-pay-button {
							width: 260px;
							float: left;
							font-size: $font-14;
							border-radius: 0;
							padding: 13px 0;
							margin-bottom: 18px;
							background-image: url(../../images/ApplePay-BuyWith.png);
							background-size: auto;							
						}
						.mk-paypal-button {
							clear: both;
							width: 260px;
						    float: left;
						    font-size: $font-14;
						    background-color: $mk-checkout-paypal;
						    border-radius: 0;
						    font-family: $berthold-md;
						    letter-spacing: 1px;
						    color: $white;
						    text-transform: uppercase;
						    padding: 10px 0;
						    text-align: center;
						    margin-top: 0;
						    &:hover {
						    	text-decoration: none;
						    }
						    .paypal-btn {
						    	&.icons-sprite {
						    		display: inline-block;
								    width: 64px;
								    height: 18px;
								    background-position: -18px -281px;
								    position: relative;
								    top: 5px;
						    	}
						    }
						}
						.paypal_selected_account_email {
							width: 100%;
							float: left;
							margin: 8px 0 0 0;
							font-size: $font-12;
							font-family: $berthold-md;
							b {
								font-weight: normal;
							}
						}
					}
					.billing-head {
						display: block;
						padding: 30px 0 20px;
						font-family: $berthold-md;
						font-size: $font-12;
						letter-spacing: 1px;
						text-transform: uppercase;
					}
					.shippingequalsbilling {
						padding-left: 0;
						.checkbox-wrapper {
							padding-left: 0;
							width: auto;
							.custom-checkbox {
								width: 19px;
								height: 19px;
							}
						}
						label {
							width: auto;
							padding-top: 5px;
							@media #{$iphone} {
								margin: 0 0 0 10px;
								width: 85%;
							}
						}
					}
					.couponcode-main {
						width: 100%;
						float: left;
						padding: 30px 0;
						border-top: 1px solid $black;
						border-bottom: 1px solid $black;
						.coupon-head {
							font-family: $berthold-md;
							font-size: $font-12;
							letter-spacing: 1px;
							text-transform: uppercase;
							font-weight: normal;
							&.icons-sprite {
								&.active {
									&:before {
										content: ' ';
										float: right;
										display: inline-block;
										width: 22px;
										height: 2px;
										background: url(../../images/mk-icons-sprite.png) -96px -346px no-repeat;
										top: 6px;
									}
								}
								&:before {
									content: ' ';
									float: right;
									display: inline-block;
									width: 22px;
									height: 22px;
									background: url(../../images/mk-icons-sprite.png) -25px -337px no-repeat;
									position: relative;
									top: -3px;
									right: 10px;
								}
							}
						}
						.form-indent {
							&.billing-coupon-code {
								display: none;
								margin-left: 0;
								width: 100%;
								margin-top: 30px;
								.coupon-apply {
									width: 70%;
									@media #{$tablet} {
										width: 90%;
									}
									.form-row {
										width: 53%;
										margin: 0;
										&.label-above {
											label {
												display: none;
											}
										}
										.field-wrapper {
											padding-left: 0;
											width: 100%;
										}
									}
									#add-coupon {
										width: 160px;
										margin-left: 25px;
										background-color: $white;
										color: $black;
										text-transform: uppercase;
										font-family: $berthold-bold;
										font-size: $font-12;
										border: 1px solid $black;
										@media #{$iphone} {
											margin: 10px 0 0;
    										width: 100%;
										}
									}
								}
								.form-row {
									&.coupon-error, &.coupon {
										font-size: $font-10;
										padding-top: 10px;
										margin: 0;
										&.hide-desktop {
											display: none;
										}
									}
								}
								&.active {
									display: block;
								}
							}
						}
					}
					.spc-billing-btn {
						width: 286px;
						font-family: $berthold-md;
						font-size: $font-16;
						letter-spacing: 1px;
						padding: 13px 0;
						margin-top: 35px;
					}
					#dwfrm_billing_billingAddress_addressFields_city {
						width: 250px;
						@media #{$iphone} {
							width: 100%;
						}
					}
					#dwfrm_billing_billingAddress_addressFields_postal {
						width: 130px;
						@media #{$iphone} {
							width: 100%;
						}
					}
				}
			}
			.form-horizontal {
				.field-wrapper {
					width: 45%;
					@media #{$tablet} {
						width: 55%;
					}
					@media #{$iphone} {
						width: 68%;
					}
				}
				.form-row {
					margin: 0 0 25px 0;
					&.billing-btn {
						@media #{$iphone} {
							text-align: center;
						}					
					}
					label {
						width: 11.209%;
						@media #{$tablet} {
							width: 20.209%;
						}
						@media #{$iphone} {
							width: 32%;
    						margin-top: 11px;
						}
					}
					&.month {
						width: 25%;
						margin: 0;
						@media #{$tablet} {
							width: 30%;
						}
						@media #{$iphone} {
							width: 34%;
							padding: 0 10px 0 0;
						}
						.field-wrapper {
							width: 100%;
						}
					}
					&.year {
						width: 20%;
						margin: 0;
						@media #{$tablet} {
							width: 25%;
						}
						@media #{$iphone} {
							width: 30%;
						}
						.field-wrapper {
							width: 100%;
						}
					}
					&.cvn {
						.field-wrapper {
							width: 25%;
							@media #{$tablet}{
								width: 30%;
							}
							@media #{$iphone} {
								width: 34%;
							}
						}
					}
					&.save-card-row {
						padding-left: 13%;
						box-sizing: border-box;
						@media #{$tablet-maxlandscape} {
							padding-left: 13.8%;
						}
						@media #{$tablet} {
							padding-left: 23.7%;
						}
						@media #{$iphone} {
					    	padding-left: 31.8%;
					    }
						.field-wrapper {
							padding-left: 0;
							width: auto;
							.custom-checkbox {
								width: 19px;
								height: 19px;
							}
						}
						label {
							width: auto;
							margin: 3px 0 0 10px;
						}
					}
				}
			}
		}
	}
	.guest-checkout,p.guest-para,.secure-checkout {
		font-size: $font-14;
	    line-height: $font-16;
	    letter-spacing: $font-1 + 1;
	    font-family: $berthold-bold;
	    p.guest-para {
	    	font-size: $font-12;
	    	font-family: $berthold-regular;
		    color: $mk-nobel;
		    margin: 12px 0 20px; 
		    text-transform: none;
	    }
	}
	.secure-checkout {
		.checkoutcountrytooltip {
			margin-top: 18px;
		}
	}
	.paypalerroe {
		border-bottom: 1px solid $black;
		margin-bottom: 16px;
		width: 100%;
		float: left;
		.paypal_shipping_error {
			padding-bottom: 15px;
			width: 100%;
			float: left;
			color: $mk-red;
			font-family: $berthold-regular;
			font-size: $font-14;
		}
	}
	.spc-shipping {
		.checkout-shipping {
			legend {
				margin-bottom: 37px;
				span.shipping-heading-info {
					font-size: $font-12 + 1;
				    line-height: $font-16;
				    letter-spacing: $font-1 + 1;
				    padding: 0;
				    font-family: $berthold-bold;
				}			
			}
			.form-row {
				&.continue-button {
					@media #{$iphone} {
						text-align: center;
					}
				}
				label {
					width: 10.6%;
					@media #{$tablet}{
						width: 20.6%;
					}	
					@media #{$iphone}{
						width: 23%;
						margin-top: 12px;
					}
				}
				&.city,&.zip {
					.input-text {
						width: 36.52%;
					}
				}
				&.useasbilling-row, &.addtoaddress-row {
					padding-left: 12.7%;
					@media #{$tablet-maxlandscape} {
						padding-left: 13.8%;
					}
					@media #{$tablet}{
						padding-left: 25%;
					}
					@media #{$iphone}{
						padding-left: 29%;
					}
					.checkbox-wrapper {
						padding: 0;
    					width: auto;
    					.custom-checkbox {
    						width: 19px;
    						height: 19px;
    					}
					}
					label {
						width: auto;
						font-size: $font-12;
					    line-height: $font-18 + 1;
					    letter-spacing: $font-1;
					    @media #{$iphone}{
							margin: 0 0 0 5px;
							width: 80%;
						}
					}
				}
				&.addtoaddress-row {
					margin-bottom: 10px;
				}
				.form-field-tooltip {
					&.country-tooltip {
						margin-left: 2%;
						.tooltip {
							width: 25px;
							height: 25px;
							display: inline-block;
							background: url("../../images/info-iconn.png") no-repeat;
						}
					}
					@media #{$iphone} {
						display: none;
					}
				}
			}
			.field-wrapper {
				padding-left: 19px;
    			width: 40.15%;
    			@media #{$tablet}{
    				width: 55.15%;
    			}
    			@media #{$iphone} {
    				width: 77%;
    			}
			}
			.saveShipping {
				padding: 11px;
			    font-size: $font-16;
			    letter-spacing: $font-1;
			    line-height: $font-18;
			    min-width: 286px;
			    margin-left: 13%;
			    margin-top: 37px;
			    @media #{$iphone} {
    				margin: 37px auto 0;
    			}
			}
		}	
		.shipping-method-list-container {
			margin-top: 58px;
			border: solid $mk-gainsboro;
    		border-width: 1px 0;
    		padding: 37px 0 37px 30px;
    		@media #{$iphone} {
    			padding-left: 0;
    		}
    		.shipping-heading {
    			font-size: $font-12 + 1;
			    line-height: $font-16;
			    letter-spacing: $font-1;
			    font-family: $berthold-md;
    		}
    		legend {
    			margin: 0;
    		}
    		.shippingmethods {
    			width: 100%;
    			float: left;
    			&.active {
    				display: block;
    				margin-top: 23px;
				    padding-left: 75px;
					background: url('../../images/shipping-box.png') no-repeat left center;
					background-size: 50px;
    			}
    			&.inactive {
    				display: none;
    			}
    		}
    		.form-row {
    			padding: 0;
    			@media #{$iphone} {
    				padding-left: 0;
    			}
    			.radio-label {
    				float: left;
    				width: auto;
    				@media #{$tablet-maxlandscape} {
						width: 100%;
					}
					@media #{$tablet} {
						width: 100%;
					}
    				.input-radio,.custom-radio {
    					top: 38%;
    					position: absolute;
    					@media #{$tablet-maxlandscape} {
							top: 49%;
						}
    				}
    				.label-msg,.form-caption {
    					font-size: 12px;
					    line-height: 16px;
					    letter-spacing: 1px;
    				}
    				.form-caption {
    					margin: 0;
    					font-family: $berthold-regular;
    					@media #{$iphone} {
							margin-left: 14px;
						}
    				}
    				.radio-col1 {
    					width: auto;
    					float: left;
    				}
    				.radio-col2 {
    					width: auto;
    					float: left;
    					min-height: 65px;
    					padding-left: 20px;
    					@media #{$tablet-maxlandscape} {
							width: 75%;
						}
						@media #{$tablet} {
							width: 75%;
						}
    				}
    				.label-msg {
    					margin-top: 15px;
    				}
    			}
    			&.only-one-shipmethod {
    				.radio-label {
    					.custom-radio {
						    opacity: 0;
    					}
    					.radio-col2 {
						    padding-left: 0;
    					}
    					.label-msg {
	    					@media #{$tablet-maxlandscape} {
	    						margin-top: 0;
	    					}
	    				}
    				}
    			}
    		}
		}
	}
}
@media #{$tablet}{
body {
	div#wrapper {
		&.pt_checkout {
			#main {
				padding: 23px 23px 0;
				#primary {
					padding-right: 20px;
					box-sizing: border-box;
				}
				#secondary {
					width: 33%;
				}
			}
		}
	}
}
}
.billing-address {
	fieldset {
		width: 100%;
	}
}
input#dwfrm_singleshipping_shippingAddress_addressFields_city {
	width: 150px;
}
input#dwfrm_singleshipping_shippingAddress_addressFields_postal {
	width: 150px;
}