.site-mk,
.form-horizontal {
	.custom-select {
		&.country-name {
			.country {
				+ .selected-option {
					&:before {
						display: none;
					}
				}
			}
			&.current_item {
				.selected-option {
				    box-shadow: none;
				    border: 1px solid $mk-nobel;
				}
			} 
		}
		&.current_item {
		    border: 1px solid $white;
		    .selected-option {
		    	border: 1px solid $white;
		    	font-family: $berthold-regular;
	    	    -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.22);
    			-moz-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.22);
    			box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.22);
    			border-bottom: 0 none;
    			&:before {
	    			-webkit-transform-origin: 50% 50%;
	    			transform-origin: 50% 50%;
				    webkit-transform: rotate(180deg);
				    -webkit-transform: rotate(180deg); 
				    transform: rotate(180deg);
				    top: 35%;
    			}
		    }
              .selected-option {
                 &:before {
                      webkit-transform: rotate(180deg);
					  transform: rotate(180deg);
                 }
              }
		}
		
		.selected-option {
		    background-color: $white;
	        border: 1px solid $black;
            padding: 5px 25px 5px 10px;
            box-sizing: border-box;
            font-family: $berthold-regular;
            min-height: 35px;
		    line-height: 23px;
		    font-size: 13px;
		    border-color: $mk-nobel;
            &:before {
    	        top: 50%;
			    right: 10px;
			    border: solid transparent;
			    content: " ";
			    height: 0;
			    width: 0;
			    position: absolute;
			    pointer-events: none;
			    border-color: transparent;
			    border-top-color: $black;
			    border-width: 5px;
			    margin-top: -3px;
            }
		}
		.selection-list {
		    background-color: $white;
		    -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.22);
    		-moz-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.22);
    		box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.22);
    		border: 0 none;
			li {
				padding: 5px 10px;
				line-height: 15px;
			    text-transform: uppercase;
    			font-size: $font-12+1;
				font-family: $berthold-regular;
				&:hover, &:active, &.selected, &.hover{
                   color: $white;
                   background: $black; 
             	}
			}
		}
	}
}
