#wrapper {
	&.pt_emailsubscription {
		.primary-content {
			width: 100%;
			.subscribe-success {
				font-size: $font-18;
				text-transform: uppercase;
				@media #{$iphone} {
					padding: 30px 20px 50px;
    				box-sizing: border-box;
				}
			}
			.subcription-form {
				width: 53%;
				margin: 0 auto;
				box-sizing: border-box;
				padding-left: 30px;
				@media #{$tablet} {
					width: 100%;
					padding: 0 30px;
				} 
				@media #{$iphone} {  
					width: 100%;
					padding: 0 20px;
					box-sizing: border-box;
				} 
				.emailsubscription {
					.emailSign {
						> .form-row {
							> .field-wrapper {
								width: 47.823%;
								padding: 30px 0 0 15px;
								@media #{$tablet-maxlandscape} {
									width: 65%;
								}
								@media #{$tablet} {
									width: 47.823%;
								}
								@media #{$iphone} { 
								 	width:100%;
								   	box-sizing: border-box;
								   	padding: 10px 0 0 0;
								}
							}
							> label {
								    width: 18.209%;
								    @media #{$tablet-maxlandscape} {
								    	width: 25%;
								    }
								    @media #{$iphone} {
								    	margin: 30px 0 0 0; 
								    	width:100%;
								    	box-sizing: border-box;
								    }
								    
							}
						}
					}
					.emailsubcriptionSign {
						.form-row {
							width: 36%;
							padding-left: 20.209%;
							&:nth-child(3) {
								padding: 0;
							}
							@media #{$tablet-maxlandscape} {
								width: 45%;
								padding-left: 28%;
							}
							@media #{$tablet} { 
								padding-left: 27%;
							}
							 @media #{$iphone} { 
								width: 32%;
								padding: 0;
							}
						}
						> .clearfix {
							@media #{$iphone} {
								float: left;
							}
						}
					}
				}
				legend {
					width: 100%;
					float: left;
					padding: 40px 0 14px 0;
					font-family: $berthold-md;
					font-size: $font-12 + 1;
					border-bottom: 1px solid $black;
					background: none;
				}
				.form-horizontal {
					.birthaday_wrap {
						.form-row {
							width: 16%;
							@media #{$iphone} {
								width: 29%; 
							}
							.field-wrapper {
								width:100%;
							} 
						}
					}
					.emailsubscription {
					   label {
							margin-top: 38px;
							font-family: $berthold-regular;
							font-size: $font-12 + 1;
							letter-spacing: $font-05;
						}
						.form-row {
							margin: 0;
							&.year,&.month,&.day {
								@media #{$tablet-maxlandscape} {
									width: 22%;
								}
								@media #{$tablet} {
									width: 16%;
								}
								@media #{$iphone} {
									width: 28%;
									margin: 0 15px 0 0;  
									&:last-child {
										margin: 0;
									}
									label {
										display: none;
									}
								}
								.checkbox-wrapper {
									padding: 20px 0 0 13px;
									width: 100%;
									.custom-select {
										width: 102px;
										font-family: $berthold-regular;
										font-size: $font-12 + 1;
										&.current_item {
											.selected-option {
												&:before {
													transform: rotate(180deg);
													top: 42%;
												}
											}
										}
										
										.selection-list {
											width: 102px;
											background-color: $white;
										}
									}
								}
							}
							.field-wrapper {
								padding-top: 30px;
								//width: 100%;
								@media #{$iphone} { 
									padding-top: 10px; 
								}
								input[type="text"] {
									border: 1px solid $mk-borderset-grey;
									padding: 8px 5px;
									font-size: 13px;
								}
								.error {
									display: block;
									padding-top: 5px;
									border: 0;
									color: $mk-red;
								}
							}
							.required-indicator {
								top: -4px;
							}
						}
						.form-label-text {
							padding-top: 38px;
							font-family: $berthold-regular;
							font-size: $font-12 + 1;
							font-weight: normal;
							letter-spacing: $font-05;
							width: 18%;
							@media #{$tablet-maxlandscape} {
								width: 24%;
							}
							@media #{$iphone} {
								width:100%;
								text-align: left;
							}
							.required-indicator {
								top: -4px;
							}
						}
						.form-row-button {
							width: 30%;
							margin: 0 0 0 18%;
							padding-top: 30px;
							padding-left: 15px;
							@media #{$tablet-maxlandscape} {
								margin: 0 0 30px 27%;
							}
							@media #{$tablet} { 
								margin: 0 0 30px 26%;
							}
							@media #{$iphone} { 
								width:100%;
								margin:0 0 30px 0;
							}
							button {
								width:100%;
								padding: 10px 30px;
								text-transform: uppercase;
							}
							
						}
					}
				}
			}
		}
	}
}