footer {
	background-color: $mk-footerbackground-gray;
	float: left;
	width: 100%;
}

.main-footer {
	padding: 0 5% 0 3%;
} 
.footer-container {
	.footer-email-signup {
		width: 34%;
		float: left;
		.copyright {
			font-family: $berthold-regular;
			font-size: $font-10 + 1;
			color: $black;
			padding-top: 65px;
		}
	}
	.footer-account, .footer-support, .footer-about  {
		width: 22%;
		float: left;
	}
	.footer-about {
		.hide-desktop {
			display: none;
		}
	}
	.footer-item {
		h2 {
			font-family: $berthold-bold;
			font-size: $font-12;
			color: $black;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			margin: 0 0 19px;
			@media #{$tablet-maxlandscape} {
			    float: left;
			    width: 100%;
			    margin-top: 11px;
			}
		}
		.menu-footer {
			li {
				margin-bottom: 6px;
				a {
					font-family: $berthold-md;
					font-size: $font-12 - 1;
					color: $black;
					text-transform: uppercase;
					letter-spacing: 0.9px;
				}
			}
		}
	}
}

.social-links {
	margin-top: 22px;
	padding-left: 0;
	li {
		padding-right: 18px;
		a.instagram {	
			background-position: -107px -77px;
			width: 24px;
			height: 24px;
			display: inline-block;
		}
		a.facebook {
			background-position: -22px -75px;
			width: 13px;
			height: 24px;
			display: inline-block;
		}
		a.snapchat {
			background-position: -218px -79px;
			width: 24px;
			height: 22px;
			display: inline-block;
		}
		a.youtube {
			background-position: -160px -80px;
			width: 27px;
			height: 19px;
			display: inline-block;
		}
		a.twitter {
			background-position: -61px -80px;
			width: 23px;
			height: 19px;
			display: inline-block;
		}
	}
}

.footer-subscription-form {
	width: 100%;
	float: left;
	.field-wrapper {
		position: relative;
		.foot-tooltip {
			display: none;
			position: absolute;
			bottom: 42px;
			left: 0;
			font-family: $berthold-regular;
			background-color: $black;
			color: $white;
			letter-spacing: 0.5px;
			border: 1px solid $black;
			padding: 15px;
			font-size: $font-10 + 1;
			box-sizing: border-box;
			max-width: 62%;
			width: 100%;
   			white-space: normal;
   			border-radius: 10px;
   			&:after {
   				content: "";
				position: absolute;
				left: 50%;
			    top: 100%;
				width: 0;
				height: 0;
   				border-left: 8px solid transparent;
   				border-right: 8px solid transparent;
   				border-top: 10px solid $black;
   				transform: translateX(-50%);
   			}
		}
	}
	span.error {
		float: left;
    	width: 100%;
    	clear: both;
    	border: none;
    	white-space: initial;
    	font-family: $berthold-regular;
    	font-size: $font-12;
    	text-transform: uppercase;
    	color: $mk-err-msg;
    	position: absolute;
    	top: 30px;
    	left: 0;
	}
	span.subscription-success {
		float: left;
    	width: 100%;
    	clear: both;
    	border: none;
    	font-family: $berthold-regular;
    	font-size: $font-10;
    	text-transform: uppercase;
    	color: $mk-err-msg;
    	position: absolute;
    	top: 36px;
    	left: 0;
	}
	input[type="text"] {
		display: inline-block;
		font-family: $berthold-regular;
		font-size: $font-10;
		color: $black;
		letter-spacing: 1px;
		height: 32px;
		padding: 0 8px;
		width: 62%;
		border-radius: 0;
		border: 1px solid $black;
		background-color: $white;
		outline: none;
		text-transform: none;
	}
	button {
		display: inline-block;
		background-color: $black;
		font-family: $berthold-md;
		font-size: $font-10 + 1;
		letter-spacing: 1px;
		color: $white;
		padding: 0 5px;
		height: 32px;
		border-radius: 0;
		border: 1px solid $black;
	}
}

.welcomemat {
	box-shadow: 9px 20px 0px #888, 10px -1px 5px #ccc;
	.welcome-main {
		.welcome-heading {
			.welcome-head {
				font-family: $berthold-md;
				font-size: $font-16;
				line-height: 19px;
				letter-spacing: 2px;
				@media #{$tablet} {
					font-size: $font-14;
				}
				@media #{$iphone} {
					font-size: $font-14;
				}
			}
		}
		.top-main-content {
			.left-content {
				.current-info {
					font-family: $berthold-md;
					font-size: $font-14;
					line-height: 17px;
					letter-spacing: 1px;
					@media #{$tablet} {
						font-size: $font-12;
					}
					@media #{$iphone} {
						font-size: $font-14;
					}
				}
			}
			.center-content {
				.shopping-head {
					font-family: $berthold-md;
					font-size: $font-14;
					line-height: 17px;
					letter-spacing: 1px;
					@media #{$tablet} {
						font-size: $font-12;
					}
					@media #{$iphone} {
						font-size: $font-12;
					}
				}
				.list-items {
					li {
						font-family: $berthold-regular;
						font-size: $font-14;
						line-height: 17px;
						@media #{$tablet} {
							font-size: $font-12;
						}
						@media #{$iphone} {
							font-size: 11px;
						}
					}
				}
			}
			.right-content {
				.shipping-to {
					font-family: $berthold-md;
					font-size: $font-14;
					line-height: 17px;
					letter-spacing: 1px;
					@media #{$tablet} {
						font-size: $font-12;
					}
					@media #{$iphone} {
						font-size: $font-12;
					}
				}
				.navigations {
					.welcome-label {
						font-family: $berthold-regular;
						font-size: $font-14;
						line-height: 17px;
						letter-spacing: 0.5px;
						@media #{$tablet} {
							font-size: $font-12;
						}
						@media #{$iphone} {
							font-size: 11px;
						}
					}
					.list-flags {
						.li-flags {
							.flag-text {
								font-family: $berthold-regular;
								font-size: 9px;
								line-height: 11px;
								color: $mk-text-under-color;
								letter-spacing: 0.5px;
							}
						}
					}
				}
			}
		}
	}
}