.required-indicator{
	color: $black;
	font-size: 13px;
    padding: 0;
    font-family: $berthold-light;
    line-height: 15px;
    em{
   	    color: $black;
	    font-size: 13px;
	    font-style: normal;
	    text-transform: capitalize;
	    vertical-align: top;
    }
}

.dialog-required{
	color: $black;
	padding: 0px;
}

.form-row, .form-row.error {
	margin: 0px 0px 19px 0px;
	float: left;
	width: 100%;
	&.label-inline{
		margin: 0px;
		.form-horizontal &{
			padding-left: 16.209%;
		    box-sizing: border-box;
			@media #{$tablet} {
				padding-left: 30%;
			}
			@media #{$iphone} {
				padding-left: 0px;
			}
		}
	}
	label{
		font-size: 12px;
		font-family: $berthold-md;
		margin-bottom: 8px;
		line-height: 13px;
		display: inline-block;
		color: $black;
		.form-horizontal &{
			margin-bottom: 0px;
			margin-top: 10px;
			width: 16.209%;
			@media #{$tablet}{
				width: 30%;
			}
			@media #{$iphone}{
				width: 100%;
				margin-bottom: 8px;
				margin-top: 0px;
			}
		}
		&.radio-label{
			width: auto;
			margin: 0px;
		}
	}
	.checkbox-wrapper{
		width: auto;
		& ~ label{
			margin: 0px 0px 0px 10px;
			width: auto;
			span {
				font-family: $berthold-regular;
			}
		}
	}
}

.form-horizontal .field-wrapper{
	padding-left: 15px;
    width: 35.823%;
    
    @media #{$medium-tab}{
		width: 50%;
	}
	@media #{$iphone}{
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
    &.checkbox-wrapper{
		width: auto;
		& ~ label{
			margin: 0px 0px 0px 10px;
			width: auto;
		}
	}
}

input[type="text"], 
input[type="number"], 
input[type="password"], 
input[type="date"],
textarea {
    @extend .form-label;
    color: $black;
    border-color: $mk-nobel;
    padding: 9.5px 10px;
    height: auto;
    font-weight: 400;
    letter-spacing: .5px;
    background: $white;
    font-family: $berthold-regular;
    &.error {
	    background: $white;
	    color: $black;
	}
	& ~ span.error{
		margin-top: 10px;
		float: left;
		width: 100%;
		font-family: $berthold-regular;
		color: $mk-red;
	}
}

select ~ span.error{
	margin-top: 10px;
	float: left;
	width: 100%;
	font-family: $berthold-regular;
}

.error{
	color: $mk-red;
	font-family: $berthold-regular;
}

.error-form {
    border-radius: 0;
    color: #ff0000;
    margin: 0;
    padding: 0;
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 100%;
    font-family: $berthold-md;
    background: transparent;
    border: 0 none;
}

.pt_account {
	.checkbox-wrapper {
		input[type="checkbox"]:checked ~ .custom-checkbox {
			background: url('../../images/mk-icons-sprite.png') no-repeat -137px -125px;
		}
	}
}
.checkbox-wrapper {
	position: relative;
	width: auto;
	margin: 0;
	input[type="checkbox"] {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter:alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
		position: absolute;
		z-index: 1;
		display: block;
		width: 20px;
		height: 20px;
		margin:0px;
	}
	.custom-checkbox {
	    width: 12px;
	    height: 12px;
	    border: 1px solid $black;
	    float: left;
	    box-sizing: border-box;
	}
	 
	input[type="checkbox"]:checked ~ .custom-checkbox {
		background: url('../../images/mk-icons-sprite.png') no-repeat -133px -122px;
	}
	
	input[type="checkbox"]:disabled + .custom-checkbox,
	input[type="checkbox"]:disabled + span.error +.custom-checkbox {
		opacity: 0.5;
	}
	
	& ~ label{
		font-family: $berthold-light;
		font-size: 12px;
		margin: 3px 0px 0px 10px;
		float: left;
	}
}

.radio-label {
	width: auto;
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
	font-size: 13px;
	font-family: $berthold-regular;
	input[type="radio"] {
		position: absolute;
		display: block;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter:alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
		z-index:1;
		left: 0px;
		margin: 0;
		width: 14px;
		height: 14px;
	}
	span.label-msg {
		line-height: 18px;
		margin-left: 14px;
		float: left;
		vertical-align: top;
	}
	span.custom-radio {
		float: left;  
		width: 14px;
		height: 14px;
		font-size: 20px;
		border: 1px solid $black;
		border-radius: 20px;
		background: $white;
	}
	input[type="radio"]:checked + span.custom-radio,
	input[type="radio"]:checked + span.error +span.custom-radio {
		background: $black;
		box-shadow: 0 0 0px 3px white inset;
	}
	
	input[type="radio"]:disabled + span.custom-radio,
	input[type="radio"]:disabled + span.error +span.custom-radio {
		opacity: .5;
	}
}

@media #{$tablet} {
	.form-field-tooltip {
		width: 21%;
	}	
}
.form-caption {
	clear: left;
	width: auto;
	.form-horizontal & {
		margin-left: 16.209%;
    	padding-left: 15px;
		&.error-message {
		    background-color: $white;
    		border: 0;	
		    padding: 0;
		    margin-top: 10px;
		    float: left;
	        padding-left: 15px;
	        @media #{$iphone} {
	        	padding-left: 0;
	        }
		}
		@media screen and (max-width: 768px) {
			margin-left: 0%;
			padding-left: 0;
		}
		@media #{$tablet} {
    	    margin-left: 30%;
    		padding-left: 15px;
	    }
	}
}

.custom-checkbox {
    width: 12px;
    height: 12px;
    border-color: $mk-borderset-grey;
}

#cart-table, .item-quantity {
	.input-number {
		width: 60px;
		float: left;
		position: relative;
		.input-text {
			width: 100%;
			float: left;
			padding-right: 22px;
			-moz-appearance: textfield;
			@media #{$iphone} {
				width: 80%;
			}
			&.error {
				~ .up {
					&.icons-sprite {
						top: 6%;
					}
				}
				~ .down {
					&.icons-sprite {
						top: 16%;
					}
				}
				@media #{$iphone} {
					~ span.error {
						margin-left: 10px;
					}
				}	
			}
		}
		.up.icons-sprite {
			background-position: -574px -19px;
			width: 17px;
			height: 11px;
			display: inline-block;
			position: absolute;
			left: 65%;
			top: 20%;
		}
		.down.icons-sprite {
			background-position: -574px -36px;
			width: 17px;
			height: 10px;
			display: inline-block;
			position: absolute;
			left: 65%;
			top: 55%;
		}
	}
}
.ui-dialog {
	.form-horizontal {
		.form-row {
			&.month .form-caption.error-message {
				margin-left: 0;
			}
		}
	}
}
.custom-select {
	select.error ~ .selected-option{
		border-color: $mk-nobel;
	}
}

input::placeholder {
	color: $mk-nobel;
}

#wrapper {
	&.pt_customer-service {
		.page-content {
			.breadcrumb {
				@media #{$iphone} {
					padding-left: 16px;		
				}
			}
		}
		.primary-content {
			#RepairForm {
				@media #{$iphone} {
					padding: 0 5%;
					div.form-row {
						div.field-wrapper {
							width: 100%;
							textarea {
								width: 100%;
								box-sizing: border-box;
							}
						}
					}
				}
			}
		}
	}
}