.ui-dialog {
	.ui-dialog-title {
		display:none;
	}
	.ui-dialog-content {
	    padding: 10px 50px 30px 30px;
	    @media #{$tablet} {
	    	padding-right: 30px;
	    }
	    @media #{$iphone} {
	    	padding: 10px 30px 30px;
	    }
	    .same-address-error {
			text-align: center;
	    	font-size: $font-16;
		}
	}
	.ui-widget-header {
		border: 0 none;
		border-radius: 0 0 0 0;
		height: 23px;
		text-transform: uppercase;
	}
	.ui-icon-closethick {
		background-image: url("../../images/close.png");
		background-position: left top;
		height: 20px;
		width: 20px;
		left: 0;
		top: 20px;
		right: 20px;
		outline: none;
		margin-left: 0;
		margin-top: 0;
		@media #{$iphone} {
			top: 12px;
		}
	}
	.ui-dialog-titlebar-close {
	    outline: none;
    }
}
.ui-dialog {
	h1 {
		.dialog-required {
			font-family: $berthold-light;
		}
	}
	#CreditCardForm {
		.form-row {
			label.error {
				width: 100%;
			    text-align: left;
			    color: $mk-red;
			    background: none;
			}
			.field-wrapper {
				width: 60%;
				@media #{$iphone} {
					width: 100%;
				}
			}
			.month, .year {
				width: 200px;
				@media #{$iphone} {
					width: 110px;
					margin-right: 10px;
				}
				.field-wrapper {
					width: 100%;
				}
			}
		}
		.form-row-button {
			padding-left: 16.209%;
			margin-left: 15px;
		    box-sizing: border-box;
		    @media #{$tablet} {
		    	padding-left: 30%;
		    }
		    @media #{$iphone} {
		    	padding-left: 0;
		    	margin-left: 0;
		    }
		    button {
			    padding: 11px 30px;
			    text-transform: uppercase;
			    background-color: $black;
			    color: $white;
			    margin-right: 15px;
			    &:hover {
			    	color: $white;
			    }
			    @media #{$iphone} {
	    		    width: 100%;
				    margin-left: 0;
				    margin-bottom: 20px;
	    		}
    		}
		}
	}
	#edit-address-form {
		.form-row {
    		.form-field-tooltip {
    			display: none;
    		}
		}
		.form-row-button {
			padding-left: 16.209%;
    		box-sizing: border-box;
    		@media #{$tablet} {
    			padding-left: 30%;
    		}
			@media #{$iphone} {
    			padding-left: 0%;
    		}
    		.apply-button, .cancel-button, .delete-button {
			    margin: 0px 0 0 15px;
			    padding: 11px 30px;
			    text-transform: uppercase;
			    background-color: $black;
			    color: $white;
			    &:hover {
			    	color: $white;
			    }
			    @media #{$iphone} {
	    		    width: 100%;
				    margin-left: 0;
				    margin-bottom: 20px;
	    		}
    		}
		}
	}
}