#mini-cart {
    position: relative;
    top: 5px;
    right: 0px;
    left: auto;
    @media #{$tablet-desktop} {
    	top: 0;
    }
    .mini-cart-name {
    	margin-bottom: 5px;
    	font-family: $berthold-md;
		a {
			color: $black;
			font-size: $font-12;
			font-family: $berthold-md;
			line-height: $font-14;
			letter-spacing: $font-1;
			letter-spacing: 1px;
			line-height: 14px;
			.mini-desc-name {
				font-family: $berthold-regular;
			}
		}
	}
}
.mini-cart-totals {
	margin-top: 0px;
	border-top: 1px solid $mk-silver;
	.button {
		width: 100%;
		font-size: $font-12;
		background-color: $white;
		margin: 20px 0;
		font-family: $berthold-regular;
		letter-spacing: 1px;
		color: $black;
		text-transform: capitalize;
		text-decoration: underline;
    	padding: 0;
	}
	.dw-apple-pay-button,
	.mini-cart-link-checkout {
		font-size: $font-16 - 1;
		color: $white;
		margin: 0 0 20px 0;
		font-family: $berthold-md;
		letter-spacing: 1px;
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		background-color: $black;
		border-radius: 0;
		text-transform: uppercase;		
		@media #{$iphone} {
			font-size: $font-12;
		}
		&:hover {
			text-decoration: none;
		}
		&:before {
			content: '';
			display: inline-block;
			background: url("../../images/lock-white-up.png") no-repeat;
			width: 15px;
			height: 17px;
			margin-right: 6px;
			position: relative;
			top: 2px;
		}	  	
		.icons-sprite {
			background-position: -340px -85px;
			width: 5px;
			height: 10px;
			margin-left: 5px;
			display: inline-block;
		}
	}
	.dw-apple-pay-button {
		background-image: url(../../images/ApplePay-BuyWith.png);
		background-size: contain;
	}
	.dw-apple-pay-button:before {
  		background: none;
  	}
	.minicartslot {
		background-color: $mk-minipromo-grey;
		padding: 15px 0;
		float: left;
		text-align: center;
		margin: 0 -20px;
		p {
			padding: 0 60px;
			text-transform: uppercase;
			font-family: $berthold-md;
			@media #{$iphone} {
				padding: 0 25px;
			}
		}
	}
	.free-ship-promo {
    	padding-top: 15px;
    	text-transform: uppercase;
    }
    .mini-cart-salestax {
    	padding: 7px 0;
    	display: block;
    }
    .free-ship-promo, .mini-cart-salestax {
    	font-family: $berthold-regular;
    	font-size: $font-12;
    	letter-spacing: 1px;
    }
}
.mini-cart-total {
    a {
        float: right;
        width: 16px;
        height: 20px;
        background-position: -142px -19px;
        
        @media #{$tablet-desktop} {
        	width: auto;
        	height: auto;
        	background-position: -140px -19px;
        	
        	&:hover {
	        	color: inherit;
	        	text-decoration: none;
        	}
        }
        
        .mini-cart-text {
        	display: none;
        	
        	@media #{$tablet-desktop} {
    			display: block;
    			padding-top: 22px;
    		}
        }
    }
    span.minicart-quantity { 
        float: left;
        position: relative;
        top: 6px;
        left: auto;
        right: 2px;
        font-size: $font-12+1;
        font-family: $berthold-regular;
        color: $black;
        text-align: left;
        border: none;
        border-radius: 0;
    }
}
.mini-cart-content {
	width: 308px;
	padding: 0 20px;
	box-sizing: border-box;
	@media #{$tablet-desktop} {
		top: 3.0em;
	}
	@media #{$iphone} {
		max-width: 250px;
	}
}
.mini-cart-header {
	font-size: $font-18;
	color: $black; 
	font-family: $berthold-md;
    padding: 18px 0 12px 0;
    text-align: center;
    line-height: 16px;
    border-bottom: 1px solid $mk-silver;
    letter-spacing: $font-1+1;
}
.mini-cart-products{
	margin: 20px 0 0 0;
}
.mini-cart-product {
	padding: 20px 0 20px 0;
	border-bottom: 1px solid $mk-miniborder-grey;
	float: left;
	overflow: visible;
	width: 100%;
	box-sizing: border-box;
	.ps-container &{
		padding-right: 17px;
	}
	&:first-child {
		padding-top: 0;
	}
}
.mini-cart-image {
	width: 30.42%;
}
.mini-cart-attributes {
	.attribute {
	    margin-bottom: 2px;
	}
}
.mini-cart-attributes span, 
.mini-cart-pricing span{
	color: $black;
	font-size: $font-12;
	font-family: $berthold-regular;
	&.mini-cart-price {
		width: auto;
	    display: inline-block;
	    padding-right: 10px;
	    margin: 1px 0;
	}
	&.minicart-item-bonus {
		padding-right: 10px;
	}
}
.mini-cart-pricing {
	.pricing-section {
		margin-top: 2px;
	}
}

.mini-cart-product-details-cont {
	padding-left: 14px;
    float: left;
    width: 69.5%;
}
.mini-cart-subtotals {
	color: $black;
	font-size: $font-12;
	padding: 0 0 20px 0;
    text-transform: uppercase;
    box-sizing: border-box;
	width: 100%;
	.label {
		font-family: $berthold-regular;
		display: inline-block;
		line-height: 14px;
	}
	.value {
		font-family: $berthold-md;
		display: inline-block;
		line-height: 14px;
	}
}
.mini-cart-slot {
	text-transform: uppercase;
    background-color: $mk-minipromo-grey;
    padding: 16px;
    color: $black;
	font-size: $font-12+1;
	font-family: $berthold-md;
}
.minicart-contentinside {
	width: 100%;
	float: left;
}
.mini-cart-bottom {
	margin-bottom: 25px;
	ul {
		background-color: $mk-minipromo-grey;
		border: 1px solid $mini-col-grey;
		padding: 16px;
		box-sizing: border-box;
		li {
			list-style-type: none;
			padding-bottom: 15px;
			font-family: $berthold-md;
			font-size: $font-12;
			letter-spacing: 0.5px;
			text-align: left;
			&.free-ship {
				text-transform: uppercase;
				.icons-sprite {
					float: left;
					display: inline-block;
					width: 20px;
					height: 19px;
					background-position: -130px -230px;
					margin-right: 10px;
				}
			}
			&.ship-status {
				.icons-sprite {
					float: left;
					display: inline-block;
					width: 22px;
					height: 30px;
					background-position: -19px -225px;
					margin-right: 10px;
					@media #{$iphone} {
						height: 46px;
					}
					&.us-flag {
						background-position: -69px -225px;
					}
				}
			}
			&.help-order {
				.icons-sprite {
					float: left;
					display: inline-block;
					width: 19px;
					height: 19px;
					background-position: -190px -230px;
					margin-right: 10px;
				}
				a {
					text-decoration: underline;
				}
			}
			&.secure-status {
				padding-bottom: 0;
				.icons-sprite {
					float: left;
					display: inline-block;
					width: 18px;
					height: 36px;
					background-position: -121px -275px;
					margin-right: 10px;
				}
				.minicart-secure {
					font-family: $berthold-regular;
				}
			}
		}
	}
}


.mini-cart-totals {
	.checkout-paypal {
		width: 100%;
		float: left;
	    font-size: $font-14;
	    background-color: $mk-checkout-paypal;
	    border-radius: 0;
	    font-family: $berthold-md;
	    letter-spacing: 1px;
	    color: $white;
	    text-transform: uppercase;
	    padding: 10px 0;
	    text-align: center;
	    @media #{$iphone} {
			font-size: 13px;
		}
	    &:hover {
	    	text-decoration: none;
	    }
		.paypal-button-cont {
			.paypal-btn {
				&.icons-sprite {
					display: inline-block;
					width: 64px;
					height: 18px;
					background-position: -18px -281px;
					margin-right: 5px;
					position: relative;
					top: 5px;
				}
			}
			
		}
	}
}