.pt_order, .pt_order-confirmation {
	#main {
	    padding: 30px 4.7% 30px 3.1%;
	    float: left;
	    width: 100%;
	    box-sizing: border-box;
	    @media #{$iphone} {
			padding: 20px;
		}
    }
    .order-return-form {
    	.actions {
    		.return-shopping {
    			margin-bottom: 20px;
			    padding: 10px 30px;
    		}
    		button {
    			@media #{$iphone} {
    				width: 100%;
				}
    		}
    	}
    	.order-shipments {
    		.line-items {
    			.line-item {
    				.finalSalePdt, .returnnoteligible {
	    				.select-product {
	    					 .checkbox-wrapper {
	    					 	.input-checkbox  {
    								pointer-events: none;
    							}
    							.custom-checkbox {
    								opacity: 0.5;
    							}
								.custom-checkbox {
									width: 16px;
									height: 16px;
									border-color: $black;
									&:before {
										content: "";
									    position: absolute;
									    border-top: 1px solid $mk-background-grey;
									    height: 100%;
									    -webkit-transform: rotate(45deg);
									    transform: rotate(45deg);
									    -webkit-transform-origin: 0% 0%;
									    transform-origin: 0% 0%; 
									    left: 0;
									    top: 0; 
									    padding: 3px;
									    width: 100%;
									}
								}
								input[type="checkbox"]:checked ~ .custom-checkbox {
									background-position: -135px -123px;
								}
							}
						}
    				}
    				.item-checkbox {
    					width: 10%;
    					.label {
    						color: $white;
    					}
    					.main-label {
    						padding: 50% 40%;
    						@media #{$iphone} {
							    padding: 3px 0 0 0;
    						}
    						.custom-checkbox {
								width: 16px;
								height: 16px;
								border-color: $black;
							}
							input[type="checkbox"]:checked ~ .custom-checkbox {
								background-position: -135px -123px;
							}
    					}
    				}
    				.line-item-quantity {
    					width: 20%;
    					.return-pdt-qty {
    						.qtyoforderreturn {
								margin: 0;
	    						.field-wrapper {
	    							width: 40px;
								    float: left;
								    position: relative;
								    input[type="number"] {
								    	width: 100%;
									    float: left;
								        padding: 4.5px 6px;
									    height: 25px;
								    }
								    .up {
								    	background-position: -574px -19px;
									    width: 17px;
									    height: 9px;
									    display: inline-block;
									    position: absolute;
									    left: 65%;
									    top: 17%;
								    }
								    .down {
							    	    background-position: -574px -36px;
									    width: 17px;
									    height: 10px;
									    display: inline-block;
									    position: absolute;
									    left: 65%;
									    top: 55%;
								    }
	    						}
    						}
    					}
    				}
    				.line-item-price {
    					@media #{$iphone} {
							width: 20%;
						}
    				}
    				.line-item-details  {
    					&.line-data {
	    					.form-row {
	    						padding-right: 20px;
	    						box-sizing: border-box;
	    						&.reasonfororderreturn  {
	    							margin: 0;
	    						}
	    						label {
	    							display: none;
	    						}
	    					} 
    					}
    					.product-list-item {
    						>div {
    							margin-bottom: 2px;
    						}
    					}
    				}
    			}
    		}
    	}
    }
    .confirmation {
    	width: 100%;
    	float: left;
		.order-confirmation-details {
			width: 72.91%;
			float: left;
			padding-right: 30px;
    		box-sizing: border-box;
			@media #{$tablet} {
				width: 70%;
			}
			@media #{$iphone} {
				width: 100%;
			}
			
 		}
 		.thankyou-section {
		    float: right;
		    width: 23.715%;
   			padding: 21px 22px 21px 21px;
		    box-sizing: border-box;
		    margin-top: 20px;
		    border: 1px solid #c4c4c4;
		    @media #{$tablet} {
		    	width: 28%;
		    	float: left;
		    }
		    @media #{$iphone} {
		    	width: 100%;
		    }
		    .confirm-thankyou {
		    	text-align: center;
		    	font-family: $berthold-md;
		    	font-size: $font-14;
		    	padding-bottom: 20px;
		    	letter-spacing: 1px;
		    }
		    .checkout-faster {
		    	text-align: center;
		    	font-family: $berthold-regular;
		    	font-size: $font-12;
		    	padding-bottom: 15px;
		    	letter-spacing: 1px;
		    	line-height: 20px;
		    }
		    .actions-gotoaccount {
		    	margin-bottom: 16px;
		    	.continue {
		    		width: 100%;
				    display: block;
				    padding: 9px 0 10px;
				    border: 1px solid $black;
				    text-align: center;
				    font-family: $berthold-md;
				    font-size: $font-16;
				    letter-spacing: 1px;
				    &:hover {
				    	text-decoration: none;
				    }
				    @media #{$tablet} {
				    	font-size: $font-14;
				    }
		    	}
		    }
		    .actions-continueshop {
		    	width: 100%;
		    	.continue {
		    		width: 100%;
				    display: block;
				    padding: 9px 0 10px;
				    text-align: center;
				    background: $black;
				    color: $white;
				    text-transform: uppercase;
				    letter-spacing: 1px;
				    font-family: $berthold-md;
				    font-size: $font-16;
				    &:hover {
				    	text-decoration: none;
				    }
				    @media #{$tablet} {
				    	font-size: $font-14;
				    }
		    	}
		    }
 		}
		.actions {
	        float: left;
   		    width: auto;
		    @media #{$iphone} { 
				width: auto;
			    right: 0;
			    position: absolute;
    			top: 7px;
			}
			a{
			    background-color: $black;
    			color: $white;
    			line-height: $font-12+1;
				font-family: $berthold-md; 
				letter-spacing: $font-05;
				text-transform: uppercase;
			    padding: 11px 30px;
			    text-align: center; 
			    display: block; 
			    @media #{$iphone} { 
				    width: 100%;
				    float: left;
				    box-sizing: border-box;
				}
			}
		}
		.login-create-account {
			width: 22.596%;
			@media print {
				display:none;
			}
			@media #{$iphone} {
				width: 100%;
			}
			 @media #{$tablet} {
				width: 27.596%;
			}
			.login-box-content {
			    padding: 20px;
			    border: 1px solid $mk-conforborder-grey;
			    @media #{$iphone} {
				    padding: 30px 0 0 0;
			    	border: 0;
				}
				#RegistrationForm {
					float: left;
				}
			    h2 {
			    	margin-bottom: 30px;
			    	color: $black;
	    			font-size: $font-14;
	    			line-height: $font-14;
    				font-family: $berthold-bold;
    				letter-spacing: $font-05;
    				text-align: center;
    				text-transform: uppercase;
    				font-weight: normal;
    				@media #{$iphone} {
				    	border-top: 1px solid $mk-conforborder-grey;
    					padding-top: 20px;
					}
			    }
                .req-ui {
                    float: left;
                    width: 100%;
                    margin: 0px;
                    padding: 5px 0px;
                    text-align: right;
                    box-sizing: border-box;
                }
			    p {
			    	margin-bottom: 10px;
			    }
			    .form-row {
			    	label {
			    		margin: 14px 0 7px 0;
			    		font-size: $font-12;
			    	}
			    }
			    button {
			    	width: 100%;
			    	margin-top: 25px;
		    	    text-transform: uppercase;
			    }
			    .form-caption {
			    	margin-top: 4px;
			    	font-size: $font-12;
			    }
			}
		}
		.conformation-page {
			display: inline-block;
			.conformation-text {
			    width: 80%;
			    float:left;
			    @media #{$iphone} {
					width: 100%;
				}
			}
			.print-page {
				width: auto;
			    float: right;
			    padding: 0;
			    background-color: white;
			    color: black;
			    text-decoration: underline;
			    text-align: right;
			    font-family: $berthold-regular;
			    @media #{$tablet} {
                	width: 20%;
                }
			    @media #{$iphone} {
					display:inline-block;
					float: left;
    				text-align: left;
    				padding: 15px 0 0 0;
				}
			}
		}
    	.confirmation-message {
    		@media #{$iphone} {
				border-bottom: 0px solid;
			}
    		.conformation-page {
    			width: 100%;
			    padding-bottom: 40px;
			    border-bottom: 1px solid $black;
			    @media #{$iphone} {
					padding-bottom: 30px;
				}
		    }
    		.order-confirmation-heading {
			    padding: 80px 0 50px 0;
    			font-size: $font-18;
				font-weight: normal;
				line-height: $font-18;
				font-family: $berthold-md;
				letter-spacing: $font-05;
				text-transform: uppercase;
				@media #{$iphone} {
					padding: 25px 0;
				}
    		}
    		h1 {
	    		font-size: $font-24;
	    		line-height: $font-24;
	    		font-family: $berthold-md;	
				letter-spacing: $font-05;
				padding-bottom: 15px;
    		}
    	}
    }
    .actions {
    	float: left;
    	width: 100%;
    	a {
    		background-color: $black;
		    color: $white;
		    text-transform: uppercase;
		    font-size: $font-12+1;
		    font-family: $berthold-md;
		    padding: 10px 30px;
		    margin-right: 20px;
		    @media #{$iphone} { 
			    width: 100%;
			    float: left;
			    box-sizing: border-box;
			    padding-left: 0;
			    padding-right: 0;
			    text-align: center;
			}
    	}
    }
    .order-shipments {
	    float: left;
    	width: 100%;
    	padding-top: 20px;
    	 @media #{$iphone} {
			padding-top: 20px;
		}
    	h2 {
			font-size: $font-14;
			font-weight: normal;
			line-height: $font-14;
			font-family: $berthold-bold;
			letter-spacing: $font-05;
			text-transform: uppercase;
			padding: 20px 0;
    	}
    	.order-shipment-table {
		    float: left;
    		width: 100%;
		    border-bottom: 1px solid $mk-borderset-grey;
		    margin-bottom: 30px;
		    @media #{$iphone} {
				margin: 0;
				border-bottom:0;
			}
			@media #{$iphone} {
				.Order-product-heading {
					font-family: $berthold-md;
					font-size: $font-12;
					padding-bottom: 20px;
					letter-spacing: $font-05;
					text-transform: uppercase;
				}
			}
    	}
    	
    	.order-shipment-details {
    		width: 25%;
    		float:left;
    		 @media #{$iphone} {
				width: 100%;
			}
    		.shipping-status, .shipping-method {
    		    float: left;
    			width: 100%;
    			padding-right: 10px;
    			box-sizing: border-box;
	    		.label {
	    			font-family: $berthold-md;	
	    			float: left;
    			    margin: 0 3px 3px 0;
    			    @media #{$iphone} {
    			    	text-transform: lowercase;
    			    }
	    		}
	    		.value {
	    			line-height: $font-18;
	    			font-family: $berthold-light; 
	    		}
	    	}
    		.order-shipment-address {
    			float: left;
    			width: 100%;
    			.label {
    				min-height: 34px;
    				padding: 10px 0;
    				border-top: 1px solid $mk-borderset-grey;
    				border-bottom: 1px solid $mk-borderset-grey;
    				font-size: $font-12;
    				line-height: $font-12;
    				font-family: $berthold-md;	
					letter-spacing: $font-05;
					margin-bottom: 20px;
					text-transform: uppercase;
    			}
    			.summarybox {
    				padding-right: 20px;
    				margin-bottom: 20px;
    				.address {
    					> div {
    						margin-bottom: 3px;
    						font-family: $berthold-light; 
    						word-wrap: break-word;
    					} 
    				}
    			}
    		}
    	}
    	.line-items {
    		width: 100%;
    		float: right;  
    		 @media #{$iphone} {
				width: 100%;
				text-align: left;
			}
			.line-item {
				float: left;
				width: 100%;
				margin-bottom: 20px;
				padding-bottom: 20px;
				border-bottom: 1px solid $mk-borderset-grey;
				&:last-child {
					border-bottom: 0;
				}
				 @media #{$iphone} {
				 	padding-top: 20px;
				    float: left;
				    width: 100%;
				    margin-bottom: 0px;
				    padding-bottom: 20px;
				    &:first-child {
				    	padding-top: 0px;
				    }
				}
				.reasonfororderreturns {
					margin: 0;
					+ .returnreasonerrormobile { 
					    clear: both;
					    width: 100%;
					    float: left;
					}
				}
			}
			@media #{$iphone} {
				.line-item-details {
					width: 50%;
					float: left;
				}
				.line-item-quantity {
					width: 20%;
					float: left;
				}
				.line-item-price {
					width: 30%;
					float: left;
					text-align: right;
				}
			}
    		.line-item-details, .line-item-quantity {
			    float: left;
    			width: 30%;
    			.finalsalepdterror {
    				color: $mk-red;
    				a {
    				color: $mk-red;
    				}
    			}
    			&.line-image {
    				width: 20%;
    				float: left;
    			}
    			&.line-data {
    				width: 30%;
    				float: left;
    				.error-items {
    					padding-top: 10px;
	    				.item-error {
	    					color: $mk-red;
	    					font-family: $berthold-md;
	    				}
    				}
    			}
    			.qnt-val {
    				.pdt-qty {
    					box-sizing: border-box;
    				}
    			}
    			 @media #{$iphone} {
					width: 20%;
				    padding-right: 10px;
				    box-sizing: border-box;
				    &.line-data {
				     	width: 50%;
				     	float: left;
				     	padding-right: 0;
				     	text-align: left;
				    }
				    .line-item-quantity {
				    	width: 20%;
				    	float: left;
				    }
				    .label-mob-remove {
				    	display: none;
				    }
				}
				.item-status, .item-trackingnumber {
					margin-bottom: 3px;
					font-family: $berthold-light; 
					.item-status-label, .item-trackingnumber-label {
						font-family: $berthold-md; 
						font-size: $font-12;
					}
					.tracking-number {
						text-decoration: underline;
					}
				}
				.product-list-item {
					padding-right: 20px;
					box-sizing: border-box;
					@media #{$iphone} {
						padding-right: 10px;
					}
					.name {
						text-transform: uppercase;
					}
				}
    			.label {
    				padding: 10px 0;
    				border-top: 1px solid $mk-borderset-grey;
    				border-bottom: 1px solid $mk-borderset-grey;
					font-family: $berthold-md;	
					letter-spacing: $font-05;
					font-size: $font-12;
					min-height: 12px;
    				line-height: $font-12;
    				margin-bottom: 20px;
    				text-transform: uppercase;
    				@media #{$iphone} {
    					border-top: 0;
						border-bottom: 0;
						margin-bottom: 0;
    				}
    			}
    			.product-list-item {
    				.label {
    					border: 0;
    					font-family: $berthold-light; 
    				}
    				> div {
    					margin-bottom: 20px;
    					font-family: $berthold-light;
    					@media #{$iphone} {
    						margin-bottom: 5px;
    					}
    				}
    			}
    		}
    		.line-item-price {
			    float: right;
    			width: 20%;
    			text-align: right;	
    			 @media #{$iphone} {
				    width: 30%;
				    float: right;
				    text-align: right;
				    padding-right: 0;
				}
    			.label {
    				padding: 10px 0;
    				border-top: 1px solid $mk-borderset-grey;
    				border-bottom: 1px solid $mk-borderset-grey;
					font-family: $berthold-md;
					font-size: $font-12;
					text-transform: uppercase;
    				line-height: $font-12;	
    				margin-bottom: 20px;
					letter-spacing: $font-05;
					margin-bottom: 20px;
					@media #{$iphone} {
    					border-top: 0;
						border-bottom: 0;
						margin-bottom: 0;
    				}
    			}
    			.pri-val {
    				display: inline-block;
    				padding-right: 5px;
    				@media #{$iphone} {
    					padding-right: 0;
    				}
    			}	
    		}
    	}
    }
    .order-return-details {
	    float: left;
	    width: 100%;
	    margin-top: 35px;
	    &.return-item {
	    	.order-return-form {
	    		.actions {
	    			margin-top: 5px;
	    			.returnbtn {
    					margin-top: -10px;
    					float: right;
    					padding: 11.5px 10px;
						@media #{$iphone} {
    						margin-top: 0;
    						margin-bottom: 20px;
    					}
	    			}
	    		}
	    		.order-shipments {
    			    margin-bottom: 20px;
    				border-bottom: 1px solid $mk-borderset-grey;
    				.line-item {
    					.line-data {
    						@media #{$tablet} {
    							width: 40%;
    						}
    					}
    					.line-item-quantity {
    						@media #{$tablet} {
    							width: 10%;
    						}
    					}
    				}
	    		}
	    	}
	    }
	    .thank-messages {
	    	padding-bottom: 12px;
    	    text-transform: uppercase;
    	    font-family: $berthold-md;
    	}
	    .thank-message {
	    	padding-bottom: 12px;
	    	&.thank-return, &.name, &.email, &.reason {
	    		text-transform: initial;
	    	}
	    	&.email {
	    		border-bottom: 1px solid $mk-return-grey;
	    		margin-bottom: 20px;
	    		+ .actions {
	    			margin-top: 24px;
	    			@media #{$iphone} {
	    				margin-top: 0;
	    				margin-bottom: 20px;
	    			}
	    		}
	    	}
	    }
    }
	.orderdetails {
		width: 100%;
		float: left;
		&.order-return {
			.order-information {
				width: 100%;
			}
			.orderdetailsheading {
				padding: 0 0 10px 0; 
			}
		}
		.actions {
		    float: right;
		    text-align: right;
		    padding-bottom: 20px;
		    line-height: 14px;
		    a {
		    	margin-right: 0;
		    }
		}
		@media #{$iphone} {
			.shipping-method-mkmobile {
				width: 100%;
				float: left;
				padding-bottom: 20px;
				border-bottom: 1px solid $mk-miniborder-grey;
				font-family: $berthold-md;
				.label {
					display: inline-block;
					text-transform: capitalize;
					font-family: $berthold-md;
				}
				.value {
					display: inline-block;
					font-family: $berthold-light;
				}
			}
		}
		.orderdetailsheading {
			width: 100%;
			font-size: $font-18;
			font-family: $berthold-md;
			padding: 60px 0px 0px 0px;
			text-transform: uppercase;
			@media #{$iphone} {
				padding: 25px 0px;
			}
			.return-label {
				font-size: $font-12+1;	
			}
		}
		.order-payment-summary {
			width: 20%;
			float:left;
			@media #{$iphone} {
				width: 100%;
			}
			.label {
    			width: 100%;
    			float: right;
    			text-align: right;
    			font-size: $font-12;
	    		line-height: $font-12;
	    		font-family: $berthold-md;	
				letter-spacing: $font-05;
				color: $black;
				padding: 10px 0;
				min-height: 24px;
			    margin-bottom: 20px;
				border-bottom: 1px solid $mk-borderset-grey;
				span {
					width: 30%;
				    float: right;
				    text-align: right;
					display: block;
					@media #{$tablet} {
						width: 55%;
					}
					@media #{$iphone} {
						text-align: left;
					}
				}
    		}
    		.order-totals-table {
    			td {
    				padding: 0;
    				padding-bottom: 8px;
    				font-family: $berthold-light;
    			}
    			.order-subtotal, .order-total {
    				td {
    					font-family: $berthold-md;
					}
    			}
    			.order-total{
    			 	td {
    			 		font-size: $font-14+1;
    			 	}
    			 	@media #{$iphone} {
    			 		td {
    			 			padding-bottom: 20px;
    			 			border-bottom: 1px solid $mk-miniborder-grey;
    			 		}
    			 	}
    			}
    		}
		}
		.order-shipping {
			&.confirm-shippingmethod {
				width: auto;
				float: none;
			}
		}
    	.order-information, .order-payment-instruments, .order-billing, .order-shipping, .order-payment-summary {
    		float: left;
    		width: 20%;
    		 @media #{$tablet} {
    		 	&.order-information, &.order-billing, &.order-shipping {
    		 		width: 33.3%;
    		 	}
    		 	&.order-payment-instruments, &.order-payment-summary {
    		 		width: 50%;
    		 		margin-top: 20px;
    		 		.order-label {
    		 			border-top: 1px solid $mk-borderset-grey;
    		 		}
    		 	}
    		 }
    		 @media #{$iphone} {
				width: 100%;
				> .label {
					text-transform: uppercase;
				}
			}
			.shipping-method, .shipping-status {
				margin-top: 20px;
				.label {
					border-bottom: 0;
					border-top: 0;
					@media #{$iphone} {
						text-transform: capitalize;
					}
				}
			}
			.shipping-status {
				margin-top: 0;
			}
    		.label {
    			width: 100%;
    			text-align: left;
    			font-size: $font-12;
	    		line-height: $font-12;
    		    margin-bottom: 20px;
    		    min-height: 24px;
	    		font-family: $berthold-md;	
    		    text-align: left;
				letter-spacing: $font-05;
				padding: 10px 0;
				border-bottom: 1px solid $mk-borderset-grey;
				text-transform: none;
				border-top: 1px solid $mk-borderset-grey;
				@media #{$iphone} {
					border-top: 0;
					border-bottom: 0;
					margin: 0;
					padding: 20px 0px;
					min-height: 0;
					text-transform: uppercase;
				}
				@media print {
					 min-height: 36px;
				}
				span {
					width: 71%;
					display: block;
					text-transform: uppercase;
					@media #{$tablet-maxlandscape} {
						width: 85%;
					}
					@media #{$tablet} {
						width: 95%;
						font-size: 12px;
					}
					@media #{$iphone} {
						width: 100%;
					}
				}
    		}
    		.order-payment-section {
    			.payment-amount {
    				.label {
    					border-bottom: 0;
    				}
    			}
    		}
    	}
    	.order-information-main, .order-payment-section, .order-billing-section, .summarybox  {
			padding-right: 20px;
			span, > div, address, .address{
				font-family: $berthold-light;
				margin-bottom: 3px;
			    word-wrap: break-word;
			    > div {
			    	margin-bottom: 3px;	
			    	line-height: 17px;
			    }
			    &.label {
			    	border-bottom: 0;
			    	border-top: 0;
			    }
			}
			address {
				font-style: normal;
				line-height: $font-16+1;
			}
		}
    }
}
.pt_order {
	#main {
		padding: 0 25px 0 0;
		@media #{$iphone} {
			padding: 0 20px 20px 20px !important;
			.breadcrumb {
				padding-left: 0 !important;
			}
		}
	}
}
body {
	#wrapper {
		&.pt_order-confirmation {
			#main {
				padding: 0 3% 0 3%;
			}
			.form-caption {
				display: none;
			}
		}
	}
}

#wrapper {
	&.pt_order-confirmation {
		.top-banner {
			padding: 10px 2% 20px;
			margin-bottom: 40px;
			.primary-logo {
				padding: 19px 0 0 0;
			}
			.actions {
				position: relative;
				top: 16px;
				padding-left: 1%;
				width: auto;
				.continue {
					background-color: $white;
					color: $black;
					font-family: $berthold-regular;
					font-size: $font-12;
					text-transform: none;
					text-decoration: underline;
					padding: 0;
				}
			}
		}
		.create-account {
			.login-create-account {
				.login-box-content {
					h2 {
						font-family: $berthold-md;
						font-size: 13px;
						margin-bottom: 23px;
					}
					#RegistrationForm {
						label {
							display: none;
						}
						.form-row {
							margin: 0 0 20px 0;
						}
						.largebutton {
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}
