.primary-content {
	width: 75%;
	box-sizing: border-box; 
	border-left: none;
	background-color: $white;
	.pt_product-search-result & {
    	width: 85%;
    	@media #{$tablet-maxlandscape} {
    		width: 75%;
    	}
    	@media #{$tablet} {
    		width: 75%;
    	}
    }
}
#secondary {
	width: 25%;
    border: none;
    padding: 60px 40px 30px;
    background: $white;
    box-sizing: border-box;
    .pt_product-search-result & {
    	width: 15%;
    	padding-top: 30px;
    	@media #{$tablet-maxlandscape} {
    		width: 25%;
		    padding-left: 0;
    	}
    	@media #{$tablet} {
    		width: 25%;
		    padding-left: 0;
    	}
    	@media #{$iphone} {
    		padding: 0px 25px 30px;
    	}
    }
}

.pt_checkout{
	#main{
		padding: 23px 54px 0px 35px;
		clear: both;
    	box-sizing: border-box;
    	@media #{$tablet}{
    		padding: 23px 15px 0px 15px;
    	}
    	@media #{$iphone}{
			padding: 20px;
		}
    	#primary{
    		width: 72.292%;
    		@media #{$tablet}{
    			width: 67%;
    		}
    		@media #{$iphone}{
    			width: 100%;
    			margin-bottom: 30px;
    		}
    	}
    	#secondary{
    		width: 22%;
    		float: right;
    		background: transparent;
    		padding-bottom: 30px;
    		@media #{$tablet}{
    			width: 30%;
    		}
    		@media #{$iphone}{
    			width: 100%;
    		}
    	}
	}
}