/* perfect-scrollbar v0.6.14 */

.ps-container {
  -ms-touch-action: auto;
  touch-action: auto;
  overflow: hidden !important;
  position:relative;
  -ms-overflow-style: none;
  &.ps-active-x > .ps-scrollbar-x-rail, &.ps-active-y > .ps-scrollbar-y-rail {
    display: block;
    background-color: #fafafa;
    .refinement &{
    	background-color: #fff; 
        border: 1px solid #ebebeb;
        box-sizing: border-box;
    }
  }
  &.ps-in-scrolling {
    &.ps-x > .ps-scrollbar-x-rail {
      background-color: #fafafa;
      opacity: 1;
      > .ps-scrollbar-x {
        background-color: #ccc;
        height: 8px;
      }
    }
    &.ps-y > .ps-scrollbar-y-rail {
      background-color: #fafafa;
      > .ps-scrollbar-y {
        background-color: #ccc;
        width: 8px;
        .refinement & {
        	width: 15px;
        }
      }
    }
  }
  > {
    .ps-scrollbar-x-rail {
      display: none;
      position: absolute;
      /* please don't change 'position' */
      opacity: 0;
      -webkit-transition: background-color .2s linear, opacity .2s linear;
      -o-transition: background-color .2s linear, opacity .2s linear;
      -moz-transition: background-color .2s linear, opacity .2s linear;
      transition: background-color .2s linear, opacity .2s linear;
      bottom: 0px;
      /* there must be 'bottom' for ps-scrollbar-x-rail */
      height: 15px;
      > .ps-scrollbar-x {
        position: absolute;
        /* please don't change 'position' */
        background-color: #aaa;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
        transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
        -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
        -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
        transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
        transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
        bottom: 3px;
        /* there must be 'bottom' for ps-scrollbar-x */
        height: 6px;
      }
      &:hover > .ps-scrollbar-x, &:active > .ps-scrollbar-x {
        height: 8px;
      }
    }
    .ps-scrollbar-y-rail {
      display: none;
      position: absolute;
      /* please don't change 'position' */
      opacity: 1;
      -webkit-transition: background-color .2s linear, opacity .2s linear;
      -o-transition: background-color .2s linear, opacity .2s linear;
      -moz-transition: background-color .2s linear, opacity .2s linear;
      transition: background-color .2s linear, opacity .2s linear;
      right: 0;
      /* there must be 'right' for ps-scrollbar-y-rail */
      width: 15px;
      border: 1px solid #ebebeb;
      border-top-width: 0px;
      border-bottom-width: 0px;
      .refinement & {
        	width: 17px;
        }
      > .ps-scrollbar-y {
        position: absolute;
        /* please don't change 'position' */
        background-color: #aaa;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
        transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
        -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
        -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
        transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
        transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
        right: 3px;
        /* there must be 'right' for ps-scrollbar-y */
        width: 8px;
        .refinement & {
        	width: 15px;
        	border-radius: 0;
        	right: 0px;
        }
      }
      &:hover > .ps-scrollbar-y, &:active > .ps-scrollbar-y {
		width: 8px;
		.refinement & {
	    	width: 15px;
		    border-radius: 0;
		    background-color: #aaa;
		}
      }
    }
  }
  &:hover {
    &.ps-in-scrolling {
      &.ps-x > .ps-scrollbar-x-rail {
        background-color: #fafafa;
        > .ps-scrollbar-x {
          background-color: #ccc;
          height: 11px;
        }
      }
      &.ps-y > .ps-scrollbar-y-rail {
        background-color: #fafafa;
        > .ps-scrollbar-y {
          background-color: #ccc;
          width: 8px;
          .refinement & {
        	width: 15px;
        	background-color: #aaa;
			border-radius: 0;
          }
        }
      }
    }
    > {
      .ps-scrollbar-x-rail, .ps-scrollbar-y-rail {
       background-color: #fafafa;
      }
      .ps-scrollbar-x-rail:hover {
        background-color: #fafafa;
        > .ps-scrollbar-x {
          background-color: #ccc;
        }
      }
      .ps-scrollbar-y-rail:hover {
        background-color: #fafafa;
        > .ps-scrollbar-y {
          background-color: #ccc;
        }
      }
    }
  }
}

@supports (-ms-overflow-style: none) {
  .ps-container {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps-container {
    overflow: auto !important;
  }
}