@media print {
	.pt_order-confirmation #mini-cart, 
	.pt_order-confirmation .menu-utility-user,
	.pt_order-confirmation .menu-utility,
	.pt_order-confirmation .header-banner,
	.pt_order-confirmation #navigation{
		display:none;
	}
	.top-banner {
		background-color: $white;
	}
	.pt_order-confirmation {
	    padding: 10px 0px;
	    float: left;
	    width: 100%;
	    box-sizing: border-box;
	    #main {
    		padding: 0 !important;
    		margin: 0mm;
    		.confirmation {
    			.order-confirmation-details {
    				width: 100%;
			    	.orderdetails {
			    		.order-information, .order-billing, .order-payment-instruments, .order-payment-summary {
			    			span {
			    				width: 90%;
			    			}
			    		}
		    		}
		    	}
		    }
		}
	}
}
