.product-tile {
	.product-image {
		font-size: 0;
		&:hover .quickview {
			display: block;
		}
		.quickview {
	   		background-color: transparent;
		    font-size: $font-12;
		    font-family: $berthold-md;
	        text-transform: uppercase;
		    width: 45.285%;
    		padding: 11px 0;
    		color: $white;
    		.quickview-bg {
    			background-color: $white;
    			position: absolute;
			    left: 0;
			    top: 0;
			    width: 100%;
			    height: 100%;
			    z-index: 1;
			    opacity: 0.48;
    		}
    		.quickview-text {
    			position: relative;
    			z-index: 2;
    		}
    		&:hover .quickview-bg {
    			background-color: #111111;
    		}
    		i {
    			display:none;
    		}
		}
	}
	.product-swatches {
		text-align: left;
		float: none; 
		width: 100%;
		.product-swatches-all {
			+ .swatch-toggle {
			    width: 182px; 
			    margin-top: 6px;
			    padding: 14px 5px 8px 14px;
		        z-index: 99;
	            box-sizing: border-box;
                left: 0;
                @media #{$iphone} {
                	width: 175px;
                	padding: 14px 5px 8px 10px;
	                left: -8px;
	            }
		        li {
	        	    margin: 0 7px 6px 0;
		        }
			}
		}
		ul.swatch-list {
		    text-align: left;
		    &.swatch-toggle {
			    display: none;
			    -webkit-box-shadow: 0px 5px 10px 4px rgba(224,224,224,1);
    			-moz-box-shadow: 0px 5px 10px 4px rgba(224,224,224,1);
    			box-shadow: 0px 5px 10px 4px rgba(224,224,224,1);
			}
			li {
				width: auto;
				height: auto;
			    float: left;
			    margin-right: 8px;
			    &:last-child {
			    	margin-right: 0;
			    }
			    .swatch {
				    display: block;
				    width: 37px;
		    		border: 1px solid $white;
				    height: 37px;
				    padding: 2px;
				    box-sizing: border-box;
				    border-radius: 50%;
			        margin: 0 auto;
			        &:hover {
		    	   		border: 1px solid $black;
		    	   	} 
				    img {
				    	width: 29px;
				    	height: 29px;
				    	border-radius: 50%;
				    	border: 1px solid $mk-silver;
		    	        padding: 0;
				    }
				    &.selected{
				    	border: 1px solid $black;
				    	img {
					    	width: 29px;
					    	height: 29px;
			    	        padding: 0;
			    	        border: 1px solid $mk-silver;
					    }
				    }
				}
			}
		}
	}
	.product-swatches-all {
		color: $black;
		font-size: $font-10;
	    text-transform: uppercase;
	    box-sizing: border-box;
	    text-decoration: underline;
	}
	.product-name {
		text-align: left;
		font-size: $font-12 + 1;
		height: auto;
		margin: 15px 0 5px 0;
		padding: 0;
	    box-sizing: border-box;
			@media #{$iphone} {
		    	padding: 0 20px;
		    }
		    @media #{$iphone} {
		    	padding: 0;
		    }
		a {
    		color: $black;
    		font-family: $berthold-md;
		    text-transform: uppercase;
		    &:hover {
		    	text-decoration: none;
		    }
		    .product-name-title {
		    	font-family: $berthold-md;
		    	font-size: $font-14;
		    	letter-spacing: 1px;
		    }
		    .product-description {
		    	font-family: $berthold-regular;
		    	font-size: $font-14;
		    	color: $black;
		    	text-transform: none;
		    	letter-spacing: 1px;
		    }
	    }
	} 
	.product-pricing {
		text-align: left;
	    margin: 0 0 12px 0;
	    font-family: $berthold-regular;
	    font-size: $font-14;
	    .product-standard-price {
	    	color: $black;
	    }
	    .product-sales-price {
	    	color: $black;
	    	&.promotional-price {
				color: $mk-red;	
				margin-left: 2px;
			}    	
	    }
	}
	.product-promo {
		margin: 0 0 7px 0;
		.promotional-message {
			padding-bottom: 8px;
			font-size: $font-10 + 1;
			color: $black;
			text-transform: uppercase;
			font-family: $berthold-regular;
		}
	}
	.product-video {
		text-align: left;
		@media #{$iphone} {
			display: none;
		}
		.iframe-tile {
			border: 0;
			max-width: 100%;
		}
	}
}
