.pt_product-details {
	.fulldesc {
		width: 100%;
		float: left;
		margin-top: 30px;
		word-wrap: break-word;
	}
	.fp-root {
		clear: both;
		padding: 0 0 0;
	}
    .primary-content {
        float: left;
        width: 100%;
        box-sizing: border-box;
        padding: 0 2.34%;
    }
    .pdp-main {
    	.product-col-1, .product-set  {
    		width: 38.2%;
    		.product-primary-image { 
    			 margin: 0px 0px 20px;
    			 .primary-image-list {
    			 	li {
    			 		position: relative;
    			 		.wishlist-pdp {
    						position: absolute;
    						top: 8px;
    						right: 8px;
    						@media screen and (max-width : 1500px) and (min-width : 1400px) {
    							right: 6.9%;
    						}
    						@media screen and (max-width : 1600px) and (min-width : 1500px) {
    							right: 10%;
    						}
    						@media screen and (max-width : 1700px) and (min-width : 1600px) {
    							right: 12.9%;
    						}
    						@media screen and (max-width : 1800px) and (min-width : 1700px) {
    							right: 15%;
    						}
    						@media screen and (max-width : 1900px) and (min-width : 1800px) {
    							right: 19%;
    						}
    						@media screen and (max-width : 2100px) and (min-width : 1900px) {
    							right: 21%;
    						}
    						@media screen and (max-width : 2300px) and (min-width : 2100px) {
    							right: 23%;
    						}
    						@media screen and (max-width : 2500px) and (min-width : 2300px) {
    							right: 25.5%;
    						}
    						@media screen and (max-width : 2600px) and (min-width : 2500px) {
    							right: 26.8%;
    						}
    						@media screen and (min-width : 2600px) {
                				right: 8px;
                			}
    						.heart-icon {
    							width: 22px;
    							height:22px;
    							display: inline-block;
    							background: url("../../images/nocolor-heart-fill.png") no-repeat;
	    						@media #{$iphone} {
	    							display: none;
	    						}
	    					}
    						.loggedin-heart-icon {
    							width: 22px;
    							height:22px;
    							display: inline-block;
    							background: url("../../images/nocolor-heart-fill.png") no-repeat;
    							&.wishlist-added {
    								pointer-events: none;
    								background: url("../../images/heart-fill-icon.png") no-repeat;
    							}
    							@media #{$iphone} {
	    							display: none;
	    						}
    						}
    					}
    			 	}
    			 }
    		}
    		.product-thumbnails {
    			margin-bottom: 30px;
    			ul {
	    			.thumb {
		    			float: left;
		    			margin-right: 15px;
		    			padding: 3px;
		    			border: 1px solid $white;
		    			width:76px;
		    			max-height:91px;
		    			&.slick-current {
		    				border: 1px solid $black;	
		    			}
		    			a.thumbnail-link {
		    				display:block;
		    				width: 100%;
		    				height: 100%;
		    				text-align: center;
		    			}
		    			.app-desktop &:hover {
		    				border: 1px solid $black;
		    			}
		    			@media #{$iphone} {
		    				&:nth-child(3n+3) {
								margin-bottom: 10px;
								&:not(.slick-slide){
									margin-right: 0px;
								}
				        	} 
		    			}
	    			}
    			}
    			&.videoPrimarythumb {
    				ul {
    					.thumb {
    						&.slick-current {
    							border-color: $white;
    							&.selected {
    								border-color: $white;
    							}
    						}
    					}
    				}
    				.thumbvideo {
    					a.thumbnail-videolink {
							pointer-events: none; 
						}   				
    				}
    			}
    		}
    	}
        .product-col-2, .product-detail {
        	width: 58.284%;
    	    box-sizing: border-box;
    	    float:right;
    		.set-product {
    			float: left;
    			width: 100%;
    			border-bottom: 1px solid $mk-border-lightgrey;
    			@media #{$iphone} {
    				border-bottom: none;
    			}
    			.product-add-to-cart {
				    margin-left: 20%;
				    border-bottom: 0;
				    padding-left: 15px;
				    @media #{$iphone} {
	    				width: 100%;
	    				margin-left: 0%;
				    	padding: 25px 0 0 0;
	    			}
    				label, .salesprice {
    					font-family: $berthold-regular; 
        				font-size: $font-14+1;
        				color: $black;
        				text-transform: inherit;
        				font-weight: normal;
        				margin-right: 5px;
    				}
    				.product-price {
    					padding-bottom: 10px;
    				}
    			}
    		}
    		.productset-product {
			    margin-left: 20%;
			    border-bottom: 0;
			    padding-left: 15px;
    			@media #{$iphone} {
    				width: 100%;
    				margin-left: 0%;
			    	padding: 25px 0 0 0;
    			}
    			
    		}
            .product-detail {
                width: 100%;
                padding: 0px 0px 32px 32px;
                box-sizing: border-box;
            }
            .product-set-list {
            	.product-bundle-item {
            		border-bottom: 1px solid $mk-borderset-grey;
            		padding: 30px 0;
            		&:first-child { 
            			padding: 0 0 30px 0;
            		}
            		.product-add-to-cart {
            			border: 0;
					    padding: 0;
					    label {
					    	width: 100%;
					    	margin-bottom: 10px;
					    	font-size: $font-12;
					    	font-family: $berthold-md; 
					    }
            		}
            		.product-set-image {
        			    width: 20%;
        			    @media #{$tablet} {
							width: 21%;
						}
						@media #{$iphone} {
							width: 100%;
							padding: 0;
							margin-bottom: 25px;
						}
            		}
            		.product-set-details {
            			padding-left: 15px;
            			@media #{$tablet} {
							padding-left: 16px;
						}
            			.product-variations	{
            				border: 0;
            			}
            			.product-name {
            				.item-name { 
	            				font-family: $berthold-md; 
	            				font-size: $font-16;
	            				color: $black;
            				}
            			}
            		}
            	}  
            } 
        } 
        .product-name {
            width: 100%;
            margin: 0px 0px 13px;
            font-family: $berthold-md;
            padding: 0px;
            font-size: $font-20;
            line-height: $font-20;
            color: $black;
            letter-spacing: $font-05;
        }
        .product-price {
            margin: 0px;
            padding: 0px 0px 20px;
            font-size: $font-14;
            color: $black;
            width: auto;
            display: inline-block;
            .price-standard {
            	padding-right: 10px;
            	color: $black;
            	& + .price-sales {
                    color: $mk-red;
                }
            }
        }
        .final-sale {
        	padding-left: 10px;
        }
        .promotion {
        	width: 32%;
		    padding: 8px 0;
		    margin-bottom: 3px;
		    word-wrap: break-word;
	        .promotion-title {
	            text-transform: uppercase;
	        }
	        .promotion-callout {
        		font-size: $font-10 + 1;
	        	color: $black;
    			text-transform: uppercase;
	        	.callout-message {
    			}
	            .tooltip {
	            	color: $black;
	            	text-decoration: underline;
	            	cursor: pointer;
	            	.app-desktop &:hover {
	            		text-decoration: underline;
	            	}
	            }
	        }
	    }
        .product-variations {
            padding: 23px 0px 27.5px;
            border-bottom: 1px solid $mk-background-grey;
            @media #{$iphone} {
            	border-bottom: 0;
            }
            .attribute {
                margin: 0 0 22px 0px;
                &:last-child {
                	margin:0;
                }
                .label {
                    margin: 0px 0px 10px;
                    font-size: $font-12;
                    font-weight: normal;
                    width: auto;
                    float: left;
                    color: $black; 
                    font-family: $berthold-md;
                    letter-spacing: $font-05;
                    text-transform: uppercase;
                }
                .selected-value {
                    margin-left: 8px;
                    font-size: $font-12; 
                    line-height: $font-16+1;
                    font-weight: normal;
                    color: $black; 
                    font-family: $berthold-regular;
                    letter-spacing: $font-05;
                    text-transform: capitalize;
                    @media #{$tablet} {
                    	margin-top: 2px;
                    }
                }
                .size-chart-link {
                    float: left;
                    clear: none;
                    margin: 12px 0 0 3px;
                    @media #{$iphone} {
            			clear: both;
            			width: 100%;
            		}
                    a {
                        font-family: $berthold-light;
                        font-size: $font-12;
                        font-weight: normal;
                        color: $black; 
                        letter-spacing: $font-05;
                        text-decoration: underline;
                        .app-desktop &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .value {
                float: left;
                width: 100%;
                .swatches {
                    float: left;
                    width: auto;
                    > li {
                        a {
                            font-size: $font-12 - 1px;
                            font-weight: normal;
                            color: $black; 
                            letter-spacing: $font-05;
                            text-transform: uppercase;
                        }
                    }
                }
                .color {
                    > li.selectable {
                    	width: 50px;
	            		height: auto;
                    	margin-right: 12px;
                    	@media #{$tablet} {
							height: 60px;
							margin-bottom: 15px;
						}
						@media #{$iphone} {
							height: 60px;
							margin-bottom: 15px;
						}
                        a {
                            width: 36px;
						    height: 36px;
						    padding: 2px;
						    box-sizing: border-box;
						    border-radius: 50%;
						    margin: 0 auto;
						    border: 1px solid $white;
                            img {
                            	width: 30px;
							    height: 30px;
							    box-sizing: border-box;
							    border-radius: 50%;
							    border: 1px solid $mk-border-grey-lit;
                            }
                            .app-desktop &:hover {
	                            border: 1px solid $black;
	                        }
                        }
                        .swatchName {
                        	margin-top: 5px;
					    	width: auto;
					    	font-size: $font-10;
					    	font-family: $berthold-regular;
					    	color: $black;
					    	text-align: center;
					    	word-wrap: break-word;
					    }
                        &.selected {
                            a {
                                border: 1px solid $black;
                            }
                        }
                    }
                    li.unselectable {
                    	width: 32px;
                    	height: 32px;
                    	padding: 2px;
                    	margin-right: 12px;
                    	cursor: text;
                		a {
                			width: 32px;
                            height: 32px;
                            box-sizing: border-box;
                            position: relative;
                            border: 1px solid $white;
                            overflow: hidden;
                            margin-right: 0;
                            &:after {
	                        	content: "";
							    position: absolute;
							    border-top: 1px solid $mk-background-grey;
							    height: 100%;
							    -webkit-transform: rotate(45deg);
							    transform: rotate(45deg);
							    -webkit-transform-origin: 0% 0%;
							    transform-origin: 0% 0%; 
							    left: 0;
							    top: 0;
							    padding: 6px;
							    width: 100%;
	                        }
                		}
                	}
                }
                .size {
                    float: left;
                    .swatchName {
                    	display: none;
                    }
                    > li.selectable {
                        float: left;
                        margin-right: 12px;
                        border: 1px solid $white;
                        padding: 2px;
                        .app-desktop &:hover {
                            color: $white;
                            padding: 2px;
                            border: 1px solid $black;
                            a {
                            	background-color: $black;
                                color: $white;
                            }
                        }
                        a {
                            color: $black;
                            min-height: 32px;
                            min-width: 32px;
                            border: 1px solid $black;
                            line-height: 32px;
                            text-align: center;
                            font-family: $berthold-bold;
                            font-size: $font-12;
                            &:hover {
                            	text-decoration: none;
                            }
                        }
                        &.selected {
                        	padding: 2px;
                            border: 1px solid $black;
                            a {
                                color: $white;
                                background-color: $black;
                            }
                        }
                    }
                    li.unavailableVariant {
                    	border: 1px solid $white;
                    	padding: 2px;
                    	margin-right: 12px;
                    	a {
                    		color: $mk-background-grey;
                            height: 32px;
                            width: 32px;
                            border: 1px solid $mk-background-grey;
                            line-height: 32px;
                            text-align: center;
                            font-family: $berthold-bold;
                            font-size: $font-12;
                            overflow: hidden;
                            position: relative;
                            &:hover {
                            	text-decoration: none;
                            }
                            &:after {
                        	    content: "";
							    position: absolute;
							    border-top: 1px solid $mk-background-grey;
							    height: 100%;
							    -webkit-transform: rotate(45deg);
							    transform: rotate(45deg);
							    -webkit-transform-origin: 0% 0%;
							    transform-origin: 0% 0%; 
							    left: 0;
							    top: 0;
							    padding: 20px;
							    width: 100%;
                            }
                    	}
                    }
                }
            }
        }
        .product-add-to-cart {
            padding: 26px 0px 30px 0;
            border: none;
            border-bottom: 1px solid $mk-border-lightgrey;
            @media #{$iphone} {
            	border-bottom: 0;
            	padding-top: 12px;
            }
            .availability-web, .availability-instore {
            	margin-bottom: 0px;
            	.availabilityError, .not-available-msg {
            		color: $black;
            		font-size: $font-12;
            		font-family: $berthold-regular;
            	}
            	.not-available-msg {
            		color: $mk-red;
            	}
            	.in-stock-msg, .availability-novariation {
            		 font-family: $berthold-regular;
            		 font-size: $font-12;
            		 color: $black;
            		 line-height: $font-12;
            		 font-weight: normal;
            	}
            	.in-stock-left {
            		color: $black;
            	}
            	 .availability-novariation {
            	 	color: $black; 
            	 }
            	label {
            		display: none;
            		width: 100%;
            		font-family: $berthold-md;
            		 font-size: $font-12;
            		 color: $black;
        		     margin-bottom: 1px;
        		     font-weight: normal;
            	}
            }
            .quantity-label {
                margin: 0 10px 7px 0;
      	        font-family: $berthold-md;
                font-size: $font-12;
                font-weight: normal;
                color: $black; 
                letter-spacing: $font-05;
                text-transform: uppercase;
            }
            .inventory {
                margin-right: 20px;
                .quantity {
                    input {
                        width: 30px;
                        height: auto;
                        margin: 0px;
                        padding: 8.5px 11px; 
                  		font-family: $berthold-md;
                        font-size: $font-12;
                        font-weight: normal;
                        color: $black; 
                        letter-spacing: $font-05;
                        text-align: center;
                        border: none;
                        outline: none;
                        box-sizing: content-box;
                        border: 1px solid $black;
                         @media #{$iphone} { 
		                	width: 100%;
		                }
                    }
                }
            }
            > button {
                width: 42%;
    			margin-right: 51px;
                padding: 11px 30px;
                font-size: $font-12 + 1;
    			border-radius: 0;
                font-weight: normal;
                color: $white; 
                background-color: $black;
                font-family: $berthold-md;
                letter-spacing: $font-1;
                text-transform: uppercase;
                outline: none;
                -moz-box-shadow: none;
    			-webkit-box-shadow: none;
    			box-shadow: none;
                @media #{$tablet} { 
                	width: 100%;
                	margin: 0;
                }
                @media #{$iphone} { 
                	width: 100%;
                	margin: 0;
                }
            }
            .add-all-to-cart {
            	padding: 11px 52px;
            }
        }
        .product-actions {
            padding: 0px;
            @media #{$iphone} { 
            	position: relative;
				float: left;
				width: 100%;
				min-height: 60px;
            }
            .socialsharing {
                width: 100%;
                margin: 0px;
                padding: 25px 0;
                float: left;
                @media #{$iphone} {
                	padding: 0 0 25px 0;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					width: auto;
                }
                > a {
                    float: left;
                    display: block;
                    padding: 5px 7px;
                    &:first-child {
                    	padding-left: 0;
                    }
                    .fb {
                        display: block;
                        width: 13px;
                        height: 24px;
                        background-position: -330px -19px;
                    }
                    .tweet {
                        display: block;
                        width: 23px;
                        height: 19px;
                        background-position: -360px -19px;
                        margin-top: 4px;
                    }
                }
            }
        }
        .product-info {
            border-top: 1px solid $mk-border-lightgrey;
            padding: 34px 0px 0px;
            float: left;
            width: 100%;
            min-height: 350px;
            .pdp-tabs {
            	float: left;
            	width: 100%;
            	input[type="radio"]:checked + label {
            		border-bottom: 3px solid $black;
            	}
            	.tab-head  {
            		margin-bottom: 20px;
            	}
				.tab-content {
					margin-bottom: 20px;
					@media #{$iphone} {
						margin-bottom: 0px;
						&.tab-2
						{
							border-bottom: 1px solid $black;
						}
					} 
					
					@media #{$iphone} {
						&.tab-1 {
							padding-top: 40px;
							margin-bottom: 40px;
						} 
					}
					.recommendation {
						.tiles-container {
							width: 70%;
							margin: 0 auto;
							.slick-slide {
								margin: 0 5px;
								.product-image {
									margin-bottom: 15px;
									display: inline-block
								} 
								.product-name {
									margin: 0;
									a{
										font-size: $font-12+1;
										
									}
								}
								.product-price {
									.price-standard, .price-sales {
										font-size: $font-12+1;
										font-family: $berthold-regular;
									}
								}
							}
						}
					} 
					&.tab-2, &.tab-3 {
						padding: 0 0 40px 0;
						font-family: $berthold-regular;
						font-size: $font-12+1;
	    		 		color: $black;
	    		 		.tabcontainer-2, .tabcontainer-3 {
	    		 			width: 48%;
	    		 			margin: 0 auto;
	    		 			@media #{$iphone} {
	    		 				width: 100%;
	    		 			}
	    		 		}
						label {
							text-align: left;
							font-size: $font-12+1;
	        		 		color: $black;
							padding-bottom: 20px;
							font-family: $berthold-md;
						}
					}
					label {
						text-align: center;
						text-transform: uppercase;
					}
				}
			}
			.recommendations {
				#carousel-recommendations {
					width: 80%;
					.grid-tile {
						width:327px;
						.product-name {
							font-family: $berthold-md;
                    		font-size: $font-12;
                    		color: $black;
                    		margin-bottom: 5px;
						}
						.product-price {
							.price-sales {
								font-family: $berthold-md;
	                    		font-size: $font-12;
	                    		color: $black;
							}
						}
					}
					.jcarousel-prev {
						i {
						    background-position: -11px -157px;
						    display: block;
						    width: 21px;
						    height: 41px;
						}
					}
					.jcarousel-next {
						i {
							background-position: -47px -157px;
						    display: block;
						    width: 21px;
						    height: 41px;
					    }
					}
				}
			}
			.tab-head {
                > label {
                    font-family: $berthold-md;
                    font-size: $font-12;
                    color: $black;
                    letter-spacing: $font-05;
                    text-transform: uppercase;
                    border-bottom: 3px solid $white;
                    .app-desktop &:hover {
                        border-bottom: 3px solid $black;
                    }
                }
                .tab-content {
                    top: 25px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 60%;
                    margin: 0 auto;
                    .product-tile {
                        .product-image {
                            width: 210px;
                            height: 335px;
                        } 
                    }
                }
            }
        }
    }
}

.availability-dynamic-message {
	//display: none;
	display: block;
	width: 42%;
    padding: 15px 12px;
    box-sizing: border-box;
    background-color: #e0e0e0;
    margin-bottom: 20px;
    @media #{$tablet} { 
    	width: 100%;
    }
    @media #{$iphone} { 
    	width: 100%;
    }
	&.active {
		display: block;
		background-color: #e0e0e0;
	}
}

.product-primary-image {
	button	{
		&.slick-prev {
		    left: 0%;
		    top: 50%;
		    @media #{$iphone} {
				left: 0;
			}
	    }
	    &.slick-next {
		    right: 0%;
		    top: 50%;
		    @media #{$iphone} {
				right: 0;
			}
	    }
    }
}
.product-thumbnails .slick-slider{
	padding: 0 30px;
	@media #{$iphone} {
		padding: 0 20px;
	}
	button.slick-prev{
		left: 0px;
		top: 50%;
		margin-top: -20px;
		&.slick-disabled {
			//display: none !important;
			opacity: 1;
		}
	}
	button.slick-next{
		right: 0px;
		top: 50%;
		margin-top: -20px;
		&.slick-disabled {
			//display: none !important;
			opacity: 1; 
		}
	}
	.thumb{
		margin: 0 7px;
	}
}
#wrapper {
	&.pt_product-search-result {
		.primary-content {
			.no-results {
				padding-left: 0px;
				letter-spacing: $font-05;
				font-size: $font-14;
				@media #{$iphone} {
					padding-left: 20px;
				}
			}
			@media #{$iphone} {
				.search-promo {
					padding: 0px;
				}
			}
		}
	}
}
.pdp-main {
	.product-col-1 {
		.product-primary-image {
			.main-image {
				.product-zoom {
					margin: 0 auto;
					@media screen and (min-width : 2600px) {
        				width: 100%;
        			}
				}
			}
		}
		.product-thumbnails {
			li.thumbvideo {
				box-sizing: border-box;
				margin-top: 52px;
				text-align: center;
				list-style-type: none;
				@media #{$iphone} {
					display: none;
				}
				.thumbnail-link {
					display: inline-block;
					width: 49px;
					height: 65px;
					background: url("../../images/video-thumb.png") no-repeat;
				}
			}
		}
	}
	.iframe-video {
		border: 0;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%
	}
}

#pdpMain {
	.product-primary-image {
		.primary-image-list {
			display: none;
			&.active {
				display: block;
			}
			
			&.primaryset {
				display: block;
			    position: absolute;
			    opacity: 0; 
			    max-width: 100%;
			    top: -55555px;
			}
		}
		.video-rendering-area {
			display: none;
			&.active {
				position: relative;
				height: 100%;
				display: block;
			}
		}
	}
}

.bv-show-summary {
	padding: 10px 0px;
	width: auto;
	float: left;
	.bv_main_container {
		.bv_button_component_container {
			.bv_button_buttonMinimalist {
				text-decoration: underline !important;
				&:hover {
					text-decoration: underline !important;
				}
			}
		}
	}
}
.bv-custom-readallreview {
	width: auto;
    float: left;
    padding-top: 16px;
    @media #{$tablet}{
    	padding-top: 0;
    	margin-bottom: 15px;
    }
    @media #{$iphone} {
    	padding-top: 0;
    	margin-bottom: 15px;
    }
    a {
    	cursor: pointer !important;
        color: #000000!important;
	    font-size: 11px!important;
	    font-family: $berthold-md!important;
	    text-transform: none!important;
	    font-weight: normal!important;
	    font-style: normal!important;
	    text-decoration: underline;
    }
}
.bv-main-container {
	max-width: 960px;
    margin: 0 auto;
    width: 100%;
    clear: both;
}
.tab {
	&.reviews {
		width: 100%;
		.tab-label {
			padding: 10px 0;
			margin: 0 10px 12px;
			font-size: $font-14;
			font-family: $berthold-md;
			border-bottom: 1px solid $mk-border-lightgrey;
			&.active {
				.fa {
					transform: none;
				}
			}
			.fa {
				float: left;
				margin-right: 5px;
				font-size: $font-16;
				transform: rotate(270deg);
			}
		}
	}
}


@media #{$tablet-desktop} {
	.pdp-main {
		.product-col-2-main {
			width: 100%;
		}
		&.lg-md-fixed, &.lg-md-absolute {
			.product-col-2-main {
				width: 43.9%;
			}
		}
		
		&.lg-md-fixed {
			.product-col-2-main, .product-thumbnails {
				position: fixed;
				top: 0;
			}
		}
		
		&.lg-md-absolute {
			.product-col-2-main {
				position: absolute;
				bottom: 0;
				top: auto !important;
			}
		}
	}
	#wrapper {
		&.pt_product-details {
			#main {
				padding: 0 3% 0 3%;
				#primary {
					padding: 0 0 0 3.34%;
					.pdp-main {
						.product-col-1 {
							width: 50.6%;
							float: left;
							.product-primary-image {
								width: 84%;
								float: right;
								padding: 0 40px;
								box-sizing: border-box;
								&.videoPrimary {
									position: relative;
									width: 100%;
									padding: 0 0 0 15%;
								}
							}
							.product-thumbnails {
								width: 85px;
								float: left;
								margin-top: 40px;
								
								&.videoPrimarythumb {
									margin-top: 20px;	
								}
								&.lg-md-thumb-absolute {
									position: absolute;
									bottom: 0;
									top: auto !important;
								}	
								.slick-slider {
									padding: 0;
									button.slick-prev {
										-webkit-transform: rotate(90deg);
										transform: rotate(90deg);
									    left: 33px;
									    top: -14%;
									    margin-top: 0px;
									}
									button.slick-next {
										-webkit-transform: rotate(90deg);
										transform: rotate(90deg);
									    left: 33px;
									    top: 100%;
									    margin-top: 0px;
									}
								}
								ul {
									li {
										float: left;
										margin: 0 10px 10px;
									    padding: 3px;
									    width: 60px;
									    max-height: 91px;
									    &.slick-current {
									    	&.selected {
									    		max-height: 91px;
									    		border: 1px solid $black;
									    	}
									    }
									    a {
									    	float: left;
									    	dipslay: block;
									    	img {
									    		cursor: pointer;
											    max-width: 100%;
											    max-height: 100%;
											    height: auto;
											    display: inline-block;
									    	}
									    }
									}
								}
								&.videoPrimarythumb {
                                    ul {
	                                      .thumb {
		                                        &.slick-current {
		                                              border-color: $white;
		                                              &.selected {
		                                                    border-color: $white;
		                                              }
		                                        }
	                                      }
                                    }
                              	}
								
							}
						}
						.product-col-2 {
							width: 48.3%;
							float: right;
							.brand-name {
								.product-name {
									margin: 0px 0px 5px;
								}
							}
							.product-descname {
								font-family: $berthold-regular;
								font-size: $font-18;
								letter-spacing: 1px;
								margin-bottom: 5px;
							}
							.product-information-section {
								padding: 30px 0;
								width: 100%;
								float: left;
								.item-description, .product-details {
									font-family: $berthold-regular;
									font-size: $font-14;
									letter-spacing: 1px;
									line-height: 20px;
									.tab-label {
										font-family: $berthold-bold;
										font-size: $font-12;
										text-transform: uppercase;
										letter-spacing: 1px;
										margin-bottom: 14px;
									}
								}
								.item-description {
									margin-bottom: 20px;
								}
								.product-details {
									ul {
										padding-left: 16px;
										margin-bottom: 16px;
										li {
											list-style-type: square;
										}
									}
								}
							}
							.product-add-to-cart {
								border-bottom: 0;
								padding-bottom: 0;
							}
							.product-variations {
								padding: 0;
								border-bottom: 0;
								.attribute {
									margin: 0;
									padding: 25px 0 15px;
									border-top: 1px solid $mk-border-grey-lit;
									&:last-child {
					                	padding-bottom: 10px;
					                }
									.value {
										.size {
											li {
												a {
													border: 1px solid $mk-border-grey-lit;
												}
											}
										}
									}
								}
							}
							.product-price {
								font-family: $berthold-regular;
								padding-bottom: 25px;
							}
							.delivery-returns {
								width: 100%;
								float: left;
								margin-bottom: 5px;
								.product-delivery-head {
									font-family: $berthold-md;
									font-size: $font-12;
									letter-spacing: 1px;
									text-transform: uppercase;
									margin: 0;
									padding: 15px 0;
									border-top: 1px solid $mk-border-grey-lit;
									border-bottom: 1px solid $mk-border-grey-lit;
									&:before {
										content: ' ';
										float: right;
										position: absolute;
										right: 10px;
										display: inline-block;
										width: 12px;
										height: 12px;
										background: url("../../images/mk-icons-sprite.png") no-repeat -313px -244px;
									}
									&.act {
										border-bottom: 0;
										&:before {
											width: 12px;
											height: 2px;
											background: url("../../images/mk-icons-sprite.png") no-repeat -274px -248px;
										}
									}
								}
								.deliveryreturnslot {
									display: none;
									&.active {
										display: block;
										padding: 5px 0px;
									}
								}
							}
						}
						.product-info {
							display: none;
							width: 100%;
							float: left;
							clear: both;
							padding: 0;
							min-height: 0;
							border-top: 0;
						}
					}
				}
				.secondary {
					width: 100%;
					float: left;
					.recommendations {
						width: 100%;
						float: left;
						clear: both;
						padding: 25px 0;
						box-sizing: border-box;
						border-top: 1px solid $mk-border-grey-lit;
						margin-top: 30px;
						.b-lazy {
							opacity: 1;
						}
						.grid-tile {
							box-shadow: 0 0 0 0;
						}
						.tab-label {
							padding-bottom: 25px;
							text-align: center;
							font-family: $berthold-md;
							font-size: $font-12;
							text-transform: uppercase;
							letter-spacing: 1px;
						}
						.recommendation {
							.recommendation-item {
								width: 23%;
								float: left;
								margin: 0 10px;
								img {
									margin: 0 auto;
								}
							}
							button.slick-next {
								right: 0;
							}
							button.slick-prev {
								left: 0;
							}
						}
					}
				}
			}
		}
	}
}

@media #{$tablet-maxlandscape} {
	#wrapper {
		&.pt_product-details {
			#main {
				#primary {
					.pdp-main {
						.product-col-1 {
							.product-primary-image {
								width: 80%;
								&.videoPrimary {
									padding: 0 0 0 17%;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media #{$tablet} {
	#wrapper {
		&.pt_product-details {
			#main {
				#primary {
					.pdp-main {
						.product-col-1 {
							.product-primary-image {
								width: 75%;
								padding: 0 30px;
								&.videoPrimary {
									padding: 0 0 0 24%;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media #{$iphone} {
	#wrapper {
		&.pt_product-details {
			#main {
				padding: 0 !important;
				#primary {
					.pdp-main {
						.product-col-1 {
							.product-primary-image {
								width: 100%;
							}
						}
						.product-col-2 {
							.product-actions {
								min-height: 0;
							}
						}
					}
				}
			}
		}
	}
}

.edit-cart-popup {
	.product-detail {
		.product-col-2-main {
			.product-variations {
				ul {
					li {
						.swatchName {
							display: none;
						}
					}
				}
			}
		}
		.product-information-section {
			.item-description, .product-details {
				font-family: $berthold-regular;
				font-size: $font-14;
				letter-spacing: 1px;
				line-height: 20px;
				.tab-label {
					font-family: $berthold-bold;
					font-size: $font-12;
					text-transform: uppercase;
					letter-spacing: 1px;
					margin-bottom: 14px;
				}
			}
			.product-details {
				margin-top: 20px;
				ul {
					padding-left: 16px;
					margin-bottom: 16px;
					li {
						list-style-type: square;
					}
				}
			}
		}
		.delivery-returns {
			width: 100%;
			float: left;
			margin: 20px 0 5px 0;
			.product-delivery-head {
				font-family: $berthold-md;
				font-size: $font-12;
				letter-spacing: 1px;
				text-transform: uppercase;
				margin: 0;
				padding: 15px 0;
				border-top: 1px solid $mk-border-grey-lit;
				border-bottom: 1px solid $mk-border-grey-lit;
				&:before {
					content: ' ';
					float: right;
					display: inline-block;
					width: 12px;
					height: 12px;
					background: url("../../images/mk-icons-sprite.png") no-repeat -313px -244px;
				}
				&.act {
					border-bottom: 0;
					&:before {
						width: 12px;
						height: 2px;
						background: url("../../images/mk-icons-sprite.png") no-repeat -274px -248px;
					}
				}
			}
			.deliveryreturnslot {
				display: none;
				&.active {
					display: block;
					padding: 5px 0px;
				}
			}
		}
	}
}

#wrapper.pt_product-details {
	#main {
		#primary {
			.pdp-main {
				.product-col-1 {
					.product-thumbnails ul li.slick-current.selected.deselectVal {
  						border-color: $white;
  					}
  				}
  			}
  		}
  	}
}

.ui-dialog {
	&.wishlist-dialog {
		width: 25% !important;
		top: 280px;
		left: 22.6% !important;
		z-index: 9;
		box-shadow: 0 3px 3px 0 rgba(66, 66, 66, 0.2);
		.ui-dialog-titlebar {
			height: 15px;
			.ui-button { 
				.ui-icon-closethick {
					top: 5px;
				}
			}
		}
		#wishlist-response {
		    height: auto;
		    padding: 5px 10px 15px 10px;
		    text-align: center;
		    .response-text {
		    	font-family: $berthold-regular;
		    	font-size: $font-14;
		    	letter-spacing: 1px;
		    	display: block;
		    	margin-bottom: 6px;
		    }
		    .response-link {
		    	a {
		    		font-family: $berthold-regular;
			    	font-size: $font-14;
			    	letter-spacing: 1px;
			    	text-decoration: underline;
		    	}
		    }
	    }
	}
}
//NotifyMe
.bisn-notify-me {
	font-size: $font-14;
    line-height: $font-20;
    letter-spacing: $font-1;
    margin-top: 5px;
    .bisn-link {
    	text-decoration: underline;
    	cursor: pointer;
    	&:hover {
    		text-decoration: none;
    	}
    }
}
.ui-dialog {
 	&.Bisn_popup {
 		border: 1px solid $mk-minipromo-grey;
    	box-shadow: 3px 3px 5px $mk-minipromo-grey;
    	+ .ui-widget-overlay {
		    background: white !important;
			opacity: 0.1 !important;
    	}
 		.ui-widget-header {
			padding: 0;
		}
		.ui-dialog-titlebar-close {
			height: 15px;
			width: 15px;
			span {
				height: 15px;
			    width: 15px;
			    background-size: contain;
			    top: 8px;
			    right: 9px;
			    left: initial;
			}
		}
		.ui-dialog-content {
			padding: 0 14px 20px 14px !important;
			@media #{$tablet} {
				overflow: auto;
			} 	
			@media #{$iphone} {
				overflow: auto;
			}
			.bisnPopUpHeading {
				.label {
					font-size: $font-12;
				    line-height: $font-20;
				    letter-spacing: $font-1;
				    font-family: $berthold-md;
				    margin-bottom: 10px;
				}
				.bisnDescription {
					font-size: $font-14;
				    line-height: $font-20;
				    letter-spacing: $font-1;
				    font-family: $berthold-regular;
				    margin-bottom: 30px;
				}
			}
			.bisnProductInfoRow {
				ul {
					list-style-type: none;
					li {
						width: 36px;
					    height: 36px;
					    float: left;
					    margin-right: 11px;
					    border: 1px solid $mk-silver;
					    display: inline-block;
					    margin-bottom: 14px;
					    &:nth-child(6n) {
					    	margin-right: 0;
					    }
					    &.selected {
					    	background: $black;
							color: $white;
					    }
					    span {
					    	display: inline-block;
						    width: 100%;
						    height: 100%;
						    line-height: $font-24 + 12;
						    text-align: center;
						    font-size: $font-12;
						    letter-spacing: $font-1;
						    font-family: $berthold-md;
					    }
					}
				}
			}
			.bisnEmailFormContainer {
				width: 100%;
			    float: left;
		    	.bisnemail {
		    		font-size: $font-14;
				    line-height: $font-20;
				    letter-spacing: $font-1;
				    border-color: $mk-silver;
				    font-family: $berthold-regular;
				    padding: 7px;
				    text-transform: initial;
				    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: $mk-grey;
					}
					&::-moz-placeholder { /* Firefox 19+ */
					  color: $mk-grey;
					}
					&:-ms-input-placeholder { /* IE 10+ */
					  color: $mk-grey;
					}
					&:-moz-placeholder { /* Firefox 18- */
					  color: $mk-grey;
					}
		    	}
		    	#bisnemailnstatus {
		    		display: block;
		    		padding: 6px 0 0;
		    	}
		    	button {
				    width: 100%;
				    font-size: $font-16;
				    line-height: $font-24 + 2;
				    letter-spacing: $font-1;
				    padding: 7px 0;
				    font-family: $berthold-md;
				    background: $black;
			    	color: $white;
		    	}
		    	button[disabled] {
			    	background: $mk-border-grey-lit;
			    	color: $white;
			    }
			}
			.bisn-thankyou-cont {
				.bisn-thankyou {
					font-size: $font-12;
				    line-height: $font-20;
				    letter-spacing: $font-1;
				    font-family: $berthold-md;
				    margin-bottom: 40px;
				}
				.thankyou-content {
					font-size: $font-14;
				    line-height: $font-20;
				    letter-spacing: $font-1;
				    font-family: $berthold-regular;
				    margin-bottom: 50px;
				}
				.bisn-continueshop {
					background: $black;
				    width: 100%;
				    font-size: $font-16;
				    line-height: $font-24 + 2;
				    letter-spacing: $font-1;
				    padding: 7px 0;
				    font-family: $berthold-md;
				    color: $white;
				}
			}			
		}
 	}
 }
 
.load-pdp {
 	height: 2000px;
 }