.ui-draggable { 
    .pdp-main {
    	.product-col-1  {
    		width: 52%;
    		padding: 0;
    		&.product-set {
			    width: 41.5%;	
			    .product-primary-image {
                    margin-bottom: 20px;
                }
    		}
    		.product-thumbnails {
    			margin-bottom: 30px;
    			ul {
	    			.thumb {
		    			width: 76px;
		    			float: left;
		    			height: 90px;
		    			margin-right: 18px;
		    			padding: 3px;
		    			border: 1px solid $white;
		    			&:hover, &.selected {
		    				border: 1px solid $black;
		    			}
		    			.thumbnail-link {
	    				    display: block;
						    width: 100%;
						    height: 100%;
						    text-align: center;
						     img { 
						     	display: initial;
						     }
		    			}
	    			}
    			}
    		}
    	}
        .product-col-2, .product-detail {
        	width: 42.22%;
        	float: right;
        	padding: 0;
        	&.product-set {
        		padding-right: 0;
        		width: 53%;
        	}
            .product-detail {
                width: 100%;
                padding: 0px 0px 32px 32px;
                box-sizing: border-box;
            }
            .set-product {
    			float: left;
    			width: 100%;
    			border-bottom: 1px solid $mk-border-lightgrey;
    			.product-add-to-cart {
    				width: 75%;
    				float: right;
    				border-bottom: 0;
    				.product-price {
    					padding: 0 0 10px ;
    				}
    			}
    		}
    		.productset-product {
    			float: right;
    			width: 75%;
    		}
            .product-set-list {
            	width: 100%;
            	max-height: 400px;
        		overflow: auto;
            	.product-bundle-item {
	        	    border-bottom: 1px solid $mk-borderset-grey;
	    			padding: 30px 0;
            		.product-set-image {
        			    width: 22%;
        			    @media #{$tablet} {
							width: 21%;
						}
					}
    			}
            	.product-variations {
    				border-bottom: 0;
    			}
    			
            	.add-sub-product {
            		padding: 0;
				    border-bottom: 0;
				    label {
				    	width: 100%;
				    	margin-bottom: 6px;
				    }
            	}
            	.product-set-details{
            		padding-left: 13px;
            		.product-name {
            			a {
            				font-family: $berthold-md; 
            				font-size: $font-16;
            				color: $black;
            			}
            			.product-price {
            				margin: 0;
            			}
            		}
            	}
            }
        	#view-full-details {
        		font-size: $font-12;
        		color: $black;
        		font-family: $berthold-regular;
        		text-transform: uppercase;
        		margin-bottom: 15px;
				display: block;
        		&:hover {
        			text-decoration: underline;
            	}
            }
        }
        .product-name {
            width: 100%;
            line-height: $font-20;
            margin: 0px 0px 13px;
            font-family: $berthold-md;
            padding: 0px;
            font-size: $font-20;
            color: $black;
            letter-spacing: $font-05;
            text-transform: uppercase;
        }
        .product-price {
            margin: 0px;
            padding: 0px 0px 20px;
            font-size: $font-14;
            width: auto;
            display: inline-block;
            .price-standard {
            	color: $black;
            	& + .price-sales {
                    color: $mk-red;
                }
            }
        }
        .final-sale {
        	padding-left: 10px;
        }
        .promotion {
        	width: 100%;
        	box-sizing: border-box;
		    padding: 8px 8px 8px 0;
		    margin-bottom: 28px;
	        .promotion-title {
	            text-transform: uppercase;
	        }
	        .promotion-callout {
        		font-size: $font-10 + 1;
	        	color: $black;
    			text-transform: uppercase;
	        	.callout-message {
    			}
	            .tooltip {
	            	color: $black;
	            	&:hover {
	            		text-decoration: underline;
	            	}
	            }
	        }
	    }
        .product-variations {
            padding: 0px 0px 27.5px;
            border-bottom: 1px solid $mk-background-grey;
            .attribute {
                margin: 0 0 22px 0px;
                &:last-child {
                	margin:0;
                }
                .label {
                    margin: 0px 0px 10px;
                    font-size: $font-12;
                    font-weight: normal;
                    width: auto;
                    float: left;
                    color: $black; 
                    font-family: $berthold-md;
                    letter-spacing: $font-05;
                    text-transform: uppercase;
                }
                .selected-value {
                    margin-left: 8px;
                    font-size: $font-12; 
                    line-height: $font-16+1;
                    font-weight: normal;
                    color: $black; 
                    font-family: $berthold-regular;
                    letter-spacing: $font-05;
                    text-transform: capitalize;
                }
                .size-chart-link {
                    float: left;
                    clear: none;
                    margin: 12px 0 0 3px;
                    a {
                        font-family: $berthold-light;
                        font-size: $font-12;
                        font-weight: normal;
                        color: $black; 
                        letter-spacing: $font-05;
                        text-transform: uppercase;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .value {
                float: left;
                width: 100%;
                .swatches {
                    float: left;
                    width: auto;
                    > li {
                        a {
                            font-size: $font-12 - 1px;
                            font-weight: normal;
                            color: $black; 
                            letter-spacing: $font-05;
                            text-transform: uppercase;
                        }
                    }
                }
                .color {
                    > li {
                    	margin-right: 12px;
                        a {
                            width: 36px;
                            height: 36px;
                            padding: 2px;
                            box-sizing: border-box;
                            border: 1px solid $white;
                            img {
                            	width: 30px;
                            	height: 30px;
                            }
                            &:hover {
	                            border: 1px solid $black;
                                width: 36px;
    							height: 36px;
	                        }
                        }
                        &.selected {
                            a {
                                border: 1px solid $black;
                            }
                        }
                    }
                    li.unselectable {
                    	width: 32px;
					    height: 32px;
					    padding: 2px;
					    margin-right: 12px;
					    cursor: text;
					    a {
                			width: 32px;
                            height: 32px;
                            box-sizing: border-box;
                            border: 1px solid $white;
                            position: relative;
                            overflow: hidden;
                            padding: 0;
                            &:after {
	                        	content: "";
							    position: absolute;
							    border-top: 1px solid $mk-background-grey;
							    height: 100%;
							    -webkit-transform: rotate(45deg);
							    transform: rotate(45deg);
							    -webkit-transform-origin: 0% 0%;
							    transform-origin: 0% 0%; 
							    left: 0;
							    top: 0;
							    padding: 6px;
							    width: 100%;
	                        }
	                     }
                    }
                }
                .size {
                    float: left;
                    > li {
                        float: left;
                        margin-right: 12px;
                        border: 1px solid $white;
                        margin-bottom: 5px;
                        padding: 2px;
                        &:hover {
                            color: $white;
                            padding: 2px;
                            border: 1px solid $black;
                        }
                        .swatchanchor {
                            color: $black; 
                            height: 32px;
                            width: 32px;
                            border: 1px solid $black;
                            line-height: 32px;
                            text-align: center;
                            font-family: $berthold-bold;
                            font-size: $font-12;
                            &:hover {
                                background-color: $black;
                                color: $white;
                                text-decoration: none;
                            }
                        }
                        &.selected {
                        	padding: 2px;
                            border: 1px solid $black;
                            a {
                                color: $white;
                                background-color: $black;
                            }
                            &.unselectable {
                            	a {
                            		background: $white;
                            	}
                            }
                        }
                    }
                    li.unavailableVariant {
                    	border: 1px solid $white;
                    	padding: 2px;
                    	margin-bottom: 5px;
                    	margin-right: 12px;
                    	a {
                    		color: $mk-background-grey;
                            height: 32px;
                            width: 32px;
                            border: 1px solid $mk-background-grey;
                            line-height: 32px;
                            text-align: center;
                            font-family: $berthold-bold;
                            font-size: $font-12;
                            overflow: hidden;
                            position: relative;
                            &:hover {
                            	text-decoration: none;
                            	background: none;
                            	color: $mk-background-grey;
                            }
                            &:after {
                        	    content: "";
							    position: absolute;
							    border-top: 1px solid $mk-background-grey;
							    height: 100%;
							    -webkit-transform: rotate(45deg);
							    transform: rotate(45deg);
							    -webkit-transform-origin: 0% 0%;
							    transform-origin: 0% 0%; 
							    left: 0;
							    top: 0;
							    padding: 20px;
							    width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .product-add-to-cart {
            padding: 26px 0px 30px 0;
            border: none;
            border-bottom: 1px solid $mk-border-lightgrey;
         	label {
			    float: left;
			    margin: 0 5px 3px 0;
			    font-size: $font-14;
			}
            .availability-web {
            	margin-bottom: 24px;
            	.not-available-msg {
            		color: $mk-red;
            	}
            	.in-stock-msg {
            		font-family: $berthold-regular;
            		 font-size: $font-12;
            		 color: $black;
            		 line-height: $font-12;
            	}
            	.in-stock-left {
            		color: $red;
            	}
            	.availabilityError {
            		color: $mk-red;
            		font-size: $font-12;
            		font-family: $berthold-regular;
            	}
            	label {
            		font-family: $berthold-md;
            		 font-size: $font-12;
            		 color: $black;
        		     margin-bottom: 1px;
        		     font-weight: normal;
        		     width: 100%;
            	}
            	.availability-novariation {
            		font-family: $berthold-regular;
            		 font-size: $font-12;
            		 color: $red;
            		 line-height: $font-12;
            	}
            }
            .quantity-label {
                margin: 0 10px 7px 0;
      	        font-family: $berthold-md;
                font-size: $font-12;
                font-weight: normal;
                width: 100%;
                color: $black; 
                letter-spacing: $font-05;
                text-transform: uppercase;
            }
            .inventory {
                .quantity {
                    input {
                        width: 30px;
                        margin: 0px;
                        height: auto;
                        padding: 8.5px 11px;
                  		font-family: $berthold-md;
                        font-size: $font-12;
                        font-weight: normal;
                        color: $black; 
                        letter-spacing: $font-05;
                        text-align: center;
                        border: none;
                        outline: none;
                        box-sizing: content-box;
                        border: 1px solid $black;
                    }
                }
            }
            > button {
                width: 80.5%;
                padding: 10px 30px;
                font-size: $font-12 + 1;
                border: 1px solid $black;
    			border-radius: 0;
                font-weight: normal;
                color: $white; 
                background-color: $black;
                letter-spacing: $font-1;
                float: left;
                text-transform: uppercase;
                font-family: $berthold-md;
                @media #{$tablet} {
            	    width: 77.5%;
                }
            }
            .add-all-to-cart {
            	width: 100%;
            }
        }
        .product-actions {
            padding: 25px 0px;
            .socialsharing {
                width: 100%;
                margin: 0px;
                padding: 0;
                > a {
                    float: left;
                    display: block;
                    padding: 5px 7px;
                    .fb {
                        display: block;
                        width: 13px;
                        height: 24px;
                        background-position: -330px -19px;
                    }
                    .tweet {
                        display: block;
                        width: 23px;
                        height: 19px;
                        background-position: -360px -19px;
                        margin-top: 4px;
                    }
                }
            }
        }
    }
    
	.app-device &.qv-productset-dialog {
		width: calc(100% - 50px) !important;
		left: 25px !important
	}
}