@media #{$medium-tab} {
    .search-suggestion-wrapper{
        &.full {
            left: -165px;
        } 
    }
    .top-banner { 
        .primary-logo {  
            width: 175px; 
        }
    } 
}

@media #{$iphone} {
    nav[role="navigation"] {
        padding: 13px 32px 13px 26px;
    } 
    .primary-nav {  
        padding: 0px 0 17px 0;
        border-bottom: 1px solid grey;
    }
    .site-mk {
        .custom-select {
            .selected-option {
                padding: 5px 25px 5px 5px;
            }
        }
    }
     .pt_cart {
    	#cart-table {
    		.cart-row , .bonus-product {
    			.item-image, .item-quantity-details {
    				flex-basis: 35%;
    				margin-bottom: 20px;
    			}
    			.item-quantity {
				    text-align: left;
    				flex-basis: 25%;
    				input {
    					margin-left: 10px;
					}
				}
				.item-price {
				    flex-basis: 40%;
				    margin-top: 10px;
				    .price-promotion {
				    	text-align: right;
				    }
				}
    			.item-details {
    				flex-basis: 63%;
    				margin-bottom: 20px;
    				.product-list-item, .bonusproducts {
    					padding-left: 10px;
    				}
    			}
    		}
    		.bonus-product {
    			flex-wrap: wrap;
    			display: flex;
    			padding: 20px 0;
    			.item-quantity {
    			 	> span {
    					margin-left: 10px;
    				}
    			}
    			.item-price {
    				.price-promotion {
    					text-align: left;
    				}
    			}
    		}
    	}
    }
    .cart-footer {
    	padding: 20px 0;
    	border-bottom: none;
    	.cart-order-totals	{
    		padding: 20px 0;
    		border-bottom: 1px solid $black;
    		border-top: none;
		    width: 100%;
		    margin: 0;
    	}
    	.cart-coupon-code {
		    width: 100%;
		    display: inline-block;
    	}
    	.cart-coupon-code {
    		input[type="text"] {
    			width: 100%;
			    margin: 20px 0 10px 0;
    		}
    		button {
			    width: 100%;
    			margin: 0 0 20px 0;
			}
			button.simple {
				width: 100%;
    			margin: 0 0 20px 0;
			}
    	}
    }
    #cart-table {
    	.rowcoupons {
    		width: 100%;
    		float: left;
    		.item-details {
    			width: 100%;
    			float: left;
    			padding-top: 20px;
    		}
    		.item-quantity-details {
    			width: 100%;
    			float: left;
    			margin: 15px 0;
    			text-align: left;
    			.textbutton {
    				margin: 0;
    				width: 100%;
    			}
    		}
    		.item-total {
    			width: 100%;
    			float: left;
    			text-align: left;
    			margin-bottom: 20px;
    		}
    	}
    }
    #wrapper {
        &.menu-active {
            left: 85%;
            @media screen and ( min-width:481px) and (max-width:767px){
            	left: 70%;	
            }
        }
        .primary-focus {
        	.order-confirmation-details {
        		.line-items {
        			.line-item {
        				.line-item-quantity {
					    	.qnt-val {
									margin-bottom: 3px;
									.mk-qty {
										display: inline-block;
										font-family: $berthold-light;
									}
									.pdt-qty {
										display: inline-block;
									}
							}
				    	}
        			}
        		}
        	}
        }
        .primary-content {
            width: 100%;
            float: left;
            .search-result-options {
                padding: 30px 14px;
                @media #{$iphone} {
                	padding: 30px 14px 0;
                }
                .sort-by {
                    width: 54%;
                    float: left;
                }
                .pagination {
                    width:  46%;
                    padding-top: 0px;
                    ul {
                        border:  none;
                        margin-top: 7px;
                        li {
                            padding: 0px;
                            font-size: $font-14;
                            border-right:  0;
                            list-style-type:  none;
                            &.first-last {
                                width: 10px;
                            }
                            &.current-page {
                                width: 20px;
					        	font-size: $font-12;
                                line-height: 16px;
                            }
                            a {
                                width: 20px;
                                line-height: 16px;
                                height: 26px;
                                &.page-previous,
                                &.page-next {
                                    padding: 0;
					        		width: 15px;
                                }
                                i {
                                    width: 12px;
                                }
                            }
                        }
                    }
                }
            }
            .search-result-content {
                padding: 0 13px;
                #search-result-items {
                    .grid-tile {
                        width: 47.1%; 
                        padding-right: 0;
                        &:nth-child(2n+2) {
                            padding-right: 0;
                            clear: right;
                            margin-left: 5.8%;
                        } 
                    }
                }
            }
            .no-hits-search {
            	.form-row {
            		text-align: center;
            	}
            }
        } 
        #secondary {
            float: left;
            width:100%;
            > .refinement {
                width: 100%;
                &.active {
		    		> h3.toggle {
		    			position: relative;
		    			.icons-sprite {
		    				position: absolute;
	                        top: 20px;
	                        right: -5px;
	                        margin: 0px;
	                        padding: 15px 8px 15px 15px;
	                        z-index: 999;
	                        box-sizing: border-box;
	                        background-position: -170px -172px;
		    			}
		    		}
		    	}
		    	> h3.toggle {
		    		.icons-sprite {
		    			top: 20px;
                        right: 0px;
                        width: 18px;
                        height: 12px;
                        margin: 0px;
                        padding: 0px;
                        background-position: -216px -174px;
		    		}
		    		&.cat-toggle {
		    			.icons-sprite {
		    				position: absolute;
	                        top: 20px;
	                        right: -5px;
	                        margin: 0px;
	                        padding: 15px 8px 15px 15px;
	                        z-index: 999;
	                        box-sizing: border-box;
	                        background-position: -170px -172px;
		    			}
		    			&.active {
		    				.icons-sprite {
		    					top: 20px;
		                        right: 0px;
		                        width: 18px;
		                        height: 12px;
		                        margin: 0px;
		                        padding: 0px;
		                        background-position: -216px -174px;
		    				}
		    			}
		    		}
		    	}
            }
            .refinement-header {
                position: relative;
                .icons-sprite {
                    position: absolute;
                    top: 0px;
                    right: -10px;
                    margin: 0px;
                    padding: 15px;
                    z-index: 999;
                    background-position: -170px -172px;
                    box-sizing: border-box;
                }
                &.active {
                    .icons-sprite {
                        top: 0px;
					    right: 0px;
					    width: 18px;
					    height: 12px;
					    margin: 0px;
					    padding: 0px;
					    background-position: -216px -174px;
                    }
                }
            }
        }
        .hide-mobile {
            display: none;
        }
        .hide-desktop {
            display: block;
        }
        .header-search-cont {
        	position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            width: 100%;
            margin: 0px;
            padding: 10px 0px;
            border-bottom: 2px solid $white;
            box-sizing: border-box;
            .header-search {
                background-color: $mk-complement-pebble-5;
                border: none;
                box-sizing: border-box;
                form {
                    background-color: $white;
                    margin: 0;
                }
                input[type="text"] {
                    background-color: $white;
                    border: 1px solid black;
                    padding: 0 0 0 10px;
                    width: 166px;
                    position: relative;
                    left: 62px;
                    color: $mk-charcoal;
                    &:focus {
                        color: $mk-charcoal;
                    }
                }
                .search-ico {
                    top: 10px;
                    left: 26px;
                    width: 32px;
                    border-radius: 0;
                    height: 26px;
                    border: 1px solid $black;
                }
            }
        }
        .header-banner {
             float: left;
             width: 100%;
             box-sizing: border-box;
             > div{
             	padding: 25px 50px;
             	float: left;
             	width: 100%;
             	box-sizing: border-box;
             }   
            .header-promotion {
                position: relative;
                width: 70%;
                margin: 0 auto;
                padding: 0px;
                //font-family: $mk-main-book;
                font-size: $font-14;
                line-height: $font-18;
            }
            .close-btn {
                position: absolute;
                top: 0;
                right: 5px;
                padding: 10px;
                font-size: 20px;
                color: $white;
                -webkit-text-stroke: 2px $mk-dark-pebble;
                z-index: 99;
            }
        } 
        .top-banner {
            float: left;
            width: 100%;
            padding: 18px 10px;
            box-sizing: border-box;
            -webkit-box-shadow: -1px 5px 10px 0px rgba(177,169,159,0.25);
            -moz-box-shadow: -1px 5px 10px 0px rgba(177,169,159,0.25);
            box-shadow: -1px 5px 10px 0px rgba(177,169,159,0.25); 
            button {
                outline: none;
                &.menu-toggle {
                    padding: 0px;
                    margin: 0px;
                }
                .menu-icon {
                    display: block;
                    width: 26px;
                    height: 18px;
                    margin-top: 4px;
                    background-position: -228px -20px;
                }
            }
            .primary-logo {
                width: 150px;
                height: auto;
                padding: 0px;
            }
            #mini-cart {
                position: absolute;
                top: 20px;
                right: 15px;
            }
        }
        #homepage-slider {
            top: -15px;
        }
        nav {
            padding-top: 53px;
            background-color: $white;
            li {
                display: block;
                position: relative;
                text-align: left;
            }
        }
        ul.menu-category {
            border-bottom: none;
            li {
                display: block;
                padding: 0px;
                border-top: none;
                &.active {
                	.menu-item-toggle {
	                    i {
	                      -webkit-transform: rotate(180deg);
	                      -moz-transform: rotate(180deg);
	                      -o-transform: rotate(180deg);
	                      -ms-transform: rotate(180deg);
	                      transform: rotate(180deg);
	                      position: absolute;
	    				  top: 45%;
	                    }
	                }
                }
                .menu-item-toggle {
                    position: absolute;
                    top: -5px;
                    right: 0%;
                    width: 48px;
                    height: 35px;
                    z-index: 1;
                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 12px;
                        height: 9px;
                        padding: 0px;
                        background-position: -45px -127px;
                    }
                }
                &:hover {
                    a {
                        border: none;
                    }
                }
                li:first-child a {
                    padding: 10px 0;
                }
                a {
                    padding: 10px 0px;
                    font-family: $berthold-md;
                    font-size: $font-10 + 1;
                    border: none;
                    color: $black;
                } 
            }
        }
        .level-1 {
            > li {
                a {
                    &.has-sub-menu {
                        width: 100%;
                        color: $black;
                    }
                }
            }
        }
        .level-2 {
            box-shadow: none;
            background-color: $white;
            color: $black;
            padding: 0 0 0 10px;
            .banner {
            	display: none;
            }
            > ul {
                padding: 0px;
                background-color: $white;
                > li {
                    > a {
                        //font-family: $mk-main-book;
                        font-size: $font-10 - 1;
                    }
                }
            }
        }
        .menu-utility-user {
            float: left;
            width: 100%;

            > li {
                padding: 0px;
                a {
                    display: block;
                    font-size: $font-10 + 1;
                    color: $black;
                    text-transform: capitalize;
                    font-family: $berthold-md;
                }
            }
            .stores {
                width: 100%;
                float: left;
                font-family: $berthold-md;
                display: block; 
                position: relative;
                margin: 25px 0 20px 0;
                a {
                    width:100%;
                    padding: 0 0 0 22px;
                    height: 13px;
                    text-transform: uppercase;
                }
                .store-locator {
                    position: absolute;
                    width: 9px;
                    height: 12px;
                    background-position: -71px -122px;
                }
            }
            .user-info {
                .user-panel{
                    .user-links {
                        form {
                            button {
                            	text-transform: capitalize;
                                background-color: $white;
                                border: 0;
                                font-size: $font-10 + 1;  
                                color: $black;
                                padding: 0 0 12px 0;
                                font-family: $berthold-md;
                            }
                        }
                    }
                }
            }
            .create-my-account {
                display: none;
            }
            .user-info {
                width: 100%;
                float: left;
                padding: 0px;
                border: none;
                a{
                    width: 100%;
                    padding-bottom: 12px;
                    &.user-account {
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                    i {
                        float: left;
                        width: 22px;
                        height: 13px; 
                        background-position: -22px -122px;
                        span {
                            display: block;
                        }
                    }
                }
                .user-panel {
                    width: 100%;
                    margin: 0px;
                    font-family: $berthold-md;
                    h3 {
                        display: block;
                        font-size: $font-10;
                        color: $black;
                        padding-bottom: 10px;
                        font-weight: 300;
                    }
                    .user-links {
                        padding-left: 22px;
                        font-size: $font-10;
                        text-transform: capitalize;
                        > div {
                            position: relative;
                            &.outh-login-desk {
                                display: none;
                            }
                            i {
                                position: absolute;
                                top: 24px;
                                left: 20px;
                                width: 8px;
                                height: 15px;
                                background-position:  -186px -22px
                            }
                        }
                    }
                } 
            } 
            .user-logged-in {
                .user-panel {
                    h3 {
                        display: none;
                   }
                }
            } 
        }
        .country-selector {
            float: left;
            position: relative;
            top: 0px;
            left: 0px;
            .current-country,
            .country {
                margin: 0px;
                padding: 7px 0px;
                border-top: none; 
                color: $black;
            }
            .current-country {
                display: none;
                i {
                    position: absolute;
                    top: 24px;
                    left: 20px;
                    width: 8px;
                    height: 15px;
                    padding: 0px;
                    background-position: -186px -22px;
                }
            }
            .selector {
                position: relative;
                margin: 0px;
                padding: 0px;
                display: block;
                border: 0;
                line-height: 14px;
                &.active {
                    left: 0px;
                    border: none;
                    background-color: $white;
                }
                .country {
                    a {
                        display: block;
                        font-family: $berthold-regular;
                        font-size: $font-10 + 1;
                        &.selected {
                            color: $mk-text-color;
                        }
                    }
                    &:focus,
                    &:hover {
                        background-color: $white;
                        outline: none;
                    }
                }
            }
        }
        .search-suggestion-wrapper {
            &.full {
                left: 0px;
                width: 100%;
                z-index: 2;
                box-sizing: border-box;
                .product-suggestions {
                    padding: 20px 42px 30px 32px;
                }
            }
            .product-suggestion {
                border-bottom: 1px solid $mk-search-border;
                &:last-child {
                    border: 0;
                }
                .product-name {
                    font-size: $font-10 - 1;	
                }
            }
            .search-phrase {
                font-size: $font-10 - 1;
                border-bottom: 1px solid $mk-search-border;
            }
        }
        .breadcrumb {
            width: 100%;
            padding: 16px;
            box-sizing: border-box;
            line-height: 19px;
        }
        &.pt_product-details {
        	.breadcrumb {
        		padding: 20px;
        	}
        }
        .footer-banner {
            width: 100%;
            float: left;
            padding: 19px 20px 30px 20px;
            box-sizing: border-box;
            background-color: $mk-footerbackground-gray;
        }
        .main-footer {
            width: 100%;
            float: left;
            padding: 0;
            .footer-container {
                width: 100%;
                float: left;
                .footer-item {
					padding-right: 0;
				}
                h2 {
                	clear: left;
                    font-size: $font-12 - 1;
                    margin: 0;
                    padding: 20px 0px 18px 0px;
                    box-sizing: border-box;
                    .footer-plus {
                        position: relative;
                        right: 2px;
                        top: 1px;
                        background-position: -181px -24px;
                        width: 18px;
                        height: 11px;
                        float: right;
                    }
                    .footer-minus {
                        position: relative;
                        top: 1px;
                        right: 1px;
                        transform: rotate(180deg);
                        width: 18px;
                        height: 11px;
                        float: right;
                    }
                }
                .menu-footer {
                    display: none;
                    width: 100%;
                    margin-bottom: 10px;
                    li {
                        margin-bottom: 15px;
                        a {
                            font-size: $font-12 - 1;
                        }
                    }
                }
                .footer-email-signup {
                    width: 100%;
                    float: left;
                    padding-bottom: 20px;
                    .hide-mobile {
                        display: none;
                    }
                    .footer-subscription-form {
                        width: 100%;
                        margin-bottom: 10px;
                        span.error {
                        	position: static;
                        	margin: 0;
                        	margin-bottom: 8px;
                        }
                        .form-row {
                        	margin: 0;
                        }
                        .field-wrapper {
                            .foot-tooltip {
                                max-width: 280px;
                                width: 100%;
                                bottom: 80px;
                            }
                        }
                        input[type="text"] {
                            width: 280px;
                            border: 1px solid $white;
                            margin-bottom: 10px;
                        }
                        button {
                            font-size: $font-10;
                            padding: 0 10px;
                            display: block;
                            text-align: left;
                            height: auto;
                            &:focus {
                            	outline: none;
                            }
                        }
                    }
                    .social-links {
                    	width: 100%;
                    	float: left;
                        margin-top: 10px;
                        li {
                        	display: inline-block;
                        	float: left;
                            padding-right: 42px;
                            &:last-child {
                                padding-right: 0;
                            }
                        }
                    }
                }
                .footer-account {
                    width: 100%;
                    float: left;
                    padding-bottom: 15px;
                }
                .footer-support {
                    width: 100%;
                    float: left;
                    padding-bottom: 15px;
                }
                .footer-about {
                    width: 100%;
                    float: left;
                    .copyright {
                        display: block;
                        clear: left;
                        font-family: $berthold-regular;
                        font-size: $font-10 + 1;
                        color: $white;
                        padding-top: 25px;
                    }
                }
            }
        }
        &.pt_product-search-noresult {
            .primary-content {
                float: left;
                width: 100%;
                text-align: center;
                .header-search-cont {
                    position: static;
                }
                .content-asset {
                    ul {
                        li {
                            list-style: none;
                        }
                    }
                }
            }
        }
    }
    //mk pdp 
    .pt_product-details {
    	.primary-content {
    		padding: 0 20px;	
    	}
    	.pdp-main {
    		.product-col-1 {
	    		width: 100%;
	    		.product-thumbnails {
	    			text-align: center;
	    			ul {
	    				.thumb {
	    					display: inline-block;
	    					margin-right: 7px;
	    					float: none;
	    					&.slick-slide{
	    						float: left;
	    					}
	    				}
	    			}
	    		}
	    	} 
    		.product-col-2, .product-detail {
			    width: 100%;
			    padding: 0px;
			    .product-set-list {
			    	.product-bundle-item {
			    		border-bottom: 1px solid $black;
			    		.product-set-details {
			    			padding: 0;
			    			width: 100%;
			    		}
			    		.product-add-to-cart {
			    			width: 100%;
		    			    margin-left: 0%;
							padding-left: 0px;
			    		}
		    		}
	    		}
		    }
		    .promotion {
		    	width: 100%;
		    	box-sizing: border-box;
		    }
		    product-add-to-cart {
		    	.inventory {
				    margin-right: 20px;
				    padding-bottom: 40px;
			    }
		    }
	    	.product-info {
    			border-top: 1px solid $black;
    			min-height: 0;
    			ul {
    				padding: 0 1.2em;
    			}
    			.pdp-tabs .tab-content label {
    				margin-bottom: 10px;
    				font-family: $berthold-md;
    			}
    			.recommendations {
    				#carousel-recommendations {
					    width: 100%;
					}
				}
    			 .tab-head {
    			 	> label {
			 		    text-align: center;
    					text-transform: uppercase;	
    			 	}
			 	}
			}
		}
	}
	.sizechart-table {
		.ui-dialog-content {
			padding: 0px;
		}
	}
	//cart-empty
	.cart-empty {
		margin-top: 70px;
		h1 {
			font-size: $font-16;
			line-height: $font-16;
		}
		.cart-action-continue-shopping {
			.button-text {
				font-size: $font-12+1;
			    margin-top: 20px;
			}
		}
	}
	
	.spc-login{
		.checkoutlogin{
			padding: 0px 0 14px 0px;
			.col-1{
				padding: 0px;
				border-top: none;
				margin-top: 0;
				width: 100%;
			}
			.col-2{
				padding: 0px;
				width: 100%;
			}
			
			.login-box{
				.login-box-content{
					&.returning-customers{
						margin-top: 15px;
						.password-reset-row{
							float: left;
							width: 100%;
							text-align: center;
						}
						.login-oauth{
							padding-top: 20px;
							button.oAuthIcon{
								width: 100%;
							}
						}
						form{
							.form-row-button{
								width: 100%;
							}
							button{
								width: 100%;
								margin: 0px;
							}
							
							.login-rememberme{
								margin-top: 20px;
								float: right;
								width: auto;
							}
						}
					}
					.create-account-row{
						margin: 30px 0px 20px 0px;
						border-top: 1px solid $black;
						padding-top: 27px;
						text-align: left;
					}
				}
				form{
					.form-row-button{
						width: 100%;
						text-align: center;
					}
					button{
						width: 100%;
						margin: 0px;
					}
					
				}
			}
		}
	}
	.cart-actions {
		.shipping-heading {
			width: 100%;
		}
		.cart-action-checkout {
			.button-fancy-large {
				.proceed-checkout {
					max-width: 100%;
    				margin: 0 auto;
				}
			}
		}
	}
	#cart-table {
		margin-bottom: 0;
	}
	.cart-footer {
		.cart-coupon-code {
			.promo-code-heading {
				margin-bottom: 20px;
			}
		}
	}
	.pt_checkout {
		#primary {
			.checkout-billingcontent {
				.spc-billing {
					.checkout-billing {
						.couponcode-main {
							.form-indent {
								&.billing-coupon-code {
									.coupon-apply {
										width: 100%;
										.label-above {
											width: 100%;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media #{$tablet-landscape} {
	.primary-content {
		.search-result-options {
			padding-left: 30px;
		}
		.search-result-content {
			padding-left: 30px;
			#search-result-items {
				.grid-tile {
				    width: 31.47%;
				}
			}
		}
	}
	.footer-banner {
    	.main-footer {
    		.footer-container {
    			.footer-email-signup {
    				.footer-subscription-form {
    					.field-wrapper {
    						.foot-tooltip {
    							max-width: 208px;
    							width: 100%;
    						}
    					}
    				}
    			}
    		}
    	}
    }
}
@media #{$tablet} {
	.search-result-options {
		padding-left: 30px;
	}
	.primary-content {
		.search-result-content {
			padding-left: 30px;
			#search-result-items {
				.grid-tile {
					width: 48.1%;	
					padding-right: 3.8%;
					&:nth-child(2n+2) {
		        		padding-right: 0;
	        		    clear: right;
	        		    & + .grid-tile{
	        		    	clear: left;
	        		    }
		        	} 
				}
			}	
		}
	}
	.primary-nav {
		.menu-category {
			> li {
				padding: 15px 9px;
			}
		}
	}
	.search-result-options  {
		.sort-by {
			width: 180px;
		}
		.items-per-page {
			display: none;
		}
		.pagination {
			.results-hits {
				.hide-in-tab {
					display: none;
				}
			}
		}
	}
	.ui-draggable {
		.pdp-main {
			.product-add-to-cart {
				.add-to-cart {
					width: 77.5%;
					float: left;
				}
			}
		}
	}
	.main-footer {
		padding: 0 15px 0 15px;
		box-sizing: border-box;
	}
    #secondary {
        padding: 40px 25px 0px;
    }
    .footer-banner {
    	.main-footer {
    		.footer-container {
    			.footer-email-signup {
    				.social-links {
    					li {
    						padding-right: 15px;
    					}
    				}
    				.footer-subscription-form {
    					.field-wrapper {
    						input[type="text"] {
    							width: 57%;
    							&.input-text-fr {
    								width: 50%;
    							}
    						}
    						.foot-tooltip {
    							max-width: 200px;
    							width: 100%;
    						}
    					}
    				}
    			}
    		}
    	}
    }
// pdp tablet
	.pt_product-details {
		.pdp-main {
			.promotion {
				width:100%;
				box-sizing: border-box;		
			}
		}
	}
	#wrapper {
		&.pt_product-search-noresult {
			#secondary {
				padding: 40px 15px 0px 25px;
				.refinement {
					> ul {
						> li {
							a {
								.icons-sprite {
									width: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
	.cart-actions {
		.shipping-heading {
			width: 45.223%;
			.mini-cart-bottom {
				&.cart-banner {
					ul {
						padding: 17px 16px 17px 16px;
						.left-content,.right-content {
						    width: 100%;
						    float: left;
						    padding: 0;
						}
						.left-content {
							.free-ship,.ship-status {
								padding-bottom: 14px;
							}
						}
						.right-content {
							.help-order {
								padding-bottom: 14px;
							}
						}
					}
				}
			}
		}
		.cart-action-checkout {
			width: 45.393%;
		}
	}
	
}



