.search-result-content {
	padding: 0 20px 0 60px;
	#search-result-items {
		.grid-tile {
		    background-color: transparent;
		    padding: 0 2.24% 30px 0px;
		    width: 31.84%;
		    margin: 0;
	        box-shadow: none;
	        @media #{$desktop} {
		        &:nth-child(3n+3) {
		        	padding-right: 0;
		        	clear: right;
		        	& + .grid-tile{
		        		clear: left;
		        	}
		        }
	        }
		}
	}
	.view-more {
		width: 100%;
	    float: left;
	    text-align: center;
	    margin-top: 40px;
	    .viewmore-grid {
	    	min-width: 600px;
		    background-color: $white;
		    border: 1px solid $black;
		    color: $black;
		    padding: 15px;
		    font-size: $font-16;
		    line-height: 19px;
		    letter-spacing: 1px;
		    box-sizing: border-box;
		    text-decoration: none;
		    display: inline-block;
		    font-family: $berthold-md;
		    font-weight: 400;
		    @media #{$tablet-maxlandscape} {
		    	min-width: 80%;
		    }
	    }
	}
}
.search-result-options {
	padding: 30px 20px 20px 60px;
	width: 100%;
    float: left;
    box-sizing: border-box;
	.sort-by {
		width: 23.334%;
	}
	.items-per-page {
	    min-width: 8.04%;
	    margin-right: 0;
    }
	.pagination  {
		font-size: 12px;
		padding-top: 7px;
		text-transform: uppercase;
		.results-hits {
			font-family: $berthold-regular;
			color: $mk-country-col;
		}
		ul {
			.current-page {
				color: $mk-country-col;
			}
			li {
				padding: 0 7px;
				&.page-last {
					padding-right: 0;
				}
				a {
					font-size: 12px;
					font-family: $berthold-regular;
					color: $black;
					text-transform: uppercase;
					&.page-previous i {
    					height: 16px;
    					width: 8px;
    					background-position: -305px -23px;
    					transform: rotate(180deg);
					}
					&.page-next i {
    					height: 16px;
    					width: 8px;
    					background-position: -305px -23px;
					}
					&:hover {
						text-decoration: underline;
					}
					&.page-next, &.page-previous {
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

.pt_product-search-noresult {
    .primary-content {
        width: 75%;
        border: none;
        box-sizing: border-box;
        .nohits-search {
    	    float: left;
		    width: 100%;
		    padding: 25px;
		    box-sizing: border-box;
        }
        .no-search-header {
        	display: none;
    	    font-size: $font-18;
    		text-transform: uppercase;
    		font-family: $berthold-md;
        }
        .no-hits-search-term-suggest {
        	color: $black;
        	&:hover {
        	    text-decoration: underline;
        	}
        }
        .header-search-cont {
            display: block;
            float: left;
            width: 100%;
            margin: 0px;
        }
        .no-hits-search {
            position: relative;
            .label-above {
                label {
                    font-family: $berthold-bold;
                    font-size: $font-12;
                    font-weight: normal;
                    margin-bottom: 25px;
                }
            }
            button {
                clear: both;
                margin-top: 15px;
                padding: 0px;
                border: none;
                outline: none;
                text-transform: uppercase;
                background-image: none;
                font-family: $berthold-md;
                font-size: $font-12;
                font-weight: normal;
                padding: 6px 30px;
                color: $white;
                background-color: $black;
                border-radius: 0px;
            }
            input[type="text"] {
                min-width: 200px;
                background-color: $white;
                border: 1px solid $black;
                outline: none;
            }
        }
        .section-header, .content-asset {
            padding: 0px;
            p {
                margin: 0px;
                font-family: $berthold-md;
                font-size: $font-12;
                font-weight: normal;
                text-transform: uppercase;
            }
        }
        .content-asset {
            padding: 30px 0px;
            ul {
                margin: 0px;
                li {
                    font-family: $berthold-regular;
                    font-size: $font-12;
                    font-weight: normal;
                    margin: 0px;
                    padding-top: 20px;
                    line-height: $font-14;
                }
            }
        }
        .no-hits-search-term {
            font-family: $berthold-bold;
            font-style: normal;
            color: $black;
            .no-hits-search-term-suggest {
            	color: $black;	
            }
        }
        .no-hits-footer {
            float: left;
            width: 100%;
            box-sizing: border-box;
            display: none;
        }
    }
    #secondary {
        width: 25%;
        box-sizing: border-box;
        padding-top: 25px;
        @media #{$iphone} {
        	padding-top: 0px;
        }
    }
}