.search-suggestion-wrapper {
    .search-phrase {
	    border-bottom: 2px solid $mk-border-grey;
    	padding-bottom: 15px;
        margin: 0px;
        font-family: $berthold-md;
        color: $black;
        text-transform: uppercase;
        .search-text, .search-value {
        	display: inline-block;
        }
        .suggest-text {
        	font-family: $berthold-md;
        	font-size: $font-10;
        	&.corrected {
        		font-weight: normal;
        	}
        }
        a {
        	color: $black;
        }
        .completed {
        	color: $black;
        	.original {
        	    text-decoration: initial;
    			font-weight: 200;
        	}
        }
    }
    &.full {
        left: -112px;
        width: 290px;
        margin: 5px 0px 0px;
        .phrase-suggestions {
            display: none;
        }
        .product-suggestions {
            float: left;
            width: 100%;
            padding: 11px;
            box-sizing: border-box;
        }
    }
	.hitgroup {
        display: none;
	}
}
.product-suggestion {
	border-bottom: 2px solid $mk-border-grey;
	padding: 15px 0;
	&:last-child {
		border: 0;
		padding-bottom: 0;
	}
    .product-image {
        img {
            border: 1px solid transparent;
            box-sizing: border-box;
        }
    }
    .product-details {
    	color: $black;
    	font-size: $font-10+1;
	    text-transform: uppercase;
        .product-price {
            padding-top: 16px;
        }
    }
    .product-image {
        img {
        	&:hover {
            	border: 1px solid $mk-light-pebble;
            	text-decoration: underline;
        	}
        }
    }
    .product-details {
        .product-name {
        	.app-desktop &:hover {
            	text-decoration: underline;
        	}
        }
        .product-price {
            text-decoration: none;
        }
    }
}
