#wrapper {
	&.pt_product-search-result {
		#main {
			#primary {
				width: 84%;
				@media #{$tablet-maxlandscape} {
					width: 76%;
				}
				@media #{$tablet} {
					width: 75%;
				}
				@media #{$iphone} {
					width: 100%;
				}
			}
			#secondary {
				width: 16%;
				@media #{$tablet-maxlandscape} {
					width: 24%;
				}
				@media #{$tablet} {
					width: 25%;
				}
				@media #{$iphone} {
					width: 100%;
				}
				.refinement {
					&.refineby-attribute {
						&.size {
							h3.toggle {
								.icons-sprite {
									background-position: -170px -172px;
								}
								&.active {
									.icons-sprite {
										background-position: -216px -171px;
									}
								}
							}
							ul {
								display: none;
							}
						}
					}
					&.active {
						&.refineby-attribute {
							&.size {
								ul {
									display: block;
								}
							}
						}
					}
					&.last-refinement {
						h3.toggle {
							border-bottom: 1px solid $mini-col-grey;
							&.active {
								border-bottom: 0;
							}
						}
						&.size {
							h3.toggle {
								border-bottom: 0;
								&.active {
									border-bottom: 1px solid $mini-col-grey;
								}
							}
						}
					}
				}
			}
		}
	}
}
#secondary {
    padding: 0px 0px 0px 0;
    @media #{$iphone} {
    	padding: 0px 25px 30px;	
    }
    .search-refine {
        display: none;
        padding-bottom: 4px;
	    text-transform: uppercase;
    }
    .filter-by {
    	width: 100%;
    	font-family: $berthold-md;
        font-size: $font-14;
        line-height: 20px;
        letter-spacing: 1px;
        padding-bottom: 20px;
        border-bottom: 1px solid $mini-col-grey;
        margin-bottom: 20px;
        font-weight: normal;
    }
	.refinement {
    	h3.toggle {
		    background: none;
		    border-top: 0;
		    text-transform: uppercase;
			margin: 0px;
		    letter-spacing: 0.5px;
		    .icons-sprite {
			    background-position: -64px -68px;
			    height: 5px;
			    width: 13px;
			    float: right;
			    position: absolute;
			    right: 2px;
			    margin-top: 7px;
		    }
		}
	}
    .refinement-header {
    	margin:  0px;
        padding: 0px 0 20px 0px;
        font-family: $berthold-md;
        font-size: 13px;
        font-weight: normal;
        letter-spacing: $font-05;
        color: $black;
        border: none;
        background: transparent;
        .icons-sprite {
        	background-position: -170px -171px;
			width: 18px;
			height: 15px;
			display: block;
			float: right;
        }
        &.active {
        	margin-bottom: 0px;
        	.icons-sprite {
	        	background-position: -216px -171px;
				width: 18px;
				height: 15px;
				display: block;
				float: right;
				margin-top: 0px;
			}
        }
    }
    .refinement {
    	&.active {
    		> h3.toggle {
    			.icons-sprite {
    				background-position: -170px -172px;
					width: 18px;
					height: 15px;
					float: right;
					margin-top: 0px;
    			}
    			&.active {
	    			margin-bottom: 6px;
	    		}
    		}
    	}
    	> h3.toggle {
    		.icons-sprite {
    			background-position: -216px -171px;
				width: 18px;
				height: 15px;
				float: right;
				margin-top: 0px;
    		}
    		&.cat-toggle {
    			margin-bottom: 20px;
    			.icons-sprite {
	    			background-position: -170px -172px;
					width: 18px;
					height: 15px;
					float: right;
					margin-top: 0px;
	    		}
	    		&.active {
	    			margin-bottom: 0px;
	    			.icons-sprite {
		    			background-position: -216px -171px;
						width: 18px;
						height: 15px;
						float: right;
						margin-top: 0px;
		    		}
	    		}
    		}
    	}
    }
    .refinement > h3.toggle {
        margin: 0px;
        padding: 20px 0 20px 0px;
        font-family: $berthold-md;
        font-size: 13px;
        font-weight: normal;
        letter-spacing: $font-05;
        color: $black;
        border: none;
        background: transparent;
        //border-bottom: 1px solid $mini-col-grey;
        border-top: 1px solid $mini-col-grey;
        margin-bottom: 0px;
    }
    > .refinement {
    	&.size,
    	&.isNew,
    	&.temperature,
    	&.brand  {
    		ul {
    			overflow-y: auto;
    			padding: 0 17px 0 0;
    			word-wrap: break-word;
    		}
    		
    	}
    	&.color, &.TemperatureEN, &.OuterwearLengthEN, &.refineby-price, &.refineby-attribute, &.refinementColor {
    		ul {
    			display: none;
    		}
    	}
    	&.active {
    		&.color, &.TemperatureEN, &.OuterwearLengthEN, &.refineby-price, &.refineby-attribute, &.refinementColor  {
    			ul {
    				display: block;
    			}
    		}
    	}
    	.custom-scrollbar {
			&.active {
				display: block !important;
			}     
		}
        float: left;
        padding: 0px;
        width: 100%;
        .refinement-top-level {
        	padding: 0px 0px 20px 10px;
	        font-family: $berthold-md;
	        font-size: $font-12;
	        font-weight: normal;
	        text-transform: uppercase;
	        letter-spacing: $font-05;
	        color: $white;
	        a {
	        	color: $white;
        	}
        }  
         ul {
            float: left;
            width: 100%;
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            margin-bottom: 12px;
            &#category-level-2 {
            	margin-top: 0px;
            	margin-bottom: 0px;
            }
             li {
                float: left;
                width: 100%;
                padding: 20px 0px 0px;
                margin: 0px;
                &:last-child {
                	padding-bottom: 10px;
                }
                &.expandable {
                	.refinement-link {
                		font-size: $font-12;
                	}
                }
                a, .refinement-link {
                    padding: 0px 0px 0px 10px;
                    font-family: $berthold-regular;
                    font-size: 13px;
                    font-weight: normal;
                    text-transform: uppercase;
                    letter-spacing: $font-05;
                    color: $black;
                    display: initial;
                    .app-desktop &:hover {
                    	text-decoration: underline;
                    }
                    &.active {
                    	font-family: $berthold-md;
                    	font-size: 13px;
                    }
                    .icons-sprite {
                    	float: left;
                        display: block;
                        width: 15px;
                        height: 15px;
                        background-color: $white;
                        border: 1px solid $black;
                        background-position: -134px -123px;
                    }
                    .toggle-check {
                        float: left;
                        display: block;
                        width: 15px;
                        height: 15px;
                        background-color: $white;
                        border: 1px solid $black;
                    }
                }
                &:first-child {
                    padding-top: 0px;
                }
            }
             &#category-level-1 {
            	li {
            		a, .refinement-link {
						display: block;
						padding: 0;            		
            		}
            	}
            }
        }
        .clear-refinement {
            &.clear-up {
                padding: 0px 0px 10px;
                margin: 0px;
                a {
                    padding: 0px;
                    font-family: $berthold-regular;
                    font-size: $font-10 - 1px;
                    font-weight: normal;
                    letter-spacing: $font-05;
                    color: $black;
                    text-transform: uppercase;
                }
            }
        }
        &.category-refinement {
            > ul {
                > li {
                    > a {
                        .icons-sprite {
                            background-position: -107px -173px;
                            background-color: transparent;
                            border: none;
                            padding-right: 10px;
                            .pt_product-search-noresult &{
                            	display: none;
                            }
                        }
                    }
                    &.active {
                        > a {
                            font-family: $berthold-bold;
                            font-weight: normal;
                            letter-spacing: $font-05;
                            .icons-sprite {
                                transform: rotate(90deg);
                                background-position: -107px -173px;
                                margin: 3px 10px 0px 0px; 
                                padding-right: 0;
                                .pt_product-search-noresult &{
	                            	display: none;
	                            }
                            }    
                        }
                        > ul {
                            padding: 0px 0px 0px 25px;
                            li {
                                padding: 15px 0px 0px;
                                a {
                                    font-family: $berthold-regular;
                                    font-weight: normal;
                                    letter-spacing: $font-05;
                                    padding: 0px; 
                                    &.active {
                                    	font-family: $berthold-bold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.refinementColor {
        	&.active {
        		h3.toggle {
        			border-bottom: 0;
        		}	
        	}
            > ul {
                margin-bottom: 0;
                padding-bottom: 10px;
                > li {
                    width: 52px;
                    float: left;
                    padding: 0px;
                    margin: 0px 12px 4px auto;
                    @media #{$tablet} {
                    	width: 60px;
                    }
                    &.selected a {
                    	.colorBox-main {
                    		padding: 2px;
                   	 		border: 1px solid $black;
                   	 		border-radius: 50%;
                   	 	}
                    }
                    &.unselectable a {
                         background: none;
                    }
                    a {
                        width: 50px;
                        height: auto;
                        float: left;
                        border: 0;
                        padding: 0;
                        margin: 0 auto;
                        text-indent: 0px;
                        border-radius: 0px;
                        box-sizing: border-box;
                        &:hover {
                        	border: 0;
                        	text-decoration: none;
                        	.colorBox-main {
                        		padding: 2px;
                        		border: 1px solid $black;
                        	}
                        	.text {
                        		text-decoration: none;
                        	}
                        }
                        @media #{$tablet} {
                        	width: 60px;
                        }
                        .colorBox-main {
                        	width: 30px;
                            height: 30px;
                            border: 3px solid $white;
                            border-radius: 50%;
                            margin: 0 auto;
                        }
                        .colorBox {
                            width: 30px;
                            height: 30px;
                            padding: 2px;
                            border-radius: 50%;
                        	box-sizing: border-box;
                        	border: 1px solid $mk-silver;
                        }
                        .text {
                        	font-size: $font-10;
                        	font-family: $berthold-regular;
                        	color: $mk-text-under-color;
                        	width: auto;
                        	height: 27px;
                        	text-align: center;
                        	text-transform: capitalize;
                        	margin-top: 5px;
                        	text-decoration: none;
                        	word-wrap: break-word;
    						word-break: break-word;
                        	&:hover {
                        		text-decoration: none;
                        	}
                        }
                        .app-desktop &:hover {
                        }
                    }
                }
            }
        }
        &.size {
        	.custom-scrollbar {
        		height: auto !important;
        	}
        	ul {
        		padding-right: 0;
	        	li {	
	        		width: 35px;
	        		height: 35px;
	        		margin: 0 11px 25px 0;
	        		padding: 0;
	        		line-height: 36px;
	        		border: 1px solid $mk-silver;
	        		text-align: center;
	        		&.selected {
	        			background-color: $black;
	        			a {
	        				color: $white;
	        			}
	        		}
	        		a {
	        			font-family: $berthold-md;
	        			font-size: $font-14;
	        			padding-left: 0;
	        			width: auto;
	        			height: auto;
	        			&:hover {
	        				text-decoration: none;
	        			}
	        		}
	        	}
        	}
        }
        &.refineby-price,
        &.isNew,
        &.size {
            > ul {
                > li {
                    &.selected {
                        a {
                            .icons-sprite {
                                background-position: -134px -123px;
                            }
                        }
                    }
                }
            }
        }
        &:last-child {
            padding-bottom: 30px;
        }
    }
}