.sizechart-table {
	padding-bottom: 20px;
	@media #{$iphone} {
		padding: 10px;
		box-sizing: border-box;
	}
	h2 {
		text-align: center;
	    width: 100%;
	    margin: 0;
	    font-weight: normal;
	    color: $black;
	    letter-spacing: $font-05;
	    font-size: $font-20;
	    font-family: $berthold-md;
	    margin-bottom: 30px;
	}
	p {
		padding: 0;
		margin: 0;
		font-family: $berthold-regular;
		color: $black;
		font-size: $font-12+1;
		line-height: $font-14+1;
		font-weight: normal;
        letter-spacing: $font-05;
	}
	.ui-dialog-content {
	    padding: 10px 40px 30px 40px;
	}
	
	.sizinginformation {
		padding: 0; 
		#outdoorclothing {
			max-width: 100%;
		}
		.article-leftdata,
		.article-rightdata {
			float: left;
			width: 50%;
            box-sizing: border-box;
			@media #{$iphone} { 
				width: 100%;
			}
			&:last-child {
				float: right;
			}
			.article-data {
				font-family: $berthold-regular;
				color: $black;
				font-size: $font-12+1;
			    margin-top: 25px;
			    letter-spacing: $font-05;
			}
		}
		.article-rightdata {
			 padding-left: 10px;
			 @media #{$iphone} {
			 	padding-left: 0;
			 }
		}
		.article-leftdata {
			 padding-right: 10px;
		}
		ul {
			margin-bottom: 20px;
		    text-align: center;
			li {
				display: inline;
				padding-bottom: 6px;
				font-family: $berthold-md;
			    font-size: $font-12+1;
				float: none;
				a {
					color: $black;
				    padding: 5px;
				    float: none !important;
				}
			}
		}
		.heading {
			text-transform: uppercase;
			font-family: $berthold-md;
		    float: left;
			width: 100%;
			color: $black;
		    padding-bottom: 8px;
		    letter-spacing: $font-05;
			border-bottom: 1px solid $black;
			font-size: $font-12+1;
		    margin-bottom: 25px;
		    &.guide {
		    	margin-bottom: 0;
		    }
		}
		#casualclothing {
			padding: 0;
			.sizecharttable {
    			margin: 30px 0 40px 0;
			}
		}
		td, th {
			border: 1px solid $mk-sizechart-grey;
			padding: 10px;
			font-weight: normal;
			font-family: $berthold-md;
			font-size: $font-12+1;
			letter-spacing: $font-05;
			color: $black;
			@media #{$iphone} { 
				padding: 4px 1px;
				font-size: 9px; 
				
			}
		}
		td {
			font-family: $berthold-regular;
			@media #{$iphone} {
				font-size: 10px;
				padding: 4px 1px;
			    min-width: 34px;
			    letter-spacing: 0;
			}
			@media #{$iphoneonly} {
				font-size: 9px;
				min-width: 33px;
			}
		}
	}
}