//Mackage Style Guide
//colors
$mk-text-color: #b2aaa0;
$mk-charcoal: #343434;
$mk-dark-pebble: #9f958b;
$mk-light-pebble: #b1a99f;
$mk-complement-pebble-1: #c4bdb7;
$mk-complement-pebble-2: #d5d2cb;
$mk-complement-pebble-3: #e8e6e2;
$mk-complement-pebble-4: #f0f0ee;
$mk-complement-pebble-5: #f5f4f3;
$mk-dark-red: #b01010;
$mk-red: #ff0000;
$mk-border-grey: #cdcdcd;
$mk-dim-grey: #5e5e5e;
$mk-grey: #797979;
$mk-err-msg: #a30101;
$mk-search-border: #acacac;
$mk-background-grey: #b2b2b2;
$mk-country-col: #676767;
$mk-search-grey: #9d9d9d;
$mk-quick-grey: #a6a399;
$mk-bread-grey: #777676;
$mk-select-grey: #7f7f7f;
$mk-border-lightgrey: #c1c1c1;
$mk-borderset-grey: #cccccc;
$mk-sizechart-grey: #888888;
$mk-miniborder-grey: #e6e6e6;
$mk-sizeheading-grey: #999999;
$mk-minipromo-grey: #e5e5e5;
$mk-conforborder-grey: #d4d3d3;
$mk-searchborder-grey: #bbbbbb;
$mk-errorbackground-red: #ffe7e7;
$mk-bonusicon-red: #ff0101;
$mk-errortxt: #fe0000;
$mk-red-discount:#990000;
$mk-footerbackground-gray: #f6f6f6;
$mk-cookie-grey: #f4f4f4;
$mk-silver: #c4c4c4;
$mk-checkout-paypal: #2790C3;
$mk-border-grey-lit: #bdbdbd;
$mk-nobel: #9b9b9b;
$mk-gainsboro: #e0e0e0;
$mk-grey: #828282;
$mk-white-smoke: #efefef;
$mk-return-grey: #dadada;

//Mackage Style Guide
//colors
$mk-grey: #dfdfdf;
$mk-dark-grey: #333333;
//$mk-red: #eb1106;
$mk-border-grey: #969696;
$mk-text-under-color: #828282;

 
.icons-sprite {
    background: url("../../images/mk-icons-sprite.png") no-repeat;
} 

$berthold-bold: "akzidenz-grotesk_stdbold", sans-serif;
$berthold-light: "akzidenz-grotesk_stdlight", sans-serif;
$berthold-md: "akzidenz-grotesk_stdmedium", sans-serif;
$berthold-regular: "akzidenz-grotesk_stdregular", sans-serif;
$berthold-bold-med: "akzidenz-grotesk_stdbold-medium", sans-serif;



