.country-selector {
    position: absolute;
    top: 3.5em;
    left: 5%;
    z-index: 99;
    @media #{$iphone} {
    	z-index: 9;
    }
    .country:last-child {
    	margin-bottom: 0px;
    }
    .country {
    	a {
    		font-family: $sk-main-book;		
    	}
    }
}
.current-country {
    font-family: $sk-main-book;
    font-size: $font-12;
    color: $sk-text-color;
    letter-spacing: 0.5px;
    margin-top: 7px;
}
.selector {
    border: 1px solid $sk-complement-pebble-3;
    .selected {
        color: $sk-charcoal;
    }
    &.active {
        position: absolute;
        left: -20px;
    }
}

.top-banner {
	.country-selector {
		.selector {
			width: 200px;
			padding: 10px 20px 20px 20px;
			&.active {
				@media #{$iphone} {
					width: 100%;
					padding: 0;
				}
			}
			.country {
				margin-top: .5rem;
				margin-bottom: 0;
				@media #{$iphone} {
					margin-top: 0;
				}
				a {
					text-decoration: none;
					span {
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

a.selected {
	.country & {
		display: none;
	}
}
