@import "nav";
@import "menu_utility";
@import "country_selector";

.hide-desktop {
    display: none;
}
.header-banner {
    position: relative;
    background-color: $sk-dark-pebble;
    .header-promotion {
        padding: 14px 10px;
        font-family: $sk-main-medium;
        font-size: $font-12;
        letter-spacing: 0.5px;
        color: $white;
        text-transform: uppercase;
    }
}
.header-banner {
	display:block;
	.header-promotion {
		color: #fff;
		padding: 3px 0 2px;
		text-align: center;
	}
	.close-btn.closing-bar {
		&:before {
			content: ' ';
			display: inline-block;
			width: 11px;
			height: 11px;
			//background: url("../../images/sk-icons-sprite.png") no-repeat -353px -64px;
		}
		@media #{$iphone} {
			display: block;
		}
	}
}

.top-banner {
    padding: 0 5%;
    box-shadow: -1px 2px 5px 0px rgba(177, 169, 159, 0.15);
    .sprint-logo {
    	display: none;
    }
    .primary-logo {
        margin: 0 auto;
        //margin-top: -1px;
        padding: 40px 0 0;
        @media #{$tablet} {
        	left: -12px;
    		position: relative;
        }
        img {
            max-width: 100%;
        }
        a {
        	position: relative;
        	top: 5px;
        	@media #{$iphone} {
        		top: 0px;
		    }
		}
    }
}
.header-search-cont { 
    float: right;
    width: 20%;
    max-width: 175px;
    margin: 15px 15px 0px;
    @media #{$tablet-maxlandscape} {
    	width: 14%;
    }
    @media #{$tablet} {
    	width: 14%;
    	margin: 15px 10px 0px;
    }
    .header-search, .no-hits-search {
        position: relative;
        width: 100%;
        float: right;
        z-index: 99;
        button {
            position: absolute;
            top: 2px;
            left: 0px;
            padding: 8px;
            transition: unset;
            &:hover {
            	background-color: transparent;
            }
        }
        input[type="text"] {
            height: 20px;
            padding: 2px 10px 0px 25px;
            font-family: $sk-main-medium;
            font-size: $font-12 - 1px;
            color: $sk-text-color;
            letter-spacing: $font-05;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid $sk-light-pebble;
            background: transparent;
            &.placeholder {
              color: $sk-search-grey;
            }
        }
    }
}
.search-ico {
    width: 15px;
    height: 15px;
    background-position: -21px -219px;
}


.cookie-notifier-content {
	position: fixed;
	z-index: 9999;
    width: 100%;
    &.active {
    	.cookie-usage-popup {
    		.cookie-info {
    			.desktop-info {
		    		display: block;
	    		    float: right;
	    		    @media #{$iphone} { 
			    		display: none;
			    	}
		    	}
		    	 @media #{$iphone} { 
			    	.mobile-info {
			    		display: block;
		    		    float: right;
			    	}
		    	}
		    	.read-active {
		    		display: none;
		    	}
    			i {
    				-webkit-transform: rotate(0deg);
    				transform: rotate(0deg);
    				position: relative;
    				top: 0;
    			}
    		}
    	}
    }
	.cookie-usage-popup {
		box-shadow: 0 -12px 10px 10px #000;
		display: inline-block;
	    width: 100%;
	    padding: 10px 14px 10px 42px;
	    color: $sk-nav-grey;
	    box-sizing: border-box;
	    font-size: $font-12;
	    background-color: $white;
	    @media #{$iphone} { 
    		padding: 10px 6px;
    	}
	    .ccc-title {
	    	display: inline-block;
	    	padding: 4px;
	    	@media #{$iphone} { 
	    		width: 52%;
	    	}
	    	@media only screen and (max-width: 340px) {
	    		width: 47%;
	    	}
	    }
	    .cookie-info-close {
	    	float: right;
    	    background-color: $sk-dark-pebble;;
		    padding: 4px 16px;
		    color: $white;
		    @media #{$iphone} { 
	    		padding: 5px 10px;
	    		margin-top: 3px;
	    	}
	    }
	    .cookie-info {
	    	float: right;
	    	padding: 4px 35px 4px 4px; 
	    	@media #{$iphone} { 
	    		padding: 8px 10px 8px 4px; 
	    	}
	    	.desktop-info {
	    		display: none;
	    		
	    	}
	    	.mobile-info {
	    		display: none;
	    	}
	    	i { 
    		    font-size: $font-14;
    		    position: relative;
    		    top: 1.5px;
    			margin-right: 3px;
    			-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
	    	}
	    }
	}
	.cookie-data {
	    position: fixed;
	    width: 242px;
	    right: 0;
	    padding: 15px;
	    box-sizing: border-box;
        z-index: 99999;
        box-shadow: 1px 2px 1px 3px #d8d8d8;
    	background-color: $white;
    	p {
    		margin-bottom: 5px;
    	}
    	a {
    		text-decoration: underline;
    	}
    	@media #{$iphone} { 
    		width: 100%;
    	}
	}
}

.user-info-text.show-text, .mini-cart-text.show-text, .stores-text.show-text {
  font-family: $sk-main-book;
  font-size: $font-12;
  line-height: 14px;
  letter-spacing: 1px;
  color: $sk-nav-grey;
  text-transform:none;
}

@media #{$tablet-desktop} {
	#header {
		&.header-fixed {
			.header-banner {
				display: none;
			}
			.top-banner {
				position: fixed;
			    top: 0;
			    z-index: 100;
			    left: 0;
			    width: 100%;
			    display: inline-block;
			    background-color: $white;
			    box-sizing: border-box;
			    .primary-logo {
					margin: initial;
					padding-top: 16px;
	    			height: auto;
	    			padding-bottom: 4px;
	    			width: auto;
	    			img {
	    				width: 150px;
	    			}
	    			a {
						top: 0;
					}
				}
				#mini-cart {
					top: 15px;
				    position: absolute;
				    right: 5%;
				    .mini-cart-total {
				    	top: 0;
				    	a {
				    		.mini-cart-text {
				    			line-height: 0;
	    						visibility: hidden;
				    		}
				    	}
				    }
				    .mini-cart-content {
				    	top: 2.8em;
				    }
				}
				#navigation {
					width: 97%;
					.menu-utility-user, .country-selector {
						display: none;
					}
					.primary-nav {
					    margin: -4em auto 0;
	    				max-width: 620px;
	    				float: none;
					}
					.menu-category {
					    display: flex;
					    justify-content: space-between;
					    margin: 9px auto 0px;
					    > li {
					    	> .link-style {
					    		font-family: $sk-main-medium;
					    		font-size: 14px;
					    	}
					    }
					}
					.header-search-cont {
						margin: 8px 15px 0px;
					}
				}
			}
		}
	}
}

@media #{$tablet-maxlandscape} {
	#header {
		&.header-fixed {
			.top-banner {
				.primary-logo {
					width: 150px;
					padding-top: 10px;
					padding-bottom: 10px;
					img {
	    				width: auto;
	    			}
				}
				#mini-cart {
					.mini-cart-total {
						top: 0;
					}
				}
				#navigation {
					.primary-nav {
						max-width: 550px;
						margin: -4.1em auto 0;
						.menu-category {
    						margin-top: 0;
    						> li {
						    	> .link-style {
						    		font-size: 12px;
						    	}
						    }
    					}
					}
					.header-search-cont {
						margin-top: 10px;
						.search-suggestion-wrapper {
							left: -200px;
						}
					}
				}
			}
		}
	}
}

@media #{$tablet} {
	#header {
		&.header-fixed {
			.top-banner {
				.primary-logo {
					width: 115px;
					left: 0;
					padding-top: 10px;
					padding-bottom: 10px;
					img {
	    				width: auto;
	    			}
				}
				#mini-cart {
					.mini-cart-total {
						top: 0;
					}
				}
				#navigation {
					width: 96%;
					.header-search-cont {
						width: 13%;
					    margin-right: 23px;
					    margin-top: 10px;
					    .search-suggestion-wrapper {
							left: -250px;
						}
					}
					.primary-nav {
						margin: -4.1em auto 0;
    					max-width: 410px;
    					.menu-category {
    						margin-top: 0;
    						> li {
						    	> .link-style {
						    		font-size: 12px;
						    	}
						    }
    					}
					}
				}
			}
		}
	}
}