.menu-utility-user {
    .stores {
        display: none;
        @media #{$tablet-desktop} {
        	width: 75px;
        	word-wrap: break-word;
        	display: block;
        	a {
        		.store-loc-icon {
        			background: url(../../images/store-locator-upd.png) no-repeat;
        			width: 20px;
        			height: 20px;
        			display: block;
        			position: relative;
        			top: 1px;
        			left: 40%;
        			@media #{$tablet} {
        				left: 32%;
        			}
        		}
        		.stores-text.show-text {
        			margin-top: 5px;
        			display: block;
        		}
        	}
        }
        @media #{$tablet-maxlandscape} {
        	width: 70px;
        }
        @media #{$tablet} {
        	width: 50px;
        }
    }
    li {
        padding: 0px 7px;
    }
    .user-info { 
    	top: 3px;
    	@media #{$tablet-desktop} {
    		width: 95px;
    		word-wrap: break-word;
    	}
    	@media screen and (min-width : 1300px) and (max-width : 1700px) {
    		padding-right: 14px;
    	}
    	@media #{$tablet-maxlandscape} {
    		width: 80px;
        }
    	@media #{$tablet} {
    		width: 60px;
    	}
		a {
	         i {
	         	float: left;
	            width: 16px;
	            height: 18px;
	            background-position: -54px -219px;
	            @media #{$tablet-desktop} {
	            	background: url(../../images/account-infoo.png) no-repeat;
	            	width: 20px;
        			height: 18px;
        			display: block;
        			position: relative;
	            	top: -2px;
	            	left: 40%;
	            	@media #{$tablet} {
	            		left: 32%;
	            	}
    			}
	        }
	        span.user-info-text {
	        	display: none;
	        }
        }
        .user-info-text {
	        &.show-text {
	        	display: block;
	        	width: 100%;
	        	float: left;
	        	margin-top: 5px;
	        	&:hover {
	        		color: $sk-nav-grey;
	        	}
	        	@media #{$iphone} {
	        		display: none;
	        	}
	        }
	    }
    }
    .user-info.active {
        .user-panel {
        	width: 230px;
            margin-top: 40px;
            padding: 15px;
            right: -10px;
            box-sizing: border-box;
            border: 1px solid $sk-light-pebble;
            z-index: 99;
            @media #{$tablet} {
            	width: 260px;
            }
            h3 {
                padding-bottom: 16px;
            }
            .user-links {
                text-align: left;
                .header-account-nav {  
                	.simple {
            		    background-color: $white;
					    color: $sk-dark-pebble;
					    border: 0;
					    font-family: $sk-main-medium;
					    padding: 0;
					    text-transform: uppercase;
					    font-size: 12px;
					    outline: none;
					    width: 100%;
					    text-align: left;
					    &:hover {
                            text-decoration: underline;
                        }
                	}
                }
                > div {
                    padding-bottom: 7px;
                    a {
                        color: $sk-dark-pebble;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    a.user-logout {
                    	background-color: $white;
					    border: 0;
					    text-align: left;
					    padding: 0;
					    margin: 0;
                    }
                }
            }
        }
    }
    &.checkout-header-section {
    	width: auto;
    	margin-bottom: 34px;
    	.user-info {
    		width: auto;
    		float: left;
    		padding: 0;
    		font-family: $sk-main-book;
    		font-size: $font-12;
    		color: $sk-dark-pebble;
    		letter-spacing: 1px;
    		.account-txt,.main-container-link,.header-securelogo {
    			width: auto;
    			float: left;
    		}
    		.account-txt {
    			margin-right: 8px;
    			position: relative;
    			top: 4px;
    			@media #{$tablet} {
    				top: -18px;
    				left: -40px;
				    position: absolute;
				    right: initial;
    			}
    		}
    		.main-container-link {
    			position: relative;
    			padding-right: 14px;
    			.checkout-userheader {
    				width: 100%;
    				float: left;
    				font-family: $sk-main-book;
    				font-size: $font-12;
    				margin-right: 14px;
				    border-bottom: 1px solid $sk-dark-pebble;
				    padding-bottom: 1px;
				    .user-info-text {
				    	width: auto;
				    	float: left;
					    margin: 0 3px 0 0;
					    position: relative;
					    top: 3px;
					    color: $sk-dark-pebble;
				    }
				    i {
				    	position: inherit;
				    	left: 0;
				    	top: 0;
				    	float: left;
				    	width: 13px;
				    	height: 16px;
				    	background: url("../../images/sk-icons-sprite.png") -365px -215px no-repeat;
				    }
    			}
    			.user-vertical {
    				width: 1px;
    				height: 27px;
    				background: $sk-dark-pebble;
    				position: absolute;
    				right: 0;
    				top: -8px;
    			}
    		}
    		.header-securelogo {
    			position: relative;
			    margin-left: 11px;
			    top: 4px;
			    .header-text {
			    	margin-right: 23px;
			    	text-transform: capitalize;
			    }
			    .lock-img {
			    	background: url(../../images/lock.png) no-repeat;
				    width: 18px;
				    height: 21px;
				    display: block;
				    float: right;
				    background-size: contain;
				    position: absolute;
				    right: 0;
				    top: -7px;
			    }
    		}
    		&.user-logged-in {
    			padding-top: 6px;
    			.registered-mainlog {
    				width: auto;
    				float: left;
    				.register-text {
    					float: left;
    					position: relative;
    					top: 4px;
    					margin-right: 8px;
    					@media #{$tablet} {
		    				top: -20px;
		    				right: -21px;
		    			}
    				}
    				.user-account {
    					float: left;
    					margin-right: 8px;
    					i {
    						cursor: pointer;
    						float: left;
					    	width: 13px;
					    	height: 16px;
					    	background: url("../../images/sk-icons-sprite.png") -365px -215px no-repeat;
    						position: initial;
    						left: 0;
    						top: 0;
    					}
    				}
    				.user-vertical {
    					width: 1px;
					    height: 27px;
					    background: $sk-dark-pebble;
					    position: relative;
					    right: 0;
					    top: -8px;
					    float: left;
    				}
    			}
    		}
    	}
    }
    .user-logged-in .user-panel .user-links .outh-login-desk {
		display:none;
	}
}