.primary-nav {
    float: left;
    width: 100%;
}
ul.menu-category {
    text-align: center;
    border: none;
    > li {
        float: none;
        display: inline-block;
        padding: 14px 15px;
        &.active {
        	    background-color: $white;
        }
        > a {
            padding: 0px;
            padding-bottom: 1px;
            color: $sk-nav-grey;
            font-family: $sk-main-book;
            &:hover {
                border: none;
                text-decoration: none;
            }
        }
        &:hover > a {
            border-bottom: 1px solid $sk-light-pebble;
        }
        &:last-child {
            .level-2 ul > li {
                min-width: 3em;
                max-width: 100%;
            }
        }
    }
} 
.level-2 {
    left: 0px;
    width: 100%;
    box-shadow: 0 3px 3px 0 rgba($charcoal, 0.2);
    padding-bottom: 20px;
    > ul {
        position: relative;
        padding: 0 15px 20px;
        text-align: left;
        a {
            padding: 0 0 10px;
            font-family: $sk-main-book;
            font-size: $font-12 - 1px;
            color: $sk-nav-grey; 
        }
        > li {
            width: 100%;
            max-width: 15em;
            word-wrap: break-word;
            &:hover > a {
	            text-decoration: underline;
            }
            &:active > a {
                color: $sk-charcoal;
            }
        }
    }
}