.country-selector {
//	border-bottom: 5px solid darken($dim-gray, 10%);
	color: $white;
	width: 100%;
	@media screen and (min-width: 768px) {
		width: auto;
		padding: 0;
        border-bottom: none;
		z-index: 30;
	}
	.country, .current-country {
		i.country-flag-icon {
			width: 23px;
			height: 12px;
			position: relative;
			top: 2px;
			display: inline-block;
			background: url("../../images/us-flag2.png") no-repeat;
			&.country-flag-ca {
				background: url("../../images/canada-flag2.png") no-repeat;
				@media #{$iphone} {
					display: none;
				}
			}
			&.country-flag-gb {
				background: url("../../images/UK_flag.png") no-repeat;
				@media #{$iphone} {
					display: none;
				}
			}
			&.country-flag-fr {
				background: url("../../images/globe-icon.png") no-repeat;
				background-size: contain;
				@media #{$iphone} {
					display: none;
				}
			}
			@media #{$iphone} {
				display: none;
			}
		}
	}
	.selector {
		display: none;
		margin-top: .5rem;
		padding-left: 2rem;
		&.active {
			display: block;
		}
		@media screen and (min-width: 768px) {
			width: 165px;
			margin-top: 8px;
			padding: 20px;
			background-color: $white;
//			box-shadow: -1px 2px 4px rgba(0, 0, 0, .2);
		}
	}
	.current-country {
		cursor: pointer;
		padding: .8em 1rem;
		&.selector-active {
			.selector-icon {
				transform: rotate(180deg);
			}
		}
		@media screen and (min-width: 768px) {
			padding: 0;
			&.selector-active {
                width: 100%;
				border-bottom: none;
				// prevent the text from shifting left to accommmodate the selector width
			}
		}
	}
	.continent-name {
		margin-top: 0;
		margin-bottom: .35rem;
		@media screen and (min-width: 768px) {
			color: $sangria;
		}
	}
	.country {
		margin-bottom: .5rem;
	}
	.locale {
		border-right: 1px solid $gainsboro;
		display: inline-block;
		padding: 0 .3rem;
		vertical-align: middle;
		&:first-of-type {
			padding-left: 0;
		}
		&:last-of-type {
			border-right: none;
			padding-right: 0;
		}
	}
	.flag-icon {
		border: 1px solid $gainsboro;
		margin-right: .3rem;
	}
}