@import "nav";
@import "menu_utility";
@import "country_selector";

/*.header-banner {
	&.hide {
		display: none !important;
	}
}*/

.top-banner {
	position: relative;
	* {
		box-sizing: border-box;
	}
	
}

.primary-logo {
	height: 38px; // height of image
	margin: 0 auto;
	width: 200px; // width of image
	z-index: 1;
}

.header-search {
	color: $white;
	width: 100%;
	background-color: transparent;
	@media screen and (min-width: 768px) {
		border: none;
		margin: 0px;
		position: relative;
		z-index: 1;
	}
	form {
		margin-bottom: 1px;
	}
	input[type="text"] {
		background-color: transparent;
		border: none;
		float: left;
		margin: 0;
		width: 100%;
//		width: calc(100% - 2.5rem);
        outline: none;
	}
	button {
		background-color: transparent;
		border: none;
        outline: none;
		&:hover {
			color: $citrus;
		}
		i {
			font-size: 1.4em;
		}
	}
}

//APPG-538 reverting
/*@media screen and (min-width: 768px) {
	.fixed-header {
		position: fixed;
	    top: 0;
	    z-index: 100;
	    left: 0;
	    width: 100%;
	    display: inline-block;
	    background-color: $white;
	}
}

@media #{$iphone} {
	#wrapper {
		.header-banner {
			#slide-hello {
				.closing-bar {
				 	&.close-btn {
				 		display: block;
				 		position: absolute;
					    top: 0;
					    right: 5px;
					    padding: 10px;
				 	}
				 }
			}
		}
	}
}*/

#wrapper {
	#header {
		&.header-fixed {
			.cookie-notifier-content {
				position: absolute;
				top: -200px;
				display: none;
			}
		}
	}
}
