.menu-utility-user {
	float: right;
    margin: 0;
	padding: 0;
	li {
		list-style: none;
		padding: 0.8em 1rem;
		&:first-child {
			border: none;
		}
		@media screen and (min-width: 768px) {
			background-color: transparent;
			border-color: transparent;
			float: left;
			margin: 0;
			padding: 0.1em 1.5em 0;
			text-align: center;
			&:first-child {
				border: none;
			}
		}
		a {
			@media screen and (min-width: 768px) {
				color: $nobel;
				transition: color .5s ease;
				&:hover {
					color: $citrus;
					text-decoration: none;
				}
				i {
					display: block;
					font-size: 3em;
					padding: 0;
				}
				span {
					display: none;
				}
			}
		}
	}
	.user-info {
		@media screen and (min-width: 768px) {
			position: relative;
			transition: color .5s ease;
			&.active {
				.user-panel {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		.user-panel {
			box-sizing: content-box; //See https://code.google.com/p/chromium/issues/detail?can=2&q=max-content&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Cr%20Status%20Owner%20Summary%20OS%20Modified&id=522191&thanks=522191&ts=1439925077
			margin-top: .5rem;
			text-align: left;
			width: 10rem; //For IE
			width: max-content;
			h3 {
				display: none;
				margin: 0;
				padding-bottom: .7em;
				text-transform: uppercase;
				@media screen and (min-width: 768px) {
					display: block;
				}
			}
			@media screen and (min-width: 768px) {
				background-color: $white;
				border: 1px solid $gainsboro;
//				border-radius: 5px;
//				box-shadow: 0 2px 5px 0 $very-light-gray;
				margin-top: 0;
				opacity: 0;
				padding: 1em;
				position: absolute;
				right: -1.5rem;
				visibility: hidden;
				z-index: 20;
			}
			.user-links {
				padding-left: 1.5rem;
				@media screen and (min-width: 768px) {
					padding-left: 0;
				}
                button {
                    outline: none;
                    transition: none;
                    padding-left: 0px;
                    padding-right: 0px;
                    border: none;
                    color: #b1a99f;
                }
			}
		}
	}
}
