nav[role="navigation"] {
	@extend .clearfix;
	color: $white;
	left: -70%;
	margin-top: 0;
	position: absolute;
	width: 70%;
	top: 0;
	@media screen and (min-width: 768px) {
		color: $night-rider;
		left: auto;
		position: static;
		width: 100%;
	}
}

.menu-toggle {
	background-color: transparent;
	border: none;
	color: $night-rider;
	display: block;
	float: left;
	margin-left: 0.2em;
	padding: 0.5em;
	@media screen and (min-width: 768px) {
		display: none;
	}
	&:hover {
		background-color: transparent;
	}
	.menu-icon {
		font-size: 2em;
	}
}

.menu-category {
	@extend %clearfix;
	border-bottom: 5px solid darken($dim-gray, 10%);
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	@media screen and (min-width: 768px) {
		border-bottom: 1px solid $very-light-gray;
		margin: 12px auto 0px;
		width: 100%;
	}
	li {
		border-top: 1px solid darken($night-rider, 10%);
		list-style: none;
		@media screen and (min-width: 768px) {
			border: none;
			float: left;
			&:hover > a {
				background-color: transparent;
			}
		}
	}
	a {
		display: inline-block;
		padding: 0;
		overflow: visible;
		width: 100%;
	}
}

.level-1 > li {
	@extend %clearfix;
	// override background-color for small viewport
	background-color: transparent;
	.menu-item-toggle {
		cursor: pointer;
		float: left;
		line-height: 1.1;
		transition: background-color 0.3s;
		@media screen and (min-width: 768px) {
			display: none;
		}
	}
	> a {
		float: left;
		padding-left: 0.8rem;
		&.has-sub-menu {
			width: calc(100% - 2.1rem);
		}
		@media screen and (min-width: 768px) {
			float: none;
			padding-left: 1rem;
			width: 100%;
			&.has-sub-menu {
				width: 100%;
			}
		}
	}
}

.level-2 {
	clear: left;
    display: none;
    z-index: 99;
    box-sizing: border-box;
    > ul {
        @extend .clearfix;
        padding-bottom: .5em;
        padding-left: 2.1rem;
    }
	.level-1 > .active & {
		display: block;
	}
	@media screen and (min-width: 768px) {
        display: block;
        visibility: hidden;
        transition: visibility 0.05s;
		background-color: $white;
		color: $night-rider;
		padding: 0;
		position: absolute;
        top: 100%;
		z-index: 2;
		.level-1.loaded li:hover & {
            visibility: visible;
		}
		a {
			&:hover {
				text-decoration: underline;
			}
		}
		> ul {
			float: left; 
			padding-left: 0;
			max-width: 170px;
			> li {
				float: none;
				min-width: 10em;
				a { 
					&:hover {
						text-decoration: underline;	
					}
				}
				&:hover {
					text-decoration: underline;	
				}
			}
		}
		
		.menu-horizontal {
			float: left;
			> li {
				border-right: 1px solid $gainsboro;
				float: left;
				padding-right: 2rem;
				&:last-child {
					border-right: none;
				}
			}

		}
		.banner {
			float: left;
			img{
				max-width: 100%;
			}
		}
	}
	.banner {
		img {
			vertical-align: top;
		}
	}
}

.level-3 {
	display: none;
	padding-left: 2em;
	.level-2 .active & {
		display: block;
	}
	@media screen and (min-width: 768px) {
		display: block;
		li {
			float: none;
			padding: 0.4em;
		}
	}
}
